<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">Position</h3>
      <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#positionmodal">
        <b>+ Add</b>
      </button>
      <input id='myInput' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableposition">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Position Name</th>
                        <th>Created By</th>
                        <th>Create Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="positionmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h3 class="modal-title fs-5" id="EditModalLabel">POSITION</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="savepositionname" name="savepositionname">
                        <label for="floatingInput">Position Name</label>
                        </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" name="positionsavebtn" id="positionsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editpositionmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="EditModalLabel">Position</h1>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                    <div class="col">
                        <input type="hidden" id="editpostid" name="editpostid">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="editpostname" name="editpostname" placeholder="Department Name" value="IT">
                        <label for="floatingInput">Position Name</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select border-form-modal" id="editpositionstatus" name="editpositionstatus" aria-label="Floating label select example">
                              <option>Status</option>
                              <option value="Active"  selected>Active</option>
                              <option value="Inactive">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Department</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="editpositionsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>