<h1 class="font-weight-bold text-danger" id="head-title">Goverment Deductions</h1>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
  <div class="card-header py-3">
    <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#resignedmodal">
      <b>+ Add</b>
    </button>
    <input id='myInput' type='text' placeholder="  Search....">
  </div>
  <div class="card-body">
    <div class="table-responsive" id="table-responsive-id">
      <table class="table table-striped" id="dataTableDeduction">
        <thead>
          <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Employee</th>
            <th>Deduction Type</th>
            <th>Deduction Amount</th>
            <th>Deduction Period</th>
            <th>Cut Off</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="resignedmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <i class='fas fa-money-bill' style='color:#0ebb39; font-size: 50px; margin: 3px;'></i>
        <h3 class="modal-title" id="exampleModalLabel">Salary of Employee </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="employee" name="employee" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option selected>Choose..</option>
              </select>
              <label for="employee">Employee</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="govid" name="govid" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option selected>Choose..</option>
              </select>
              <label for="govid">GovernmentID Type</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="deductamount" name="deductamount"
                    placeholder="Deduction Amount" style="border: 2.5px solid #174634 !important;">
                <label for="deductamount">Deduction Amount</label>
            </div>
        </div>                 
        <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="deductperiod" name="deductperiod" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option value="1">Once</option>
                <option value="2">Twice</option>
              </select>
              <label for="deductperiod">Deduction Period</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="cutoff" name="cutoff" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option>1st Cut Off</option>
                <option>2nd Cut Off</option>
                <option>1st And 2nd Cut Off</option>
              </select>
              <label for="cutoff">Cut Off</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
          border: 2px solid white !important;">Close</button>
        <button type="button" class="btn btn-primary" id="deductionsvbtn" style="background-color: green !important;
          border: 2px solid white !important;">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editdeductionmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <i class='fas fa-money-bill' style='color:#0ebb39; font-size: 50px; margin: 3px;'></i>
        <h3 class="modal-title" id="exampleModalLabel">Edit Goverment Deductions </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editemployee" name="editemployee" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option selected>Choose..</option>
              </select>
              <label for="editemployee">Employee</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editgovid" name="editgovid" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option selected>Choose..</option>
              </select>
              <label for="editgovid">GovernmentID Type</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="editdeductamount" name="editdeductamount"
                    placeholder="Deduction Amount" style="border: 2.5px solid #174634 !important;">
                <label for="editdeductamount">Deduction Amount</label>
            </div>
        </div>                 
        <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editdeductperiod" name="editdeductperiod" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option value="1">Once</option>
                <option value="2">Twice</option>
              </select>
              <label for="editdeductperiod">Deduction Period</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editcutoff" name="editcutoff" aria-label="Floating label select example"
                style="border: 2.5px solid #174634 !important;">
                <option>1st Cut Off</option>
                <option>2nd Cut Off</option>
                <option>1st And 2nd Cut Off</option>
              </select>
              <label for="editcutoff">Cut Off</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
          border: 2px solid white !important;">Close</button>
        <button type="button" class="btn btn-primary" id="editdeductionsvbtn" style="background-color: green !important;
          border: 2px solid white !important;">Save</button>
      </div>
    </div>
  </div>
</div>