<script>
  let disciplinaryid = "";
  let index = "";

  $(document).ready(function () {
    LoadTable();
    LoadListEmp();
    LoadListviolation();
    searchTable();
    EditLoadListEmp();
    EditLoadDesciplinary();
    EditLoadListOffensename();
    EditLoadListviolation();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTabledisciplianary").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/disciplinary/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editdisciplinarymodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              var imgElement = document.createElement("img");
              imgElement.src = "data:image/jpg;base64," + item.image;
              imgElement.alt = "Profile Image";
              imgElement.style.width = "100px";
              imgElement.style.height = "100px";

              finalData.push({
                image: imgElement.outerHTML,
                disciplinaryid: item.disciplinaryid,
                employeeid: item.employeeid,
                offenseid: item.offenseid,
                actionid: item.actionid,
                violation: item.violation,
                date: item.date,
                createby: item.createby,
                createdate: item.createdate,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "image" },
          { data: "disciplinaryid" },
          { data: "employeeid" },
          { data: "offenseid" },
          { data: "actionid" },
          { data: "violation" },
          { data: "date" },
          { data: "createby" },
          { data: "createdate" },
          { data: "status" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    $(document).on("click", "#disciplinarysavebtn", function () {
      let employeeid = $("#disciplinaryemployeeid").val();
      let offenseid = $("#disciplinaryoffenseid").val();
      let actionid = $("#disciplinaryactionid").val();
      let violation = $("#disciplinaryviolationid").val();
      let date = $("#disciplinarydate").val();

      var message = "";

      if (employeeid == "") {
        message += "shiftname is required ";
      }

      if (offenseid == "") {
        message += "status is required ";
      }

      if (actionid == "") {
        message += "department is required ";
      }

      if (violation == "") {
        message += "createby is required ";
      }

      if (date == "") {
        message += "shiftname is required ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/disciplinary/save",
          data: {
            employeeid: employeeid,
            offenseid: offenseid,
            actionid: actionid,
            violation: violation,
            date: date,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    //#region add modal

    function LoadListEmp() {
      $.ajax({
        type: "GET",
        url: "/employee/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.newEmployeeId, item.newEmployeeId);
            $(options).html(item.firstname);
            $("#disciplinaryemployeeid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadDesciplinary() {
      $.ajax({
        type: "GET",
        url: "/disciplinaryaction/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.description, item.description);
            $(options).html(item.description);
            $("#disciplinaryactionid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#disciplinaryviolationid").on("change", function () {
      var description = $(this).val();
      $.ajax({
        type: "POST",
        url: "/disciplinary/getactionoffense",
        data: {
          description: description,
        },
        success: function (result) {
          try {
            var data = result.data;
            let actioncode = data[0].actioncode;

            $("#disciplinaryactionid").empty();
            $("#disciplinaryoffenseid").empty();

            $.ajax({
              type: "POST",
              url: "/disciplinary/getactioncode",
              data: {
                actioncode: actioncode,
              },
              success: function (result) {
                var data = result.data;

                $.each(data, function (index, value) {
                  var actionoptions = new Option(
                    value.actioncode,
                    value.actioncode
                  );
                  $(actionoptions).html(
                    `${value.actioncode} - ${value.description}`
                  );
                  $("#disciplinaryactionid").append(actionoptions);

                  $("#disciplinaryactionid").val(value.actioncode);

                  var offenceoption = new Option(
                    value.offencename,
                    value.offencename
                  );
                  $(offenceoption).html(value.offencename);
                  $("#disciplinaryoffenseid").append(offenceoption);

                  $("#disciplinaryoffenseid").val(value.offencename);
                });
              },
              error: function (error) {},
            });
          } catch (error) {
            console.error("Error parsing response data:", error);
          }
        },
        error: function (xhr, status, error) {
          console.error("AJAX request failed:", error);
        },
      });
    });

    $("#disciplinaryoffenseid").on("change", function () {
      var offensename = $(this).val();
      var description = $("#disciplinaryviolationid").val();

      $.ajax({
        type: "POST",
        url: "/disciplinary/getactionoffense",
        data: {
          description: description,
        },

        success: function (result) {
          try {
            var data = result.data;
            let actioncode = data[0].actioncode;

            $.ajax({
              type: "POST",
              url: "/disciplinary/getoffenseaction",
              data: {
                actioncode: actioncode,
                offenceid: offensename,
              },
              success: function (result) {
                var data = result.data;
                $.each(data, function (index, value) {
                  $("#disciplinaryactionid").val(value.actioncode);
                });
              },
            });
          } catch (error) {
            console.error("error:", error);
          }
        },
        error: function (xhr, status, error) {
          console.error("ajax request failed", error);
        },
      });
    });

    function LoadListOffensename() {
      $.ajax({
        type: "GET",
        url: "/offenses/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.offensename, item.offensename);
            $(options).html(item.offensename);
            $("#disciplinaryoffenseid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadListviolation() {
      $.ajax({
        type: "GET",
        url: "/violation/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.description, item.description);
            $(options).html(item.description);
            $("#disciplinaryviolationid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    //#endregion

    //#region edit modal
    function EditLoadListEmp() {
      $.ajax({
        type: "GET",
        url: "/employee/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.newEmployeeId, item.newEmployeeId);
            $(options).html(item.firstname);
            $("#editdafname").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function EditLoadDesciplinary() {
      $.ajax({
        type: "GET",
        url: "/disciplinaryaction/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.actionid, item.actionid);
            $(options).html(item.description);
            $("#editdaaction").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#editdaviolation").on("change", function () {
      var description = $(this).val();
      $.ajax({
        type: "POST",
        url: "/disciplinary/getactionoffense",
        data: {
          description: description,
        },
        success: function (result) {
          try {
            var data = result.data;
            let actioncode = data[0].actioncode;

            $("#editdaaction").empty();
            $("#editdaoffense").empty();

            $.ajax({
              type: "POST",
              url: "/disciplinary/getactioncode",
              data: {
                actioncode: actioncode,
              },
              success: function (result) {
                var data = result.data;

                $.each(data, function (index, value) {
                  var actionoptions = new Option(
                    value.actioncode,
                    value.actioncode
                  );
                  $(actionoptions).html(
                    `${value.actioncode} - ${value.description}`
                  );
                  $("#editdaaction").append(actionoptions);

                  $("#editdaaction").val(value.actioncode);

                  var offenceoption = new Option(
                    value.offencename,
                    value.offencename
                  );
                  $(offenceoption).html(value.offencename);
                  $("#editdaoffense").append(offenceoption);

                  $("#editdaoffense").val(value.offencename);
                });
              },
              error: function (error) {},
            });
          } catch (error) {
            console.error("Error parsing response data:", error);
          }
        },
        error: function (xhr, status, error) {
          console.error("AJAX request failed:", error);
        },
      });
    });

    $("#editdaoffense").on("change", function () {
      var offensename = $(this).val();
      var description = $("#editdaaction").val();

      $.ajax({
        type: "POST",
        url: "/disciplinary/getactionoffense",
        data: {
          description: description,
        },

        success: function (result) {
          try {
            var data = result.data;
            let actioncode = data[0].actioncode;

            $.ajax({
              type: "POST",
              url: "/disciplinary/getoffenseaction",
              data: {
                actioncode: actioncode,
                offenceid: offensename,
              },
              success: function (result) {
                var data = result.data;
                $.each(data, function (index, value) {
                  $("#editdaaction").val(value.actioncode);
                });
              },
            });
          } catch (error) {
            console.error("error:", error);
          }
        },
        error: function (xhr, status, error) {
          console.error("ajax request failed", error);
        },
      });
    });

    function EditLoadListOffensename() {
      $.ajax({
        type: "GET",
        url: "/offenses/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.offenseid, item.offenseid);
            $(options).html(item.offensename);
            $("#editdaoffense").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function EditLoadListviolation() {
      $.ajax({
        type: "GET",
        url: "/violation/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.violationid, item.violationid);
            $(options).html(item.description);
            $("#editdaviolation").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }
    //#endregion

    $("#dataTabledisciplianary tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      disciplinaryid = dataRow[1];
      console.log(dataRow);
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/disciplinary/getdisciplinary",
        data: {
          disciplinaryid: disciplinaryid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            console.log(existingData);

            $.each(existingData, (key, item) => {
              $("#editpreview").attr(
                "src",
                "data:image/jpg;base64," + item.image
              );
              base64String = item.image;
              $("#daid").val(item.disciplinaryid);
              $("#editdafname").val(item.employeeid);
              $("#editdaoffense").val(item.offenseid);
              $("#editdaaction").val(item.actionid);
              $("#editdaviolation").val(item.violation);
              $("#editdadate").val(item.date);
              $("#editdacreateby").val(item.createby);
              $("#editdacreatedate").val(item.createdate);
              $("#editdastatus").val(item.status);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });
    $(document).on("click", "#editdasavebtn", function () {
      let id = disciplinaryid;
      let employeeid = $("#editshift").val();
      let offenseid = $("#editshiftstatus").val();
      let actionid = $("#editshiftdepartment").val();
      let violation = $("#editshiftcreateby").val();
      let date = $("#editshiftstatus").val();

      var message = "";

      if (employeeid === "") {
        message += "departmentname is required. ";
      }

      if (offenseid === "") {
        message += "status is required. ";
      }

      if (actionid === "") {
        message += "departmenthead is required. ";
      }

      if (violation === "") {
        message += "status is required. ";
      }

      if (date === "") {
        message += "status is required. ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "disciplinary/update",
          data: {
            disciplinaryid: id,
            employeeid: employeeid,
            offenseid: offenseid,
            actionid: actionid,
            violation: violation,
            date: date,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal(
                "Data already exists!",
                "You clicked the button!",
                "warning"
              );
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });

    $(document).on("change", "#editdaimage", function (e) {
      const input = document.getElementById("editdaimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      imageUploaded();
    });

    function imageUploaded() {
      const input = document.getElementById("editdaimage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;
      };
      reader.readAsDataURL(file);
    }
  });

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTabledisciplianary");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }
</script>
