<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#departmentmodal" style="margin-top: 10px; margin-left: 50px; height: 60px; width: 150px; font-size: larger;">
    + Add New
  </button>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" style="margin-left: 50px; margin-right: 50px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Department</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTabledepartment" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department Name</th>
                        <th>Department Head</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Information Technology</td>
                        <td>Mark Anasarias</td>
                        <td>Active</td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editdepartmentmodal">
                            Edit
                          </button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>HR</td>
                        <td>Wendell</td>
                        <td>Active</td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editdepartmentmodal">
                            Edit
                          </button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Finance</td>
                        <td>Sibunga</td>
                        <td>Active</td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editdepartmentmodal">
                            Edit
                          </button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Marketing</td>
                        <td>Igme</td>
                        <td>Inactive</td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editdepartmentmodal">
                            Edit
                          </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="departmentmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="departmentname" name="departmentname" placeholder="Department Name">
                        <label for="floatingInput">Department Name</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="departmenthead" name="departmenthead" aria-label="Floating label select example">
                              <option selected>Department Head</option>
                              <option value="1">Wendell</option>
                              <option value="2">Sibunga</option>
                            </select>
                            <label for="floatingSelectGrid">Department Head</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="departmentstatus" name="departmentstatus" aria-label="Floating label select example">
                              <option selected>Status</option>
                              <option value="1">Active</option>
                              <option value="2">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Department</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="departmentsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editdepartmentmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="editdepartmentname" name="editdepartmentname" placeholder="Department Name" value="IT">
                        <label for="floatingInput">Department Name</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editdepartmenthead" name="editdepartmenthead" aria-label="Floating label select example">
                              <option>Department Head</option>
                              <option value="1"  selected>Wendell</option>
                              <option value="2">Sibunga</option>
                            </select>
                            <label for="floatingSelectGrid">Department Head</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editdepartmentstatus" name="editdepartmentstatus" aria-label="Floating label select example">
                              <option>Status</option>
                              <option value="1"  selected>Active</option>
                              <option value="2">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Department</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editdepartmentsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>