<h1 class="font-weight-bold text-danger" id="head-title">Department</h1>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header py-3">
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#departmentmodal">
        + Add New
      </button>
        <input id='myInput' onkeyup='searchTable()' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-striped" id="dataTabledepartment">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department Name</th>
                        <th>Department Head</th>
                        <th>Created By</th>
                        <th>Create Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="departmentmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="departmentname" name="departmentname" placeholder="Department Name">
                        <label for="floatingInput">Department Name</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="departhead" name="departhead" aria-label="Floating label select example">
                              <option selected>Department Head</option>
                              <option value="Wendell">Wendell</option>
                              <option value="Sibunga">Sibunga</option>
                            </select>
                            <label for="floatingSelectGrid">Department Head</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                      <div class="form-floating">
                          <select class="form-select" id="departcreatedby" name="departcreatedby" aria-label="Floating label select example">
                            <option selected>Created By</option>
                            <option value="Wendell">Wendell</option>
                            <option value="Sibunga">Sibunga</option>
                          </select>
                          <label for="floatingSelectGrid">Create By</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="departmentstatus" name="departmentstatus" aria-label="Floating label select example">
                              <option selected>Status</option>
                              <option value="Active">Active</option>
                              <option value="Inactive">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Department</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="departmentsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editdepartmentmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="col">
                        <input type="hidden" id="editdepartmentid" name="editdepartmentid">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="editdepartmentname" name="editdepartmentname" placeholder="Department Name" value="IT">
                        <label for="floatingInput">Department Name</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editdepartmenthead" name="editdepartmenthead" aria-label="Floating label select example">
                              <option>Department Head</option>
                              <option value="Wendell">Wendell</option>
                              <option value="Sibunga">Sibunga</option>
                            </select>
                            <label for="floatingSelectGrid">Department Head</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editdepartmentstatus" name="editdepartmentstatus" aria-label="Floating label select example">
                              <option>Status</option>
                              <option value="Active">Active</option>
                              <option value="Inactive">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Department</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editdepartmentsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>