<script>
  let approvalsettings = "";
  let globaldepartmentid = "";

  $(document).ready(function () {
    LoadTable();
    LoadList();
    searchTable();
    LoadSubgroup();
    LoadListEdit();
    EditLoadSubgroup();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTablerequestapprovalsettings").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/request_approval_settings/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                            <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editassmodal"><i class="fas fa-fw fa-pen"></i></button>
                        `;
              finalData.push({
                approvalsettings: item.approvalsettings,
                departmentid: item.departmentid,
                settingscount: item.settingscount,
                subgroupid: item.subgroupid,
                createby: item.createby,
                createdate: item.createdate,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columns: [
          { data: "approvalsettings" },
          { data: "departmentid" },
          { data: "settingscount" },
          { data: "subgroupid" },
          { data: "createby" },
          { data: "createdate" },
          { data: "status" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          var appnameCell = $(row).find("td:eq(2)");

          appnameCell.wrapInner("<span class='appname-text'></span>");

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    $('#departmentid').change(function() {
        var departmentid = $(this).val();
        if(departmentid) {
            LoadSubgroup(departmentid, "#subgroupname");
        }
    });

    $("#editdepartmentid").change(function () {
      var departmentid = $(this).val();
      if (departmentid) {
        LoadSubgroup(departmentid, "#editsubgroupname");
      }
    });

    function LoadSubgroup(departmentid, targetDropdown) {
      $.ajax({
        type: "POST",
        url: "/request_approval_settings/loadsubgroup",
        data: JSON.stringify({ departmentid: departmentid }),
        contentType: "application/json",
        success: function (result) {
          var data = result.data;
          var $targetDropdown = $(targetDropdown);

          // Clear previous options
          $targetDropdown.empty();
          $targetDropdown.append(
            "<option selected disabled>Choose...</option>"
          );

          $.each(data, function (key, item) {
            var options = new Option(item.id, item.id);
            $(options).html(item.name);
            $targetDropdown.append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function EditLoadSubgroup() {
      $.ajax({
        type: "POST",
        url: "/request_approval_settings/loadsubgroup",
        data: {
          departmentid: globaldepartmentid,
        },
        success: function (result) {
          var data = result.data;
          console.log(globaldepartmentid);

          $.each(data, function (key, item) {
            var options = new Option(item.id, item.id);
            $(options).html(item.name);
            $("#editsubgroupname").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $(document).on("click", "#approversavebtn", function () {
      let departmentid = $("#departmentid").val();
      let settingscount = $("#approver").val();
      let subgroupid = $("#subgroupname").val();

      var message = "";

      if (departmentid == "") {
        message += "departmentid is required ";
      }

      if (settingscount == "") {
        message += "settingscount is required ";
      }

      if (subgroupid == "") {
        message += "subgroupid is required ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/request_approval_settings/save",
          data: {
            departmentid: departmentid,
            settingscount: settingscount,
            subgroupid: subgroupid,
          },
          success: function (result) {
            if (result.msg === "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then(() => {
                window.location.reload();
              });
            } else if (result.msg === "exist") {
              swal(
                "Exist",
                "Maybe The Department and Approver Count combination already exists.",
                "warning"
              );
            } else {
              swal("Error", "An error occurred while updating.", "error");
            }
          },
          error: function (err) {
            swal(
              "Error",
              "An error occurred while making the request.",
              "error"
            );
          },
        });
      }
    });

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#departmentid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadListEdit() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#editdepartmentid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTablerequestapprovalsettings tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      approvalsettings = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/request_approval_settings/getapprovesettings",
        data: {
          approvalsettings: approvalsettings,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editdepartmentid").val(item.departmentid);
              globaldepartmentid = item.departmentid;
              $("#editapprover").val(item.settingscount);
              $("#editstatus").val(item.status);
              LoadSubgroup(
                globaldepartmentid,
                "#editsubgroupname",
                function () {
                  $("#editsubgroupname").val(item.subgroupid);
                }
              );
            });
          } else {
            swal("Error fetching employee data", result.msg, "error");
          }
        },
        error: function (err) {
          console.error("An error occurred while fetching employee data", err);
          swal("An error occurred while fetching employee data", "error");
        },
      });
    });

    $(document).on("click", "#approvalstageeditbtn", function () {
      let id = approvalsettings;
      let departmentid = $("#editdepartmentid").val();
      let settingscount = $("#editapprover").val();
      let status = $("#editstatus").val();
      let subgroupid = $("#editsubgroupname").val();

      let message = "";

      if (departmentid === "") {
        message += "departmentid ID is required. ";
      }

      if (settingscount === "") {
        message += "settingscount count is required. ";
      }

      if (status === "") {
        message += "status count is required. ";
      }

      if (subgroupid == "") {
        message += "subgroupid is required ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/request_approval_settings/update",
          data: {
            approvalsettings: id,
            departmentid: departmentid,
            settingscount: settingscount,
            status: status,
            subgroupid: subgroupid,
          },
          success: function (result) {
            if (result.msg === "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then(() => {
                window.location.reload();
              });
            } else if (result.msg === "exist") {
              swal(
                "Exist",
                "Maybe The Department and Approver Count combination already exists.",
                "warning"
              );
            } else {
              swal("Error", "An error occurred while updating.", "error");
            }
          },
          error: function (err) {
            swal(
              "Error",
              "An error occurred while making the request.",
              "error"
            );
          },
        });
      }
    });

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTablerequestapprovalsettings");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });
</script>
