<!-- <h1 class="font-weight-bold text-danger" id="head-title">Attendance</h1> -->
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header cheader-attendance">
        <h3 class="m-4">Attendance</h3>
        <div class="d-flex gap-4 m-2 mb-4 attendance-field">
            <div class="col">
                <input id='myInput' class="pl-2 font-weight-bold" type='text' placeholder="  Search....">
            </div>
            <div class="flex">
                <input id="datepicker" type="text" name="daterange" class="form-control" placeholder="Select a Date" />
              </div>
              <div class="flex">
                <button id="loaddate" class="btn btn-load-color"><i class="bi bi-arrow-clockwise mr-2"></i><b>Load</b></button>
              </div>
            <div class="flex">
                <button type="button" class="btn btn-export-color" data-bs-toggle="modal" data-bs-target="#geoFenceModal">
                    <i class="bi bi-database-fill-gear mr-2"></i><b>Export</b>
                 </button>
            </div>
        </div>
    </div>
    <div class="card-body cbody-attendance">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableattendance">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Device In</th>
                        <th>Device Out</th>
                        <th>Total Hours</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!--MODAL-->

<div class="modal fade" id="editlogsmodal" tabindex="-1" role="dialog" aria-labelledby="totalCablingModal"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <div>
                    <h1 class="modal-title" id="exampleModalToggleLabel">
                       Logs
                    </h1>
                </div>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="table-responsive" id="table-responsive-id">
                    <table class="table table-light table-bordered" id="dataTableattendancelogs">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Log Type</th>
                                <th>Latitude</th>
                                <th>Lonitude</th>
                                <th>Device</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
