<script>
  $(document).ready(function () {
    let requestid = "";
    searchTable();
    LoadTable();
    LoadSubgroup();
    //Loadactionname();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    $("#dataTableattendancerequest tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      requestid = dataRow[0];
    });

    function LoadSubgroup() {
      $.ajax({
        type: "GET",
        url: "/subgroup/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.subgroupid, item.subgroupid);
            $(options).html(item.subgroupname);
            $("#editcoasubgroupid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $(document).on("click", "#editBtn", function () {
      $("#editrequestmodal").modal("show");

      $.ajax({
        type: "POST",
        url: "/teamleadpendingcoa/getreqinteamlead",
        data: {
          requestid: requestid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const attendanceRequest = result.attendanceRequest;
            const masterAttendance = result.masterAttendance;

            console.log(masterAttendance, "masterAttendance");

            $("#editpreview").attr(
              "src",
              "data:image/jpg;base64," + attendanceRequest.image
            );
            $("#empid").val(attendanceRequest.emp_id);
            $("#coafullname").val(attendanceRequest.employeeid);
            $("#editattendancedate").val(attendanceRequest.attendancedate);
            $("#edittimein").val(attendanceRequest.timein);
            $("#edittimeout").val(attendanceRequest.timeout);
            $("#coatotalhours").val(attendanceRequest.total);
            $("#coaapplieddate").val(attendanceRequest.createdate);
            $("#coarequeststatus").val(attendanceRequest.requeststatus);
            $("#editcoareason").val(attendanceRequest.reason);
            $("#editcoasubgroupid").val(attendanceRequest.subgroupid);
            $("#previewleave").attr(
              "src",
              "data:image/jpg;base64," + attendanceRequest.file
            );

            if (masterAttendance) {
              if (masterAttendance.clockin) {
                $("#origclockin")
                  .val(masterAttendance.clockin)
                  .removeClass("d-none");
                $("#labelClockin").removeClass("d-none");
                $("#clockinNoLogs").addClass("d-none");
              } else {
                $("#origclockin").addClass("d-none");
                $("#labelClockin").addClass("d-none");
                $("#clockinNoLogs").removeClass("d-none");
              }
              if (masterAttendance.clockout) {
                $("#origclockout")
                  .val(masterAttendance.clockout)
                  .removeClass("d-none");
                $("#labelClockout").removeClass("d-none");
                $("#clockoutNoLogs").addClass("d-none");
              } else {
                $("#origclockout").addClass("d-none");
                $("#labelClockout").addClass("d-none");
                $("#clockoutNoLogs").removeClass("d-none");
              }
            } else {
              $("#origclockin").addClass("d-none");
              $("#labelClockin").addClass("d-none");
              $("#clockinNoLogs").removeClass("d-none");

              $("#origclockout").addClass("d-none");
              $("#labelClockout").addClass("d-none");
              $("#clockoutNoLogs").removeClass("d-none");
            }
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });

    $(document).on("click", "#editcOAsavebtn", function () {
      console.log("hit");
      let id = requestid;
      let requeststatus = $("#editcoastatus").val();
      let subgroupid = $("#editcoasubgroupid").val();

      var message = "";

      if (requeststatus === "") {
        message += "Status is required. ";
      }

      if (message !== "") {
        swal("Oops!!!", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/teamleadpendingcoa/attendanceaction",
          data: {
            requestid: requestid,
            status: requeststatus,
            subgroupid: subgroupid,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {});
              $("#editcoastatus").val("Pending");
              $("#editrequestmodal").modal("hide");
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    function LoadTable() {
      console.log("load table");
      $("#dataTableattendancerequest").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/teamleadpendingcoa/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              //data-bs-toggle="modal" data-bs-target="#editrequestmodal"
              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" ><i class="fas fa-fw fa-pen"></i></button>`;

              // var imgElement = document.createElement("img");
              // imgElement.src = "data:image/jpg;base64," + item.image;
              // imgElement.alt = "Profile Image";
              // imgElement.style.width = "90px";
              // imgElement.style.height = "90px";

              finalData.push({
                requestid: item.requestid,
                employeeid: item.employeeid,
                attendancedate: item.attendancedate,
                timein: item.timein,
                timeout: item.timeout,
                total: item.total,
                createdate: item.createdate,
                requeststatus: item.requeststatus,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "requestid" },
          { data: "employeeid" },
          { data: "attendancedate" },
          { data: "timein" },
          { data: "timeout" },
          { data: "total" },
          { data: "createdate" },
          { data: "requeststatus" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          //miyaka
          var requeststatusCell = $(row).find("td:eq(7)");

          var requeststatusText = data.requeststatus;

          var requeststatusClass = "";

          switch (requeststatusText.toLowerCase()) {
            case "approved":
              requeststatusClass = "approved-status";
              break;
            case "cancel":
              requeststatusClass = "cancel-status";
              break;
            case "pending":
              requeststatusClass = "pending-status";
              break;
            default:
              requeststatusClass = "";
          }

          requeststatusCell.html(
            `<span class="${requeststatusClass}">${requeststatusText}</span>`
          );
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {
          console.log("Done");
        },
      });
    }
    function Loadactionname() {
      $.ajax({
        type: "GET",
        url: "/teamleadpendingcoa/loadactionname",
        success: function (result) {
          if (result.msg === "success") {
            var data = result.data;
            $("#editcoastatus").empty();

            $.each(data, function (key, item) {
              var approveOption = new Option(
                item.approvename,
                item.approvename
              );
              var rejectOption = new Option(item.rejectname, item.rejectname);

              $(approveOption).html(item.approvename);
              $(rejectOption).html(item.rejectname);

              $("#editcoastatus").append(approveOption);
              $("#editcoastatus").append(rejectOption);
            });
          } else {
            alert("Error: " + result.data);
          }
        },
        error: function (result) {
          alert("Error: " + result.data);
        },
      });
    }

    $(document).on("change", "#c", function (e) {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      editimage();
    });

    function editimage() {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;
      };
      reader.readAsDataURL(file);
    }

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableattendancerequest");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        found = false;

        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }

        if (found) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
    //#endregion
  });
  //#region FUNCTIONS
</script>
