<script>
  let requestid = "";

  $(document).ready(function () {
    searchTable();
    LoadTable();
    //Loadactionname();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableattendancerequest").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/teamleadpendingcoa/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editrequestmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              var imgElement = document.createElement("img");
              imgElement.src = "data:image/jpg;base64," + item.image;
              imgElement.alt = "Profile Image";
              imgElement.style.width = "90px";
              imgElement.style.height = "90px";

              finalData.push({
                image: imgElement.outerHTML,
                requestid: item.requestid,
                employeeid: item.employeeid,
                attendancedate: item.attendancedate,
                timein: item.timein,
                timeout: item.timeout,
                total: item.total,
                createdate: item.createdate,
                requeststatus: item.requeststatus,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "image" },
          { data: "requestid" },
          { data: "employeeid" },
          { data: "attendancedate" },
          { data: "timein" },
          { data: "timeout" },
          { data: "total" },
          { data: "createdate" },
          { data: "requeststatus" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          //miyaka
          var requeststatusCell = $(row).find("td:eq(8)");

          var requeststatusText = data.requeststatus;

          var requeststatusClass = "";

          switch (requeststatusText.toLowerCase()) {
            case "approved":
              requeststatusClass = "approved-status";
              break;
            case "cancel":
              requeststatusClass = "cancel-status";
              break;
            case "pending":
              requeststatusClass = "pending-status";
              break;
            default:
              requeststatusClass = "";
          }

          requeststatusCell.html(
            `<span class="${requeststatusClass}">${requeststatusText}</span>`
          );
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    $("#dataTableattendancerequest tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      requestid = dataRow[1];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/attendancerequest/getattendancerequest",
        data: {
          requestid: requestid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editpreview").attr(
                "src",
                "data:image/jpg;base64," + item.image
              );
              $("#empid").val(item.emp_id);
              $("#coafullname").val(item.employeeid);
              $("#editattendancedate").val(item.attendancedate);
              $("#edittimein").val(item.timein);
              $("#edittimeout").val(item.timeout);
              $("#coatotalhours").val(item.total);
              $("#coacreatedate").val(item.createdate);
              $("#coarequeststatus").val(item.requeststatus);
              $("#editcoareason").val(item.reason);
              $("#editpreviewfile").attr(
                "src",
                "data:image/jpg;base64," + item.file
              );
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });

    $(document).on("click", "#editcOAsavebtn", function () {
      console.log("hit");
      let id = requestid;
      let requeststatus = $("#editcoastatus").val();

      var message = "";

      if (requeststatus === "") {
        message += "Status is required. ";
      }

      if (message !== "") {
        swal("Oops!!!", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/teamleadpendingcoa/attendanceaction",
          data: {
            requestid: requestid,
            status: requeststatus,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    function Loadactionname() {
      $.ajax({
        type: "GET",
        url: "/teamleadpendingcoa/loadactionname",
        success: function (result) {
          if (result.msg === "success") {
            var data = result.data;
            $("#editcoastatus").empty();

            $.each(data, function (key, item) {
              var approveOption = new Option(
                item.approvename,
                item.approvename
              );
              var rejectOption = new Option(item.rejectname, item.rejectname);

              $(approveOption).html(item.approvename);
              $(rejectOption).html(item.rejectname);

              $("#editcoastatus").append(approveOption);
              $("#editcoastatus").append(rejectOption);
            });
          } else {
            alert("Error: " + result.data);
          }
        },
        error: function (result) {
          alert("Error: " + result.data);
        },
      });
    }

    // $(document).on("click", "#editcOAsavebtn", function () {
    //   console.log('hit');
    //   let id = requestid;
    //   let requeststatus = $("#editcoastatus").val();

    //   var message = "";

    //   if (requeststatus === "") {
    //     message += "Status is required. ";
    //   }

    //   if (message !== "") {
    //     swal("Oops!!!", message, "error");
    //   } else {
    //     if (requeststatus === "Approved") {
    //       $.ajax({
    //         type: "POST",
    //         url: "/attendancerequest/updateMasterAttendance",
    //         data: {
    //           emp_id: emp_id,
    //           attendancedate: attendancedate,
    //           timein: timein,
    //           timeout: timeout,
    //         },
    //         success: function (masterResult) {
    //           if (masterResult.msg == "success") {
    //             $.ajax({
    //               type: "POST",
    //               url: "/attendancerequest/updateAttendanceRequest",
    //               data: {
    //                 requestid: requestid,
    //               },
    //               success: function (attendanceResult) {
    //                 if (attendanceResult.msg == "success") {
    //                   swal("Save Successfully", "You clicked the button!", "success")
    //                     .then(results => {
    //                       window.location.reload();
    //                     });
    //                   LoadTable();
    //                 }
    //               },
    //               error: function (attendanceErr) {
    //                 swal("Error", "An error occurred while updating attendance request.", "error");
    //               },
    //             });
    //           }
    //         },
    //         error: function (masterErr) {
    //           swal("Error", "An error occurred while updating master attendance.", "error");
    //         },
    //       });
    //     }
    //   }
    // });

    $(document).on("change", "#c", function (e) {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      editimage();
    });

    function editimage() {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;
      };
      reader.readAsDataURL(file);
    }

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableattendancerequest");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        found = false;

        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }

        if (found) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
    //#endregion
  });
  //#region FUNCTIONS
</script>
