<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
        <h3 class="title-card-table">Pending Attendance Request</h3>
        <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-striped" id="dataTableattendancerequest">
                <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Total Hours</th>
                        <th>Create Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="editrequestmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to approve  this COA?</h3>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
              </div>
              <div class="modal-body" id="modal-body">
                <br>
                <br>
                <div class="row">
                  <div class="col-xl-2 col-lg-4" style="margin-left: 10px;">
                    <div class="col g-6">
                      <div class="p-4" style="width: 300px; margin-top: -100px;">
                        <div class="text-center">
                          <img id="previewleave" src="https://via.placeholder.com/250" class="border border-5 border-form-modal" alt="placeholder">
                        </div>
                        <br>
                        <h2 class="pb-3 mb-4 text-center modal-content-title">File  Preview</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7" style="margin-left: 150px;">
                    <form>
                        <div class="row g-3">
                        <div>
                            <h3>Correction</h3>
                        </div>
                        </div>
                        <br>
                        <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                            <input type="text" class="form-control border-form-modal" id="coafullname" name="coafullname" disabled>
                            <label for="floatingInput">Full Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control border-form-modal" id="editattendancedate" name="editattendancedate" disabled>
                                <label for="floatingInput">Attendace Date</label>
                            </div>
                        </div>  
                        </div>                             
                        <br>
                        <div class="row g-3">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select border-form-modal" id="editcoasubgroupid" name="editcoasubgroupid" disabled>
                                    </select>
                                    <label for="floatingInput">Sub Group</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="datetime-local" class="form-control border-form-modal" id="coaapplieddate" name="coaapplieddate" disabled>
                                    <label for="floatingInput">Applied Date</label>
                                </div>
                            </div>  
                        </div>
                        <br>  
                        <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="datetime-local" class="form-control border-form-modal" id="edittimein" name="edittimein" disabled
                                placeholder="Address">
                                <label for="floatingInput">Clock In For Correction</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="datetime-local" class="form-control border-form-modal" id="edittimeout" name="edittimeout" disabled
                                placeholder="Address">
                                <label for="floatingInput">Clock Out For Correction</label>
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="row g-3">
                        <div>
                            <h3>Original Logs</h3>
                        </div>
                        </div>
                        <div class="row g-3">
                            <div class="col">
                                <div class="form-floating">
                                  <input
                                    type="datetime-local"
                                    class="form-control border-form-modal"
                                    id="origclockin"
                                    name="origclockin"
                                    disabled
                                  />
                                  <label for="origclockin" id="labelClockin">Original Clock In</label>
                                  <span id="clockinNoLogs" class="text-danger d-none">No Clock In Logs</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                <input
                                    type="datetime-local"
                                    class="form-control border-form-modal"
                                    id="origclockout"
                                    name="origclockout"
                                    disabled
                                />
                                <label for="origclockout" id="labelClockout">Original Clock Out</label>
                                <span id="clockoutNoLogs" class="text-danger d-none">No Clock Out Logs</span>
                                </div>
                            </div>                              
                        </div>
                        <br>
                        <div class="row g-3">
                            <div class="col">
                                <div class="form-floating">
                                <textarea type="text" class="form-control border-form-modal" id="editcoareason" name="editcoareason"
                                    placeholder="Reason"></textarea>
                                <label for="floatingInput">Reason</label>
                                </div>
                            </div>
                            <div class="col">
                            <div class="form-floating">
                                <select class="form-select border-form-modal" id="editcoastatus" name="editcoastatus"
                                aria-label="Floating label select example">
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                                <label for="floatingInput">Status</label>
                            </div>                    
                            </div>
                        </div>
                        <br>
                        <div class="row g-3" hidden>
                            <div class="col">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    class="form-control border-form-modal"
                                    id="editcoasubgroupid"
                                    name="editcoasubgroupid"
                                    disabled
                                  />
                                </div>
                            </div>
                            <label for="floatingInput">Sub Group</label>                            
                        </div>
                        <br>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-modal-save" id="editcOAsavebtn">Save</button>
            </div>
        </div>
    </div>
</div>
  


<!--MODAL-->
<!-- <div class="modal fade" id="editrequestmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to approve  this COA?</h1>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="card">
                    <div class="card-body candidate-coa">
                        <form>
                            <div class="row">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="coafullname" class="coa-label">Name</label>
                                        <input type="text" class="form-control border-form-modal" id="coafullname" placeholder="Employee Name" disabled>
                                    </div>
                                    <div class="col">
                                        <label for="editpassword" class="form-label coa-label">Status</label>
                                        <select class="form-control border-form-modal" id="editcoastatus" name="editcoastatus">
                                            <option value="Pending">Pending</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center">
                                            <img id="editpreview" style="  width: 150px; height: 150px;" class="rounded rounded-circle border-form-modal"
                                             alt="placeholder" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="editattendancedate" class="form-label coa-label">Date</label>
                                        <input type="date" class="form-control border-form-modal" id="editattendancedate" name="editattendancedate" disabled>
                                    </div>
                                    <div class="col">
                                        <label for="edittimein" class="form-label coa-label">Date Time In</label>
                                        <input type="datetime-local" class="form-control border-form-modal" id="edittimein" name="edittimein" disabled>
                                    </div>
                                    <div class="col">
                                        <label for="edittimeout" class="form-label coa-label">Date Time Out</label>
                                        <input type="datetime-local" class="form-control border-form-modal" id="edittimeout" name="edittimeout" disabled>
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="message-text" class="form-label coa-label">Reason:</label>
                                        <textarea class="form-control border-form-modal" id="editcoareason" name="editcoareason" disabled></textarea>
                                    </div>                                   
                                </div>

                                <div class="row g-3">
                                <div class="col"> 
                                    <label for="empid" class="form-label coa-label">Employee ID</label>
                                    <input type="text" class="form-control border-form-modal" id="empid" name="empid" disabled>
                                </div>
                                <div class="col">
                                    <label for="editpassword" class="form-label coa-label">Sub Group</label>
                                    <select class="form-control border-form-modal" id="editcoasubgroupid" name="editcoasubgroupid" disabled>
                                        <option></option>
                                    </select>
                                </div>
                                </div>
                                <div class="row g-3">
                                <div class="col">
                                    <div class="form-floating">
                                      <label class="form-label" for="customFile"></label>
                                      <div class="text-center">
                                        <img id="editpreviewfile" src="https://via.placeholder.com/250" style="width: 150px;; height: 150px;"
                                          class="rounded" alt="placeholder">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="editcOAsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div> -->