<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header">
      <h3 class="title-card-table">Rejected Leave</h3>
      <input id='myInput2' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTablerejectedleave">
                <thead>
                    <tr>
                      <th class="col-25">Name</th>
                      <th>Leave Type</th>
                      <th>Date Started</th>
                      <th>Date Finished</th>
                      <th class="col-26">Reason</th>
                      <th>Applied Date</th>
                      <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Rejected Action Modal-->
<div class="modal fade" id="rejectedleavemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-1" id="exampleModalLabel">Leave</h1>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
          <div class="col">
            <label for="editfname" class="form-label">Full Name</label>
            <input type="text" class="form-control border-form-modal" id="rejectedleavename" name="rejectedleavename" value="Wendell Blanco" disabled>
          </div>
          <div class="col">
            <label for="editlname" class="form-label">Email</label>
            <input type="text" class="form-control border-form-modal" id="approvedleaveemail" name="approvedleaveemail" value="Blanco@gmail.com" disabled>
          </div>
          <div class="col">
            <label for="editbday" class="form-label">Gender</label>
            <input type="text" class="form-control" id="rejectedleavegender" name="rejectedleavegender" value="Male" disabled>
          </div>
          </div>
          <br>
          <div class="row g-3">
            <div class="col">
              <label for="editfname" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="rejectedleavephone" name="rejectedleavephone" value="09205844276" disabled>
            </div>
            <div class="col">
              <label for="editlname" class="form-label">Leave Type</label>
              <input type="text" class="form-control" id="rejectedleavetype" name="rejectedleavetype" value="Casual" disabled>
            </div>
            <div class="col">
              <label for="editbday" class="form-label">Apply Date</label>
              <input type="text" class="form-control" id="rejectedleaveapplydate" name="rejectedleaveapplydate" value="2000-10-10" disabled>
            </div>
            </div>
            <br>
            <div class="row g-3">
              <div class="col">
                <label for="editphone" class="form-label">Applied No. of Days</label>
                <input type="text" class="form-control" id="rejectedleaveapplynodays" name="rejectedleaveapplynodays" value="5" disabled>
              </div>
              <div class="col">
                <label for="editemail" class="form-label">Available No. of Days</label>
                <input type="text" class="form-control" id="rejectedleaveavailabledays" name="rejectedleaveavailabledays" value="0" disabled>
              </div>
              <div class="col">
                <label for="editpassword" class="form-label">Leave Period</label>
                <input type="text" class="form-control" id="rejectedleaveaperiod" name="rejectedleaveaperiod" value="2000-10-10 to 2000-11-11" disabled>
              </div>
              </div>
              <div class="row g-3">
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Reason:</label>
                  <textarea class="form-control" id="rejectedleavereason" name="rejectedleavereason" disabled>Masakit ulo ko</textarea>
                </div>
                <div class="col-md-8">
                  <label for="editemail" class="form-label">Remarks</label>
                  <input type="email" class="form-control" id="rejectedleaveremarks" name="rejectedleaveremarks" value="Rejected by HR" disabled>
                </div>
                <div class="col">
                  <label for="editpassword" class="form-label">Status</label>
                  <input type="text" class="form-control" id="rejectedleaveaperiod" name="rejectedleaveaperiod" value="Rejected" disabled>
                </div>
                </div>
                <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

