<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">Upload Payslip</h3>
      <input id='myInput2' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableUploadPayslip">
                <thead>
                    <tr>
                        <th>Payroll Date</th>
                        <th>Date Range</th>
                        <th>Total Hours</th>
                        <th>Night Diff Hours</th>
                        <th>Normal Overtime</th>
                        <th>Early Overtime</th>
                        <th>Total Late Minutes</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--- Action Leave Modal -->
<div class="modal fade" id="allleavemodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" id="modal-header">
              <h3 class="modal-title fs-5" id="exampleModalLabel">!!Upload This Payslip Date ?</h3>
              <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
              <div class="row">
                  <form>
                    <div class="row g-3">
                      <div class="col">
                        <div class="form-floating">
                          <input type="text" class="form-control border-form-modal" id="payslipdate" name="payslipdate"
                            placeholder="First Name" readonly>
                          <label for="floatingInput">Payroll Date</label>
                        </div>
                      </div>  
                    </div>                             
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Wait a Minute !</button>
                                <button type="button" class="btn btn-modal-save" id="uploadpayrolldate">Upload</button>
                            </div>
                        </div>  
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer" id="modal-footer">
          </div>
      </div>
  </div>
</div>