<!-- <h1 class="font-weight-bold text-danger" id="head-title">Leave History</h1> -->
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header ch-requestleave">
        <h3>Salary History</h3>
        <!-- <button type="button" id="applybtn" class="btn btn-eportal-color" data-bs-toggle="modal"
            data-bs-target="#pendingmodal">
            <h6>Request Attendance</h6>
        </button> -->
    </div>
    <div class="card-body cbody-requestleave">
        <table class="table table-light table-bordered" id="dataTablesalaryhistory">
            <thead>
                <tr>
                    <th>Date Range</th>
                    <th>Payroll Date</th>
                    <th>Cut Off</th>
                    <th>Salary</th>
                    <th>Total Hours</th>
                    <th>Night Differrentials</th>
                    <th>Normal Ot</th>
                    <th>Eary Ot</th>
                    <th>Total Late</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="payslipmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="head-title"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h3 class="modal-title fs-5" id="head-title">Payslip</h3>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <br>
                <div class="container p-0">
                    <div class="col-md-12 col-xl-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="account" role="tabpanel">
                                <div class="card">
                                    <div class="card-header ch-generate">
                                        <h5 class="card-title mb-0">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <button class="nav-link generate-profile active" id="nav-profile-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                                                        role="tab" aria-controls="nav-profile"
                                                        aria-selected="true">Profile</button>
                                                    <button class="nav-link generate-payslip" id="nav-payslip-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-payslip" type="button" role="tab"
                                                        aria-controls="nav-payslip"
                                                        aria-selected="false">Payslip</button>
                                                    <button class="nav-link generate-date" id="nav-date-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-date" type="button" role="tab"
                                                        aria-controls="nav-date" aria-selected="false">Date</button>
                                                    <button class="nav-link generate-deduction" id="nav-deductions-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-deductions"
                                                        type="button" role="tab" aria-controls="nav-deductions"
                                                        aria-selected="false">Deductions</button>
                                                    <button class="nav-link generate-holiday" id="nav-holidays-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-holidays" type="button" role="tab"
                                                        aria-controls="nav-holidays"
                                                        aria-selected="false">Holidays</button>
                                                </div>
                                            </nav>
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                                                aria-labelledby="nav-profile-tab" tabindex="0">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <!-- <div class="card mb-4">
                                                                <div class="card-body text-center">
                                                                    <img id="editpreview" alt="avatar"
                                                                        class="rounded-circle img-fluid"
                                                                        style="width: 150px;">
                                                                    <h5 class="my-3" id="employeename"></h5>
                                                                    <p class="text-muted mb-1" id="position"></p>
                                                                    <p class="text-muted mb-4" id="department"></p>
                                                                    <div class="d-flex justify-content-center mb-2">
                                                                        <button type="button"
                                                                            class="btn btn-primary">PDF</button>
                                                                        <button type="button"
                                                                            class="btn btn-outline-primary ms-1">Excel</button>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            <div class="card mb-4 mb-lg-0 card-work">
                                                                <div class="card-body p-0">
                                                                    <ul class="list-group list-group-flush rounded-3">
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-work"><lord-icon src="https://cdn.lordicon.com/txbgsuya.json" colors="primary:#000000,secondary:#c67d53,tertiary:#e8e230,quaternary:#000000" class="db-icon-payslip">
                                                                                </lord-icon> Work Days</p>
                                                                            </div>
                                                                            <p class="mb-0 p-number" id="workdays"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-rest">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-rest"><lord-icon
                                                                                    src="https://cdn.lordicon.com/vhuoyano.json" colors="primary:#000000,secondary:#30e849,tertiary:#c67d53" class="db-icon-payslip">
                                                                                </lord-icon> Rest Day</p>
                                                                            </div>
                                                                            <p class="mb-0 number-rest" id="restday"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-work"><lord-icon
                                                                                    src="https://cdn.lordicon.com/dangivhk.json" colors="primary:#000000,secondary:#16c72e" class="db-icon-payslip">
                                                                                </lord-icon> Present Days</p>
                                                                            </div>
                                                                            <p class="mb-0 p-number" id="present"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-rest">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-rest"><lord-icon
                                                                                    src="https://cdn.lordicon.com/xjvrxoon.json" colors="primary:#000000,secondary:#ffffff,tertiary:#f24c00" class="db-icon-payslip">
                                                                                    </lord-icon> Absents</p>
                                                                            </div>
                                                                            <p class="mb-0 number-rest" id="absent"></p>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="card mb-4 card-work">
                                                                <div class="card-body">
                                                                    <!-- Payroll Period -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Payroll Period</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="payrollrange">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Payroll Date -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Payroll Date</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="payrolldate">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Semi-Monthly Salary -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Semi-Monthly Salary</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="salary">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Daily Rate -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Daily Rate</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="dailyrate">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Monthly Allowances -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Monthly Allowances</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="allowances">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Compensation -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Compensation</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="compensation">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Total Deductions -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Total Deductions</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="deductions">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Total Net Pay -->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0 payroll-label">Total Net Pay</p>
                                                                        </div>
                                                                        <div class="col-sm-9" id="totalnetpay">
                                                                            <p class="text-muted mb-0"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="nav-date" role="tabpanel"
                                                aria-labelledby="nav-date-tab" tabindex="0">
                                                <h3 class="date-range">Date Range</h3>
                                                <form>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <table class="table table-light table-bordered" id="dataTablePayslip">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="date-range-table">Date</th>
                                                                        <th class="date-range-table">Status</th>
                                                                        <th class="date-range-table">Clock In</th>
                                                                        <th class="date-range-table">Clock Out</th>
                                                                        <th class="date-range-table">Late In Minutes</th>
                                                                        <th class="date-range-table">Late In Hours</th>
                                                                        <th class="date-range-table">Early OT</th>
                                                                        <th class="date-range-table">Total Night Diff</th>
                                                                        <th class="date-range-table">Total Normal OT</th>
                                                                        <th class="date-range-table">Total Hours</th>
                                                                        <th class="date-range-table">Total in Minutes</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <div class="d-flex flex-column payslipname"> <span
                                                                    class="empnamepayslip" id="datename"></span> <span
                                                                    class="text-center">Authorised Signatory</span> </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="nav-payslip" role="tabpanel"
                                                aria-labelledby="nav-payslip-tab" tabindex="0">
                                                <form>
                                                    <div class="col-md-12">
                                                        <div>
                                                            <img class="company-img" src="/images/img/5l.png" alt="">
                                                            <span class="companyname">5L Solutions Supply & Allied Services Corp.</span>
                                                        </div>
                                                        <div class="text-center lh-1 mb-2">
                                                            <h6 class="fw-bold payslip">Payslip</h6> <span class="payslipemp"
                                                                id="paysliprange"></span>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <label for="payslipdate">Payroll Date:</label>
                                                            <span class="payslipemp" id="payslipdate"></span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">EMP
                                                                                Code</span> <small class="ms-3 payslipemp"
                                                                                id="payslipid"></small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">EMP
                                                                                Name</span> <small class="ms-3 payslipemp"
                                                                                id="payslipname"></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">SSS
                                                                                ID</span> <small class="ms-3 payslipemp"
                                                                                id="payslipSSSid"></small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">POSITION</span>
                                                                            <small class="ms-3 payslipemp"
                                                                                id="payslipposition"></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">TIN
                                                                                ID</span> <small class="ms-3 payslipemp"
                                                                                id="payslipTINid"></small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">DEPARTMENT</span>
                                                                            <small class="ms-3 payslipemp"
                                                                                id="payslipdepartment"></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">PHILHEALTH
                                                                                ID</span> <small class="ms-3 payslipemp"
                                                                                id="payslipphilhealthid"></small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">REMAINING
                                                                                SL</span> <small class="ms-3 payslipemp">5</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">PAG
                                                                                IBIG ID</span> <small class="ms-3 payslipemp"
                                                                                id="payslipdeppagibigid"></small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div> <span class="fw-bolder">REMAINING
                                                                                LEAVE</span> <small
                                                                                class="ms-3 payslipemp">5</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <table class="table mt-5">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" class="payslip-color">Earnings</th>
                                                                        <th scope="col" class="payslip-color">Amount</th>
                                                                        <th scope="col" class="payslip-color">Deductions</th>
                                                                        <th scope="col" class="payslip-color">Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Basic</th>
                                                                        <td id="payslipbasic"></td>
                                                                        <td>SSS</td>
                                                                        <td id="payslipsss"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Daily Rate</th>
                                                                        <td id="payslipperday"></td>
                                                                        <td>Philhealth</td>
                                                                        <td id="paysliphdmf"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Allowances</th>
                                                                        <td id="payslipallowances"></td>
                                                                        <td>HDMF</td>
                                                                        <td id="payslippagibig"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Total Approve Overtime
                                                                        </th>
                                                                        <td id="payslipovertime"></td>
                                                                        <td>Tax</td>
                                                                        <td id="paysliptin"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Night
                                                                            Differrentials</th>
                                                                        <td id="payslipndpay"></td>
                                                                        <td>Absent</td>
                                                                        <td id="payslipabsent"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Normal Overtime
                                                                        </th>
                                                                        <td id="payslipotpay"></td>
                                                                        <td>Health Card</td>
                                                                        <td id="paysliphealthcard"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Early Overtime
                                                                        </th>
                                                                        <td id="payslipearlypay"></td>
                                                                        <td>Late</td>
                                                                        <td id="paysliplate"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Special Holiday Overtime
                                                                        </th>
                                                                        <td id="payslipspecialovertime"></td>
                                                                        <td colspan="2"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Regular Holiday Overtime
                                                                        </th>
                                                                        <td id="payslipregularovertime"></td>
                                                                        <td colspan="2"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Special Holiday
                                                                        </th>
                                                                        <td id="payslipspecial"></td>
                                                                        <td colspan="2"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row" class="earning-table">Regular Holiday
                                                                        </th>
                                                                        <td id="payslipregular"></td>
                                                                        <td colspan="2"></td>
                                                                    </tr>
                                                                    <tr class="border-top">
                                                                        <th scope="row" class="total-table">Total
                                                                            Compensation</th>
                                                                        <td id="paysliptotal"  class="total-table-td"></td>
                                                                        <td  class="total-table-td">Total Deductions</td>
                                                                        <td id="paysliptotaldeductions"  class="total-table-td">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <br>
                                                                <label for="paysliptotalnetpay">Total
                                                                    Net Pay :</label>
                                                                <span class="fw-bold netpay-total" id="paysliptotalnetpay"></span>
                                                            </div>
                                                            <div class="col-md-8 netpay-words">
                                                                <div class="d-flex flex-column" id="totalNetPayWords">
                                                                    <span>In
                                                                        Words</span> <span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <div class="d-flex flex-column payslipname"> <span
                                                                class="empnamepayslip" id="payslipempname"></span> <span
                                                                class="text-center">Authorised
                                                                    Signatory</span> </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center mb-2">
                                                            <label class="print-slip">Print In
                                                            <!-- <button type="button"
                                                                class="btn btn-primary" id="downloadpfd">PDF
                                                            </button> -->
                                                            <img class="img-generate-pdf" src="images/img/pdf.png" alt="">
                                                            <a href="#" class="a-pdf" id="downloadpfd">PDF</a>
                                                            <!-- <button type="button"
                                                                class="btn btn-outline-primary ms-1">Excel</button> -->
                                                                <img class="img-generate-excel" src="images/img/file.png" alt="">
                                                                <a href="#" class="a-excel">EXCEL</a>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="nav-deductions" role="tabpanel"
                                                aria-labelledby="nav-deductions-tab" tabindex="0">
                                                <form>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
