<h1 class="font-weight-bold text-danger" id="head-title">Disciplinary History</h1>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
  <div class="card-header py-3">
  </div>
  <div class="card-body">
  <table class="table table-striped" id="dataTableapplyleave">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Offense</th>
        <th scope="col">Action</th>
        <th scope="col">Date</th>
        <th scope="col">Created By</th>
        <th scope="col">Created Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="ID">1</td>
        <td data-label="Employee ID">123</td>
        <td data-label="Salary">2023-01-01</td>
        <td data-label="Allowances">5,000</td>
        <td data-label="Deduction">Loan</td>
        <td data-label="Payment Date">2023-01-01</td>
        <td data-label="Payment Date">2023-01-01</td>
        <td data-label="Status">Paid</td>
        <td data-label="Action"><button id="edit-btn" class="btn text-danger" name="edit-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-fw fa-eye"></i></button></td>
    </tr>
    <tr>
        <td data-label="ID">1</td>
        <td data-label="Employee ID">123</td>
        <td data-label="Salary">2023-01-01</td>
        <td data-label="Allowances">5,000</td>
        <td data-label="Deduction">Loan</td>
        <td data-label="Payment Date">2023-01-01</td>
        <td data-label="Payment Date">2023-01-01</td>
        <td data-label="Status">Paid</td>
        <td data-label="Action"><button id="edit-btn" class="btn text-danger" name="edit-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-fw fa-print"></i></button></td>
    </tr>
    <tr>
        <td data-label="ID">1</td>
        <td data-label="Employee ID">123</td>
        <td data-label="Salary">2023-01-01</td>
        <td data-label="Allowances">5,000</td>
        <td data-label="Deduction">Loan</td>
        <td data-label="Payment Date">2023-01-01</td>
        <td data-label="Payment Date">2023-01-01</td>
        <td data-label="Status">Paid</td>
        <td data-label="Action"><button id="edit-btn" class="btn text-danger" name="edit-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-fw fa-print"></i></button></td>
    </tr>
    </tbody>
  </table>
        </div>
      </div>

        <!-- Modal -->
        <div class="modal fade" id="pendingmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply Leave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row g-3">
                  <div class="col">
                    <label for="editfname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="pendingleavename" name="pendingleavename" value="Wendell" disabled>
                  </div>
                  <div class="col">
                    <label for="editlname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="pendingleaveemail" name="pendingleaveemail" value="Blanco" disabled>
                  </div>
                  </div>
                  <br>
                  <div class="row g-3">
                    <div class="col">
                      <label for="editfname" class="form-label">Phone Number</label>
                      <input type="text" class="form-control" id="pendingleavephone" name="pendingleavephone" value="09205844276" disabled>
                    </div>
                    <div class="col">
                      <label for="editlname" class="form-label">Email</label>
                      <input type="text" class="form-control" id="pendingleavetype" name="pendingleavetype" value="Blanco@gmail.com" disabled>
                    </div>
                    
                    </div>
                    <br>
                    <div class="row g-3">
                      <div class="col">
                        <label for="editgender" class="form-label">Leave Type</label>
                        <select class="form-select" id="editemployeegender" name="editemployeegender">
                          <option  selected>Choose...</option>
                          <option value="1">Service Incentive Leave</option>
                          <option value="2">Vacation Leave</option>
                          <option value="3">Sick Leave</option>
                          <option value="4">Maternity Leave</option>
                          <option value="5">Paternity Leave</option>
                          <option value="6">Solo Parent Leave</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="editemail" class="form-label">Start Leave Date</label>
                        <input type="date" class="form-control" id="pendingleaveavailabledays" name="pendingleaveavailabledays">
                      </div>
                      <div class="col">
                        <label for="editpassword" class="form-label">End Leave Date</label>
                        <input type="date" class="form-control" id="pendingleaveaperiod" name="pendingleaveaperiod">
                      </div>
                      </div>
                        <div class="row g-3">
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Reason:</label>
                            <textarea class="form-control" id="pendingleavereason" name="pendingleavereason"></textarea>
                          </div>
                          </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="pendingleavesavebtn">Save</button>
              </div>
            </div>
          </div>
        </div>