<br>
<!-- Table -->
<div class="card shadow mt-4 mb-4" id="tablecard">
    <div class="card-header ch-requestleave">
        <h3 class="m-4">Government Loans</h3>
        <div class="row gap-4 m-4">
            <div class="col">
              <input id='myInput' class="pl-2 font-weight-bold" type='text' placeholder="  Search....">
            </div>
            <div class="col-sm-1 col-add">
              <!-- <button type="button" class="btn btn-add-color bg-primary" data-bs-toggle="modal" data-bs-target="#addmodal">
                <b>+ Add</b>
              </button> -->
            </div>
        </div>
    </div>
    <div class="card-body cbody-requestleave">
        <table class="table table-striped-light" id="dataTablegovermentLoans">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Loan Type</th>
                    <th>Per Month</th>
                    <th>Amount Recieved</th>
                    <th>Create Date</th>
                    <th>Create By</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


  <!-- View Modal -->
  <div class="modal fade" id="viewgovloansmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
            colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <div id="TittleContainer">
          </div>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body" id="modal-body">
          <form>
            <div class="col-md-12">
              <div class="row text-center mb-3">
                <div class="col-md-6">
                  <strong>Total Loan Amount:
                  <span id="totalloanamount"></span></strong>
                </div>
                <div class="col-md-6">
                  <strong>Total Amount Paid:
                  <span id="totalamountpaid"></span></strong>
                </div>
              </div>
              <div class="row">
                <table class="table table-bordered" id="dataTablegovermentdetails">
                  <thead>
                    <tr>
                      <th class="date-range-table">Payroll Dates</th>
                      <th class="date-range-table">Loan Type</th>
                      <th class="date-range-table">Amount Paid</th>
                      <th class="date-range-table">Loan Status</th>
                      <th class="date-range-table">Date of Paid</th>
                      <th class="date-range-table">Payment Type</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-end">
                <div class="d-flex flex-column payslipname">
                  <span class="empnamepayslip" id="datename"></span>
                  <span class="text-center">Authorised Signatory</span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="govermentloaneditbtn">Save</button>
        </div>
      </div>
    </div>
  </div>
  








