<script>
  let leaveid = "";
  $(document).ready(function () {
    LoadTable();
    searchTable();

    $(document).on("keyup", "#myInput2", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableallleave").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/allleave/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              finalData.push({
                leaveid: item.leaveid,
                employeeid: item.employeeid,
                leavestartdate: item.leavestartdate,
                leaveenddate: item.leaveenddate,
                leavetype: item.leavetype,
                reason: item.reason,
                status: item.status,
                applieddate: item.applieddate,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "leaveid" },
          { data: "employeeid" },
          { data: "leavestartdate" },
          { data: "leaveenddate" },
          { data: "leavetype" },
          { data: "reason" },
          { data: "status" },
          { data: "applieddate" },
        ],
        createdRow: function (row, data, dataIndex) {
          //miyaka
          var statusCell = $(row).find("td:eq(6)");

          var statusText = data.status;

          var statusClass = "";

          switch (statusText.toLowerCase()) {
            case "pending":
              statusClass = "pending-status";
              break;
            case "cancelled":
              statusClass = "cancelled-status";
              break;
            case "approved":
              statusClass = "approved-status";
              break;
            case "rejected":
              statusClass = "rejected-status";
              break;
            default:
              statusClass = "";
          }

          statusCell.html(`<span class="${statusClass}">${statusText}</span>`);

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    $("#dataTableallleave tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      leaveid = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/getleave",
        data: {
          leaveid: leaveid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#pendingleaveid").val(item.leaveid);
              $("#leaveemployeename").val(item.employee);
              $("#leavetype").val(item.leavetype);
              $("#leavestartdate").val(item.leavestartdate);
              $("#leaveenddate").val(item.leaveenddate);
              $("#leavereason").val(item.leavereason);
              $("#leaveapplieddate").val(item.leaveapplieddate);
              $("#previewleave").attr(
                "src",
                "data:image/jpg;base64," + item.leaveimage
              );
              $("#leavedays").val(item.totalleavedays);
              $("#unusedleave").val(item.unusedleave);
              $("#usedleave").val(item.usedleave);
              $("#leaveyear").val(item.leaveyear);
              $("#leavestatus").val(item.leavestatus);
              $("#leaveduration").val(item.leaveduration);
              $("#paiddays").val(item.leavepaiddays);
              $("#unpaiddays").val(item.leaveunpaiddays);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });

    $(document).on(
      "change",
      "#leavestartdate, #leaveenddate, #paiddays",
      function () {
        let startDate = $("#leavestartdate").val();
        let endDate = $("#leaveenddate").val();
        let paidDays = parseFloat($("#paiddays").val());
        let unusedLeave = parseFloat($("#unusedleave").val());
        let duration = calculateLeaveDuration(startDate, endDate);

        if (duration > unusedLeave) {
          let unpaidDays = duration - unusedLeave;
          $("#paiddays").val(unusedLeave);
          $("#unpaiddays").val(unpaidDays);
        } else {
          $("#leaveduration").val(duration);
          $("#paiddays").val(duration);
          $("#unpaiddays").val(0);
        }
      }
    );

    function calculateLeaveDuration(startDate, endDate) {
      let start = new Date(startDate);
      let end = new Date(endDate);
      let difference = end - start;
      let durationDays = difference / (1000 * 60 * 60 * 24);
      return Math.round(durationDays);
    }

    $(document).on("click", "#leavesavebutton", function () {
      let id = leaveid;
      let status = $("#leavestatus").val();
      let leavestartdate = $("#leavestartdate").val();
      let leaveenddate = $("#leaveenddate").val();
      let leaveduration = $("#leaveduration").val();
      let leavepaidays = $("#paiddays").val();
      let leaveunpaiddays = $("#unpaiddays").val();
      let comment = $("#leavecomment").val();

      var message = "";

      if (status === "Pending") {
        message += "status is required. ";
      }

      if (leavestartdate === "") {
        message += "status is required. ";
      }

      if (leaveenddate === "") {
        message += "Youre not Allowed to Cancel The Employee Request";
      }

      if (leaveduration === "") {
        message += "comment is required. ";
      }

      if (leavepaidays === "") {
        message += "comment is required. ";
      }

      if (leaveunpaiddays === "") {
        message += "comment is required. ";
      }

      if (comment === "") {
        message += "comment is required. ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        swal({
          title: "Are you sure?",
          text: `Do you want to '${status}' this request?`,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willApprove) => {
          if (willApprove) {
            $.ajax({
              type: "POST",
              url: "/allleave/update",
              data: {
                leaveid: id,
                status: status,
                leavestartdate: leavestartdate,
                leaveenddate: leaveenddate,
                leaveduration: leaveduration,
                leavepaidays: leavepaidays,
                leaveunpaiddays: leaveunpaiddays,
                comment: comment,
              },
              success: function (result) {
                if (result.msg == "success") {
                  swal(
                    "Save Successfully",
                    "You clicked the button!",
                    "success"
                  ).then((results) => {
                    window.location.reload();
                  });
                  LoadTable();
                }
              },
              error: function (err) {
                swal("Error", "An error occurred while saving data.", "error");
              },
              error: function (err) {
                swal("Error", "An error occurred while saving data.", "error");
              },
            });
          } else {
            swal("Action Canceled", "", "info");
          }
        });
      }
    });
  });

  //search bar

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableallleave");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }
</script>
