<br>

<!-- Table -->
        <div class="card" id="tablecard">
            <div class="card-header ch-coop">
              <h3 class="title-card-table m-4">All Leave</h3>
              <input id='myInput2' class="m-4 pl-2 font-weight-bold" type='text' placeholder="  Search....">
            </div>
            <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableallleave">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-25">Name</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Leave Type</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Applied Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Action Leave Modal-->
<div class="modal fade" id="allleavemodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/lsrcesku.json" stroke="bold"
          colors="primary:#242424,secondary:#e8e230,tertiary:#e83a30,quaternary:#d1f3fa" class="db-hrmis">
        </lord-icon>
          <h1 class="modal-title" id="exampleModalLabel">Pending Leave</h1>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
          <form>
            <div class="row g-3">
              <input type="hidden" class="form-control border-form-modal" id="pendingleaveid" name="pendingleaveid" disabled>
            <div class="col">
              <label for="pendingleavename" class="form-label">Full Name</label>
              <input type="text" class="form-control border-form-modal" id="pendingleavename" name="pendingleavename" disabled>
            </div>
            <div class="col">
              <label for="pendingleaveemail" class="form-label">Email</label>
              <input type="text" class="form-control border-form-modal" id="pendingleaveemail" name="pendingleaveemail" disabled>
            </div>
            <div class="col">
              <label for="pendingleavegender" class="form-label">Gender</label>
              <input type="text" class="form-control border-form-modal" id="pendingleavegender" name="pendingleavegender" disabled>
            </div>
            </div>
            <br>
            <div class="row g-3">
              <div class="col">
                <label for="pendingleavephone" class="form-label">Phone Number</label>
                <input type="text" class="form-control border-form-modal" id="pendingleavephone" name="pendingleavephone" disabled>
              </div>
              <div class="col">
                <label for="pendingleavetype" class="form-label">Leave Type</label>
                <input type="text" class="form-control border-form-modal" id="pendingleavetype" name="pendingleavetype" disabled>
              </div>
              <div class="col">
                <label for="pendingleaveapplydate" class="form-label">Apply Date</label>
                <input type="text" class="form-control border-form-modal" id="pendingleaveapplydate" name="pendingleaveapplydate" disabled>
              </div>
              </div>
              <br>
              <div class="row g-3">
                <div class="col">
                  <label for="pendingleaveapplynodays" class="form-label">Applied No. of Days</label>
                  <input type="text" class="form-control border-form-modal" id="pendingleaveapplynodays" name="pendingleaveapplynodays" disabled>
                </div>
                <div class="col">
                  <label for="pendingleaveavailabledays" class="form-label">Available No. of Days</label>
                  <input type="text" class="form-control border-form-modal" id="pendingleaveavailabledays" name="pendingleaveavailabledays" value="6" disabled>
                </div>
                <div class="col">
                  <label for="pendingleavestart" class="form-label">Leave Start</label>
                  <input type="text" class="form-control border-form-modal" id="pendingleavestart" name="pendingleavestart"  disabled>
                </div>
                <div class="col">
                  <label for="pendingleaveend" class="form-label">Leave End</label>
                  <input type="text" class="form-control border-form-modal" id="pendingleaveend" name="pendingleaveend" disabled>
                </div>
                </div>
                <div class="row g-3">
                  <div class="mb-3">
                    <label for="pendingleavereason" class="col-form-label">Reason:</label>
                    <textarea class="form-control border-form-modal" id="pendingleavereason" name="pendingleavereason" disabled></textarea>
                  </div>
                  <div class="col-md-8">
                    <label for="pendingleaveremarks" class="form-label">Remarks</label>
                    <input type="email" class="form-control border-form-modal" id="pendingleaveremarks" name="pendingleaveremarks">
                  </div>
                  <div class="col">
                    <label for="pendingleaveaction" class="form-label">Action</label>
                    <select class="form-select border-form-modal" id="pendingleaveaction" name="pendingleaveaction">
                      <option value="Pending">Pending</option>
                      <option value="Cancel">Cancel</option>
                      <option value="Approved">Approved</option>
                      <option value="Rejected">Rejected</option>
                    </select>
                  </div>
                  </div>
                  <br>
          </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="pendingleavesavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>
