<div class="card" id="tablecard">
  <div class="card-header ch-coop">
    <h3 class="title-card-table m-4">Government Loans</h3>
    <div class="row gap-4 m-2 mb-4">
      <div class="col">
        <input
          id="myInput"
          class="pl-2 font-weight-bold"
          type="text"
          placeholder="  Search...."
        />
      </div>
      <div class="col-sm-1 col-add">
        <button
          type="button"
          class="btn btn-add-color"
          data-bs-toggle="modal"
          data-bs-target="#govloansmodal"
        >
          <b>+ Add</b>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive" id="table-responsive-id">
      <table class="table table-striped-light" id="dataTablegovermentLoans">
        <thead>
          <tr>
            <th class="col-sm-1">ID</th>
            <th>Employee ID</th>
            <th>Loan Type</th>
            <th>Per Cut-Off</th>
            <th>Amount Recieved</th>
            <th>Create Date</th>
            <th>Create By</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<%- include('gov_loan_entry_modal.ejs') %>
<%- include('gov_loan_view_modal.ejs') %>
<%- include('gov_loan_advance_payment_modal.ejs') %>