<div class="row">
  <div class="col-md-8 mt-4">
    <div class="card shadow cardbody-size-710">
      <div class="card-header header-bg">
        <h6 class="m-0 font-weight-bold-mt-2 label-title-h4">
          Official Business
        </h6>
      </div>

      <div class="card-body">
        <div class="card shadow">
            <div class="card-header ch-generate">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link eportal-leave active" id="nav-pending-request" data-bs-toggle="tab"
                        data-bs-target="#nav-pending-request" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="true"><b>PENDING</b>
                    </button>
                   
                        <button class="nav-link eportal-leave" id="nav-applied-request" data-bs-toggle="tab"
                        data-bs-target="#nav-applied-request-tab" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false"><b>APPLIED</b>
                    </button>
                  
                        <button class="nav-link eportal-leave" id="nav-approved-request" data-bs-toggle="tab"
                        data-bs-target="#nav-approved-request-tab" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false"><b>APPROVED</b>
                    </button>
                   
                        <button class="nav-link eportal-leave" id="nav-rejected-request" data-bs-toggle="tab"
                        data-bs-target="#nav-rejected-request-tab" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false"><b>REJECTED</b>
                    </button>
                   
                        <button class="nav-link eportal-leave" id="nav-cancelled-request" data-bs-toggle="tab"
                        data-bs-target="#nav-cancelled-request-tab" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false"><b>CANCELLED</b>
                    </button>
                    </div>
                </nav>
            </div>
            <div class="card-body db-custom-cards">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-pending-request-tab" role="tabpanel" aria-labelledby="nav-pending-request">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-light table-bordered" id="datatable-pending-request">
                                  <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Attendance Date</th>
                                        <th>Subgroup</th>
                                        <th>Clock-in</th>
                                        <th>Clock-out</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-applied-request-tab" role="tabpanel" aria-labelledby="nav-applied-request">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-light table-bordered" id="datatable-applied-request">
                                  <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Attendance Date</th>
                                        <th>Subgroup</th>
                                        <th>Clock-in</th>
                                        <th>Clock-out</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-approved-request-tab" role="tabpanel" aria-labelledby="nav-approved-request">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-light table-bordered" id="datatable-approved-request">
                                  <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Attendance Date</th>
                                        <th>Subgroup</th>
                                        <th>Clock-in</th>
                                        <th>Clock-out</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-rejected-request-tab" role="tabpanel" aria-labelledby="nav-rejected-request">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-light table-bordered" id="datatable-rejected-request">
                                  <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Attendance Date</th>
                                        <th>Subgroup</th>
                                        <th>Clock-in</th>
                                        <th>Clock-out</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-cancelled-request-tab" role="tabpanel" aria-labelledby="nav-cancelled-request">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-light table-bordered" id="datatable-cancelled-request">
                                  <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Attendance Date</th>
                                        <th>Subgroup</th>
                                        <th>Clock-in</th>
                                        <th>Clock-out</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4">
    <div class="card shadow cardbody-size-710">
      <div class="card-header header-bg">
        <h6 class="m-0 font-weight-bold-mt-2 label-title-h4">
          Add Official Business
        </h6>
      </div>
      <div class="card-body extend">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text">Attendance Date</span>
              </div>
              <input
                autocomplete="off"
                class="form-control text-center custom-input"
                placeholder="Select Date"
                type="date"
                name="attendancedate"
                id="attendancedate"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text header-bg">Select Subgroup</span>
              </div>
              <input
                autocomplete="off"
                id="subgroup"
                class="form-control border-form-modal"
                placeholder="Select Staff House"
                type="text"
                name="subgroup"
              />
              <input
                autocomplete="off"
                type="hidden"
                id="subgroupID"
                name="subgroupID"
              />
            </div>
            <div
              class="custom-dropdown cdw-tableoption"
              id="subgroupDropdown"
            ></div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text">Clock-in</span>
              </div>
              <input
                autocomplete="off"
                class="form-control text-center custom-input"
                placeholder="Select Employee"
                type="datetime-local"
                name="clockin"
                id="clockin"
              />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text">Clock-out</span>
              </div>
              <input
                autocomplete="off"
                class="form-control text-center custom-input"
                placeholder="Select Employee"
                type="datetime-local"
                name="clockout"
                id="clockout"
              />
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <textarea
              name="reason"
              id="reason"
              class="form-control"
              placeholder="What is your reason for this request?"
            ></textarea>
          </div>
        </div>

        <div class="row justify-content-end mt-4">
            <div class="col-12 text-right">
              <button
                type="button"
                id="submitBtn"
                class="btn btn-outline-inventory w-100"
              >
                Submit
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
