<br>
<h1 class="font-weight-bold" id="h-title">Government ID</h1>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header">
        <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#govermentidmodal">
            <b>+ Add</b>
          </button>
            <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTablegovermentid">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Employee ID</th>
                        <th>ID Type</th>
                        <th>ID Number</th>
                        <th>Issue Daten</th>
                        <th>Created By</th>
                        <th>Create Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="govermentidmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
            <i class='bx bxs-id-card' style='color:#ecb62a; font-size: 50px; margin: 3px;'></i>
          <h3 class="modal-title" id="exampleModalLabel">GOVERNMENT ID</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="govermentidemployeeid" name="govermentidemployeeid" aria-label="Floating label select example"
                            style=" border: 2.5px solid #174634 !important;">
                            </select>
                            <label for="floatingSelectGrid">Employee ID</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="govermentidtype" name="govermentidtype" aria-label="Floating label select example"
                            style=" border: 2.5px solid #174634 !important;">
                                <option value="SSS">SSS</option>
                                <option value="PhilHealth">PhilHealth</option>
                                <option value="PagIbig">PagIbig</option>
                                <option value="TIN">TIN</option>
                                <!-- <option value="PhilHealth ID">PhilHealth ID</option>
                                <option value="PRC ID">PRC ID</option>
                                <option value="TIN ID">TIN ID</option>
                                <option value="POSTAL ID">POSTAL ID</option>
                                <option value="NBI Clearance">NBI Clearance</option>
                                <option value="Senior Citizen ID">Senior Citizen ID</option>
                                <option value="National ID">National ID</option>
                                <option value="PWD ID">PWD ID</option> -->
                            </select>
                            <label for="floatingSelectGrid">ID Type</label>
                          </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="govermentidnumber" name="healthrecordmedicalcondition" placeholder="First Name"
                        style=" border: 2.5px solid #174634 !important;">
                        <label for="floatingInput">ID Number</label>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="date" class="form-control" id="govermentidissuedate" name="govermentidissuedate" placeholder="First Name"
                        style=" border: 2.5px solid #174634 !important;">
                        <label for="floatingInput">Issue Date</label>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
          border: 2px solid white !important;">Close</button>
          <button type="button" class="btn btn-primary" id="govermentidsavebtn" style="background-color: green !important;
          border: 2px solid white !important;">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editgovermentidmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Goverment ID</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editgovermentidemployeeid" name="editgovermentidemployeeid" aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelectGrid">Employee ID</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editgovermentidtype" name="editgovermentidtype" aria-label="Floating label select example">
                                <option value="SSS">SSS</option>
                                <option value="PhilHealth">PhilHealth</option>
                                <option value="PagIbig">PagIbig</option>
                                <option value="TIN">TIN</option>
                                <!-- <option value="PhilHealth ID">PhilHealth ID</option>
                                <option value="PRC ID">PRC ID</option>
                                <option value="TIN ID">TIN ID</option>
                                <option value="POSTAL ID">POSTAL ID</option>
                                <option value="NBI Clearance">NBI Clearance</option>
                                <option value="Senior Citizen ID">Senior Citizen ID</option>
                                <option value="National ID">National ID</option>
                                <option value="PWD ID">PWD ID</option> -->
                            </select>
                            <label for="floatingSelectGrid">ID Type</label>
                          </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="editgovermentidnumber" name="edithealthrecordmedicalcondition" placeholder="First Name">
                        <label for="floatingInput">ID Number</label>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="date" class="form-control" id="editgovermentidissuedate" name="editgovermentidissuedate" placeholder="First Name">
                        <label for="floatingInput">Issue Date</label>
                        </div>
                    </div>
                    <br>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editgovermentidstatus" name="editgovermentidstatus" aria-label="Floating label select example">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Status</label>
                          </div>
                    </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editgovermentidsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>