<h1 class="font-weight-bold text-danger" id="head-title">Resigned Employee</h1>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header py-3">
      <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#resignedmodal">
        <b>+ Add</b>
      </button>
        <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableresigned">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Reason</th>
                        <th>Date Resigned</th>
                        <th>Status</th>
                        <th>Createby</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="resignedmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <i class='bx bxs-user-x' style='color:#f9181d; font-size: 50px; margin: 3px;'></i>
          <h3 class="modal-title" id="exampleModalLabel">RESIGNED EMPLOYEE</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="resignedemployee" name="resignedemployee" aria-label="Floating label select example"
                        style="border: 2.5px solid #174634 !important;">
                          <option selected>Choose..</option>
                        </select>
                        <label for="floatingSelectGrid">Employee</label>
                      </div>
                </div>
                 <br>
                  <div class="col">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="resignedreason" name="resignedreason"
                    style="border: 2.5px solid #174634 !important;">
                    <label for="floatingInput">Reason</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                    <input type="date" class="form-control" id="dateresigned" name="dateresigned"
                    style="border: 2.5px solid #174634 !important;">
                    <label for="floatingInput">Date Resigned</label>
                    </div>
                </div>
                <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="resignedstatus" name="resignedstatus" aria-label="Floating label select example"
                            style="border: 2.5px solid #174634 !important;">
                              <option selected>Status</option>
                              <option value="resigned">Resigned</option>
                              <option value="terminated">Terminate</option>
                              <option value="end_of_contract">End Of Contract</option>
                              <option value="Awol">Awol</option>
                            </select>
                            <label for="floatingSelectGrid">Status</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
          border: 2px solid white !important;">Close</button>
          <button type="button" class="btn btn-primary" id="resignedsavebtn" style="background-color: green !important;
          border: 2px solid white !important;">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editresignedmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Resigned Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="editresignedemployee" name="editresignedemployee" aria-label="Floating label select example" disabled>
                          <option selected>Choose..</option>
                        </select>
                        <label for="floatingSelectGrid">Employee</label>
                      </div>
                </div>
                 <br>
                  <div class="col">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="editresignedreason" name="editresignedreason">
                    <label for="floatingInput">Reason</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                    <input type="date" class="form-control" id="editdateresigned" name="editdateresigned">
                    <label for="floatingInput">Date Resigned</label>
                    </div>
                </div>
                <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="editresignedstatus" name="editresignedstatus" aria-label="Floating label select example">
                              <option selected>Status</option>
                              <option value="resigned">Resigned</option>
                              <option value="terminated">Terminate</option>
                              <option value="end_of_contract">End Of Contract</option>
                              <option value="Awol">Awol</option>
                            </select>
                            <label for="floatingSelectGrid">Status</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editresignedsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>
