<!-- <h1 class="font-weight-bold text-danger" id="head-title">Attendance</h1> -->
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header cheader-attendance">
        <h3>Attendance</h3>
        <button type="button" class="btn btn-eportal-color" data-bs-toggle="modal" data-bs-target="#geoFenceModal">
           <h6>Export Attendance</h6>
        </button>
        <input id='myInput' type='text' placeholder="  Search....">
    </div>
    <div class="card-body cbody-attendance">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableattendance">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Device In</th>
                        <th>Device Out</th>
                        <th>Total Hours</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!--MODAL-->

<div class="modal fade" id="editlogsmodal" tabindex="-1" role="dialog" aria-labelledby="totalCablingModal"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 class="modal-title fs-5 text-danger" id="exampleModalToggleLabel">
                       Logs
                    </h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="table-responsive-id">
                    <table class="table table-striped" id="dataTableattendancelogs">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Log Type</th>
                                <th>Latitude</th>
                                <th>Lonitude</th>
                                <th>Device</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>
