<h1 class="font-weight-bold text-danger" id="head-title">Employees</h1>
<div id="loading" class="loading"></div>
<br>
<br>

<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
  <div class="card-header py-3">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addemployeemodal">
      + Add New
    </button>
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#openModalButton">
      Upload
    </button>

    <!-- The Modal -->

    <div class="modal fade" id="openModalButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Batch Upload</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="modal-content">
                <input type="file" class="form-control-file" id="excelFileInput" accept=".xls, .xlsx" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="uploadButton">Upload</button>
          </div>
        </div>
      </div>
    </div>
    <input id='myInput' onkeyup='searchTable()' type='text' placeholder="  Search....">
  </div>
  <div class="card-body">
    <div class="table-responsive" id="table-responsive-id">
      <table class="table table-striped" id="dataTableemployees">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Job Status</th>
            <th>Department</th>
            <th>Position</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="addemployeemodal" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 700px; width: 1300px; margin-left: -400px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <br>
        <div class="row">
          <div class="col-xl-2 col-lg-4" style="margin-left: 10px;  margin-top: 100px;">
            <div class="col g-6">
              <div class="p-4" style="width: 300px; margin-top: -100px;">
                <div class="text-center">
                  <img id="preview" src="https://via.placeholder.com/250" style="width: 250px;; height: 250px;;"
                    class="rounded rounded-circle" alt="placeholder">
                </div>
                <br>
                <div class="col">
                  <div class="col g-6">
                    <input type="file" name="employeeprofile" id="employeeprofile" class="form-control"
                      accept="image/*">
                  </div>
                </div>
                <br>
                <h2 class="border-top pb-3 mb-4 text-center">Avatar Preview</h2>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7" style="margin-left: 150px;">
            <form>
              <br>
              <div class="row g-3">
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeefname" name="employeefname"
                      placeholder="First Name">
                    <label for="floatingInput">First Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeelname" name="employeelname"
                      placeholder="Last Name">
                    <label for="floatingInput">Last Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeemname" name="employeemname"
                      placeholder="Middle Name">
                    <label for="floatingInput">Middle Name</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row g-3">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="employeegender" name="employeegender"
                      aria-label="Floating label select example">
                      <option selected>Choose</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <label for="floatingSelectGrid">Gender</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="employeecivilstatus" name="employeecivilstatus"
                      aria-label="Floating label select example">
                      <option selected>Choose</option>
                      <option value="Single">Single</option>
                      <option value="Married">Married</option>
                      <option value="Separated">Separated</option>
                      <option value="Widow">Widow</option>
                    </select>
                    <label for="floatingSelectGrid">Civil Status</label>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeeaddress" name="employeeaddress"
                      placeholder="Address">
                    <label for="floatingInput">Address</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row g-3">
                <div class="col">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="employeebirthday" name="employeebirthday">
                    <label for="floatingInput">Birthday</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="employeephone" name="employeephone"
                      placeholder="Phone Number">
                    <label for="floatingInput">Phone Number</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="employeeemail" name="employeeemail"
                      placeholder="Email">
                    <label for="floatingInput">Email</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row g-3">
                <div class="col">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="employeehiredate" name="employeehiredate">
                    <label for="floatingInput">Hire Date</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="employeedepartment" name="employeedepartment"
                      aria-label="Floating label select example">
                    </select>
                    <label for="employeedepartment">Department</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="employeeposition" name="employeeposition"
                      aria-label="Floating label select example">
                    </select>
                    <label for="floatingSelectGrid">Position</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row g-3">

                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="employeejobstatus" name="employeejobstatus"
                      aria-label="Floating label select example">
                      <option selected>Choose...</option>
                      <option value="Regular">Regular</option>
                      <option value="Probitionary">Probitionary</option>
                      <option value="Project Based">Project Based</option>
                    </select>
                    <label for="floatingSelectGrid">Job Status</label>
                  </div>
                </div>
                <br>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeeemergencyname" name="employeeemergencyname"
                      placeholder="Emergency Contact Name">
                    <label for="floatingInput">Emergency Contact Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeeemergencyphone" name="employeeemergencyphone"
                      placeholder="Emergency Contact Phone">
                    <label for="floatingInput">Emergency Contact Phone</label>
                  </div>
                </div>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="employeesavebtn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="viewmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editmodal"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 1550px; margin-left: -525px;">
      <div class="modal-header">
        <h5 class="modal-title" id="editmodal">Profile</h5>
        <button type="button" class="btn-close" onclick="reloadPage()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">

          <!-- Area Chart -->
          <div class="col-xl-4 col-lg-5" style="margin-left: 50px;">

            <div class="card shadow mb-8">
              <!-- Card Body -->
              <div class="card-body text-center">

                <div class="text-center">
                  <img id="editpreview" style="width:200px; height:200px;" class="rounded rounded-circle"
                    alt="placeholder">
                </div>
                <br>
                <center>
                  <div class="col">
                    <div class="col g-6" style="width: 200px;">
                      <input type="file" id="editemployeeprofile" name="editemployeeprofile" class="form-control"
                        accept="image/*">
                    </div>
                  </div>
                </center>
                <h5 class="my-3" id="employeeprofilename"></h5>
                <label for="employeeprofileid" class="form-label"><i>Employee ID</i></label>
                <p class="text-muted mb-1" id="employeeprofileid"></p>
                <label for="employeeprofiledepartment" class="form-label"><i>Department:</i></label>
                <p class="text-muted mb-1" id="employeeprofiledepartment"></p>
                <label for="employeeprofileposition" class="form-label"><i>Position:</i></label>
                <p class="text-muted mb-1" id="employeeprofileposition"></p>
                <label for="employeeprofilephone" class="form-label"><i>Phone:</i></label>
                <p class="text-muted mb-1" id="employeeprofilephone"></p>
                <label for="employeework" class="form-label"><i>Work Term:</i></label>
                <p class="text-muted mb-1" id="employeework">Days:</p>

              </div>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
              <!-- Card Body -->
              <div id="" class="card-body" style="height: 600px;">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                      data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                      aria-selected="true">Profile</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="showleavehistory" data-bs-toggle="pill" data-bs-target="#pills-leaves"
                      type="button" role="tab" aria-controls="pills-leave" aria-selected="false">Leave History</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="showdisciplinary" data-bs-toggle="pill" data-bs-target="#pills-contact"
                      type="button" role="tab" aria-controls="pills-disciplinary"
                      aria-selected="false">Disciplinary</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="showattendance" data-bs-toggle="pill"
                      data-bs-target="#pills-attendance" type="button" role="tab" aria-controls="pills-attendance"
                      aria-selected="false">Attendance</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="showtraining" data-bs-toggle="pill" data-bs-target="#pills-training"
                      type="button" role="tab" aria-controls="pills-training" aria-selected="false">Training
                      Attended</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="showhealth" data-bs-toggle="pill" data-bs-target="#pills-healthrecord"
                      type="button" role="tab" aria-controls="pills-health" aria-selected="false">Health Data</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="showgov" data-bs-toggle="pill" data-bs-target="#pills-govermentid"
                      type="button" role="tab" aria-controls="pills-goverment" aria-selected="false">Goverment
                      ID</button>
                  </li>

                </ul>
                <!-- Employee Info -->
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                    aria-labelledby="pills-home-tab">
                    <form id="updateForm">
                      <div class="row g-3">
                        <input type="hidden" class="form-control" id="editemployeeid" name="editemployeeid">
                        <div class="col">
                          <label for="editemployeefname" class="form-label">First Name</label>
                          <input type="text" class="form-control" id="editemployeefname" name="editemployeefname"
                            value="Wendell">
                        </div>
                        <div class="col">
                          <label for="editemployeelname" class="form-label">Last Name</label>
                          <input type="text" class="form-control" id="editemployeelname" name="editemployeelname"
                            value="Blanco">
                        </div>
                        <div class="col">
                          <label for="editemployeemname" class="form-label">Middle Name</label>
                          <input type="text" class="form-control" id="editemployeemname" name="editemployeemname"
                            01-01-1990>
                        </div>
                      </div>
                      <br>
                      <div class="row g-3">
                        <div class="col">
                          <label for="editemployeegender" class="form-label">Gender</label>
                          <select class="form-select" id="editemployeegender" name="editemployeegender">
                            <option>Choose...</option>
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </div>
                        <div class="col">
                          <label for="editemployeegender" class="form-label">Civil Status</label>
                          <select class="form-select" id="editemployeecivilstatus" name="editemployeecivilstatus">
                            <option selected>Choose</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Separated">Separated</option>
                            <option value="Widow">Widow</option>
                          </select>
                        </div>
                        <div class="col-md-8">
                          <label for="editemployeeaddress" class="form-label">Address</label>
                          <input type="text" class="form-control" id="editemployeeaddress" name="editemployeeaddress"
                            value="Maligaya 7">
                        </div>
                      </div>
                      <br>
                      <div class="row g-3">
                        <div class="col">
                          <label for="editemployeebday" class="form-label">Birthday</label>
                          <input type="date" class="form-control" id="editemployeebday" name="editemployeebday"
                            01-01-1990>
                        </div>
                        <div class="col">
                          <label for="editemployeephone" class="form-label">Phone Number</label>
                          <input type="number" class="form-control" id="editemployeephone" name="editemployeephone">
                        </div>
                        <div class="col">
                          <label for="editemployeeemail" class="form-label">Email</label>
                          <input type="email" class="form-control" id="editemployeeemail" name="editemployeeemail">
                        </div>
                      </div>
                      <br>
                      <div class="row g-3">
                        <div class="col">
                          <label for="editemployeejobstatus" class="form-label">Jobstatus</label>
                          <select class="form-select" id="editemployeejobstatus" name="editemployeejobstatus" disabled>
                            <option value="regular">Regular</option>
                            <option value="probitionary">Probitionary</option>
                            <option value="resigned">Resigned</option>
                            <option value="end_of_contract">End Of Contract</option>
                            <option value="terminated">Terminate</option>
                          </select>
                        </div>
                        <div class="col">
                          <label for="editemployeehiredate" class="form-label">Hire Date</label>
                          <input type="date" class="form-control" id="editemployeehiredate" name="editemployeehiredate">
                        </div>
                        <div class="col">
                          <label for="editemployeedepartment" class="form-label">Department</label>
                          <select class="form-select" id="editemployeedepartment" name="editemployeedepartment">
                            <option selected>Choose...</option>
                          </select>
                        </div>
                        <div class="col">
                          <label for="editemployeeposition" class="form-label">Position</label>
                          <select class="form-select" id="editemployeeposition" name="editemployeeposition">
                            <option selected>Choose...</option>
                          </select>
                        </div>
                        <br>
                        <div class="row g-3">
                          <div class="col">

                            <label for="editemployeehiredate" class="form-label">Available No. of Leave Days</label>
                            <input type="text" class="form-control" id="editemployeehiredate"
                              name="editemployeehiredate" value="5">
                          </div>
                          <div class="col">
                            <label for="editemployeeemergencyname" class="form-label">Emergency Contact Name</label>
                            <input type="text" class="form-control" id="editemployeeemergencyname"
                              name="editemployeeemergencyname" value="wendell">
                          </div>
                          <div class="col">
                            <label for="editemployeeemergencyphone" class="form-label">Emergency Contact Phone</label>
                            <input type="text" class="form-control" id="editemployeeemergencyphone"
                              name="editemployeeemergencyphone" value="09205844176">
                          </div>
                        </div>
                        <br>
                        <div class="col-12" style="margin-left: 90%;">
                          <button type="submit" class="btn btn-primary" id="editsavebtn"
                            name="editsavebtn">Save</button>
                        </div>
                    </form>
                  </div>
                </div>

                <!-- Leave History -->
                <div class="tab-pane fade" id="pills-leaves" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="card-body">
                    <div class="table-responsive" id="table-responsive-id">
                      <table class="table table-striped" id="dataTabledepartment">
                        <thead>
                          <tr>
                            <th>Date Started</th>
                            <th>Date Finished</th>
                            <th>Leave Type</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

                <!-- Disciplinary -->
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="card-body">
                    <div class="table-responsive" id="table-responsive-id">
                      <table class="table table-striped" id="dataTabledisciplianary">
                        <thead>
                          <tr>
                            <th>Action Code</th>
                            <th>Offense ID</th>
                            <th>Description</th>
                            <th>Created Date</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- training training -->
                <div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="card-body">
                    <div class="table-responsive" id="table-responsive-id">
                      <table class="table table-striped" id="dataTabletraining">
                        <thead>
                          <tr>
                            <th>Training Name</th>
                            <th>Date Started</th>
                            <th>Date Finished</th>
                            <th>Location</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- healh record -->
                <div class="tab-pane fade" id="pills-healthrecord" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="card-body">
                    <div class="table-responsive" id="table-responsive-id">
                      <table class="table table-striped" id="dataTablehealthrecord">
                        <thead>
                          <tr>
                            <th>Blood Type</th>
                            <th>Medical Condition</th>
                            <th>Prescribe Medication</th>
                            <th>Last Checkup</th>
                            <th>Insurance</th>
                            <th>Insurance ID</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- attendance -->
                <div class="tab-pane fade" id="pills-attendance" role="tabpanel" aria-labelledby="pills-attendance">
                  <div class="card-body">
                    <div class="table-responsive" id="table-responsive-id">
                      <table class="table table-striped" id="dataTableattendance">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Clock In</th>
                            <th>Device In</th>
                            <th>Clock Out</th>
                            <th>Device Out</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- Goverment ID -->
                <div class="tab-pane fade" id="pills-govermentid" role="tabpanel" aria-labelledby="pills-govermentid">
                  <div class="card-body">
                    <div class="table-responsive" id="table-responsive-id">
                      <table class="table table-striped" id="dataTablegovermentid">
                        <thead>
                          <tr>
                            <th>ID Type</th>
                            <th>ID Number</th>
                            <th>Issue Daten</th>
                            <th>Expiry Date</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="reloadPage()">Close</button>
          </div>
        </div>
      </div>
    </div>