<h1 class="font-weight-bold text-danger" id="head-title">OJT</h1>

<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header py-3">
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addemployeemodal">
        + Add New
      </button>
        <input id='myInput' onkeyup='searchTable()' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-striped" id="dataTabledepartment">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date started</th>
                        <th>Remaining Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="holidaymodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Holiday</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="col">
                        <div class="form-floating">
                        <input type="date" class="form-control" id="holidaydate" name="holidaydate">
                        <label for="floatingInput">Date</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="holidaydescription" name="holidaydescription" placeholder="Description">
                        <label for="floatingInput">Description</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="holidaycreatedby" name="holidaycreatedby" placeholder="Created By">
                        <label for="floatingInput">Created By</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="holidaytstatus" name="holidaytstatus" aria-label="Floating label select example">
                              <option selected>Status</option>
                              <option value="1">Active</option>
                              <option value="2">Inactive</option>
                            </select>
                            <label for="floatingSelectGrid">Holiday</label>
                          </div>
                    </div>
                    <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="holidaysavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editdepartmentmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Holiday</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                    <input type="date" class="form-control" id="editholidaydate" name="editholidaydate">
                    <label for="floatingInput">Date</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="editholidaydescription" name="editholidaydescription" placeholder="Description">
                    <label for="floatingInput">Description</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="editholidaycreatedby" name="editholidaycreatedby" placeholder="Created By">
                    <label for="floatingInput">Created By</label>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="editholidaytstatus" name="editholidaytstatus" aria-label="Floating label select example">
                          <option selected>Status</option>
                          <option value="1">Active</option>
                          <option value="2">Inactive</option>
                        </select>
                        <label for="floatingSelectGrid">Holiday</label>
                      </div>
                </div>
                <br>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editholidaysavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>