<script>
  let base64String = "";
  let imageBase64Stringsep = "";
  let ojtid = "";

  $(document).ready(function () {
    LoadTable();
    LoadModal();
    LoadEditModal();
    searchTable();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableOjt").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/ojt/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editojtmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              var imgElement = document.createElement("img");
              imgElement.src = "data:image/jpg;base64," + item.image;
              imgElement.alt = "Profile Image";
              imgElement.style.width = "90px";
              imgElement.style.height = "90px";

              finalData.push({
                image: imgElement.outerHTML,
                id: item.id,
                Name: item.Name,
                DateStarted: item.DateStarted,
                TotalHours: item.TotalHours,
                AcumulatedHours: item.AcumulatedHours,
                RemainingHours: item.RemainingHours,
                // EndDate: item.EndDate,
                EndDate: new Date(item.EndDate).toLocaleDateString(),
                Status: item.Status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "image" },
          { data: "id" },
          { data: "Name" },
          { data: "DateStarted" },
          { data: "TotalHours" },
          { data: "AcumulatedHours" },
          { data: "RemainingHours" },
          { data: "EndDate" },
          { data: "Status" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    $(document).on("click", "#ojtsavebtn", function () {
      let image = base64String;
      let firstname = $("#ojtfname").val();
      let lastname = $("#ojtlname").val();
      let address = $("#ojtaddress").val();
      let status = $("#ojtstatus").val();
      let birthday = $("#ojtbirthday").val();
      let gender = $("#ojtgender").val();
      let phone = $("#ojtphone").val();
      let ercontact = $("#ojtecname").val();
      let ercontactnumber = $("#ojtecphone").val();
      let school = $("#ojtschool").val();
      let department = $("#ojtdepartment").val();
      let startdate = $("#ojtstartdate").val();
      let hours = $("#ojthours").val();

      var message = "";

      if (image == "") {
        message += "TITTLE ";
      }

      if (firstname == "") {
        message += "DESCRIPTION ";
      }

      if (lastname == "") {
        message += "TITTLE ";
      }

      if (address == "") {
        message += "DESCRIPTION ";
      }

      if (status == "") {
        message += "TITTLE ";
      }

      if (birthday == "") {
        message += "TITTLE ";
      }

      if (gender == "") {
        message += "TITTLE ";
      }

      if (phone == "") {
        message += "DESCRIPTION ";
      }

      if (ercontact == "") {
        message += "TITTLE ";
      }

      if (ercontactnumber == "") {
        message += "DESCRIPTION ";
      }

      if (school == "") {
        message += "DESCRIPTION ";
      }

      if (department == "") {
        message += "DESCRIPTION ";
      }

      if (startdate == "") {
        message += "DESCRIPTION ";
      }

      if (hours != "") {
        hours = convertToHoursFormat(hours);
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/ojt/save",
          data: {
            image: image,
            firstname: firstname,
            lastname: lastname,
            address: address,
            status: status,
            birthday: birthday,
            gender: gender,
            phone: phone,
            ercontact: ercontact,
            ercontactnumber: ercontactnumber,
            school: school,
            department: department,
            startdate: startdate,
            hours: hours,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    function LoadModal() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#ojtdepartment").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadEditModal() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#editojtdepartment").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTableOjt tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      ojtid = dataRow[1];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/ojt/getojt",
        data: {
          ojtid: ojtid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editdepartmentid").val(item.ojtid);
              $("#editpreview").attr(
                "src",
                "data:image/jpg;base64," + item.image
              );
              base64String = item.image;
              $("#editojtfname").val(item.firstname);
              $("#editojtlname").val(item.lastname);
              $("#editojtaddress").val(item.address);
              $("#editojtstatus").val(item.status);
              $("#editojtbirthday").val(item.birthday);
              $("#edditojtgender").val(item.gender);
              $("#editojtphone").val(item.phone);
              $("#editojtecname").val(item.ercontact);
              $("#editojtecphone").val(item.ercontactnumber);
              $("#editojtschool").val(item.school);
              $("#editojtdepartment").val(item.department);
              $("#editojtstartdate").val(item.startdate);
              $("#editojthours").val(item.hours.split(":")[0]);
            });
          } else {
            swal("Error fetching employee data", message, "error");
          }
        },
        error: function (err) {
          swal(
            "An error occurred while fetching employee data",
            message,
            "error"
          );
        },
      });
    });

    $(document).on("click", "#editojtsavebtn", function () {
      console.log("Save button clicked");
      let id = ojtid;
      let image = base64String;
      let firstname = $("#editojtfname").val();
      let lastname = $("#editojtlname").val();
      let address = $("#editojtaddress").val();
      let status = $("#editojtstatus").val();
      let birthday = $("#editojtbirthday").val();
      let gender = $("#edditojtgender").val();
      let phone = $("#editojtphone").val();
      let ercontact = $("#editojtecname").val();
      let ercontactnumber = $("#editojtecphone").val();
      let school = $("#editojtschool").val();
      let department = $("#editojtdepartment").val();
      let startdate = $("#editojtstartdate").val();
      let hours = $("#editojthours").val();

      var message = "";

      if (image === "") {
        message += "image is required. ";
      }

      if (firstname === "") {
        message += "firstname is required. ";
      }

      if (lastname === "") {
        message += "lastname is required. ";
      }

      if (address === "") {
        message += "address is required. ";
      }

      if (status === "") {
        message += "status is required. ";
      }

      if (birthday === "") {
        message += "birthday is required. ";
      }

      if (gender === "") {
        message += "gender is required. ";
      }

      if (phone === "") {
        message += "phone is required. ";
      }

      if (ercontact === "") {
        message += "ercontact is required. ";
      }
      if (ercontactnumber === "") {
        message += "ercontactnumber is required. ";
      }

      if (school === "") {
        message += "school is required. ";
      }

      if (department === "") {
        message += "department is required. ";
      }

      if (startdate === "") {
        message += "startdate is required. ";
      }

      if (hours !== "") {
        hours = convertToHoursFormat(hours);
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "ojt/update",
          data: {
            ojtid: id,
            image: image,
            firstname: firstname,
            lastname: lastname,
            address: address,
            status: status,
            birthday: birthday,
            gender: gender,
            phone: phone,
            ercontact: ercontact,
            ercontactnumber: ercontactnumber,
            school: school,
            department: department,
            startdate: startdate,
            hours: hours,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal(
                "Data already exists!",
                "You clicked the button!",
                "warning"
              );
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });

    function convertToHoursFormat(hours) {
      if (isNaN(hours)) {
        return "Invalid input";
      }

      // Convert the number to an integer
      hours = parseInt(hours);

      // Calculate hours and minutes
      const formattedHours = Math.floor(hours);
      const minutes = Math.round((hours - formattedHours) * 60);

      // Format the result as HH:mm
      const formattedTime = `${formattedHours
        .toString()
        .padStart(2, "0")}:${minutes.toString().padStart(2, "0")}`;

      return formattedTime;
    }

    // const formattedTime = convertToHoursFormat(input);
    // console.log(formattedTime);

    $(document).on("change", "#ojtprofileimage", function (e) {
      const input = document.getElementById("ojtprofileimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("preview");
        preview.src = reader.result;
      };
      imageUploaded();
    });

    function imageUploaded() {
      const input = document.getElementById("ojtprofileimage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");

          // Set the canvas dimensions to the desired size
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;

          // Draw the image on the canvas with the new dimensions
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);

          // Convert the canvas content to a Base64 string
          base64String = canvas.toDataURL().replace("data:image/png;base64,", ""); // Change format if needed

          // Display or use the base64String as needed
          console.log(base64String);
          imageBase64Stringsep = base64String;
        };

        // base64String = reader.result.replace("data:", "").replace(/^.+,/, "");
      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#editojtprofileimage", function (e) {
      const input = document.getElementById("editojtprofileimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      imageUploadededit();
    });

    function imageUploadededit() {
      const input = document.getElementById("editojtprofileimage");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");

          // Set the canvas dimensions to the desired size
          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;

          // Draw the image on the canvas with the new dimensions
          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);

          // Convert the canvas content to a Base64 string
          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", ""); // Change format if needed

          // Display or use the base64String as needed
          // console.log(base64String);
          imageBase64Stringsep = base64String;
        };

        // base64String = reader.result.replace("data:", "").replace(/^.+,/, "");
      };
      reader.readAsDataURL(file);
    }
    // function imageUploaded() {
    //   const input = document.getElementById("editojtprofileimage");
    //   const file = input.files[0];

    //   var reader = new FileReader();

    //   reader.onload = function () {
    //     base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

    //     imageBase64Stringsep = base64String;

    //   };
    //   // reader.readAsDataURL(file);
    // }
  });

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableOjt");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }
</script>
