<ul class="navbar-nav sidebar-bg sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/teamleadindex">
        <img class="img-profile rounded-circle"
            src="/images/img/whitelogo.png" style="width: 50%; margin-left: -10px;">
            <div class="sidebar-brand-text mx-3"><%= accesstype%></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/teamleadindex">
            <lord-icon src="https://cdn.lordicon.com/kgvlhryh.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
           <span style="color: white !important;"><b>Dashboard</b></span>
        </a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
<%if (accesstype == 'Department Head' || accesstype == 'Manager' || accesstype == 'Supervisor' || accesstype == 'Team Leader') {%>
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseemployee"
            aria-expanded="true" aria-controls="collapseemployee">
            <lord-icon src="https://cdn.lordicon.com/fmasbomy.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>Employee</b></span>
        </a>

        <div id="collapseemployee" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleademployee">List of Employee</a>
                <a class="collapse-item" href="/teamleadattendance">Attendance</a>
                <a class="collapse-item" href="/teamleadmanualotmeal">Team Lead OT Meal</a>
                <% if (accesstype == 'Department Head' || accesstype == 'Manager' || accesstype == 'Supervisor') {%>
                <a class="collapse-item" href="/teamleadshift">Shift</a>
                <a class="collapse-item" href="/teamleadshiftadjustment">Shift Adjustments</a>
                <% }%>
            </div>
        </div>
    </li>
<% }%>


<%if (accesstype == 'Department Head' || accesstype == 'Manager' || accesstype == 'Supervisor' || accesstype == 'Team Leader') {%>
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsecoa"
            aria-expanded="true" aria-controls="collapsecoa">
            <lord-icon src="https://cdn.lordicon.com/svsiboke.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>COA</b></span></a>
        </a>
  
        <div id="collapsecoa" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadcoa">Total COA</a>
                <a class="collapse-item" href="/teamleadpendingcoa">Pending COA</a>
                <a class="collapse-item" href="/teamleadapprovedcoa">Approved COA</a>
            </div>
        </div>
    </li>


    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseovertime"
            aria-expanded="true" aria-controls="collapseovertime">
            <lord-icon src="https://cdn.lordicon.com/lsrcesku.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>Overtime</b></span>
        </a>
  
        <div id="collapseovertime" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadovertime">Total Overtime</a>
                <a class="collapse-item" href="/teamleadappliedovertime">Applied Overtime</a>
                <a class="collapse-item" href="/teamleadapprovedovertime">Approved Overtime</a>
            </div>
        </div>
    </li>

    
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseob"
            aria-expanded="true" aria-controls="collapseob">
            <lord-icon
            src="https://cdn.lordicon.com/gznfrpfp.json"
            trigger="loop" class="db-icon-hrmis">
        </lord-icon>
            <span><b>Official Business</b></span>
        </a>
  
        <div id="collapseob" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadob">All Request</a>
                <a class="collapse-item" href="/teamleadobapplied">Applied</a>
                <a class="collapse-item" href="/teamleadobapprove">Approved</a>
            </div>
        </div>
    </li>


    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseotmeal"
            aria-expanded="true" aria-controls="collapseotmeal">
            <lord-icon src="https://cdn.lordicon.com/yeoppmgu.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>OT Meal</b></span>
        </a>
  
        <div id="collapseotmeal" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <!-- <a class="collapse-item" href="">Total OT Meal</a> -->
                <a class="collapse-item" href="/teamleadappliedotmeal">Applied OT Meal</a>
                <a class="collapse-item" href="/teamleadapprovedotmeal">Approved OT Meal</a>
            </div>
        </div>
    </li>

    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseholiday"
            aria-expanded="true" aria-controls="collapseholiday">
            <lord-icon src="https://cdn.lordicon.com/janaytca.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>Holiday</b></span>
        </a>
  
        <div id="collapseholiday" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadtotalholiday">Total Holiday</a>
                <a class="collapse-item" href="/teamleadholiday">Applied Holiday</a>
                <a class="collapse-item" href="/teamleadapprovedholiday">Approved Holiday</a>
                <a class="collapse-item" href="/teamleadrejectholiday">Reject Request Holiday</a>
            </div>
        </div>
    </li>


    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseleave"
            aria-expanded="true" aria-controls="collapseleave">
            <lord-icon src="https://cdn.lordicon.com/eoacwhtz.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>Leave</b></span>
        </a>
  
        <div id="collapseleave" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadleave">Total Leave</a>
                <a class="collapse-item" href="/teamleadpendingleave">Pending Leave</a>
                <a class="collapse-item" href="/teamleadapprovedleave">Approved Leave</a>
            </div>
        </div>
    </li>

    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapserdot"
            aria-expanded="true" aria-controls="collapserdot">
            <lord-icon src="https://cdn.lordicon.com/emglzyuh.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>Rest Day OT</b></span>
        </a>
  
        <div id="collapserdot" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadrdot">Total Rest Day OT</a>
                <a class="collapse-item" href="/teamleadappliedrdot">Applied Rest Day OT</a>
                <a class="collapse-item" href="/teamleadapprovedrdot">Approved Rest Day OT</a>
                <a class="collapse-item" href="/teamleadrejectrdot">Rejected Rest Day OT</a>
                <!-- <a class="collapse-item" href="/teamleadapprovedleave">Approved Leave</a> -->
            </div>
        </div>
    </li>


    <li class="nav-item sidebar-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsegeofence"
            aria-expanded="true" aria-controls="collapsegeofence">
            <lord-icon src="https://cdn.lordicon.com/okdadkfx.json" trigger="loop" class="db-icon-hrmis">
            </lord-icon>
            <span><b>Geofence</b></span></a>
        </a>
  
        <div id="collapsegeofence" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/teamleadgeofence">Geofence Map</a>
                <a class="collapse-item" href="/teamleadgeofenceemp">Geofence of Employee</a>
            </div>
        </div>
    </li>
<% }%>

    <!-- Divider -->
    <hr class="sidebar-divider d-md-block">

    <!--Sidebar Toggler (Sidebar)-->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->
    
   
</ul>