<div class="navbar navbar-expand navbar-expand-lg topbar">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3 bars">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form id="searchForm" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 navbar-search">
        <div class="input-group">
            <input id="searchInput" type="text" class="form-control" placeholder="Search Employee Name here...."
                aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
            <div class="input-group-append">
                <button id="searchButton" class="btn btn-search-topbar" type="submit">
                    <i class="bi bi-search-heart"></i>
                </button>
            </div>
        </div>
    </form>
    <div id="autocompleteDropdown" class="dropdown-menu drop-search"></div>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw db-search-hrmis"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in searchbar-bg"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control searchbar-hrmis" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-search-hrmis" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <lord-icon src="https://cdn.lordicon.com/lznlxwtc.json" state="loop-bell" colors="primary:#e8e230"
                    class="db-bell-hrmis">
                </lord-icon>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger" id="badge-counter"></span>
            </a>
            <!-- Dropdown - Alerts -->
            <div id="notifmenu" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header" id="dp-header">
                    Alerts Center
                </h6>
                <a id="notiftextcenter" class="dropdown-item text-center small text-gray-500" href="#">Clear
                    Notifications</a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <lord-icon src="https://cdn.lordicon.com/nqisoomz.json"
                    colors="primary:#66d7ee,secondary:#3080e8,tertiary:#66d7ee,quaternary:#8b2525"
                    class="db-message-hrmis">
                </lord-icon>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header" id="dp-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/images/img/undraw_profile_1.svg" alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                            problem I've been having.</div>
                        <div class="dropdown-text-item">Emily Fowler 路 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/images/img/undraw_profile_2.svg" alt="...">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">I have the photos that you ordered last month, how
                            would you like them sent to you?</div>
                        <div class="dropdown-text-item">Jae Chun 路 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/images/img/undraw_profile_3.svg" alt="...">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Last month's report looks great, I am very happy with
                            the progress so far, keep up the good work!</div>
                        <div class="dropdown-text-item">Morgan Alvarez 路 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                            told me that people say this to all dogs, even if they aren't good...</div>
                        <div class="dropdown-text-item">Chicken the Dog 路 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center dropdown-text-item" href="#">Read More Messages</a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Toast container (place this in your HTML where you want to show toasts) -->
        <div id="toast-container" aria-live="polite" aria-atomic="true" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;"></div>


        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small user-topbar">
                    <%= fullname%>
                </span>
                <img class="img-profile rounded-circle topbar-profile-img" src="data:image/jpg;base64,<%= image%>">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in profile-divider-db"
                aria-labelledby="userDropdown">
                <a class="dropdown-item profile-box-db" href="#">
                    <lord-icon src="https://cdn.lordicon.com/fmasbomy.json" class="user-prof-icon">
                    </lord-icon>
                    Profile
                </a>
                <a class="dropdown-item profile-box-db" href="/settings">
                    <lord-icon src="https://cdn.lordicon.com/dvqeipeg.json" class="settings-icon">
                    </lord-icon>
                    Settings
                </a>
                <a class="dropdown-item profile-box-db" href="#">
                    <lord-icon src="https://cdn.lordicon.com/ujxzdfjx.json" class="log-icon">
                    </lord-icon>
                    Activity Log
                </a>
                <div class="dropdown-divider profile-box-db"></div>
                <a class="dropdown-item profile-box-db" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class='bx bx-log-in-circle logout-icon'></i>
                    Log Out
                </a>
            </div>
        </li>
    </ul>

</div>


<!--Modal-->
<div class="modal fade" id="modal-backdrop-dark" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <lord-icon src="https://cdn.lordicon.com/ujxzdfjx.json" stroke="bold"
                colors="primary:#000000,secondary:#eee966" class="db-hrmis">
            </lord-icon>
                <h1 class="modal-title" id="notiftittle"></h1>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" id="isRead" aria-label="Close"></button> -->
                <i class='bx bx-x' data-bs-dismiss="modal" id="isRead" aria-label="CLose"></i>
            </div>
            <div class="modal-body">
                <div class="p-4 text-center">        
                    <p id="notifdescription" class="notifdescription"></p>
                </div>
                <div class="text-center">
                    <p id="notifsubdescription" class="notifsubdescription"></p>
                </div>
                <div class="p-4">
                    <p id="notifdate" class="notifdate"></p>
                </div>


            </div>
            <!-- <div class="modal-body">
                <div class="p-4 text-center">
                    <p id="notifsubdescription"></p>
                </div>
            </div>
            <div class="modal-body">
                <div class="p-4 text-center">
                    <p id="notifdate"></p>
                </div>
            </div> -->
            <br>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-notif-close" data-bs-dismiss="modal" id="isRead">Close</button>
                <button type="button" class="btn btn-notif-delete" data-bs-dismiss="modal" id="siDeleate">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--Profile Modal-->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h5 class="modal-title fs-5" id="profileModalLabel">Employee Profile</h5>
                <button type="button" class="bx bx-x" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="content">
                    <div class="profile-header">
                        <div class="profile-header-cover"></div>

                        <div class="profile-header-content">
                            <div class="profile-header-img">
                                <img id="profilepreview" alt="avatar" alt="" style="width: 150px; height: 100px;" />
                            </div>

                            <div class="profile-header-info">
                                <h4 class="m-t-sm" id="profilefullname"></h4>
                                <p class="m-b-sm" id="profileposition"></p>
                                <h3 class="m-t-sm" id="profileid"></h3>
                            </div>
                        </div>

                        <ul class="profile-header-tab nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" data-bs-target="#profile-home" role="tab"
                                    aria-controls="profile-home" class="nav-link active"><b>PROFILE</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showleavehistorysearch" data-bs-target="#profile-leave"
                                    role="tab" aria-controls="profile-leave" class="nav-link "><b>LEAVE HISTORY</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showdisciplinaryprofile"
                                    data-bs-target="#profile-disciplinary" role="tab"
                                    aria-controls="profile-disciplinary" class="nav-link "><b>DISCIPLINARY</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showattendancesearch " data-bs-target="#profile-attendance"
                                    role="tab" aria-controls="profile-attendance" class="nav-link"><b>ATTENDANCE</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showtrainingprofile" data-bs-target="#profile-trainings"
                                    role="tab" aria-controls="profile-trainings" class="nav-link "><b>TRAININGS</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showhealthprofile" data-bs-target="#profile-healthdata"
                                    role="tab" aria-controls="profile-healthdata" class="nav-link "><b>HEALTH DATA</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showgovprofile" data-bs-target="#profile-govid" role="tab"
                                    aria-controls="profile-govid" class="nav-link "><b>GOV ID</b></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-bs-toggle="pill" id="showleavehistory" data-bs-target="#profile-cashadvance"
                                    role="tab" aria-controls="profile-cashadvance" class="nav-link "><b>CASH ADVANCED</b></a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <!--Profile-->
                        <div class="tab-pane fade show active" id="profile-home" role="tabpanel"
                            aria-labelledby="profile-home-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <table class="table table-profile">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" class="work-header">WORK AND EDUCATION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="field text-left work-field">Work:</td>
                                                            <td class="value">
                                                                <div id="backgroundWorkContainer">
                                                                   
                                                                  </div>
                                                                <br>
                                                              
                                                            </td>
                                                        </tr>                                                   
                                                        <td class="field text-left work-field">Education:</td>
                                                            <td class="value">
                                                                <div id="backgroundEducationContainer">
                                                                  </div>
                                                                <br>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <td class="field text-left work-field">Skills:</td>
                                                            <td class="value">
                                                                <span class="work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</span>
                                                              
                                                            </td>
                                                        </tr> -->
                                                        <tr>
                                                            <td class="field text-left work-field">Tenure:</td>
                                                            <td class="value work-subtitle" id="profiltenure">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Job Status:</td>
                                                            <td class="value work-subtitle" id="profilejobstatus"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table table-profile">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" class="work-header">CONTACT INFORMATION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="field text-left work-field">Mobile Phone Number:</td>
                                                            <td class="value work-subtitle" id="profilephone2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Email:</td>
                                                            <td class="value work-subtitle" id="profileemail"></td>
                                                        </tr>
                                                        <tr> 
                                                            <td class="field text-left work-field">Emergency Contact Name:</td>
                                                            <td class="value work-subtitle" id="profileemcontact"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Emergency Contact Number:</td>
                                                            <td class="value work-subtitle" id="profileemphone"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Address:</td>
                                                            <td class="value work-subtitle" id="profileaddress2"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table table-profile">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" class="work-header">BASIC INFORMATION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="field text-left work-field">Birth of Date:</td>
                                                            <td class="value work-subtitle" id="profilebday2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Gender:</td>
                                                            <td class="value work-subtitle" id="profilegender"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Facebook:</td>
                                                            <td class="value work-subtitle">http://facebook.com/infinite.admin
                                                                <!-- <a href="#" class="m-l-10">Edit</a> -->
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-left work-field">Website:</td>
                                                            <td class="value work-subtitle">http://seantheme.com
                                                                <!-- <a href="#" class="m-l-10">Edit</a> -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartment"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profileposition2"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Hire Date: </div>
                                                <div class="value work-subtitle" id="profilehiredate"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebday"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatus"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddress">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title ">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephone">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Leave-->
                        <div class="tab-pane fade " id="profile-leave" role="tabpanel"
                            aria-labelledby="profile-leave-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <table class="table table-striped" id="dataTableleaveprofilesearch">
                                                    <thead>
                                                        <tr>
                                                            <th>Date Started</th>
                                                            <th>Date Finished</th>
                                                            <th>Leave Type</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">LEAVE STATUS</li>
                                            <li>
                                                <div class="field personal-title">Leave Type:</div>
                                                <div class="value work-subtitle" id="leavetype"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Total Leave Days</div>
                                                <div class="value work-subtitle" id="totalleavedays"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Total Unused Leaves:</div>
                                                <div class="value work-subtitle" id="totalunusedleave"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Total Used Leaves</div>
                                                <div class="value work-subtitle" id="totaluseddleave"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Leave Status</div>
                                                <div class="value work-subtitle" id="leavestatus"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Disciplinary-->
                        <div class="tab-pane fade " id="profile-disciplinary" role="tabpanel"
                            aria-labelledby="profile-disciplinary-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <table class="table table-striped" id="dataTabledisciplianaryprofile">
                                                    <thead>
                                                        <tr>
                                                            <th>Action Code</th>
                                                            <th>Offense ID</th>
                                                            <th>Description</th>
                                                            <th>Created Date</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="field personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartmentdisciplinary"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profilepositiondisciplinary"></div>
                                            </li>
                                            <!-- <li>
                                                <div class="field personal-title">Skills:</div>
                                                <div class="value work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                            </li> -->
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebdaydisciplinary"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatusdisciplinary"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddressdisciplinary">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephonedisciplinary">
                                                </div>
                                            </li>
                                            <!-- <li class="title">FRIEND LIST (9)</li>
                                            <li class="img-list">
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Attendance-->
                        <div class="tab-pane fade " id="profile-attendance" role="tabpanel"
                            aria-labelledby="profile-attendance-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8 error404">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <div class="tab-content p-0">
                                                    <div class="tab-pane active show" id="profile-about">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="field personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartment"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profileposition2"></div>
                                            </li>
                                            <!-- <li>
                                                <div class="field personal-title">Skills:</div>
                                                <div class="value work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                            </li> -->
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebday"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatus"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddress">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephone">
                                                </div>
                                            </li>
                                            <!-- <li class="title">FRIEND LIST (9)</li>
                                            <li class="img-list">
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Trainnings-->
                        <div class="tab-pane fade " id="profile-trainings" role="tabpanel"
                            aria-labelledby="profile-trainings-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <table class="table table-striped" id="dataTabletrainingprofile">
                                                    <thead>
                                                        <tr>
                                                            <th>Training Name</th>
                                                            <th>Date Started</th>
                                                            <th>Date Finished</th>
                                                            <th>Location</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="field personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartmenttraining"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profilepositiontraining"></div>
                                            </li>
                                            <!-- <li>
                                                <div class="field personal-title">Skills:</div>
                                                <div class="value work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                            </li> -->
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebdaytraining"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatustraining"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddresstraining">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephonetraining">
                                                </div>
                                            </li>
                                            <!-- <li class="title">FRIEND LIST (9)</li>
                                            <li class="img-list">
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Health Data-->
                        <div class="tab-pane fade " id="profile-healthdata" role="tabpanel"
                            aria-labelledby="profile-healthdata-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <table class="table table-striped" id="dataTablehealthrecordprofile">
                                                    <thead>
                                                        <tr>
                                                            <th>Blood Type</th>
                                                            <th>Medical Condition</th>
                                                            <th>Prescribe Medication</th>
                                                            <th>Last Checkup</th>
                                                            <th>Insurance</th>
                                                            <th>Insurance ID</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="field personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartmenthealth"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profilepositionhealth"></div>
                                            </li>
                                            <!-- <li>
                                                <div class="field personal-title">Skills:</div>
                                                <div class="value work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                            </li> -->
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebdayhealth"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatushealth"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddresshealth">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephonehealth">
                                                </div>
                                            </li>
                                            <!-- <li class="title">FRIEND LIST (9)</li>
                                            <li class="img-list">
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Gov Id-->
                        <div class="tab-pane fade " id="profile-govid" role="tabpanel"
                            aria-labelledby="profile-govid-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                                <table class="table table-striped" id="dataTablegovermentidprofile">
                                                    <thead>
                                                        <tr>
                                                            <th>ID Type</th>
                                                            <th>ID Number</th>
                                                            <th>Issue Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="field personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartmentgov"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profilepositiongov"></div>
                                            </li>
                                            <!-- <li>
                                                <div class="field personal-title">Skills:</div>
                                                <div class="value work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                            </li> -->
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebdaygov"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatusgov"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddressgov">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephonegov">
                                                </div>
                                            </li>
                                            <!-- <li class="title">FRIEND LIST (9)</li>
                                            <li class="img-list">
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Cash Advance-->
                        <div class="tab-pane fade " id="profile-cashadvance" role="tabpanel"
                            aria-labelledby="profile-cashadvance-tab">
                            <div class="profile-container">
                                <div class="row row-space-20">
                                    <div class="col-md-8 coming_soon">
                                        <div class="tab-content p-0">
                                            <div class="tab-pane active show" id="profile-about">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 hidden-xs hidden-sm">
                                        <ul class="profile-info-list">
                                            <li class="personal-field">PERSONAL INFORMATION</li>
                                            <li>
                                                <div class="field personal-title">Department:</div>
                                                <div class="value work-subtitle" id="profiledepartment"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Position:</div>
                                                <div class="value work-subtitle" id="profileposition2"></div>
                                            </li>
                                            <!-- <li>
                                                <div class="field personal-title">Skills:</div>
                                                <div class="value work-subtitle">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel,
                                                    Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                            </li> -->
                                            <li>
                                                <div class="field personal-title">Birth of Date:</div>
                                                <div class="value work-subtitle" id="profilebday"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Civil Status:</div>
                                                <div class="value work-subtitle" id="profilecicilstatus"></div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Address:</div>
                                                <div class="value work-subtitle">
                                                    <address class="m-b-0" id="profileaddress">
                                                        <br />
                                                        <br />
                                                    </address>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field personal-title">Phone No.:</div>
                                                <div class="value work-subtitle" id="profilephone">
                                                </div>
                                            </li>
                                            <!-- <li class="title">FRIEND LIST (9)</li>
                                            <li class="img-list">
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                                <a href="#" class="m-b-5"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>