<script>
    $(document).ready(function () {
      let employeeid = "<%=employeeid%>";
      let notificationId = "";
      let notificationIdClicked = "";
      loadNotifBadge();
      //sendEmployeeIDOnLoad();
  
      //#region NOTIFICATION
  
      // function sendEmployeeIDOnLoad() {
      //   console.log(employeeid);
      //   $.ajax({
      //     type: "POST",
      //     url: "/eportalindex/generatenotification",
      //     data: {
      //       employeeid: employeeid,
      //     },
      //     success: function (response) {
      //       console.log("Employee ID sent successfully on page load.");
      //     },
      //     error: function (err) {
      //       console.error("Error sending employee ID on page load:", err);
      //     },
      //   });
      // }
  
      function loadNotifBadge() {
        $.ajax({
          type: "GET",
          url: "/countunreadbadge",
          success: function (result) {
            if (result.msg === "success") {
              const totalUnread = result.data[0].Unreadcount;
              $("#badge-counter").text(totalUnread);
            } else {
              console.error("Error fetching data:", result.msg);
            }
          },
          error: function (err) {
            console.error("AJAX error:", err.statusText);
          },
        });
      }
      
      $(document).on("click", "#alertsDropdown", function () {
        console.log("HIT");
        $.ajax({
          type: "GET",
          url: "/loadnotif",
          success: function (result) {
            if (result.msg === "success") {
              const existingData = result.data;
              console.log(existingData);
              $("#notifdropdown").not("#dp-header, #notiftextcenter").remove();
              $.each(existingData, (key, item) => {
                const dropdownItem = `<a id="notifdropdown" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-backdrop-dark">
                          <div class="mr-3" id="viewbtn">
                              <div class="icon-circle bg-primary">
                                  <i class="fas fa-file-alt text-green"></i>
                              </div>
                          </div>
                          <div>
                              <div class="small text-gray-500"  id="viewbtn">${item.date}</div>
                              <span class="font-weight-bold" id="viewbtn">${item.tittle}</span>
                              <div class="small text-gray-550" style="visibility: hidden;" id="viewbtn">${item.notificationid}</div>
                          </div>
                      </a>`;
                $("#notifmenu").append(dropdownItem);
              });
  
              const modalElement = document.querySelector("#modal-backdrop-dark");
              if (modalElement) {
                $(modalElement).modal("hide");
              }
            } else {
              swal("Error fetching employee data", "success");
            }
          },
          error: function (err) {
            swal("An error occurred while fetching employee data", err, "error");
          },
        });
      });
  
      $(document).on(
        "click",
        "[data-bs-target='#modal-backdrop-dark']",
        function () {
          notificationId = $(this).find(".small.text-gray-550").text().trim();
          console.log("Modal Trigger - Notification ID:", notificationId);
        }
      );
  
      $(document).on("click", "#notifmenu #viewbtn", function () {
        console.log("View Button Clicked");
        console.log("View Button - Notification ID:", notificationId);
  
        const notificationIdClicked = $(this)
          .siblings(
            ".small.text-gray-550",
            ".small text-gray-500",
            ".font-weight-bold"
          )
          .text()
          .trim();
        console.log("Clicked Notification ID:", notificationIdClicked);
        $.ajax({
          type: "POST",
          url: "/viewnotif",
          data: {
            notificationIdClicked: notificationIdClicked,
          },
          success: function (result) {
            console.log("API Response:", result);
            if (result.msg === "success") {
              const existingData = result.data;
  
              console.log("Existing Data:", existingData);
  
              $.each(existingData, (key, item) => {
                $("#notiftittle").text(item.tittle);
                $("#notifdescription").text(item.description);
                $("#notifsubdescription").text(item.subdescription);
                // $("#editpreview").attr(
                //   "src",
                //   "data:image/jpg;base64," + item.image
                // );
                $("#notifdate").text(item.date);
              });
            } else {
              swal("Error fetching employee data", "success");
            }
          },
          error: function (err) {
            swal("An error occurred while fetching employee data", err, "error");
          },
        });
      });
  
      $(document).on("click", "#isRead", function () {
        let id = notificationId;
        $.ajax({
          type: "POST",
          url: "/readnotif",
          data: {
            notificationId: id,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Read Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                loadNotifBadge();
              });
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal("Data already exists!", "You clicked the button!", "warning");
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      });
  
      $(document).on("click", "#siDeleate", function () {
        let id = notificationId;
        $.ajax({
          type: "POST",
          url: "/deleatenotif",
          data: {
            notificationId: id,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Deleate Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                location.reload();
                //loadNotifBadge();
              });
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal("Data already exists!", "You clicked the button!", "warning");
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      });
  
      // $(document).on("change", "#editannouncementimage", function (e) {
      //   const input = document.getElementById("editannouncementimage");
      //   const file = input.files[0];
  
      //   const reader = new FileReader();
      //   reader.readAsDataURL(file);
      //   reader.onloadend = function () {
      //     const preview = document.getElementById("editpreview");
      //     preview.src = reader.result;
      //   };
      //   editimage();
      // });
  
      // function editimage() {
      //   const input = document.getElementById("editannouncementimage");
      //   const file = input.files[0];
  
      //   var reader = new FileReader();
  
      //   reader.onload = function () {
      //     base64String = reader.result.replace("data:", "").replace(/^.+,/, "");
  
      //     imageBase64Stringsep = base64String;
      //   };
      //   reader.readAsDataURL(file);
      // }
  
      //#endregion
    });
  </script>
  