<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <img class="img-profile rounded-circle"
            src="/images/img/whitelogo.png" style="width: 50%; margin-left: -10px;">
            <div class="sidebar-brand-text mx-0">EPORTAL</div>
    </a>

    <!-- Divider -->
    <hr class="bg-light sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/eportalindex">
            <lord-icon src="https://cdn.lordicon.com/kgvlhryh.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span style="color: white !important;"><b>Dashboard</b></span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportalsalary">
            <lord-icon src="https://cdn.lordicon.com/jzvoyjzb.json" trigger="loop"
                colors="primary:#000000,secondary:#16c72e,tertiary:#e8e230"  class="db-icon-eportal">
            </lord-icon>
            <span><b>Salary</b></span></a>
    </li>
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportalcoop">
            <lord-icon src="https://cdn.lordicon.com/jtiihjyw.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span><b>Coop</b></span></a>
    </li>
    <li class="nav-item sidebar-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseattendance "
            aria-expanded="true" aria-controls="collapseattendance">
            <lord-icon src="https://cdn.lordicon.com/qwjfapmb.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span><b>Attendance</b></span></a>
        </a>

        <div id="collapseattendance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/eportalattendance">All Attendance</a>
                <a class="collapse-item" href="/eportalrequestattendance">COA Request</a>
            </div>
        </div>
    </li>
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportalcashadvance">
            <lord-icon src="https://cdn.lordicon.com/dypzookn.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span><b>Cash Advance</b></span></a>
    </li>
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="eportalrequestleave">
            <lord-icon src="https://cdn.lordicon.com/eoacwhtz.json" trigger="loop"
            colors="primary:#121331,secondary:#f4dc9c,tertiary:#e83a30,quaternary:#c76f16,quinary:#1663c7,senary:#4d2c19,septenary:#ffffff" class="db-icon-eportal">
        </lord-icon>
            <span><b>Request Leave</b></span></a>
    </li>

    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportaldisciplinaryaction">
            <lord-icon src="https://cdn.lordicon.com/jqnbdcqr.json" trigger="loop" class="disciplinary-icon-eportal">
            </lord-icon>
            <span><b>Disciplinary Action</b></span></a>
    </li>

    <!-- Divider
    <hr class="sidebar-divider"> -->

    <br>
    <!-- Divider -->
    <hr class="bg-light sidebar-divider d-none d-md-block">

     <!--Sidebar Toggler (Sidebar)-->
     <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    
</ul>

<!-- Small Screen Navigation -->
<!-- <nav class="small-screen-nav"> -->
    <!-- Your small screen navigation content goes here -->
    <!-- You can use the same structure as the sidebar -->

    <!-- Sidebar - Brand -->
    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/eportalindex">
        <div class="sidebar-brand-text mx-3">5L Solution</div>
    </a> -->

    <!-- Nav Item - Dashboard -->
    <!-- <li class="nav-item active">
        <a class="nav-link" href="/eportalindex">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li> -->

    <!-- Interface Heading -->
    <!-- <div class="sidebar-heading">
        Interface
    </div> -->

    <!-- Nav Items -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="/eportalsalary">
            <i class="fas fa-fw fa-money-bill"></i>
            <span><b>Salary</b></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/eportalcoop">
            <i class="fas fa-fw fa-money-bill"></i>
            <span><b>Coop<</b>/span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/eportalattendance">
            <i class="fas fa-fw fa-wallet"></i>
            <span><b>Attendance</b></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/eportalcashadvance">
            <i class="fas fa-fw fa-wallet"></i>
            <span><b>Cash Advance</b></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="eportalrequestleave">
            <i class="fas fa-fw fa-file"></i>
            <span><b>Request Leave</b></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/eportaldisciplinaryaction">
            <i class="fas fa-fw fa-exclamation-triangle"></i>
            <span><b>Disciplinary Action</b></span></a>
    </li>

     -->
<!-- </nav> -->

