<ul class="navbar-nav sidebar-bg sidebar accordion sidebar-dark" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <img class="img-profile rounded-circle"
            src="/images/img/whitelogo.png" style="width: 50%; margin-left: -10px;">
            <div class="sidebar-brand-text mx-3">EPORTAL</div>
    </a>

    <!-- Divider -->
    <hr class="bg-light sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/eportalindex">
            <lord-icon src="https://cdn.lordicon.com/kgvlhryh.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span style="color: white !important;"><b>Dashboard</b></span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item sidebar-item">
        <a id="salaryLink" class="nav-link" data-mdb-modal-init data-mdb-target="#staticBackdrop5">
            <lord-icon src="https://cdn.lordicon.com/jzvoyjzb.json" trigger="loop"
                colors="primary:#000000,secondary:#16c72e,tertiary:#e8e230"  class="db-icon-eportal">
            </lord-icon>
            <span><b>Salary</b></span>
        </a>
    </li>    
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportalcoop">
            <lord-icon src="https://cdn.lordicon.com/jtiihjyw.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span><b>Coop</b></span></a>
    </li>
    <li class="nav-item sidebar-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseattendance "
            aria-expanded="true" aria-controls="collapseattendance">
            <lord-icon src="https://cdn.lordicon.com/qwjfapmb.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span><b>Attendance</b></span></a>
        </a>
        <div id="collapseattendance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded boxshadow-sidebar">
                <a class="collapse-item" href="/eportalattendance">My Attendance</a>
                <br>
                <div class="sidebar-heading">
                    REQUEST:
                </div>
                <hr class="bg-light sidebar-divider my-0">
                <a class="collapse-item" href="/eportalrequestattendance">COA</a>
                <a class="collapse-item" href="/eportalrequestovertime">Overtime</a>
                <a class="collapse-item" href="/eportalrequestleave">Leave</a>
            </div>
        </div>
    </li>
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportalcashadvance">
            <lord-icon src="https://cdn.lordicon.com/dypzookn.json" trigger="loop" class="db-icon-eportal">
            </lord-icon>
            <span><b>Cash Advance</b></span></a>
    </li>
    <!-- <li class="nav-item sidebar-item">
        <a class="nav-link" href="eportalrequestleave">
            <lord-icon src="https://cdn.lordicon.com/eoacwhtz.json" trigger="loop"
            colors="primary:#121331,secondary:#f4dc9c,tertiary:#e83a30,quaternary:#c76f16,quinary:#1663c7,senary:#4d2c19,septenary:#ffffff" class="db-icon-eportal">
        </lord-icon>
            <span><b>Request Leave</b></span></a>
    </li> -->

    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/eportaldisciplinaryaction">
            <lord-icon src="https://cdn.lordicon.com/jqnbdcqr.json" trigger="loop" class="disciplinary-icon-eportal">
            </lord-icon>
            <span><b>Disciplinary Action</b></span></a>
    </li>

    <!-- Divider
    <hr class="sidebar-divider"> -->

    <br>
    <!-- Divider -->
    <hr class="bg-light sidebar-divider d-none d-md-block">

     <!--Sidebar Toggler (Sidebar)-->
     <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->
    
</ul>


<!--Modal-->
<div class="modal top fade" id="staticBackdrop5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered text-center d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-body p-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.webp" alt="avatar" class="rounded-circle position-absolute top-0 start-50 translate-middle h-50" />
                <form>
                    <div>
                        <h5 class="pt-5 my-3">Maria Doe</h5>

                        <!-- password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="password1" class="form-control" />
                            <label class="form-label" for="password1">Password</label>
                        </div>

                        <!-- Submit button -->
                        <button type="button" class="btn btn-primary" id="loginBtn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

