<!DOCTYPE html>
<html lang="en">

<head>
    <title>LOGIN</title>
    <link href="/stylesheets/css/loginstyle.css" rel="stylesheet"> 
</head>

<body>

                <!-- Begin Page Content -->
                <%- include("./login/login.ejs")%>
                <!-- /.container-fluid -->
    <%- include("./login/loginscript.ejs")%>
</body>
<style>
    
</style>
</html>