<head>
    <title>LOGIN</title>
    <%- include("header.ejs")%> 
</head>

<body>

                <!-- Begin Page Content -->
                <%- include("./login/login.ejs")%>
                <!-- /.container-fluid -->
    <%- include("scripts.ejs")%>
    <%- include("./login/loginscript.ejs")%>
</body>
<style>
    
</style>
</html>