<head>
    <title>LOGIN</title>
    <%- include("ojtheader.ejs")%> 
</head>

<body>

                <!-- Begin Page Content -->
                <%- include("./ojtlogin/ojtlogin.ejs")%>
                <!-- /.container-fluid -->
    <%- include("ojtglobalscript.ejs")%>
    <%- include("./ojtlogin/ojtloginscript.ejs")%>
</body>
<style>
    
</style>
</html>