<head>
    <%- include("./components/ojtheader.ejs")%> 
</head>

<body class="body-ojt">

                <!-- Begin Page Content -->
<%- include("./page/ojtlogin/ojtlogin.ejs")%>
                <!-- /.container-fluid -->
    <%- include("./components/ojtglobalscript.ejs")%>
    <%- include("./page/ojtlogin/ojtloginscript.ejs")%>
</body>
</html>