<head>
    <%- include("ojtheader.ejs")%> 
</head>

<body class="body-ojt">

                <!-- Begin Page Content -->
<%- include("./ojtlogin/ojtlogin.ejs")%>
                <!-- /.container-fluid -->
    <%- include("ojtglobalscript.ejs")%>
    <%- include("./ojtlogin/ojtloginscript.ejs")%>
</body>
<style>
    
</style>
</html>