<!DOCTYPE html>
<html lang="en">

<head>
<%- include("registerheader.ejs")%>

</head>

<body id="page-top">   
                <%- include("./register/register.ejs")%>
                  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("scripts.ejs")%>
    <%- include("./register/registerscript.ejs")%>
</body>

</html>