<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: rgba(179, 2, 2);">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">5L Solution</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseemployee"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Employee</span>
        </a>
        <div id="collapseemployee" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Employee:</h6>
                <a class="collapse-item" href="/employee">List of Employee</a>
                <a class="collapse-item" href="/shift">Shift</a>
                <a class="collapse-item" href="/trainings">Trainings</a>
                <a class="collapse-item" href="/performance">Performance</a>
                <a class="collapse-item" href="/disciplinary">Disciplinary</a>
                <a class="collapse-item" href="/healthrecord">Health Record</a>
                <a class="collapse-item" href="/govermentid">Goverment ID</a>
                <a class="collapse-item" href="/resigned">Resigned Employee</a>
            </div>
        </div>
    </li>
    <%if (accesstype == 'Admin') {%>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsemasteraccess"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Master Access</span>
        </a>
        <div id="collapsemasteraccess" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Master Access:</h6>
                <a class="collapse-item" href="/access">Access</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseusercontrol"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>User Control</span>
        </a>
        <div id="collapseusercontrol" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Control:</h6>
                <a class="collapse-item" href="/users">Users</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedepartment"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Department</span>
        </a>
        <div id="collapsedepartment" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Department:</h6>
                <a class="collapse-item" href="/department">Department</a>
                <a class="collapse-item" href="/position">Position</a>
            </div>
        </div>
    </li>
    <% }%>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseattendance "
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Attendance</span>
        </a>
        <div id="collapseattendance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Attendance:</h6>
                <a class="collapse-item" href="/attendance">All Attendance</a>
                <a class="collapse-item" href="/overtime">Overtime</a>
                <a class="collapse-item" href="/ojt">OJT</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsepayroll"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Payroll</span>
        </a>
        <div id="collapsepayroll" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Payroll:</h6>
                <a class="collapse-item" href="/salary">Salary</a>
                <a class="collapse-item" href="/requestcashadvance">Request Cash Advance</a>
                <a class="collapse-item" href="/deduction">Deduction</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseleave"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Leave</span>
        </a>
        <div id="collapseleave" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Leave:</h6>
                <a class="collapse-item" href="/allleave">All Leave</a>
                <a class="collapse-item" href="/pendingleave">Pending Leave</a>
                <a class="collapse-item" href="/approvedleave">Approved Leave</a>
                <a class="collapse-item" href="/rejectedleave">Reject Leave</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedeviation"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Deviation Notices</span>
        </a>
        <div id="collapsedeviation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Deviation Notices:</h6>
                <a class="collapse-item" href="/offenses">Offenses</a>
                <a class="collapse-item" href="/violation">Violation</a>
                <a class="collapse-item" href="/disciplinaryaction">Disciplinary Action</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseholiday"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Holiday</span>
        </a>
        <div id="collapseholiday" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Holiday:</h6>
                <a class="collapse-item" href="/holiday">Holiday</a>
                <a class="collapse-item" href="/holidayrate">Holiday Rate</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/announcement">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Announcement</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>