<head>
    <%- include("./components/teamleadloginheader.ejs"
)%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/teamleadlogin/teamleadlogin.ejs")%>
    <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/teamleadlogin/teamleadloginscript.ejs")%>
</body>

</html>