<head>
    <%- include("teamleadloginheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./teamleadlogin/teamleadlogin.ejs")%>
        <!-- /.container-fluid -->
        <%- include("scripts.ejs")%>
            <%- include("./teamleadlogin/teamleadloginscript.ejs")%>
</body>

</html>