<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion" style="background-color: rgba(179, 2, 2);" id="sidenavAccordion">
        <div class="sb-sidenav-menu" style="overflow: hidden;">
            <div class="nav">
                <div class="sb-sidenav-menu-heading text-light">Core</div>
                <a class="nav-link text-light" href="/">
                    <div class="sb-nav-link-icon text-light"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading text-light">Interface</div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navemployee" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Employee
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navemployee" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/employee">List of Employee</a>
                        <a class="nav-link text-light" href="/shift">Shift</a>
                        <a class="nav-link text-light" href="/trainings">Trainings</a>
                        <a class="nav-link text-light" href="/performance">Performance</a>
                        <a class="nav-link text-light" href="/disciplinary">Disciplinary</a>
                        <a class="nav-link text-light" href="/healthrecord">Health Record</a>
                        <a class="nav-link text-light" href="/govermentid">Goverment ID</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navaccess" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Master Access
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navaccess" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/access">Access</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navusercontrol" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    User Control
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navusercontrol" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/users">Users</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navdepartment" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Department
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navdepartment" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/department">Department</a>
                        <a class="nav-link text-light" href="/position">Position</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navattendance" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Attendance
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navattendance" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/attendance">All Attendance</a>
                        <a class="nav-link text-light" href="/overtime">Overtime</a>
                        <a class="nav-link text-light" href="/ojt">OJT</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navpayroll" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Payroll
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navpayroll" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/salary">Salary</a>
                        <a class="nav-link text-light" href="/requestcashadvance">Request Cash Advance</a>
                        <a class="nav-link text-light" href="/deduction">Deduction</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navleave" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Leave
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navleave" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/allleave">All Leave</a>
                        <a class="nav-link text-light" href="/pendingleave">Pending Leave</a>
                        <a class="nav-link text-light" href="/approvedleave">Approved Leave</a>
                        <a class="nav-link text-light" href="/rejectedleave">Reject Leave</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navnotice" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Deviation Notices
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navnotice" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/offenses">Offenses</a>
                        <a class="nav-link text-light" href="/violation">Violation</a>
                        <a class="nav-link text-light" href="/disciplinaryaction">Disciplinary Action</a>
                    </nav>
                </div>
                <a class="nav-link collapsed text-light" href="#" data-bs-toggle="collapse" data-bs-target="#navholiday" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Holiday
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="navholiday" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="/holiday">Holiday</a>
                        <a class="nav-link text-light" href="/holidayrate">Holiday Rate</a>
                    </nav>
                </div>
                <a class="nav-link text-light" href="/announcement">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Announcement
                </a>
            </div>
        </div>
    </nav>
</div>