<br>

<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table m-4">Salary Settings</h3>
      <div class="d-flex gap-4 m-2 mb-4 attendance-field">
        <div class="col">
          <input id='myInput' class="pl-2 font-weight-bold"  type='text' placeholder="  Search....">
        </div>
      <div class="d-flex gap-4 attendance-field">
        <div class="flex">
          <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#resignedmodal">
            <b>+ Add</b>
          </button>
        </div>
        <div class="flex">
          <button id="exportExcelBtn" class="btn btn-export-color"><i class="bi bi-database-fill-gear mr-2"></i><b>Export</b></button>
        </div>
        <div class="flex">
          <button id="importExcelBtn" class="btn btn-import-color"><i class="bi bi-box-arrow-in-down mr-2"></i><b>Import</b></button>
        </div>
      </div>
      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped-light" id="dataTablesalary">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Employee ID</th>
                        <th class="col-26">Employee</th>
                        <th>Monthly/Daily Salary</th>
                        <th>Monthly Allowances</th>
                        <th>Adjustments</th>
                        <th>Payroll Type</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="resignedmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Add Salary of Employee </h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select border-form-modal" id="salaryemp" name="salaryemp" aria-label="Floating label select example">
                          <option selected>Choose..</option>
                        </select>
                        <label for="floatingSelectGrid">Employee</label>
                    </div>
                </div>
                 <br>
                 <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control border-form-modal" id="msemp" name="msemp"
                          placeholder="Monthly Salary" oninput="formatPrice(event, this)">
                      <label for="msemp">Monthly Or Daily Salary</label>
                  </div>
              </div>                                       
              <br>
              <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control border-form-modal" id="allowances" name="allowances"
                          placeholder="Monthly Allowances" oninput="formatPrice(event, this)">
                      <label for="allowances">Monthly Allowances</label>
                  </div>
              </div>                 
              <br>
              <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="adjustments" name="adjustments"
                        placeholder="Adjustments" oninput="formatPrice(event, this)">
                    <label for="editallowances">Adjustments</label>
                </div>
            </div>                 
            <br> 
            <div class="col">
              <div class="form-floating">
                  <select class="form-select border-form-modal" id="payrolltype" name="payrolltype">
                    <option value="Daily">Daily</option>
                    <option value="Monthly">Monthly</option>
                  </select>
                  <label for="floatingSelectGrid">Payroll Type</label>
              </div>
           </div>
           <br>   
           <div class="col">
            <div class="form-floating">
                <input type="date" class="form-control border-form-modal" id="effectivedate" name="effectivedate"
                    placeholder="Effective Date">
                <label for="effectivedate">Effective Date</label>
            </div>
          </div>                 
          <br>     
          </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="salarysavebtn">Save</button>
        </div>
      </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editsalarymodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <lord-icon src="https://cdn.lordicon.com/lsrcesku.json" stroke="bold"
        colors="primary:#242424,secondary:#e8e230,tertiary:#e83a30,quaternary:#d1f3fa" class="db-hrmis">
      </lord-icon>
        <h1 class="modal-title" id="exampleModalLabel">Edit Salary of Employee </h1>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
          <form>
              <div class="col">
                  <div class="form-floating">
                      <select class="form-select border-form-modal" id="editsalaryemp" name="editsalaryemp" aria-label="Floating label select example" disabled>
                        <option selected>Choose..</option>
                      </select>
                      <label for="floatingSelectGrid">Employee</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editmsemp" 
                  name="editmsemp" placeholder="Monthly Salary" oninput="formatPrice(event, this)">
                  <label for="editmsemp">Edit Monthly Or Daily Salary</label>
                </div>
              </div>                                       
              <br>
              <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control border-form-modal" id="editallowances" name="editallowances"
                          placeholder="Monthly Allowances" oninput="formatPrice(event, this)">
                      <label for="editallowances">Edit Monthly Allowances</label>
                  </div>
              </div>                                                  
              <br> 
              <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="editadjustments" name="editadjustments"
                        placeholder="Adjustments" oninput="formatPrice(event, this)">
                    <label for="editallowances">Edit Adjustments</label>
                </div>
              </div>                 
              <br> 
              <div class="col">
                <div class="form-floating">
                    <select class="form-select border-form-modal" id="editpayrolltype" name="editpayrolltype">
                      <option value="Daily">Daily</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                    <label for="floatingSelectGrid">Edit Payroll Type</label>
                </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control border-form-modal" id="editeffectivedate" name="editeffectivedate"
                        placeholder="Effective Date">
                    <label for="editeffectivedate">Effective Date</label>
                </div>
              </div>                 
              <br>      
          </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="editsalarysavebtsn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Import Modal -->
<div class="modal fade" id="importsalarymodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <lord-icon src="https://cdn.lordicon.com/lsrcesku.json" stroke="bold"
        colors="primary:#242424,secondary:#e8e230,tertiary:#e83a30,quaternary:#d1f3fa" class="db-hrmis">
      </lord-icon>
        <h1 class="modal-title" id="exampleModalLabel">Import Salary of Employee </h1>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="form-control">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input type="file" name="importexcelfile" id="importexcelfile">
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="importexcelsavebtn">Save</button>
      </div>
    </div>
  </div>
</div>