/*--------Top bar-------*/
#topbar {
  background-color: #8b2525 !important;
  box-shadow: 0 4px 8px #3b3939 !important;
  width: 166vh;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
}
.light-bg {
  background-color: #3b3939 !important;
}
.user-topbar {
  margin-left: 0% !important;
}
.img-profile {
  margin-top: 10% !important;
}
#dp-header {
    background-color: #7a1818 !important;
    border: 3px solid #F5E0B3 !important;
}
.dropdown-item {
  background-color: white !important;
  color: black !important;
}

.navbar-search {
    border: 2.5px solid #F5E0B3 !important;
    border-radius: 8px;
}
.bx-tada {
  font-size: 28px;
}
.bell {
  color: yellow !important;
}
.envelope {
  color: #0EA5E9 !important;
}
.btn-search-topbar {
    height: 38px;
    width: 40px;
    padding-left: 8px;
    border: 2.5px solid #F5E0B3  !important;
    border-radius: 6px;
    background-color: #E41717 !important;
    color: white !important;
}
.btn-search-topbar:hover {
  background-color: #F5E0B3 !important;
  color: white !important;
}


/*---- Sidebar ---*/
#accordionSidebar {
  background-color: #7a1818 !important;
  }
#boxshadow-sidebar {
    background-color: #510A0A !important;
}
.collapse .collapse-item {
    font-weight: 600;
    color: white !important;
}
.collapse .collapse-item:hover {
  background-color: white !important;
  color: black !important;
}
#brandtext-sidebar {
    font-weight: 600;
    color: white !important;
}
.fa-tachometer-alt, .bxs-user-account, .bx-hive  {
  color: white !important;
}
.nav-item span{
  color: white !important;
}
.nav-item:hover {
    font-weight: bold;
    background-color: #F5E0B3 !important;
    color: black !important;
}
.nav-item:hover span {
  color: #7a1818 !important;
}
.sidebar-divider {
    border-bottom: 3px solid white !important;
}
#sidebarToggle {
  margin-top: 50px;
}
.rounded-circle {
  margin-top: 25%;
  margin-bottom: 10%;
}

/*--- Dashboard/Content -----*/
#content-wrapper {
    background-color: white !important;
    margin-top: 80px;
}
.c-body {
  background-color: #9BD9B2 !important;
}
.card-style {
  margin: 25px;
}
.sticky-footer {
  height: 40px !important;
  background-color: #8b2525 !important;
  margin-top: 50px;
  color: white !important;
}
#footer-label {
    color: #000 !important;
    font-weight: 600;
}
.container-content {
    padding-top: 2%;
}

/*---- Modal -----*/
.modal-dialog #modal-body {
    background-color: #F5E0B3 !important;
}
#employeeid, #loanid {
    height: 36px;
    width: 30%;
    background-color: #7a1818 !important;
    color: white !important;
    border-radius: 5px;
    border: 2.5px solid #7a1818 !important;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}
#requestdate #datedue, #date {
    margin-top: 5%;
}
#amount, #interest, #amountdue, #period, #rebate, #totalinterest, #status {
    color: #7a1818 !important;
    margin-left: 5px;
    font-weight: 600;
}

#exampleFormControlInput1,  #quantity {
    margin-left: 5px;
}

#amount, #interest, #amountdue, #period, #purpose, #remarks, #rebate, #totalinterest, #status {
    margin-top: 12px;
    color: #7a1818 !important;
    font-weight: 600;
}
#totaldeposit {
    color: #7a1818 !important;
    font-weight: 600;
}
#modal-footer {
  background-color: #7a1818 !important ;
}
#modal-header {
    background-color: #7a1818 !important ;
    color: white !important;
    height: 80px;
}
.modal-footer .btn-submit {
    background-color: rgb(3, 226, 15) !important;
    border: 3px solid rgb(3, 88, 3) !important;
    border-radius: 15px;
    color: white !important;
    font-weight: 600;
    height: 36px;
    width: 100px;
}


/*------ Module Searchbar --- */
#searchbar {
    float: right;
    border: none;
    margin-right: 5px;
}
#searchInput {
    height: 36px;
    border: 2.5px solid #8ED1AE !important;
    border-radius: 5px;
}
.btn-search {
    height: 36px;
    border: 2.5px solid #8ED1AE !important;
    background-color: #7a1818 !important;
    color: white !important;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: 600;
   
}
.btn-search:hover {
  background-color: #8ED1AE !important;
  color: #7a1818 !important;
}

/*----- Modules Table --- */
.c-header {
  background-color: #7a1818  !important;
}

/*
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}
th {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #0D9488 !important;
  color: white !important;
}
tr:hover {
  background-color: #CCF7F7 !important;
  color: black !important;
  border: none;
}

/* Media query for smaller screens Modules Table*/
@media screen and (max-width: 1000px) {
  #searchInput {
      width: 65px;
  }
  #table {
      scroll-behavior: smooth;
      border: 0;
  }
  #table th {
      border: none;
      clip: rect(0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      color: black !important;
      padding: 0;
      position:absolute;
      width: 1px;
      font-weight: 600;
  }
  #table tr {
      border-bottom: 1px solid #8ED1AE !important;
      display: block;
      margin-bottom: .625em;
  }
  #table td {
      border-bottom: 1px solid #8ED1AE !important;
      display: block;
      font-size: .8em;
      text-align: right;
      width: 55%;
  }
  #table td::before {
      content:attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
  }
  #table td:last-child {
      border-bottom: 0;
  }
  #employeeid, #loanid {
    width: 40%;
  }
  .navbar {
    margin: 0;
    border-radius: 0;
  }
}
/*--- Employee ---*/
.btn-color {
    background-color: #436c92 !important;
    color: white !important;
    float: right;
    margin-left: 5px;
    border-radius: 8px;
    height: 33px;
    border: 2px solid #d3bb86 !important;
    -webkit-animation: btn-color 0.9s both;
	        animation: btn-color 0.9s both;
}
@-webkit-keyframes btn-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes btn-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.btn-color:hover {
    background-color: #103e68 !important;
    color: white !important;
}
.btn-generate-holiday {
  height: 33px;
  background-color: #436c92 !important;
  border: 2px solid #d3bb86 !important;
  color: white !important;
}
.btn-add-holiday {
  height: 33px;
  background-color: #53c24e !important;
  border: 2px solid #d3bb86 !important;
  color: white !important;
}
#yearInput {
  border: 2px solid #d3bb86 !important;
  height: 33px;
}
.btn-add-color {
  float: right;
  margin-right: 8px;
  border-radius: 8px;
  height: 33px;
  background-color: #53c24e !important;
  border: 2px solid #d3bb86 !important;
  color: white !important;
  -webkit-animation: btn-add-color 0.9s both;
	        animation: btn-add-color 0.9s both;
}
@-webkit-keyframes btn-add-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes btn-add-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.btn-add-color:hover {
  background-color: #197214 !important;
    color: white !important;
}
.card-header {
  background-color: #7a1818 !important;
  height: 250% !important;
}
.circle-img {
  border: #7a1818 !important;
}
/*--- Dashboard ----*/
#nav-home-tab, #nav-ca-tab, #nav-profile-tab {
  background-color: #7a1818 !important;
  color: white !important;
  border-bottom: 1px solid white !important;
}
#nav-home-tab:hover, #nav-ca-tab:hover, #nav-profile-tab:hover {
  background-color: #F5E0B3 !important;
  border: 2px solid white !important;
  color: #7a1818 !important;
}
#totalEmployeeCard,#regularEmployeeCard, #resignedEmployeeCard, #probationaryEmployeeCard,
#totalADMIN, #totalIT, #totalCABLING, #totalempcandidate, #totalempbagapuro, #totalempapprentice {
  background-image: url(/images/img/employee.jpg);
  box-shadow: 0 5px 8px #3d0404 !important;
}

/*---- Tables --- */


.col-25 {
  width: 15%;
}
.col-26 {
  width: 20%;
}

/*--- card-dashboard --- */
.header-card {
  font-size: small;
  word-wrap: break-word;
}
#loadleaveBadge, #loadcaBadge {
  margin-left: 8px;
}
/*---- Modal Table ---*/

.scrollable-table-container {
  max-height: 545px !important; 
  overflow-y: auto !important;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 767px){
  .custom-mobile-table thead{
    display: none;
  }

  .custom-mobile-table, .custom-mobile-table tbody, .custom-mobile-table tr, .custom-mobile-table td{
    display: block;
    width: 100%;
  }
  .custom-mobile-table tr{
    margin-bottom:15px;
  }
  .custom-mobile-table .custom-mobile-align{
    padding-left: 50% !important;
    position: relative;
  }
  .custom-mobile-table .custom-mobile-align::before{
    content: attr(data-label)": ";
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .custom-mobile-table tbody tr:nth-child(even){
      background-color: var(--grey-50) !important;
      /* color: var(--sidebar-text-active); */
  }
}
.card-text {
  margin-left: 8px;
  color: white !important;
  text-shadow: 3px 3px 3px rgb(78, 8, 8) !important;
}
.card-icon {
  margin-right: 8px;
  color: white !important;
  text-shadow: 3px 3px 3px rgb(78, 8, 8) !important;
  font-size: 30px;
}
.db-modal-search {
  width: 155px;
  border: 2px solid #d3bb86 !important;
  border-radius: 8px;
  float: right;
  margin-left: 65%;
}
.bx-x {
  color: white !important;
  font-size: 30px;
  margin: 0%;
}
.bx-x:hover {
  border: 2px solid white !important;
  border-radius: 8px;
}
.modal-title {
  font-size: 18px;
  margin: 0%;
}
.db-card {
  border-left: 4px solid #751a1a !important;
  border-radius: 8px;
}
.btn-modal-close {
  color: white !important;
  background-color: red !important;
  border: 2px solid #d3bb86 !important;
}
.btn-modal-close:hover {
  background-color: #ff3535 !important;
  color: white !important;
  font-weight: bold;
}
.btn-modal-save {
  color: white !important;
  background-color: green !important;
   border: 2px solid #d3bb86 !important;
}
.btn-modal-save:hover {
  background-color: #00B25A !important;
  color: white !important;
  font-weight: bold;
}

/*-- Sidebar ---*/
.db-icon {
  color: white !important;
  font-size: 20px !important;
}
.employee-icon {
  color: rgb(69, 233, 69) !important;
  font-size: 20px !important;
}
.access-icon {
  color: yellow !important;
  font-size: 20px !important;
}
.usercontrol-icon {
  color: rgb(29, 168, 248) !important;
  font-size: 20px !important;
}
.dep-icon {
  color: orange !important;
  font-size: 20px !important;
}
.attendance-icon {
  color: rgb(250, 74, 104) !important;
  font-size: 20px !important;
}
.payroll-icon {
  color: yellowgreen !important;
  font-size: 20px !important;
}
.coop-icon {
  color: lightsalmon !important;
  font-size: 20px !important;
}
.leave-icon {
  color: rgb(136, 134, 134) !important;
  font-size: 20px !important;
}
.dn-icon {
  color: rgb(252, 252, 82) !important;
  font-size: 20px !important;
}
.holiday-icon {
  color: rgb(97, 250, 92) !important;
  font-size: 20px !important;
}
.announce-icon {
  color: rgb(250, 111, 243) !important;
  font-size: 20px !important;
}

/*-- employee ---*/
.btn-modal-upload {
  background-color: green !important;
  color: white !important;
  border: 2px solid #d3bb86 !important;
}
.btn-modal-upload:hover {
  background-color: #00B25A !important;
  color: white !important;
  font-weight: bold;
}
.card-item-icon {
  color: white !important;
  font-size: 20px !important;
  margin-right: 5px !important;
}
.border-form-modal {
  border: 2.5px solid #7a1818 !important;
}

.modal-dialog .content-size-modal {
  height: 700px;
  width: 1200px;
  margin-left: -350px;
}
.modal-dialog .modal-batch-body {
  height: 135px;
}
.title-card-table {
  font-family: Times New Roman;
  color: white !important;
  margin-bottom: 2% !important;
}

/*Attendance*/
#map {
  border: 2.5px solid #7a1818 !important;
}

#preview {
  width: 250px;
  height: 250px;
  border: 2.5px solid #7a1818 !important;
}
.modal-content-title {
  font-family: Georgia;
  color: #7a1818 !important;
  font-weight: bold;
}
.content-loan-modal {
  height: 85% !important;
}
.content-deposit-modal {
  height: 75% !important;
}
.content-payment-modal {
  height: 85% !important;
}
.content-interest-modal {
  height: 80% !important;
}
.holiday-card-btn {
  float: right;
}
.preview2 {
  width: 250px;
  height: 250px;
  border: 2.5px solid #7a1818 !important;
}
.profile-divider-db {
  background-color: #751a1a !important;
}
.profile-box-db {
  background-color: #7a1818 !important;
  color: white !important;
  font-weight: bold !important;
}
.profile-box-db:hover {
  background-color: #F5E0B3 !important;
  color: #7a1818 !important;
  font-weight: bold !important;
}
#totalEMP, #totalregularEMP, #totalprobiEMP, #totalresignedEMP,
 #totaladminEMP, #totalitEMP, #totalcablingEMP,
#totalcandidate, #totalbagapuro {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#totalEMP:hover, #totalregularEMP:hover, #totalprobiEMP:hover, #totalresignedEMP:hover,
 #totaladminEMP:hover, #totalitEMP:hover, #totalcablingEMP:hover,
  #totalcandidate:hover, #totalbagapuro:hover {
  transform: scale(1.1);
}
.db-wholecard {
  margin-top: 3% !important;
}
.db-custom-cards {
  height: 510px;
  overflow: auto;
  width: 700px;
}
.sidebar {
  width: 260px !important;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  -ms-overflow-style: none;

}
