/*---- wendell/class -----*/
.uppercase-input {
  text-transform: uppercase;
}

/*---- Content/Dashborad -----*/
.geofence-db, .requestcash-db, .attendance-db, .employee-db, .requestleave-db {
  margin-top: 5px;
  margin-left: 2px;
  font-size: smaller !important;
}
.bx-flashing {
  color: #f9f4f4 !important; 
}
.font-tb {
  font-size: x-small;
}
.map{
  color: white !important;
}
#nav-tabContent {
  margin-top: 2%;
}
#map {
  height: 460px;
  z-index: 1;
}
#content-wrapper {
  background-color: white !important;
}

.card-style {
  margin: 25px;
}

.sticky-footer {
  height: 30px !important;
  background-color: #8b2525 !important;
  margin-top: 50px;
  color: white !important;
}

.fa-bars {
  color: white !important;
}

.fa-bars:hover {
  background: transparent;
}





/*--------Top bar-------*/


.user-topbar {
  color: white !important;
  font-weight: bold;
  font-size: 13px;
}

.img-profile {
  margin-top: 10% !important;
}

#dp-header {
    background-color: #7a1818 !important;
    border: 3px solid #fcf0d7 !important;
}

.dropdown-item {
  background-color: white !important;
  color: black !important;
}

.navbar-search {
    border: 2.5px solid #fcf0d7 !important;
    border-radius: 8px;
}

.bx-tada {
  font-size: 28px;
}

.bell {
  color: yellow !important;
}

.envelope {
  color: #0EA5E9 !important;
}

.btn-search-topbar {
    height: 38px;
    width: 40px;
    padding-left: 8px;
    border: 2.5px solid #fcf0d7  !important;
    border-radius: 6px;
    background-color: #E41717 !important;
    color: white !important;
}

.btn-search-topbar:hover {
  background-color: #fa0303 !important;
  color: white !important;
}


/*---- Sidebar ---*/
#accordionSidebar {
  background-color: #7a1818 !important;
}

.boxshadow-sidebar {
    background-color: #510A0A !important;
}

.collapse .collapse-item {
    font-weight: 600;
    color: white !important;
}

.collapse .collapse-item:hover {
  background-color: white !important;
  color: black !important;
}

#brandtext-sidebar {
    font-weight: 600;
    color: white !important;
}

.fa-tachometer-alt, .bxs-user-account, .bx-hive  {
  color: white !important;
}

.sidebar-item span{
  color: white !important;
  padding:8px;
}
.sidebar-item {
  transition: background-color 0.1s ease;
}

.sidebar-item:hover {
  background-color: #fcf0d7 !important;
  font-weight: bold;
}

.sidebar-item:hover span {
  color: #7a1818 !important;
}
.sidebar-divider {
    border-bottom: 3px solid white !important;
}



/*---- Modal/Table -----*/
#tablecard {
  width: 100;
  margin-left: 2%;
  margin-right: 2%;
  background-color:  #fcf0d7 !important;
}

.modal-dialog #modal-body {
    background-color: #fcf0d7 !important;
}
#employeeid, #loanid {
    height: 36px;
    width: 30%;
    background-color: #7a1818 !important;
    color: white !important;
    border-radius: 5px;
    border: 2.5px solid #7a1818 !important;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}
#requestdate #datedue, #date {
    margin-top: 5%;
}
#amount, #interest, #amountdue, #period, #rebate, #totalinterest, #status {
    color: #7a1818 !important;
    margin-left: 5px;
    font-weight: 600;
}

#exampleFormControlInput1,  #quantity {
    margin-left: 5px;
}

#amount, #interest, #amountdue, #period, #purpose, #remarks, #rebate, #totalinterest, #status {
    margin-top: 12px;
    color: #7a1818 !important;
    font-weight: 600;
}
#totaldeposit {
    color: #7a1818 !important;
    font-weight: 600;
}
#modal-footer {
  background-color: #7a1818 !important ;
}
#modal-header {
    background-color: #7a1818 !important ;
    color: white !important;
    height: 80px;
}
.modal-footer .btn-submit {
    background-color: rgb(3, 226, 15) !important;
    border: 3px solid rgb(3, 88, 3) !important;
    border-radius: 15px;
    color: white !important;
    font-weight: 600;
    height: 36px;
    width: 100px;
}


/*------ Module Searchbar --- */
/* #searchbar {
    float: right;
    border: none;
    margin-right: 5px;
}
#searchInput {
    height: 36px;
    border: 2.5px solid #8ED1AE !important;
    border-radius: 5px;
}
.btn-search {
    height: 36px;
    border: 2.5px solid #8ED1AE !important;
    background-color: #7a1818 !important;
    color: white !important;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: 600;
   
}
.btn-search:hover {
  background-color: #8ED1AE !important;
  color: #7a1818 !important;
} */

/*----- Modules Table --- */
.c-header {
  background-color: #7a1818  !important;
}

/*
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}
th {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #0D9488 !important;
  color: white !important;
}
tr:hover {
  background-color: #CCF7F7 !important;
  color: black !important;
  border: none;
}

/* Media query for smaller screens Modules Table*/
@media screen and (max-width: 1000px) {
  #searchInput {
      width: 65px;
  }
  #table {
      scroll-behavior: smooth;
      border: 0;
  }
  #table th {
      border: none;
      clip: rect(0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      color: black !important;
      padding: 0;
      position:absolute;
      width: 1%;
      font-weight: 600;
  }
  #table tr {
      border-bottom: 1px solid #8ED1AE !important;
      display: block;
      margin-bottom: .625em;
  }
  #table td {
      border-bottom: 1px solid #8ED1AE !important;
      display: block;
      font-size: .8em;
      text-align: right;
      width: 55%;
  }
  #table td::before {
      content:attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
  }
  #table td:last-child {
      border-bottom: 0;
  }
  #employeeid, #loanid {
    width: 40%;
  }
}
/*--- Employee ---*/
.btn-color, .btn-attendance {
    background-color: #436c92 !important;
    color: white !important;
    float: right;
    margin-left: 5px;
    border-radius: 8px;
    height: 33px;
    border: 2px solid #fcf0d7 !important;
    -webkit-animation: btn-color, btn-attendance 0.9s both;
	        animation: btn-color, btn-attendance 0.9s both;
}

@-webkit-keyframes btn-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes btn-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


@-webkit-keyframes btn-attendance {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes btn-attendance {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.btn-color:hover, .btn-attendance:hover {
    background-color: #103e68 !important;
    color: white !important;
}
.btn-generate-holiday {
  height: 33px;
  background-color: #436c92 !important;
  border: 2px solid #fcf0d7 !important;
  color: white !important;
}
.btn-add-holiday {
  height: 33px;
  background-color: #53c24e !important;
  border: 2px solid #fcf0d7 !important;
  color: white !important;
}
#yearInput {
  border: 2px solid #fcf0d7 !important;
  height: 33px;
}
.btn-add-color, .btn-add-attendance {
  float: right;
  margin-right: 8px;
  border-radius: 8px;
  height: 33px;
  background-color: #53c24e !important;
  border: 2px solid #fcf0d7 !important;
  color: white !important;
  -webkit-animation: btn-add-color, btn-add-attendance 0.9s both;
	        animation: btn-add-color, btn-add-attendance 0.9s both;
}

@-webkit-keyframes btn-add-color  {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes btn-add-color {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes btn-add-attendance  {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes btn-add-attendance {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.btn-add-color:hover, .btn-add-attendance:hover {
  background-color: #197214 !important;
    color: white !important;
}

.ch-coop {
  background-color: #7a1818 !important;
  height: 250% !important;
}
.circle-img {
  border: #7a1818 !important;
}
/*--- Dashboard ----*/
#nav-leave-tab, #nav-ca-tab, #nav-profile-tab, #nav-reqattendance-tab, #nav-ot-tab {
  background-color: #7a1818 !important;
  color: white !important;
  border-bottom: 1px solid white !important;
}
#nav-home-tab:hover, #nav-ca-tab:hover, #nav-profile-tab:hover, #nav-reqattendance-tab:hover, #nav-ot-tab:hover {
  background-color: #fcf0d7 !important;
  border: 2px solid white !important;
  color: #7a1818 !important;
  font-weight: bold;
}
#totalEmployeeCard,#regularEmployeeCard, #resignedEmployeeCard, #probationaryEmployeeCard,
#totalADMIN, #totalIT, #totalCABLING, #totalempcandidate, #totalempbagapuro, #totalempapprentice {
  background-image: url(/images/img/employee.jpg);
  box-shadow: 0 5px 8px #3d0404 !important;
}

/*---- Tables --- */


.col-25 {
  width: 15%;
}
.col-26 {
  width: 20%;
}

/*--- card-dashboard --- */
.header-card {
  font-size: small;
  word-wrap: break-word;
}
#loadleaveBadge, #loadcaBadge {
  margin-left: 8px;
}
/*---- Modal Table ---*/

.scrollable-table-container {
  max-height: 545px !important; 
  overflow-y: auto !important;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 767px){
  .custom-mobile-table thead{
    display: none;
  }

  .custom-mobile-table, .custom-mobile-table tbody, .custom-mobile-table tr, .custom-mobile-table td{
    display: block;
    width: 100%;
  }
  .custom-mobile-table tr{
    margin-bottom:15px;
  }
  .custom-mobile-table .custom-mobile-align{
    padding-left: 50% !important;
    position: relative;
  }
  .custom-mobile-table .custom-mobile-align::before{
    content: attr(data-label)": ";
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .custom-mobile-table tbody tr:nth-child(even){
      background-color: var(--grey-50) !important;
      /* color: var(--sidebar-text-active); */
  }
}
.card-text {
  margin-left: 8px;
  color: white !important;
  text-shadow: 3px 3px 3px rgb(78, 8, 8) !important;
}
.card-icon {
  margin-right: 8px;
  color: white !important;
  text-shadow: 3px 3px 3px rgb(78, 8, 8) !important;
  font-size: 20px;
}

.db-modal-search {
  width: 155px;
  border: 2px solid #fcf0d7 !important;
  border-radius: 8px;
  float: right;
  margin-left: 65%;
}
.bx-x {
  color: white !important;
  font-size: 30px;
  margin: 0%;
}
.bx-x:hover {
  border: 2px solid white !important;
  border-radius: 8px;
}
.modal-title {
  font-size: 18px;
  margin: 0%;
}
.db-card {
  border-left: 4px solid #751a1a !important;
  border-radius: 8px;
}
.btn-modal-close {
  color: white !important;
  background-color: red !important;
  border: 2px solid #fcf0d7 !important;
}
.btn-modal-close:hover {
  background-color: #ff3535 !important;
  color: white !important;
  font-weight: bold;
}
.btn-modal-save {
  color: white !important;
  background-color: green !important;
   border: 2px solid #fcf0d7 !important;
}
.btn-modal-save:hover {
  background-color: #00B25A !important;
  color: white !important;
  font-weight: bold;
}

/*-- Sidebar ---*/
.db-icon {
  color: white !important;
  font-size: 20px !important;
}
.employee-icon {
  color: rgb(69, 233, 69) !important;
  font-size: 20px !important;
}
.access-icon {
  color: yellow !important;
  font-size: 20px !important;
}
.usercontrol-icon {
  color: rgb(29, 168, 248) !important;
  font-size: 20px !important;
}
.dep-icon {
  color: orange !important;
  font-size: 20px !important;
}
.attendance-icon {
  color: rgb(250, 74, 104) !important;
  font-size: 20px !important;
}
.payroll-icon {
  color: yellowgreen !important;
  font-size: 20px !important;
}
.coop-icon {
  color: lightsalmon !important;
  font-size: 20px !important;
}
.leave-icon {
  color: rgb(136, 134, 134) !important;
  font-size: 20px !important;
}
.dn-icon {
  color: rgb(252, 252, 82) !important;
  font-size: 20px !important;
}
.holiday-icon {
  color: rgb(97, 250, 92) !important;
  font-size: 20px !important;
}
.announce-icon {
  color: rgb(250, 111, 243) !important;
  font-size: 20px !important;
}

/*-- employee ---*/
.btn-modal-upload {
  background-color: green !important;
  color: white !important;
  border: 2px solid #fcf0d7 !important;
}
.btn-modal-upload:hover {
  background-color: #00B25A !important;
  color: white !important;
  font-weight: bold;
}
.card-item-icon {
  color: white !important;
  font-size: 20px !important;
  margin-right: 5px !important;
}
.border-form-modal {
  border: 2.5px solid #7a1818 !important;
}

.modal-dialog .content-size-modal {
  height: 700px;
  width: 1200px;
  margin-left: -350px;
}
.modal-dialog .modal-batch-body {
  height: 135px;
}
.title-card-table {
  font-family: Times New Roman;
  color: white !important;
  margin-bottom: 2% !important;
}

/*Attendance*/
#preview {
  margin-top: 100px;
  width: 250px;
  height: 250px;
}
.modal-content-title {
  font-family: Georgia;
  color: #7a1818 !important;
  font-weight: bold;
}
.content-loan-modal {
  height: 85% !important;
}
.content-deposit-modal {
  height: 75% !important;
}
.content-payment-modal {
  height: 85% !important;
}
.content-interest-modal {
  height: 80% !important;
}
.holiday-card-btn {
  float: right;
}
/* .preview2 {
  width: 250px;
  height: 250px;
} */
.profile-divider-db {
  background-color: #751a1a !important;
}
.profile-box-db {
  background-color: #7a1818 !important;
  color: white !important;
  font-weight: bold !important;
}
.profile-box-db:hover {
  background-color: #fcf0d7 !important;
  color: #7a1818 !important;
  font-weight: bold !important;
}
#totalEMP, #totalregularEMP, #totalprobiEMP, #totalresignedEMP,
 #totaladminEMP, #totalitEMP, #totalcablingEMP,
#totalcandidate, #totalbagapuro, #totalapprentice {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#totalEMP:hover, #totalregularEMP:hover, #totalprobiEMP:hover, #totalresignedEMP:hover,
 #totaladminEMP:hover, #totalitEMP:hover, #totalcablingEMP:hover,
  #totalcandidate:hover, #totalbagapuro:hover, #totalapprentice:hover {
  transform: scale(1.1);
}

.db-wholecard {
  margin-top: 3% !important;
}

.db-custom-cards  {
  background-color: #fcf0d7 !important;
  height: 546px;
  overflow: auto;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.db-custom-cards1 {
  background-color: #7a1818 !important;
  height: 550px;
  overflow: auto;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


/*-- Topbar Icons ----*/
.user-prof-icon,
.settings-icon,
.log-icon,
.logout-icon {
  width: 15px;
  height: 15px;
}

/*--- Card body of edit --- */
.card-profile-edit {
  height: 600px;
  width: 350px;
  background-color: #baecfc !important;
  border-radius: 10px;
  border: 3px solid #3e6e7e !important;
  margin-right: none !important;
  margin-left: 8%;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
.border-form-prof {
  border: 2px solid #3e6e7e  !important;
}

#editpreview {
  width: 100px;
  height: 100px;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.card-prof {
  border-radius: 10px;
  height: 601px !important;
  width: 720px;
  margin-top: 3% !important;
  margin-left: none !important;
  margin-top: 5%;
  background-color: white !important;
  border: 3px solid #3e6e7e  !important;
}

.border-form-tab {
  color: #3e6e7e  !important;
  font-weight: bold !important;
}

.nav-link.active {
  background-color: #baecfc !important;
  border: white !important;
}

.candidate-prof {
  background-color: #baebfcc2 !important;
  border: 3px solid #3e6e7e !important;
  border-radius: 10px;
}
.content {
  margin-top: 100px;
}
.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  /* position: fixed !important; */
  /* min-height: 100vh;
  overflow-y: auto !important;
  max-height: 100vh;
  overflow-x: hidden; */
}
::-webkit-scrollbar {
  width: 5px; 
}
:root{
  --minus-15rem: calc(100% - 15rem);
  --minus-6rem: calc(100% - 8rem);
}

.navbar {
  background-color: #8b2525 !important;
  position: fixed !important;
  margin-left: 6.4rem;
  width: 75%;
  z-index: 2;
}

/* sidebar toggled*/
/*default state*/
/* @media (max-width: 768px){

  .table td {
    padding: 1rem !important;
  }
  .table th {
    width: 100%;
  }
  .sidebar {
    position: relative;
    display: flex;
    top: 0px;
  }
  .sidebar li .collapse.show {
    display: block;
  }
  
  .content{
    margin-left: 0px !important;
  }
  
  .sticky-footer{
    margin-left: 0px !important;
  }  

  .navbar{
    margin-left: 26.5%;
    width: var(--minus-6rem);
    border-radius: 0px;
    margin-top: 0px;
    height: 50px;
    width: 100% !important;
  }
  .content-toggled {
    margin-left: 0!important;
  }
 
  .footer-toggled{
    margin-left: 0 !important;
  }
} */
.bars {
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 5%;
}
.topbar-profile-img {
  margin-top: 1px !important;
}

/* default state */
@media (min-width: 768px) {
  .content {
    margin-left: 230px;
  }

  .content-toggled {
    margin-left: 0px !important;
  }

  .footer-toggled{
    margin-left: 0px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .navbar {
    margin-left: 14.5rem;
    width: var(--minus-15rem);
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 13px;
    box-shadow: 0 4px 8px #3b3939 !important;
  }
  .navbar-toggled {
    margin-left: 0px !important;
  }
}

/* mobile state */
@media (max-width: 769px) {
  .content {
    margin-left: 0px;
  }

  .content-toggled {
    margin-left: 0px !important;
  }

  .footer-toggled {
    margin-left: 0px !important;
  }

  .navbar {
    width: 75%;
    position: absolute !important;
  }

  .navbar-toggled {
    margin-left: 0px !important;
    width: 100%;
  }

  /*--- employee page--*/
  #myInput {
    width: 40%;
  }

  .btn-color,
  .btn-add-color {
    width: 25%;
    font-size: 9px !important;
    padding: 0px;
  }

  .btn-add-attendance, .btn-attendance {
    font-size: 9px !important;
    height:20%;
    width: 25%;
    margin-right: 1.3%;
  }
  
}

.modal-ojt-edit {
  margin-left: 10px;
  margin-top: 75px !important;
}

.modal-form-edit {
  width: 300px;
  margin-top: -100px;
}

.announcement-footer {
  background-color: #751a1a !important;
  height: 150px;
}


.db-icon-hrmis {
  width: 25px;
  height: 25px; 
  top: 3px;
}

.db-message-hrmis {
  width: 40px;
  height: 40px;
}

.db-bell-hrmis {
  width: 25px;
  height: 25px;
}

.db-search-hrmis {
  color: white !important;
}

/*--- HRMIS Footer ----*/

.announcement-hrmis {
  background-color: white !important;
  height: 300px;
  padding: 15px !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.hrmis-img-announce {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.announce-title {
  margin: 8%;
  color: black !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial';
}

.a-des {
  color: black !important;
  font-style: italic;
  margin-top: 3%;
}

.a-date {
  color: gray;
  font-weight: bold;
  /* float: right; */
  margin-top: 2%;
}

.prev-hrmis, .next-hrmis {
  position: absolute;
  top: 22%;
  color:#020202 !important; 
}

.bday-hrmis {
  background-color: #7a1818 !important;
  height: 225px;
  padding: 15px !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
}

/* #employeeid13 {
  color: white !important;
  text-align: center;
} */

/* #bdaydate13 {
  color: white !important;
  text-align: center;
} */

.bday-hrmis span.carousel-control-prev-icon, .bday-hrmis span.carousel-control-next-icon {
  background-color: transparent !important;
}

.image-frame {
  border: 3px solid #fff8f8;
  padding: 8px;
  display: inline-block;
  /* border-radius: 10px; */
  /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Drop shadow */
  background-color: gold !important;
  /* Background color */
  margin: auto;
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/img/confetti2.gif') !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

.bday-greet {
  color: gold !important;
  text-align: center;
  margin: 10px;
  font-size: 38px;
  font-family: 'Tangerine', serif;
  font-style: italic;
  font-weight: bold;
  /* -webkit-text-stroke: 1px gold; */
  text-shadow: 1px 1px 1px white !important;
  letter-spacing: 3px;
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* 
.bday-title-hrmis {
  color: white !important;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  background-color: rgba(255, 255, 0, 0.911) !important;
} */

.bday-text-hrmis {
  color: gold !important;
  text-shadow: 1px 1px 1px white !important;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  font-family: "Teko", sans-serif;
  letter-spacing: 3px;
}

/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 18px;
  padding-top: 5px !important;
  font-family: "Lilita One", sans-serif;
  font-weight: bolder !important;
  color: rgb(175, 7, 7);
  text-align: center;
  margin: auto;
}
.ribbon {
  --s: 1.8em; /* the ribbon size */
  --d: .5em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 calc(var(--s) + var(--d) + .5em) var(--d);
  line-height: 1.8;
  background: 
    linear-gradient(90deg,maroon var(--d),#0000 0 calc(100% - var(--d)),maroon 0) 
    50%/calc(100% - 2*var(--s)) 100% no-repeat;
  clip-path: polygon(0 100%,var(--s) 100%,calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(100% - var(--s)) 100%,100% 100%,calc(100% - var(--c)) calc(50% + var(--d)/2),100% var(--d),calc(100% - var(--s)) var(--d),calc(100% - var(--s) - var(--d)) 0,calc(var(--s) + var(--d)) 0,var(--s) var(--d),0 var(--d),var(--c) calc(50% + var(--d)/2));
  background-color: white; /* the main color */
  width: fit-content;
}


span.prev-bday, span.next-bday {
  display: none;
}

.card-app-edit {
  height: 500px;
  width: 500px;
  background-color: white !important;
  border-radius: 10px;
  border: 3px solid #7a1818 !important;
  margin: auto;
  padding: 15px;
}

.border-app-form {
  border: 2.5px solid #7a1818 !important;
  width: 250px !important;
  margin: auto;
}

.app-form {
  width: 200px !important;
  margin: auto;
}

.app-form-c {
  border: 2.5px solid #7a1818 !important;
  margin-bottom: 5px !important;
}


