#content-wrapper {
    background-color: white !important;
    margin: 2%;
}
#content {
    margin-left: 220px;
    margin-top: 3%;
}
.top-round-button {
    z-index: 1001;
    background-color: #7F8487 !important;
}

#topbar {
  background-color: #8b2525 !important;
  position: fixed !important;
  z-index: 1001;
  width: 100%;
}

.searchbar-eportal {
  border: 2px solid #fcf0d7 !important;
}

.searchbar-bg {
  background: linear-gradient(180deg, #8b2525, rgb(173, 7, 7)) !important;
}

.btn-search-eportal {
  background-color: rgb(99, 241, 99) !important;
  color: white !important;
}


.dropdown-eportal {
    background-color: #7a1818 !important;
    color: white !important;
    border:  2px solid #7a1818 !important;
}

.profilename-eportal {
    color: white !important;
    font-weight: bold;
    font-size: 13px;
}

.navbar-expand .navbar-nav  .dropdown-profile-eportal {
    background-color: #7a1818 !important;
}

/* .dropd-eportal {
  color: white !important;
  font-weight: bold !important;
}

.dropd-eportal:hover {
  background-color: #7a1818 !important;
  transform: scale(1.1);
  box-shadow: 0 0 8px white !important;
} */


/* sidebar toggled
@media only screen and (max-width: 600px) {
   
  .content-toggled {
    margin-left: 0px !important;
  }

  .topbar-toggled  {
    margin-left: 6.5rem !important;
    width: 100%;
    padding-right: 110px !important;
  }

  .footer-toggled{
    margin-left: 6.5rem !important;
  }

  #topbar {
    padding-right: 230px;
    margin-left: 14rem;
  }


  .sidebar{
    min-height: 100vh;
    overflow-y: auto !important;
    max-height: 100vh;
    overflow-x: hidden !important;
  }

  ::-webkit-scrollbar {
    width: 5px; 
  }
} */

:root{
    --minus-14rem: calc(100% - 14rem);
    --minus-6rem: calc(100% - 6rem);
}

/*default*/
@media (min-width: 767px) {

  .content-toggled {
    margin-left: 6.5rem !important;
  }

  .topbar-toggled {
    margin-left: 6.5rem !important;
    width: var(--minus-6rem);
    padding-right: 110px !important;
  }

  .footer-toggled{
    margin-left: 6.5rem !important;
  }

  #topbar {
    margin-left: 14rem;
    padding-right: 220px;
  }

  .table th {
    width: 100%;
  }

  .sidebar{
    min-height: 100vh;
    overflow-y: auto;
    max-height: 100vh;
    overflow-x: hidden !important;
  }

  .img-hrmis img {
    width: 50%;
    padding-top: 12px !important;
    margin-left: -30px;
  }

  h6.eportal-text {
    float: right;
    padding-top: 35px;
    margin-right: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 18px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;/* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #8b2525;
     /* Color of the thumb (the draggable scrolling handle) */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8b2525; /* Color of the thumb when hovering */
  }

}

/*mobile-view/sidebar*/
@media (max-width: 768px) {
 
  .table td {
    padding: 1rem !important;
  }
  .table th {
    width: 100%;
  }
  
  #content{
    margin-left: 6rem;
    margin-top: 50px;
  }

 .col-sm-8, .col-4, .col-md-4 {
     width: 100% !important;
     margin-bottom: 5%;
     margin-left: 2%;
     margin-right: 2%;
 }
  
  .sticky-footer{
    margin-left: 6rem;
  }  

  #topbar{
    margin-left: 6.5rem;
    width: var(--minus-6rem);
    width: 100%;
    padding-right: 20px;
  }

  #card-announcement, #card-birthday, #card-attendance {
    margin-top: 5% !important;
  }



  /* #announcedesc1, #announcedesc2, #announcedesc3  {
    background-color: #BCFFB9 !important;
    color: black !important;
    font-family: Arial;
    font-weight: bold;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 2%;
    font-size: small;
  }
  
  #announcedate1, #announcedate2, #announcedate3 {
    background-color: darkgreen !important;
    color: white !important;
    border-radius: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: smaller;
  } */
  

  .content-toggled {
    margin-left: 0!important;
  }
  .topbar-toggled {
    margin-left: 0 !important;
    width: 100%;
  }
  .footer-toggled{
    margin-left: 0!important;
  }
}

/*-- More Responsive sizes ---*/
@media only screen and (min-width: 769px) and (max-width: 900px){
  .table {
    overflow-x: hidden;
  }
  .table td {
    padding: 1rem !important;
  }
  .table th {
    width: 100%;
  }
  
  #content{
    margin-left: 205px;
    margin-top: 50px;
  }

 .col-sm-8, .col-4, .col-md-4 {
     width: 100% !important;
     margin-bottom: 5%;
     margin-left: 2%;
     margin-right: 2%;
 }
  
  .sticky-footer{
    margin-left: 6rem;
  }  

  #topbar{
    margin-left: 14rem;
    width: var(--minus-14rem);
    width: 100%;
    padding-right: 20px;
  }

  .content-toggled {
    margin-left: 10% !important;
  }
  .topbar-toggled {
    margin-left: 6.5rem !important;
    width: 100%;
  }
  .footer-toggled{
    margin-left: 0!important;
  }
}

#accordionSidebar {
  background-color: #7a1818 !important;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;
}

#card-attendance {
    width: 100% ;
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    background-color: white !important;
    /* border: 1px solid #E41717 !important; */
}

#card-announcement, #card-birthday {
    /* border: 2px solid lightsalmon !important; */
    /* border: 1px solid #E41717 !important; */
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    background-color: white !important;
}

.ch-birthday {
  /* background: linear-gradient(45deg, #29A173, #05633f) !important ; */
  color: black !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  border-bottom: 2px solid #d874d0 !important;
  background: linear-gradient(45deg, rgb(237, 160, 253), white) !important;
}

.ch-attendance {
  /* background: linear-gradient(45deg, #FF3232, #FFB774)  !important; */
  color: black !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  border-bottom: 2px solid #e0d869 !important;
  background: linear-gradient(45deg, rgb(253, 247, 160), white) !important;
}

.ch-announcement {
  /* background: linear-gradient(45deg, #aa14cf, #6e218d)  !important; */
  color: black !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  border-bottom: 2px solid #fabe70 !important;
  background: linear-gradient(45deg, rgb(252, 187, 126), white) !important;
}

.ch-map {
  /* background: #2094a3 !important ; */
  color: black !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  border-bottom: 2px solid #5bc945 !important;
  background: linear-gradient(45deg, rgb(175, 253, 160), rgb(223, 253, 213)) !important;
}


.consultation-icon {
    height: 30px;
    width: 30px;
    top: 3px;
    right: 10px;
}

.db-icon-eportal, .salary-icon-eportal, .cash-icon-eportal, .coop-icon-eportal, .attendance-icon-eportal, .leave-icon-eportal, .disciplinary-icon-eportal {
    width: 25px;
    height: 25px; 
    top: 3px;
}

.eportal-icon {
  width: 25px;
  height: 25px; 
  top: 3px;
  color: #7a1818 !important;
}

.cb-attendance {
   background-color: rgb(212, 250, 237) !important;
}

#table-attendance {
    width: 100%;
    overflow-x: hidden;
}

/* div.dataTables_scrollHead {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} */

/* .span-eportal{
    color: white;
    font-weight: bold;
    margin: 3%;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* .link-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px white !important;
} */

.btn-clockin {
    background-color: green !important;
    color: white !important;
    /* margin: auto; */
    margin-top: 20px !important;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    border-radius: 5px !important;
    border: 2px solid rgb(6, 97, 3) !important;
    height: 35px;
    width: 30%;
    font-size: 13px !important;
    font-family: Cambria !important;
    margin-top: 2%;
}

.btn-clockin:hover {
  transform: scale(1.1);
  font-size: 13px !important;
  width: 35%;
  font-weight: bold;
  background-color: rgb(6, 97, 3) !important;
}

.btn-clockout {
    background-color: red !important;
    color: white !important;
    /* margin: auto; */
    margin-top: 20px !important;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
    border-radius: 5px !important;
    border: 2px solid rgb(185, 10, 10) !important;
    height: 35px;
    width: 30%;
    font-size: 13px !important;
    font-family: Cambria !important;
}

.btn-clockout:hover {
    transform: scale(1.1);
    font-size: 13px !important;
    width: 35%;
    font-weight: bold;
    background-color: rgb(185, 10, 10) !important;
}

#map {
    height: 350px;
    width: 100%;
    z-index: 1;
}

#card-map { 
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    background-color: white !important;
}

.container {
    margin-bottom: 5%;
}

/* #clock-in-out {
    height: 540px;
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    background-image: url(/images/bg-clockin-out.jpg);
} */

#clock-lordicon {
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    border-radius: 500px;
    background-color: #E9B384 !important;
    width: 150px;
    height: 150px;
    margin: auto;
}


.ch-salary,
.cheader-attendance {
  background-color: #7a1818 !important;
  height: 90px !important;
}

.cheader-attendance,
.ch-cashad,
.ch-requestleave,
.ch-da {
  background-color: #7a1818 !important;
  height: 50% !important;
}

.ch-salary h3, .cheader-attendance h3, .ch-cashad h3, .ch-requestleave h3, .ch-da h3 {
    color: white !important;
    padding: 15px;
    font-family: Times New Roman;
    font-weight: bolder;
}

.cbody-salary, .cbody-attendance, .cbody-cashad, .cbody-requestleave, .cbody-da {
    background-color: #fcf0d7;
}

.btn-eportal-color {
    float: right;
    padding: 5px !important;
    border-radius: 8px;
    height: 33px;
    background-color: #53c24e !important;
    border: 2px solid #fcf0d7 !important;
    color: white !important;
}

.btn-eportal-color:hover {
  background-color: #197214 !important;
  color: white !important;
}

.btn-eportal-color h6 {
    font-weight: bold;
    font-family: 'Times New Roman';
}
/* 
#announcetitle1, #announcetitle2,  #announcetitle3  {
  background: darkgreen !important;
  text-transform: uppercase;
  color: white !important;
  font-weight: bold;
  font-family: 'Times New Roman';
  word-wrap: break-word;
  padding: 5% !important;
  border-radius: 35px 8px 35px 8px;
  font-size: medium;
}

#announcedesc1, #announcedesc2, #announcedesc3  {
  background-color: #BCFFB9 !important;
  color: black !important;
  font-family: Arial;
  font-weight: bold;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 2%;
  font-size: small;
}

#announcedate1, #announcedate2, #announcedate3 {
  background-color: darkgreen !important;
  color: white !important;
  border-radius: 10px;
  font-family: cursive;
  font-weight: bold;
  font-size: smaller;
} */

.btn-search-topbar {
  height: 40px;
  width: 40px;
  padding-left: 8px;
  border: 2.5px solid #fcf0d7  !important;
  border-radius: 3px;
  background-color: #E41717 !important;
  color: white !important;
}

.btn-search-topbar:hover {
  background-color: #fa0303 !important;
  color: white !important;
}

.db-search-hrmis {
  color: white !important;
}


.db-bell-eportal {
  width: 25px;
  height: 25px;
}

.db-message-eportal {
  width: 40px;
  height: 40px;
}

#dp-header {
  background-color: #7a1818 !important;
  border: 3px solid #fcf0d7 !important;
}

.profile-box-db {
  background-color: #7a1818 !important;
  color: white !important;
  font-weight: bold !important;
}

.profile-box-db:hover {
  background-color: #fcf0d7 !important;
  color: #7a1818 !important;
  font-weight: bold !important;
}

/*-- Topbar Icons ----*/
.user-prof-icon,
.settings-icon,
.log-icon,
.logout-icon {
  width: 15px;
  height: 15px;
}

.sidebar-item span{
  color: white !important;
  padding:8px;
}
.sidebar-item {
  transition: background-color 0.1s ease;
}

.sidebar-item:hover {
  background-color: #fcf0d7 !important;
  font-weight: bold;
}

.sidebar-item:hover span {
  color: #7a1818 !important;
}

.boxshadow-sidebar {
  background-color: #510A0A !important;
}
.collapse .collapse-item {
  font-weight: 600;
  color: white !important;
}

.collapse .collapse-item:hover {
background-color: white !important;
color: black !important;
}

#modal-header {
  background-color: #7a1818 !important ;
  color: white !important;
  height: 80px;
}

#modal-footer {
  background-color: #7a1818 !important ;
}

.modal-dialog #modal-body {
  background-color: #fcf0d7 !important;
}

.btn-modal-close {
  color: white !important;
  background-color: red !important;
  border: 2px solid #fcf0d7 !important;
}
.btn-modal-close:hover {
  background-color: #ff3535 !important;
  color: white !important;
  font-weight: bold;
}

.bx-x {
  color: white !important;
  font-size: 30px;
  margin: 0%;
}
.bx-x:hover {
  border: 2px solid white !important;
  border-radius: 8px;
}

.modal-title {
  font-size: 18px;
  margin: 0%;
}


.eportal-img-announce {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.db-custom-cards1 {
  /* background-color: #fcf0d7 !important; */
  height: 550px;
  overflow: auto;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.announce-title {
  margin: 8%;
  color: black !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial';
}

.a-des {
  color: black !important;
  font-style: italic;
  margin-top: 3%;
}

.a-date {
  color: gray;
  font-weight: bold;
  /* float: right; */
  margin-top: 2%;
}

.announcement-hrmis {
  background-color: white !important;
  height: 300px;
  padding: 15px !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.prev-hrmis, .next-hrmis {
  position: absolute;
  top: 22%;
  color:#020202 !important; 
}

#clockin-out {
  box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
  background-color: white !important;
}

.time-title {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 19px;
  text-align: center;
  color: rgb(128, 18, 18) !important;
  text-shadow: 1px 1px 1px gray !important;
  font-weight: bold;
}

.time-p {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: rgb(85, 85, 85) !important;

}

.time-profile-img {
  margin: auto !important;
  height: 10% !important;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(169, 241, 253) !important;
}

.ch-time {
  background:linear-gradient(45deg, rgb(169, 241, 253), white) !important;
  border-radius: 8px;
  margin-top: 3%;
  padding: 18px !important;
  box-shadow: 0 4px 8px 0 rgb(82, 81, 81) !important;
}

.status-text {
  font-size: 13px;
  color: black !important;
  font-weight: bold !important;
  float: left;
  letter-spacing: 1px;
}

.status-time {
  font-size: 12px;
  color: white !important;
  padding: 5px;
  font-weight: none;
  text-transform: none;
  background-color: #53c24e !important;
  border-radius: 5px;
}

.time-text {
  font-size: 13px;
  color: black !important;
  font-weight: bold !important;
  float: right;
  letter-spacing: 1px;
}

.time-clock {
  font-size: 12px;
  color: rgb(73, 73, 73) !important;
 text-shadow: 0px 1px 1px rgb(73, 73, 73) !important;
  padding: 2px;
}




