
#content-wrapper {
  background-color: white !important;
}

.content {
  margin-top: 80px;
}


.fa-bars {
  color: white !important;
}

.fa-bars:hover {
  background: transparent;
}

/* .top-round-button {
    z-index: 1001;
    background-color: #7F8487 !important;
} */

.navbar {
  background-color: #8b2525 !important;
  position: fixed !important;
  /* margin-left: 6.4rem; */
  width: 75%;
  z-index: 2;
}


.searchbar-eportal {
  border: 2px solid #fcf7eb !important;
}

.searchbar-bg {
  background: linear-gradient(180deg, #8b2525, rgb(173, 7, 7)) !important;
}

.btn-search-eportal {
  background-color: #E41717 !important;
  border: 2.5px solid #fcf7eb  !important;
  color: white !important;
}


.dropdown-eportal {
  background-color: #7a1818 !important;
  border: 3px solid #fcf7eb !important;
}

.profilename-eportal {
    color: white !important;
    font-weight: bold;
}

.navbar-expand .navbar-nav  .dropdown-profile-eportal {
    background-color: #7a1818 !important;
}

.dropd-eportal {
  color: white !important;
  font-weight: bold !important;
}
.dropd-eportal:hover {
  background-color: #fcf7eb !important;
  color: #7a1818 !important;
  font-weight: bold !important;
}


.time-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: white !important;
  font-style: italic;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0%;
}

.time-text {
  display: flex;
  flex-direction: column;
}

.time-name {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  color: white !important;
  text-align: left;
  font-weight: bold;
  margin-left: 0.5rem;
}

.time-p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: black !important;
  font-style: italic;
  padding: 2px;
  margin-bottom: 8%;
}

.clockin-out-card {
  display: flex;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
  gap: 1rem;
}

.cb-inout {
  background-color: white !important;
  margin: 15px;
}

:root {
  --minus-15rem: calc(100% - 15rem);
  --minus-6rem: calc(100% - 8rem);
}

/* responsiveness */
@media (max-width: 746px) {
  .content {
    margin-left: 7rem !important;
    margin-right: 1rem;
  }

  .time-profile-img {
    width: 110px;
    height: 110px;
    margin: 1rem;
  }

  
  .time-title {
    font-size: 16px;
  }

  .time-name {
    font-size: 18px;
  }

  .company-img, span.companyname {
    justify-content: center !important;
    margin: auto !important;
  }

  .table .payslip-table {
    display: none !important;
  }
  
}


@media (max-width: 1535px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-profile-img {
    width: 110px;
    height: 110px;
    margin: 1rem;
  }

  
  .time-title {
    font-size: 16px;
  }

  .time-name {
    font-size: 18px;
  }
  
}

@media (max-width: 1134px) {
  .time-profile-img {
    width: 50px !important;
    height: 50px !important;
    margin: 0rem !important;
  }

  
  .time-title {
    font-size: 10px !important;
  }

  .time-name {
    font-size: 12px !important;
  }

  .clockin-btn,
  .clockout-btn {
    font-size: 10px;
  }

  table td {
    font-size: 10px !important;
  }


}

@media (max-width: 1355px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-title {
    font-size: 16px;
  }

  .time-name {
    font-size: 18px;
  }

  .time-profile-img {
    width: 80px;
    height: 80px;
    margin: 1rem;
  }
  

  .btn-clockin,
  .btn-clockout {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0%;
  }

  .clockin-out-card {
    display: flex;
    flex-direction: column;
  }

  .time-p {
    font-size: 8px;
  }

  .clockin-btn,
  .clockout-btn {
    font-size: 10px;
  }

  table td {
    font-size: 10px !important;
  }

}

@media (max-width: 1248px) {
  .clockin-btn,
  .clockout-btn {
    font-size: 8px !important;
  }

  table td {
    font-size: 10px !important;
  }
}

@media (max-width: 1159px) {
  .clockin-btn,
  .clockout-btn {
    font-size: 6px !important;
  }

  table td {
    font-size: 10px !important;
  }
}


@media (max-width: 1071px) {
  .clockin-btn,
  .clockout-btn {
    font-size: 5px !important;
  }

  table td {
    font-size: 10px !important;
  }
}

@media (max-width: 1027px) {
  .clockin-btn,
  .clockout-btn {
    font-size: 4px !important;
  }

  table td {
    font-size: 8px !important;
  }

}

@media (max-width: 1281px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-title {
    font-size: 16px;
  }

  .time-name {
    font-size: 18px;
  }

  .time-profile-img {
    width: 80px;
    height: 80px;
    margin: 1rem;
  }
  

  .btn-clockin,
  .btn-clockout {
    font-size: 10px;
    font-weight: bold;
  }

  .clockin-out-card {
    display: flex;
    flex-direction: column;
  }

  .payslip-profile {
    display: flex;
    flex-direction: column;
  }
}


/* 100% zoom screen */
@media (min-width: 1920px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-profile-img {
    width: 110px;
    height: 110px;
    margin: 1rem;
  }

}

/* 110% zoom screen */
@media (min-width: 1745px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-profile-img {
    width: 110px;
    height: 110px;
    margin: 1rem;
  }
}

/* 125% zoom screen */
@media (min-width: 1536px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-profile-img {
    width: 110px;
    height: 110px;
    margin: 1rem;
  }
}


/* 150% zoom screen */
@media (max-width: 1280px) {
  .content {
    margin-left: 15rem;
    margin-right: 1rem;
  }

  .time-title {
    font-size: 16px;
  }

  .time-name {
    font-size: 18px;
  }

  .time-profile-img {
    width: 80px;
    height: 80px;
    margin: 1rem;
  }

  .clockin-out-card {
    display: flex;
    flex-direction: column !important;
  }

  .btn-clockin,
  .btn-clockout {
    margin-bottom: 0% !important;
  }

  .time-p {
    font-size: 10px !important;
  }

  .clockin-btn, .clockout-btn {
    font-size: 10px;
  }

}


/* 200% zoom screen */
@media (max-width: 960px) {
  .time-title {
    font-size: 16px;
  }

  .time-name {
    font-size: 18px;
  }

  .time-profile-img {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
  }

  .clockin-out-card {
    display: flex;
    flex-direction: column;
  }

  .time-p {
    font-size: 8px;
  }

  .btn-clockin,
  .btn-clockout {
    font-size: 8px !important;
  }

  .bi-box-arrow-in-left, .bi-box-arrow-in-right {
    font-size: 12px;
  }

}

.attendance-field {
  flex-direction: row;
}

/* 250% zoom screen */
@media (max-width: 768px) {

  .content {
    margin-left: 15rem;
    margin-right: 0.5rem;
  }

  .eportal-grid {
    display: flex;
    flex-direction: column;
  }

  .eportal-map {
    margin-bottom: 9rem;
  }

  .table th {
    width: 100% !important;
  }

  .text-brand-ojt {
    font-size: medium;
    word-wrap: break-word;
  }

  

  
  /* .sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  } */

  .navbar {
    /* margin-left: 14.5rem; */
    width: 100;
    /* border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 13px; */
    /* box-shadow: 0 4px 8px #3b3939 !important; */
  }

  
  .img-hrmis img {
    width: 50%;
    padding-top: 12px !important;
    margin-left: -30px;
  }

  h6.eportal-text {
    float: right;
    padding-top: 35px;
    margin-right: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 18px;
  }

  .eportal-inout,
  .eportal-bday,
  .eportal-announcement,
  .eportal-attendance,
  .eportal-map {
    width: 100% !important;
  }

}

@media (max-width: 1000px) {
  .table .payslip-table {
    display: none !important;
  }
}


/* 300% zoom screen */
@media (max-width: 640px) {

  .bday-img-eportal {
    height: 150px !important;
    width: 150px !important;
    border: 3px solid rgb(233, 187, 3) !important;
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    margin-top: 10% !important;
  }

  .bday-greet {
    color: white !important;
    text-align: center;
    margin-top: 33% !important;
    font-size: 1.5rem !important;
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .fname-eportal {
    font-size: 11px !important;
  }

  .attendance-field {
    flex-direction: column !important;
  }

  
  .bdaydate-eportal {
    font-size: 11px !important;
  }

  .btn-clockout,
  .btn-clockin {
    margin-bottom: 4px !important;
  }

  .bi-box-arrow-in-left,
  .bi-box-arrow-in-right {
    font-size: 23px !important;
  }


  .clockin-out-card {
    display: flex;
    flex-direction: column;
  }

  .time-profile-img {
    width: 80px !important;
    height: 80px !important;
  }

 
  .table td {
    padding: 1rem !important;
  }
  .table th {
    width: 100%;
  }
  
  .content {
    /* margin-left: 8rem !important; */
    margin-left: 1rem !important;
    margin-right: 10px;
  }

  .col-sm-8,
  .col-4,
  .col-md-4 {
    width: 100% !important;
  }

  .eportal-map {
    margin-bottom: 0rem;
  }

  .content-toggled {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .footer-toggled {
    margin-left: 0px !important;
  }


  .navbar {
    width: 75% !important;
    position: absolute !important;
  }

  .navbar-toggled {
    margin-left: 0px !important;
    width: 100% !important;
  }

  #card-announcement,
  #card-birthday,
  #card-attendance {
    margin-top: 5% !important;
  }

  #card-map {
    margin-bottom: 5%;
  }

  .img-ojt-round {
    height: 150px;
    width: 150px;
  }

  .ojt-acc, .ojt-pw {
    font-size: small !important;
  }

  #myInput {
    width: 100%;
  }

  #map {
    width: 100%;
  }


  .time-p {
    font-size: 10px !important;
  }

  .time-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white !important;
    font-style: italic;
    margin-left: 0.5rem;
    margin-bottom: 0%;
    font-size: 18px !important;
  }

  .time-name {
    font-family: "Lexend", sans-serif;
    font-style: normal;
    color: white !important;
    text-align: left;
    font-weight: bold;
    margin-left: 0.5rem;
    font-size: 20px !important;
  }

  .btn-eportal-color {
    width: 100%;
  }

}

.bx-x {
  color: white !important;
  font-size: 30px;
  margin: 0%;
}
.bx-x:hover {
  border: 2px solid white !important;
  border-radius: 8px;
}


#accordionSidebar {
  background-color: #7a1818 !important;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 2;
}

.boxshadow-sidebar {
  background-color: #510A0A !important;
}

.sticky-footer {
  height: 30px !important;
  background-color: #8b2525 !important;
  margin-top: 50px;
  color: white !important;
}

::-webkit-scrollbar {
  width: 2px; 
}

.ojt-icon {
  width: 25px;
  height: 25px; 
  top: 3px;
  color: #7a1818 !important;
}


#card-attendance {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(34, 33, 33) !important;
  background-color: white !important;
  height: 800px;
}

.ch-announcement {
  /* background: linear-gradient(45deg, #aa14cf, #6e218d)  !important; */
  color: white !important;
  background-color: #7a1818 !important;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.db-custom-cards1 {
  background: linear-gradient(45deg, #cfcfcf, #ffffff, #b8b8b8, #ffffff, #979797) !important;
  height: 550px;
  overflow: auto;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.announcement-hrmis {
  background-color: white !important;
  height: 310px;
  padding: 15px !important;
  position: relative;
}

.announce-title {
  margin: 6%;
  color: black !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a-des {
  color: black !important;
  font-style: italic;
  margin-top: 3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.a-date {
  color: black !important;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  font-size: 12px;
}

.prev-hrmis,
.next-hrmis {
  position: absolute;
  top: 22%;
  color: #7a1818 !important;
}

.consultation-icon {
    height: 30px;
    width: 30px;
    top: 3px;
    right: 10px;
}

.db-bell-hrmis {
  width: 25px;
  height: 25px;
}

.db-message-hrmis {
  width: 40px;
  height: 40px;
}

.db-search-hrmis {
  width: 25px;
  height: 25px;
}

.mail-icon-eportal {
  width: 40px;
  height: 40px;
}

.ch-attendance {
  background-color: #7a1818 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.cb-attendance {
  background: linear-gradient(45deg, #cfcfcf, #ffffff, #b8b8b8, #ffffff, #979797) !important;
}

#table-attendance {
    width: 100%;
    overflow-x: hidden;
}

/* #loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-message {
  font-size: 18px;
  color: #333;
} */

.span-eportal{
    color: white;
    font-weight: bold;
    margin: 3%;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-clockin {
  background-color: #08aa3e !important;
  color: white !important;
  margin-top: 5% !important;
  margin-bottom: 20px;
  border-radius: 5px !important;
  border: 3px solid rgb(6, 97, 3) !important;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-clockin:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: rgb(6, 97, 3) !important;
}

.bi-box-arrow-in-left,
.bi-box-arrow-in-right {
  font-size: 30px;
}

.btn-clockout, .btn-submit-dtr {
  background-color: rgb(201, 25, 25) !important;
  color: white !important;
  margin-top: 5% !important;
  margin-bottom: 20px;
  border-radius: 5px !important;
  border: 3px solid rgb(158, 6, 6) !important;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-clockout:hover, .btn-submit-dtr:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: rgb(158, 6, 6) !important;
}

/* #map {
  height: 500px;
  width: 100%;
} */

#map {
  height: 518px;
  z-index: 1;
  border: 2px solid rgb(210, 208, 208) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 5px;
  width: 100%;
}

#card-map {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(34, 33, 33) !important;
  background-color: white !important;
}

.ch-map {
  color: white !important;
  font-weight: bold;
  background-color: #7a1818 !important;
  border-bottom: 2px solid transparent !important;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cb-map {
  background: linear-gradient(45deg, #cfcfcf, #ffffff, #b8b8b8, #ffffff, #979797) !important;
  /* background-color: black !important; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.eportal-icon {
  width: 30px;
  height: 30px;
  top: 6px;
}

.container {
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
}


#clockin-out {
  background: linear-gradient(45deg, #cfcfcf, #ffffff, #b8b8b8, #ffffff, #979797) !important;
  box-shadow: 0 4px 8px 0 rgb(34, 33, 33) !important;
  height: 450px;
}
 
 #clock-header {
  background-color: #7a1818 !important;
  display: flex;
  align-items: center;
}

 .time-profile-img {
  width: 110px;
  height: 110px;
  margin: 1rem;
}

/* .time-title {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: white !important;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}

.time-p {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: white !important;
  font-style: italic;
  padding: 2px;
  margin-bottom: 8%;
}

.time-profile-img {
  margin: auto !important;
  height: 10% !important;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #7a1818 !important;
} */

#card-announcement {
  box-shadow: 0 4px 8px 0 rgb(34, 33, 33) !important;
  background-color: white !important;
  height: 650px;
}

#card-birthday {
  box-shadow: 0 4px 8px 0 rgb(34, 33, 33) !important;
  height: 650px;
}

.ch-birthday {
  color: white !important;
  font-weight: bold;
  background: #7a1818 !important;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ch-salary,
.cheader-attendance {
  background-color: #7a1818 !important;
  height: 90px !important;
}

.cheader-attendance,
.ch-cashad,
.ch-requestleave,
.ch-da {
  background-color: #7a1818 !important;
  height: 50% !important;
}

.ch-salary h3, .cheader-attendance h3, .ch-cashad h3, .ch-requestleave h3, .ch-da h3 {
    color: white !important;
    padding: 15px;
    font-weight: bolder;
}

.cbody-salary, .cbody-attendance, .cbody-cashad, .cbody-requestleave, .cbody-da {
    background-color: #fcf7eb;
}

.btn-eportal-color {
  float: right;
  border-radius: 8px;
  /* width: 100%; */
  background-color: #4E9F3D !important;
  border: 2px solid white !important;
  color: white !important;
  font-size: 15px !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-eportal-color:hover {
  background-color: #1E5128 !important;
  transform: scale(1.1);
}

.btn-eportal-color h6 {
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 15px;
}


.card-ojt {
  background: #fcf7eb !important;
  border-radius: 10px;
}

.ch-ojt {
  background: #7a1818 !important;
  /* border: 1.5px solid #5b0000 !important; */
}

.ojt-acc {
  background-color: transparent !important;
  border: transparent !important;
  color: white !important;
  font-family: Arial;
  font-size: medium;
  font-weight: bold;
} 

.ojt-acc:hover {
  background: #fcf7eb !important;
  color: #881a1a !important;
  font-weight: bold;
  font-family: Arial;
  font-size: large;
  box-shadow: 0 0 8px black !important;
}

.ojt-pw {
  background-color: transparent !important;
  border: transparent !important;
  color: white !important;
  font-family: Arial;
  font-size: medium;
  font-weight: bold;
}

.ojt-pw:hover {
  background: #fcf7eb !important;
  color: #881a1a !important;
  font-weight: bold;
  font-family: Arial;
  font-size: large;
  box-shadow: 0 0 8px black !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.fc-ojt {
  border: 2px solid #5b0000 !important;
  background-color: white !important;
}


.ojt-label {
  font-weight: bold;
  font-family: Calibri;
  color: #5b0000  !important;
  font-size: medium;
}

.ojt-id,
.ojt-fullname,
.ojt-dept,
.ojt-school,
.ojt-date-started,
.ojt-total-hours,
.ojt-accumulated-hours,
.ojt-remaining-hours,
.ojt-end-date {
  color: #575b5e !important;
  font-size: 15px;
}

.img-ojt-round {
  margin-top: 8%;
  border: 4px solid #7a1818;
}

.btn-outline-primary:hover {
  color: black !important;
}

.btn-modal-save {
  color: white !important;
  background-color: green !important;
  border: 2px solid #00B25A !important;
  float: right;
  font-family: Calibri;
  font-size: 18px;
}
.btn-modal-save:hover {
  background-color: rgb(10, 112, 61)important;
  color: white !important;
  font-weight: bold;
}


/*---- new css -----*/
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

.login-form {
  position: relative;
  height: 100%;
  z-index: 0;
  padding: 10px;
  justify-content: center;
  display: grid;
  align-items: center;

  
  background-color: rgb(250, 245, 245) !important;
}

.login-container {
  margin-top: 2%;
  max-width: 95%;
  
}

.login-form h2 {
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  color: white !important;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman';
}

.login-form .login-main {
  position: relative;
  display: flex;
  margin: 30px 0;
}

.login-content {
  flex-basis: 50%;
  padding: 3em 3em;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white !important;
  background-image: url(/images/img/5lreg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.login-form-img {
  flex-basis: 50%;
  background-image: url(/images/img/5lreg2.jpg);
  background-position: center;
  background-size: cover;
  width: 100px;
 
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.login-form-img img {
  max-width: 100%;
}

p {
  color: white !important;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.6;
  text-align: center;
}

a {
  text-decoration: none;
}

.login-form form {
  margin: 30px 0;
}

.login-form input {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #f7fafc;
  transition: 0.3s ease;
}

.login-main {
  border: 3px solid rgb(88, 11, 11) !important;
  border-radius: 10px;
}

.login-form .login-btn-ojt {
  margin-top: 5px;
  font-size: 18px;
  color: white !important;
  width: 100%;
  background: rgba(63, 2, 2, 0.911) !important;
  border: 3px solid rgb(112, 7, 7) !important;
  padding: 14px 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.login-form 
.login-btn-ojt:hover {
  background-color: #d11212 !important;
  transition: 0.5s ease;
}


p.account {
  color: white !important;
}

p.account:hover {
  text-decoration: underline;
}
*/

.login-logo {
  width: 100px;
  height: 100px;
} 

.ojt-container {
  margin-top: 8%;
}

.ojt-left-card {
  background-image: url(/images/img/5lreg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 550px;
}

.ojt-right-card {
  background-image: url(/images/img/5lreg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 550px;
}

.login-text {
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  color: white !important;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman';
}

.label-username {
  margin-top: 10%;
  margin-left: 8%;
  color: white !important;
  font-size: 15px;
  font-family: Arial;
  font-weight: 100;
  letter-spacing: 0.2ch;
}

.label-password {
  margin-top: 5%;
  margin-left: 8%;
  color: white !important;
  font-size: 15px;
  font-family: Arial;
  font-weight: 100;
  letter-spacing: 0.2ch;
}

.fmc-user-ojt, .fmc-pw-ojt {
  margin-left: 8%;
  width: 85%;
}

.btn-ojt-pw {
  border: 1px solid white;
  color: white !important;
}

.btn-ojt-login {
  margin-top: 5px;
  font-size: 18px;
  color: white !important;
  width: 85%;
  margin-left: 5%;
  margin-right: 5%;
  background: rgba(63, 2, 2, 0.911) !important;
  border: 3px solid rgb(112, 7, 7) !important;
  padding: 14px 15px;
  font-weight: 600;
  transition: 0.3s ease;
  margin-bottom: 8% !important;
}

.btn-ojt-login:hover {
  background-color: #d11212 !important;
  transition: 0.5s ease;
}

.forgot-pw {
  color: rgb(174, 171, 171) !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.forgot-pw:hover {
  text-decoration: underline;
}

.ojt-right-card-img img {
  height: 350px;
  width: 400px;
}





/* @media (max-width: 767px) {
  .ojt-left-card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }

  .ojt-right-card {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .ojt-container {
    margin-top: 8%;
    margin-bottom: 5%;
  }

} */

.sidebar-header {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1.5rem;
  color: #ffffff73 !important;
}

.sidebar-headerOne {
  flex: 1 1 0%;
 border-top: solid 2px #ffffff73 !important;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.sidebar-header-span {
  letter-spacing: 0.05em;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.sidebar-item span{
  color: white !important;
  padding: 4px;
}
.sidebar-item {
  transition: background-color 0.1s ease;
}

.sidebar-item:hover {
  background-color: #fcf7eb !important;
  font-weight: bold;
}

.sidebar-item:hover span {
  color: #7a1818 !important;
}
.sidebar-divider {
    border-bottom: 3px solid white !important;
}

.user-prof-icon, .settings-icon, .log-icon, .logout-icon {
  width: 12px;
  height: 12px;
}

.db-icon-hrmis {
  width: 25px;
  height: 25px; 
  top: 3px;
}

.no-text {
  color: #7a1818 !important;
  text-shadow: 4px 4px 8px goldenrod !important;
  font-family: "Sedan", serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 40px !important;
  padding: 0px;
  margin-top: 8%;
}

.nobday {
  color: #7a1818 !important;
  text-shadow: 4px 4px 8px goldenrod !important;
  font-family: "Dancing Script", cursive;
  font-weight: bold !important;
  text-align: center;
  font-size: 35px;
}


.logout-header {
  background-color: #7a1818 !important;
  color: white !important;
  height: 70px;
  font-family: 'Calibri';
}

.logout-body {
  height: 150px;
  color: black !important;
  font-family: Arial;
  font-size: 15px;
  padding: 10% !important;
  background-color: #fcf7eb !important;
}

.btn-out-body {
  --tw-bg-opacity: 1;
  color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
  font-weight: 800 !important;
}

.btn-logout-cancel {
  background-color: #219897 !important;
  border: 2px solid white !important;
  color: white !important;
  font-weight: bold !important;
  letter-spacing: 0.05em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}

.btn-logout-cancel:hover {
  background-color: #015f66 !important;
  transform: scale(1.1);
}

.btn-logout {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
  letter-spacing: 0.05em;
  border: 2px solid white !important;
  color: white !important;
  font-weight: bold !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}

.btn-logout:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity)) !important;
  transform: scale(1.1);
}

.logout-footer {
  background-color: #7a1818 !important;
  height: 70px;
}

#modal-header {
  background-color: #7a1818 !important ;
  color: white !important;
  height: 80px;
}

#modal-footer {
  background-color: #7a1818 !important ;
}

.modal-dialog #modal-body {
  background-color: #fcf7eb !important;
}

.btn-modal-close {
  color: white !important;
  background-color: red !important;
  border: 2px solid #fcf7eb !important;
}
.btn-modal-close:hover {
  background-color: #ff3535 !important;
  color: white !important;
  font-weight: bold;
}
.btn-modal-save {
  color: white !important;
  background-color: green !important;
   border: 2px solid #fcf7eb !important;
}
.btn-modal-save:hover {
  background-color: #00B25A !important;
  color: white !important;
  font-weight: bold;
}

/*-- Attendance Script --*/
.clockin-btn {
  background-color: rgb(57, 169, 57) !important;
  color: white !important;
  border-radius: 8px;
  padding: 5px !important;
  text-transform: uppercase;
  font-size: 10px;
}

.clockout-btn {
  background-color: rgb(202, 32, 32) !important;
  color: white !important;
  border-radius: 8px;
  padding: 5px !important;
  text-transform: uppercase;
  font-size: 10px;
}

.nobday-img {
  height: 560px;
  border-radius: 6px;
}

/*Eportal Bday*/
.bday-img-eportal {
  height: 190px;
  width: 190px;
  border: 3px solid rgb(233, 187, 3) !important;
  box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
  margin-top: 6%;
}

.bday-eportal {
  background-image: url(/images/img/bday.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 565px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fname-eportal {
  color: white !important;
  text-align: center;
  padding: 6px;
  text-shadow: 1px 1px 2px black !important;
  font-size: 20px;
  margin-top: 1.5rem;
}


/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  color: white;
  text-shadow: 0px 0px 8px rgb(1, 18, 56);
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
}

.ribbon {
  --s: 1.8em;
  /* the ribbon size */
  --d: .5em;
  /* the depth */
  --c: .8em;
  /* the cutout part */

  padding: 0 calc(var(--s) + var(--d) + .5em) var(--d);
  line-height: 1.8;
  background:
    linear-gradient(90deg, rgba(245, 242, 242, 0.267) var(--d), #0000 0 calc(100% - var(--d)), rgba(245, 242, 242, 0.267) 0) 50%/calc(100% - 2*var(--s)) 100% no-repeat;
  clip-path: polygon(0 100%, var(--s) 100%, calc(var(--s) + var(--d)) calc(100% - var(--d)), calc(100% - var(--s) - var(--d)) calc(100% - var(--d)), calc(100% - var(--s)) 100%, 100% 100%, calc(100% - var(--c)) calc(50% + var(--d)/2), 100% var(--d), calc(100% - var(--s)) var(--d), calc(100% - var(--s) - var(--d)) 0, calc(var(--s) + var(--d)) 0, var(--s) var(--d), 0 var(--d), var(--c) calc(50% + var(--d)/2));
  background-color: rgba(37, 193, 255, 0.836);
  /* the main color */
  border: 3px solid rgb(255, 238, 3) !important;
  width: fit-content;
}


.bday-greet {
  color: white !important;
  text-align: center;
  margin-top: 16%;
  font-size: 2rem;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  letter-spacing: 3px;
}

.bdaydate-eportal {
  color: white !important;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.25rem;
  padding: 6px;
}

.cb-birthday {
  background: linear-gradient(45deg, #cfcfcf, #ffffff, #b8b8b8, #ffffff, #979797) !important;
  /* background-color: black !important; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.eportal-img-announce {
  height: 250px;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
  background-color: #7a1818 !important;
  color: white !important;
}

a.leaflet-control-zoom-in:hover, a.leaflet-control-zoom-out:hover {
  background-color: #fcf7eb !important;
  color: #7a1818 !important;
  font-weight: bold !important;
  font-size: 30px !important;
}

.leaflet-popup-content-wrapper {
  background-color: #7a1818 !important;
  color: white !important;
  font-family: 'Arial';
  font-weight: bold;
  border: 2px solid white;
}

.leaflet-popup-close-button {
  color: white !important;
}

.tr-left-attendance {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tr-right-attendance {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*-- Attendance Script --*/
.clockin-text {
  color: #0f8027 !important;
  background-color: #aefcd7 !important;
  border-radius: 6px;
  padding: 6px;
  text-transform: uppercase;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.clockout-text {
  color: #800f0f !important;
  background-color: #fcaeae !important;
  border-radius: 6px;
  padding: 5px;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.totalhours-text {
  color: #0f5c80 !important;
  background-color: #aee3fc !important;
  border-radius: 6px;
  padding: 6px;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.ch-coop {
  background-color: #7a1818 !important;
  height: 250% !important;
  color: white !important;
}

.bank-card-title {
  font-family: 'Times New Roman';
  color: white !important;
  margin-bottom: 1%;
  margin-top: 1%;
}


.bank-body {
  background-color: #fcf7eb !important;
}

.border-form-modal {
  border: 2.5px solid #7a1818 !important;
}

#preview {
  margin-top: 100px;
  width: 250px;
  height: 250px;
}

.modal-content-title {
  font-family: Georgia;
  color: #7a1818 !important;
  font-weight: bold;
}

.active-status {
  color: darkgreen !important;
    background-color: rgb(186, 243, 186) !important;
    border-radius: 8px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid green !important;
    letter-spacing: 1px;
}

.inactive-status {
  color: darkred !important;
    background-color: rgb(243, 186, 186) !important;
    border-radius: 8px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid red !important;
    letter-spacing: 1px;
}

.pending-status{
  color: darkgoldenrod !important;
  background-color: rgb(248, 248, 169) !important;
  border-radius: 8px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid rgb(146, 146, 14) !important;
  letter-spacing: 1px;
}

.modal-title {
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: bold;
  letter-spacing: 1px;
}



