.home-section .home-content{
    position: relative;
    padding-top: 104px;
  }
  .home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }
  .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .home-content .box .indicator{
    display: flex;
    align-items: center;
  }
  .home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .box .indicator i.down{
    background: #e87d88;
  }
  .home-content .box .indicator .text{
    font-size: 12px;
  }
  .home-content .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  .home-content .box .cart.two{
     color: #2BD47D;
     background: #C0F2D8;
   }
  .home-content .box .cart.three{
     color: #ffc233;
     background: #ffe8b3;
   }
  .home-content .box .cart.four{
     color: #e05260;
     background: #f7d4d7;
   }
  .home-content .total-order{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .sales-boxes{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  .img-preview {
    height:100%;
    display:flex;
    align-items:left;
    justify-content:left;
  
  }
  .form-input {
    width:350px;
    padding:20px;
    background:#fff;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                3px 3px 7px rgba(94, 104, 121, 0.377);
  }
  .form-input img {
    width:100%;
    display:none;
    margin-bottom:30px;
  }
  #tablecard {
    width: 85;
    margin-left: 5%;
    margin-right: 5%;
  }
  #table-responsive-id{
    overflow: hidden;
  }
  #openmodal{
    margin-top: 10px;
    margin-left: 110px;
    height: 60px;
    width: 150px;
    font-size: larger;
  }
  #myInput{
    margin-left: 80%;
    margin-top: -40px;
    float: right;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    border-color: red;
  }
  #head-title{
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: -20px;
  }
  #myInput2{
    margin-left: 80%;
    float: right;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border-color: red;
  }
  #myInput3{
    margin-left: 80%;
    margin-top: -40px;
    float: right;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border-color: red;
  }
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .95em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  .bunga{
    width: 90%;
    margin-left: 5%;
  }
  /* #applybtn{
    margin-left: 1%;
  } */
  
  @media screen and (max-width: 1000px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }       
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    head-title{
      text-align: center;
    }
  }
  
  
  
  
  
  
  
  
  
  

  
 