<script>
  let base64String = "";
  let requestid = "";
  $(document).ready(function () {
    console.log("Initialize");
    let employeeid = "<%= employeeid %>";
    LoadTable();
    LoadSubgroup();

    function LoadTable() {
      $("#dataTablereqCOA").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        type: "GET",
        ajax: {
          url: "/eportalrequestattendance/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                      <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#allleavemodal"><i class="fas fa-fw fa-pen"></i></button>
                    `;

              finalData.push({
                requestid: item.requestid,
                attendancedate: item.attendancedate,
                timein: item.timein,
                timeout: item.timeout,
                total: item.total,
                reason: item.reason,
                requeststatus: item.requeststatus,
                createdate: item.createdate,
                action: action,
              });
            });

            console.log(finalData);

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "requestid" },
          { data: "attendancedate" },
          { data: "timein" },
          { data: "timeout" },
          { data: "total" },
          { data: "reason" },
          { data: "requeststatus" },
          { data: "createdate" },
          { data: "action" },
        ],

        createdRow: function (row, data, dataIndex) {
          //miyaka
          var requeststatusCell = $(row).find("td:eq(6)");

          var requeststatusText = data.requeststatus;

          var requeststatusClass = "";

          switch (requeststatusText.toLowerCase()) {
            case "approved":
              requeststatusClass = "approved-status";
              break;
            case "cancel":
              requeststatusClass = "cancel-status";
              break;
              case "pending":
              requeststatusClass = "pending-status";
              break;
            default:
              requeststatusClass = "";
          }

          requeststatusCell.html(`<span class="${requeststatusClass}">${requeststatusText}</span>`);

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {
          console.log("Done");
        },
      });
    }


     //miyaka
     function getStatusClass(statusText) {
      switch (statusText.toLowerCase()) {
        case "approved":
          return "approved-status";
        case "cancel":
          return "cancel-status";
        case "pending":
          return "pending-status";
        default:
          return "";
      }
    }

    
    $(document).on("click", "#approvedtable", function () {
      console.log("Hit");
      $("#dataTableleaveApproved").find("tr:gt(0)").remove();

      $.ajax({
        type: "GET",
        url: "/eportalrequestattendance/loadapproved",
        success: function (json) {
          var finalData = [];
          var data = json.data;
          console.log(finalData);

          var material_list_tbl = document.getElementById(
            "dataTableleaveApproved"
          );

          $.each(data, function (key, item) {
            var row = material_list_tbl.insertRow(1);
            var REQUEST_ID = row.insertCell(0);
            var ATTENDANCE_DATE = row.insertCell(1);
            var TIME_IN = row.insertCell(2);
            var TIME_OUT = row.insertCell(3);
            var TOTAL = row.insertCell(4);
            var CREATE_DATE = row.insertCell(5);
            var STATUS = row.insertCell(6);
            var REASON = row.insertCell(7);

            REQUEST_ID.innerHTML = item.requestid;
            ATTENDANCE_DATE.innerHTML = item.attendace_date;
            TIME_IN.innerHTML = item.timein;
            TIME_OUT.innerHTML = item.timeout;
            TOTAL.innerHTML = item.total;
            CREATE_DATE.innerHTML = item.createdate;
            // STATUS.innerHTML = item.status;
            STATUS.innerHTML = `<span class="${getStatusClass(item.status)}">${item.status}</span>`;
            REASON.innerHTML = item.reason;

            $("#dataTableleaveApproved tbody").on("click", "tr", function () {
              var dataRow = [];
              $(this)
                .closest("tr")
                .find("td")
                .each(function () {
                  dataRow.push($(this).text());
                });
              masterleaveid = dataRow[1];
              console.log(dataRow);
            });

            $.each(
              [
                REQUEST_ID,
                ATTENDANCE_DATE,
                TIME_IN,
                TIME_OUT,
                TOTAL,
                CREATE_DATE,
                STATUS,
                REASON,
              ],
              function (_, cell) {
                cell.style.textAlign = "center";
                cell.style.verticalAlign = "middle";
              }
            );
          });
        },
        error: function (xhr, status, error) {},
      });
    });


    $(document).on("click", "#rejectedtable", function () {
      console.log("Hit");
      $("#dataTableleaveRejected").find("tr:gt(0)").remove();

      $.ajax({
        type: "GET",
        url: "/eportalrequestattendance/loadrejected",
        success: function (json) {
          var finalData = [];
          var data = json.data;
          console.log(finalData);

          material_list_tbl = document.getElementById("dataTableleaveRejected");

          $.each(data, function (key, item) {
            var row = material_list_tbl.insertRow(1);
            var REQUEST_ID = row.insertCell(0);
            var ATTENDANCE_DATE = row.insertCell(1);
            var TIME_IN = row.insertCell(2);
            var TIME_OUT = row.insertCell(3);
            var TOTAL = row.insertCell(4);
            var CREATE_DATE = row.insertCell(5);
            var STATUS = row.insertCell(6);
            var REASON = row.insertCell(7);

            REQUEST_ID.innerHTML = item.requestid;
            ATTENDANCE_DATE.innerHTML = item.attendace_date;
            TIME_IN.innerHTML = item.timein;
            TIME_OUT.innerHTML = item.timeout;
            TOTAL.innerHTML = item.total;
            CREATE_DATE.innerHTML = item.createdate;
            // STATUS.innerHTML = item.status;
            STATUS.innerHTML = `<span class="${getStatusClass(item.status)}">${item.status}</span>`;
            REASON.innerHTML = item.reason;

            $.each(
              [
                REQUEST_ID,
                ATTENDANCE_DATE,
                TIME_IN,
                TIME_OUT,
                TOTAL,
                CREATE_DATE,
                STATUS,
                REASON,
              ],
              function (_, cell) {
                cell.style.textAlign = "center";
                cell.style.verticalAlign = "middle";
              }
            );
          });
        },
        error: function (xhr, status, error) {},
      });
    });




    $(document).on("click", "#cancelledtable", function () {
      console.log("Hit");
      $("#dataTableleaveCancelled").find("tr:gt(0)").remove();

      $.ajax({
        type: "GET",
        url: "/eportalrequestattendance/loadcancelled",
        success: function (json) {
          var finalData = [];
          var data = json.data;
          console.log(finalData);

          material_list_tbl = document.getElementById(
            "dataTableleaveCancelled"
          );

          $.each(data, function (key, item) {
            var row = material_list_tbl.insertRow(1);
            var REQUEST_ID = row.insertCell(0);
            var ATTENDANCE_DATE = row.insertCell(1);
            var TIME_IN = row.insertCell(2);
            var TIME_OUT = row.insertCell(3);
            var TOTAL = row.insertCell(4);
            var CREATE_DATE = row.insertCell(5);
            var STATUS = row.insertCell(6);
            var REASON = row.insertCell(7);

            REQUEST_ID.innerHTML = item.requestid;
            ATTENDANCE_DATE.innerHTML = item.attendace_date;
            TIME_IN.innerHTML = item.timein;
            TIME_OUT.innerHTML = item.timeout;
            TOTAL.innerHTML = item.total;
            CREATE_DATE.innerHTML = item.createdate;
            // STATUS.innerHTML = item.status;
            STATUS.innerHTML = `<span class="${getStatusClass(item.status)}">${item.status}</span>`;
            REASON.innerHTML = item.reason;

            $.each(
              [
                REQUEST_ID,
                ATTENDANCE_DATE,
                TIME_IN,
                TIME_OUT,
                TOTAL,
                CREATE_DATE,
                STATUS,
                REASON,
              ],
              function (_, cell) {
                cell.style.textAlign = "center";
                cell.style.verticalAlign = "middle";
              }
            );
          });
        },
        error: function (xhr, status, error) {},
      });
    });


    
    $(document).on("click", "#coasavebtn", function () {
      let attendancedate = $("#attendancedate").val();
      let timein = $("#timein").val();
      let timeout = $("#timeout").val();
      let reason = $("#coareason").val();
      let subgroupid = $("#coasubgroup").val();
      let file = base64String;

      var message = "";

      if (attendancedate == "") {
        message += "shiftname is required ";
      }

      if (subgroupid == "") {
        message += "subgroupid is required ";
      }

      if (timein == "") {
        message += "status is required ";
      }

      if (timeout == "") {
        message += "department is required ";
      }

      if (reason == "") {
        message += "reason is required ";
      }

      if (file == "") {
        message += "file is required ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/eportalrequestattendance/submit",
          data: {
            employeeid: employeeid,
            attendancedate: attendancedate,
            timein: timein,
            timeout: timeout,
            subgroupid: subgroupid,
            reason: reason,
            file: file,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((result) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "nodate") {
              swal({
                title: "Wrong Date",
                text: "Your Request Date is in the Future",
                icon: "warning",
                button: "OK!",
              });
              LoadTable();
            } else if (result.msg == "error") {
              swal({
                title: "Error",
                text: "Something Wrong",
                icon: "Error",
                button: "OK!",
              });
              LoadTable();
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "You Already Have a CoA Request",
                icon: "warning",
                button: "OK!",
              });
              LoadTable();
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });

    function LoadSubgroup() {
      $.ajax({
        type: "GET",
        url: "/teamleadusers/subgroupload",
        success: function (result) {
          // console.log(result.data);
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.subgroupid, item.subgroupid);
            $(options).html(item.subgroupname);
            $("#coasubgroup").append(options);
            //console.log(item.firstname);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTablereqCOA tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      requestid = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/eportalrequestattendance/getreqCOA",
        data: {
          requestid: requestid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#id").val(item.requestid);
              $("#editattendancedate").val(item.attendancedate);
              $("#edittimein").val(item.timein);
              $("#edittimeout").val(item.timeout);
              $("#editcoastatus").val(item.requeststatus);
              $("#editcoareason").val(item.reason);
              $("#editpreviewfile").attr(
                "src",
                "data:image/jpg;base64," + item.file
              );
              base64String = item.file;
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });
    $(document).on("click", "#editcOAsavebtn", function () {
      let attendancedate = $("#editattendancedate").val();
      let timein = $("#edittimein").val();
      let timeout = $("#edittimeout").val();
      let reason = $("#editcoareason").val();
      let requeststatus = $("#editcoastatus").val();
      let file = base64String;

      var message = "";

      if (attendancedate == "") {
        message += "Attendance date is required. ";
      }

      if (timein == "") {
        message += "Time in is required. ";
      }

      if (timeout == "") {
        message += "Time out is required. ";
      }

      if (reason == "") {
        message += "Reason is required. ";
      }

      if (requeststatus === "Approved") {
        message += "You Are Not Allowed to Approved Your Request";
      }

      if (requeststatus === "") {
        message += "Status is required. ";
      }

      if (file === "") {
        message += "file is required. ";
      }
      if (message !== "") {
        swal("Ooops !!!", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/eportalrequestattendance/update",
          data: {
            requestid: requestid,
            attendancedate: attendancedate,
            timein: timein,
            timeout: timeout,
            reason: reason,
            requeststatus: requeststatus,
            file: file,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((result) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "nodate") {
              swal({
                title: "No Date",
                text: "No Date On That",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal(
                "Data already exists!",
                "You clicked the button!",
                "warning"
              );
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });
  });

  function submitRequest() {
    var selectedDate = document.getElementById("datepicker").value;
    console.log("Attendance requested for date:", selectedDate);
    $("#attendanceModal").modal("hide");
  }

  $(document).on("change", "#coafile", function (e) {
    const input = document.getElementById("coafile");
    const file = input.files[0];

    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onloadend = function () {
      const preview = document.getElementById("preview");
      preview.src = reader.result;
    };
    imageUploaded();
  });

  function imageUploaded() {
    const input = document.getElementById("coafile");
    const file = input.files[0];

    var reader = new FileReader();

    reader.onload = function () {
      base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

      imageBase64Stringsep = base64String;
    };
    reader.readAsDataURL(file);
  }

  $(document).on("change", "#editcoafile", function (e) {
    const input = document.getElementById("editcoafile");
    const file = input.files[0];

    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onloadend = function () {
      const preview = document.getElementById("editpreviewfile");
      preview.src = reader.result;
    };
    EditImage();
  });

  function EditImage() {
    const input = document.getElementById("editcoafile");
    const file = input.files[0];

    var reader = new FileReader();

    reader.onload = function () {
      base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

      imageBase64Stringsep = base64String;
    };
    reader.readAsDataURL(file);
  }
</script>
