<script>
  let leaveid = '';
  let cashadvanceid = '';
  let anouncementdiv = '';
  let bdaydiv = '';
  //let bulletinid = '';
  $(document).ready(function () {
    console.log('Initialize');
    LoadTable();
    LoadTableca();
    loadCard();
    LoadBdayFolks();
    //LoadAnnouncement();


    function loadCard() {
      $.ajax({
        type: "GET",
        url: "/countactive",
        success: function (result) {
          if (result.msg === "success") {
            const totalActive = result.data.activeCount;

            // Update the content of the #totalactive element
            $("#totalactive").text(totalActive);
          } else {
            // Handle error cases if needed
            console.error("Error fetching data:", result.msg);
          }
        },
        error: function (err) {
          // Handle AJAX error
          console.error("AJAX error:", err.statusText);
        }
      });
    }


    $.ajax({
      url: '/announcement/load',
      method: 'GET',
      dataType: 'json',

      success: function (data) {
        let details = data.data;
        console.log(data.data);
        let bulletinid = []
        $.each(details, (key, item) => {
          bulletinid.push({
            'id': item.bulletinid
          });
        })
        console.log(bulletinid);
        LoadAnnouncement(bulletinid);
      },
      error: function (error) {
        console.error(error);
      }
    });

    function LoadAnnouncement(bulletinid) {
      console.log("id", bulletinid);
      $.each(bulletinid, (key, item) => {
        let id = item.id;
        console.log("id2: ", id)
        GenerateAnouncement(id);
      })
    }

    function GenerateAnouncement(id) {
      $.ajax({
        type: "POST",
        url: "/getbulletin",
        data: {
          bulletinid: id,
        },
        success: function (result) {



          if (result.msg === "success") {
            const announcementData = result.data;
            let counter = 0

            console.log(announcementData.length);
            $.each(announcementData, (key, item) => {
              counter++;
              anouncementdiv += `
                  <div class="row g-0">
                    <div class="col-md-4">
                        <img id="preview${counter}" class="img-fluid rounded-start" src="data:image/jpg;base64,${item.image}" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" for="announcetitle" id="announcetitle${counter}">${item.title}</h5>
                            <p class="card-text" for="announcedesc" id="announcedesc${counter}">${item.description}</p>
                        </div>
                    </div>
                </div>`;

            

              console.log(anouncementdiv);


              // $("#id").text(item.bulletinid);
              //  $("#preview").attr("src", "data:image/jpg;base64," + item.image);
              //$("#announcetitle").text(item.title);
              // $("#announcedesc").text(item.description);
            })
          } else {
            console.error("Error: ", result.message);
            swal(
              "An error occurred while fetching announcement data",
              "Please try again later.",
              "error"
            );
          }

          $('#announcement').html(anouncementdiv);
        },
        error: function (err) {
          console.error("AJAX Error: ", err.responseText);
          swal(
            "An error occurred while fetching announcement data",
            "Please try again later.",
            "error"
          );
        },
      });


    }

    //<<<<<<<<<<<B DAY FOLKS>>>>>>>>>>>>>>>>>>>>>>>>


    function LoadBdayFolks() {
      $.ajax({
        type: "GET",
        url: "/getbday",
        success: function (result) {
          if (result.msg === "success") {
            const bdayData = result.data;
            let counterbday = 0;

            console.log(bdayData.length);
            $.each(bdayData, (key, item) => {
              counterbday++;
              bdaydiv += `
                <div class="row g-0">
                  <div class="col-md-4">
                    <img id="preview${counterbday}" style="height: 170px; width: 640px;" class="img-fluid rounded-start" src="data:image/jpg;base64,${item.profilePicturePath}" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" id="employeeid${counterbday}">${item.firstname}</h5>
                      <h6 class="card-text" id="bdaydate${counterbday}">${item.birthday}</h6>
                      <p class="card-text">Happy Na Birthday Pa</p>
                    </div>
                  </div>
                </div>`;
            });

            console.log(bdaydiv);

            $('#bdayfolks').html(bdaydiv);
          } else {
            console.error("Error: ", result.message);
            swal(
              "An error occurred while fetching announcement data",
              "Please try again later.",
              "error"
            );
          }
        },
        // Add a closing bracket here
      });
    }




    function LoadTable() {
      $("#dataTableleaverequest").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                      <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#allleavemodal"><i class="fas fa-fw fa-eye"></i></button>
                     `;

              finalData.push({
                employeeid: item.employeeid,
                leavestartdate: item.leavestartdate,
                leaveenddate: item.leaveenddate,
                leavetype: item.leavetype,
                reason: item.reason,
                applieddate: item.applieddate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "employeeid" },
          { data: "leavestartdate" },
          { data: "leaveenddate" },
          { data: "leavetype" },
          { data: "reason" },
          { data: "applieddate" },
          { data: "action" },
        ],
        initComplete: function () {
          console.log('Done');
        },
      });
    }

    $("#dataTableleaverequest tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      leaveid = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/getleave",
        data: {
          leaveid: leaveid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#id").val(item.leaveid);
              $("#pendingleavename").val(item.employeeid);
              $("#pendingleaveemail").val(item.email);
              $("#pendingleavegender").val(item.gender);
              $("#pendingleavephone").val(item.phone);
              $("#pendingleavetype").val(item.leavetype);
              $("#pendingleaveapplydate").val(item.applieddate);
              $("#pendingleavestart").val(item.leavestartdate);
              $("#pendingleaveend").val(item.leaveenddate);
              $("#pendingleavereason").val(item.reason);
              $("#pendingleaveaction").val(item.status);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });
    $(document).on("click", "#pendingleavesavebtn", function () {
      console.log("Save button clicked");
      let id = leaveid
      let status = $("#pendingleaveaction").val();
      let comment = $("#pendingleaveremarks").val();

      var message = "";


      if (status === "") {
        message += "status is required. ";
      }

      if (comment === "") {
        message += "status is required. ";
      }


      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/allleave/update",
          data: {
            leaveid: id,
            status: status,
            comment: comment,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal("Save Successfully", "You clicked the button!", "success",)
                .then(results => {
                  window.location.reload();
                });
              LoadTable();
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });

    <!--//cashadvance section-->
    function LoadTableca() {
      $("#dataTablecashrequest").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/requestcashadvance/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                        <button id="editcaBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#pendingmodal"><i class="fas fa-fw fa-eye"></i></button>
                       `;

              finalData.push({
                employeeid: item.employeeid,
                requestdate: item.requestdate,
                amount: item.amount,
                purpose: item.purpose,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "employeeid" },
          { data: "requestdate" },
          { data: "amount" },
          { data: "purpose" },
          { data: "status" },
          { data: "action" },
        ],
        initComplete: function () {
          console.log('Done');
        },
      });
    }

    $("#dataTablecashrequest tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      cashadvanceid = dataRow[0];
    });

    $(document).on("click", "#editcaBtn", function () {
      $.ajax({
        type: "POST",
        url: "/requestcashadvance/getreqca",
        data: {
          cashadvanceid: cashadvanceid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#id").val(item.cashadvanceid);
              $("#pendingcaname").val(item.employeeid);
              $("#pendingcaemail").val(item.email);
              $("#pendingcagender").val(item.gender);
              $("#pendingcaphone").val(item.phone);
              $("#pendingreqdate").val(item.requestdate);
              $("#pendingamount").val(item.amount);
              $("#pendingpurpose").val(item.purpose);
              $("#pendingcastatus").val(item.status);
              $("#pendingcaapprovaldate").val(item.approvaldate);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });
    $(document).on("click", "#pendingcasavebtn", function () {
      console.log("Save button clicked");
      let id = cashadvanceid
      let status = $("#pendingcastatus").val();
      let comment = $("#pendingcaremarks").val();

      var message = "";


      if (status === "") {
        message += "status is required. ";
      }

      if (comment === "") {
        message += "status is required. ";
      }

      // if (approvaldate === "") {
      //  message += "status is required. ";
      // }


      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/requestcashadvance/update",
          data: {
            cashadvanceid: id,
            status: status,
            comment: comment,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal("Save Successfully", "You clicked the button!", "success",)
                .then(results => {
                  window.location.reload();
                });
              LoadTable();
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });


    $(document).on("change", "#announcementimage", function (e) {
      const input = document.getElementById("announcementimage");
      const file = input.files[0];

      console.log("click");

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("preview");
        preview.src = reader.result;
      };
      imageUploaded();
    });

  });

  document.addEventListener('DOMContentLoaded', function () {
  // Define attendance data
  const attendanceData = {
    present: 80,
    absent: 15,
    late: 5,
  };

  // Get the canvas element for attendance chart
  const attendanceCanvas = document.getElementById('attendanceChart');
  const attendanceCtx = attendanceCanvas.getContext('2d');

  // Set up attendance chart
  const attendanceDataConfig = {
    labels: ['Present', 'Absent', 'Late'],
    datasets: [{
      data: [attendanceData.present, attendanceData.absent, attendanceData.late],
      backgroundColor: ['#36A2EB', '#F70101', '#FFAA33'],
    }],
  };

  const attendanceOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      title: {
        display: true,
        text: 'Attendance Chart',
        font: {
          size: 16,
        },
      },
    },
    tooltips: {
      callbacks: {
        label: function (tooltipItem, data) {
          const dataset = data.datasets[tooltipItem.datasetIndex];
          const total = dataset.data.reduce((previousValue, currentValue) => previousValue + currentValue);
          const currentValue = dataset.data[tooltipItem.index];
          const percentage = ((currentValue / total) * 100).toFixed(2) + '%';
          return data.labels[tooltipItem.index] + ': ' + percentage;
        },
      },
    },
  };

  // Create attendance chart
  const attendanceChart = new Chart(attendanceCtx, {
    type: 'doughnut',
    data: attendanceDataConfig,
    options: attendanceOptions,
  });

  // Define employee data
  const employeeData = {
    Active: 70,
    Resigned: 5,
    Terminate: 5,
    EndofContract : 20,
  };

  // Get the canvas element for employee chart
  const employeeCanvas = document.getElementById('employeeChart');
  const employeeCtx = employeeCanvas.getContext('2d');

  // Set up employee chart
  const employeeDataConfig = {
    labels: ['Active', 'Resigned', 'Terminate', 'End of Contract'],
    datasets: [{
      data: [employeeData.Active, employeeData.Resigned, employeeData.Terminate, employeeData.EndofContract,],
      backgroundColor: ['#32de84', '#36A2EB', '#F70101', '#FFAA33',],
    }],
  };

  const employeeOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      title: {
        display: true,
        text: 'Employee',
        font: {
          size: 20,
        },
      },
    },
  };

  // Create employee chart
  const employeeChart = new Chart(employeeCtx, {
    type: 'pie',
    data: employeeDataConfig,
    options: employeeOptions,
  });
});

 //employee graph

  // Sample data (replace this with your actual data)
  var jobStatusData = {
            labels: ['Regular', 'Probationary', 'Project Based'],
            datasets: [{
                label: 'Job Status',
                data: [50, 30, 20], // Replace with actual counts
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 205, 86, 1)',
                ],
                borderWidth: 1
            }]
        };

        var departmentData = {
            labels: ['Admin', 'IT', 'Cabling'],
            datasets: [{
                label: 'Employee Count',
                data: [100, 75, 50], // Replace with actual counts
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 205, 86, 1)',
                ],
                borderWidth: 1
            }]
        };

        // Get the context of the canvases
        var jobStatusCtx = document.getElementById('jobstatusChart').getContext('2d');
        var departmentCtx = document.getElementById('departmentChart').getContext('2d');

        // Create bar charts
        var jobStatusChart = new Chart(jobStatusCtx, {
            type: 'bar',
            data: jobStatusData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var departmentChart = new Chart(departmentCtx, {
            type: 'bar',
            data: departmentData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

</script>