<h1 class="font-weight-bold text-danger" id="head-title">Salary</h1>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header py-3">
      <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#resignedmodal">
        <b>+ Add</b>
      </button>
        <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTablesalary">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Employee</th>
                        <th>Monthly Salary</th>
                        <th>Monthly Allowances</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="resignedmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <i class='fas fa-money-bill' style='color:#0ebb39; font-size: 50px; margin: 3px;'></i>
          <h3 class="modal-title" id="exampleModalLabel">Salary of Employee </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="salaryemp" name="salaryemp" aria-label="Floating label select example"
                        style="border: 2.5px solid #174634 !important;">
                          <option selected>Choose..</option>
                        </select>
                        <label for="floatingSelectGrid">Employee</label>
                    </div>
                </div>
                 <br>
                 <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="msemp" name="msemp"
                          placeholder="Monthly Salary" style="border: 2.5px solid #174634 !important;">
                      <label for="msemp">Monthly Salary</label>
                  </div>
              </div>                                       
              <br>
              <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="allowances" name="allowances"
                          placeholder="Monthly Allowances" style="border: 2.5px solid #174634 !important;">
                      <label for="allowances">Monthly Allowances</label>
                  </div>
              </div>                 
              <br>   
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
          border: 2px solid white !important;">Close</button>
          <button type="button" class="btn btn-primary" id="salarysavebtn" style="background-color: green !important;
          border: 2px solid white !important;">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editsalarymodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <i class='fas fa-money-bill' style='color:#0ebb39; font-size: 50px; margin: 3px;'></i>
          <h3 class="modal-title" id="exampleModalLabel">Edit Salary of Employee </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="editsalaryemp" name="editsalaryemp" aria-label="Floating label select example"
                        style="border: 2.5px solid #174634 !important;">
                          <option selected>Choose..</option>
                        </select>
                        <label for="floatingSelectGrid">Employee</label>
                    </div>
                </div>
                 <br>
                 <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="editmsemp" name="editmsemp"
                          placeholder="Monthly Salary" style="border: 2.5px solid #174634 !important;">
                      <label for="editmsemp">Monthly Salary</label>
                  </div>
              </div>                                       
              <br>
              <div class="col">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="editallowances" name="editallowances"
                          placeholder="Monthly Allowances" style="border: 2.5px solid #174634 !important;">
                      <label for="editallowances">Monthly Allowances</label>
                  </div>
              </div> 
                <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
          border: 2px solid white !important;">Close</button>
          <button type="button" class="btn btn-primary" id="editsalarysavebtsn" style="background-color: green !important;
          border: 2px solid white !important;">Save</button>
        </div>
      </div>
    </div>
  </div>