<script>
    let salaryid = "";

    $(document).ready(function () {
        console.log('Initialize');
        LoadTable();
        LoadListEmp();
        searchTable();
        LoadeditListEmp();
        formatCurrencyValue();

        $(document).on('keyup', '#myInput', function () {
            searchTable();
        });


        function LoadTable() {
            $("#dataTablesalary").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                paging: false,
                searching: false,
                info: false,
                scrollY: 400,
                scrollCollapse: true,
                serverMethod: "GET",
                ajax: {
                    url: "/salary/load",
                    dataSrc: (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = "";
                            var status = item.status;

                            action = `
                        <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editsalarymodal"><i class="fas fa-fw fa-pen"></i></button>
                    `;

                            var imgElement = document.createElement("img");
                            imgElement.src = "data:image/jpg;base64," + item.image;
                            imgElement.alt = "Profile Image";
                            imgElement.style.width = "90px";
                            imgElement.style.height = "90px";

                            finalData.push({
                                image: imgElement.outerHTML,
                                salaryid: item.salaryid,
                                employeeid: item.employeeid,
                                monthly: item.monthly,
                                allowances: item.allowances,
                                action: action,
                            });
                        });

                        return finalData;
                    },
                },
                columnDefs: [
                    {
                        targets: 1,
                        className: "td-indent",
                    },
                ],
                columns: [
                    { data: "image" },
                    { data: "salaryid" },
                    { data: "employeeid" },
                    {
                        data: "monthly",
                        render: function (data, type, row) {
                            return '₱' + parseFloat(data).toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                            });
                        }
                    },
                    {
                        data: "allowances",
                        render: function (data, type, row) {
                            return '₱' + parseFloat(data).toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                            });
                        }
                    },
                    { data: "action" },
                ],

                createdRow: function (row, data, dataIndex) {
                    $("td", row).each(function (index) {
                        this.style.textAlign = "center";
                        this.style.verticalAlign = "middle";
                    });
                },
                initComplete: function () {
                    console.log('Done');
                },
            });
        }






        $(document).on("click", "#salarysavebtn", function () {
            let employeeid = $("#salaryemp").val();
            let monthly = $("#msemp").val();
            let allowances = $("#allowances").val();

            var message = "";

            if (employeeid == "") {
                message += "employeeid is required ";
            }

            if (monthly == "") {
                message += "monthly is required ";
            }

            if (allowances == "") {
                message += "allowances is required ";
            }

            if (message !== "") {
                swal("Validation Error", message, "error");
            } else {
                monthly = monthly.replace(/,/g, '').replace('₱', '');
                allowances = allowances.replace(/,/g, '').replace('₱', '');
                $.ajax({
                    type: "POST",
                    url: "/salary/save",
                    data: {
                        employeeid: employeeid,
                        monthly: parseFloat(monthly),
                        allowances: parseFloat(allowances), 
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                            swal({
                                title: "Saved Successfully",
                                text: "You clicked the button!",
                                icon: "success",
                                button: "OK!",
                            }).then(result => {
                                window.location.reload();
                            });
                            LoadTable();
                        } else {
                            swal({
                                title: "Exist",
                                text: "Data already exists!",
                                icon: "warning",
                                button: "OK!",
                            }).then(result => {
                                window.location.reload();
                            });
                            LoadTable();
                        }
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                        console.error("Error saving data:", err);
                    },
                });
            }
        });





        function LoadListEmp() {
            $.ajax({
                type: "GET",
                url: "/employee/load",
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.newEmployeeId, item.newEmployeeId);
                        $(options).html(item.firstname);
                        $("#salaryemp").append(options);
                        console.log(item.firstname);
                    });
                },
                error: function (result) {
                    alert("error: " + result.data);
                },
            });
        }

        function LoadeditListEmp() {
            $.ajax({
                type: "GET",
                url: "/employee/loadedit",
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.newEmployeeId, item.newEmployeeId);
                        $(options).html(item.firstname);
                        $("#editsalaryemp").append(options);
                        console.log(item.firstname);
                    });
                },
                error: function (result) {
                    alert("error: " + result.data);
                },
            });
        }


        $("#dataTablesalary tbody").on("click", "tr", function () {
            var dataRow = [];
            $(this)
                .closest("tr")
                .find("td")
                .each(function () {
                    dataRow.push($(this).text());
                });
            console.log(dataRow);
            salaryid = dataRow[1];
        });

        $(document).on("click", "#editBtn", function () {
            console.log('hit');
            $.ajax({
                type: "POST",
                url: "/salary/getsalary",
                data: {
                    salaryid: salaryid,
                },
                success: function (result) {
                    if (result.msg === "success") {
                        const existingData = result.data;

                        $.each(existingData, (key, item) => {
                            $("#editdepartmentid").val(item.salaryid);
                            $("#editsalaryemp").val(item.employeeid);
                            $("#editmsemp").val(formatCurrencyValue(item.monthly));
                            $("#editallowances").val(formatCurrencyValue(item.allowances));
                        });
                    } else {
                        swal("Error fetching employee data", message, "error");
                    }
                },
                error: function (err) {
                    swal("An error occurred while fetching employee data", message, "error");
                },
            });
        });

        $(document).on("click", "#editsalarysavebtsn", function () {
            console.log("Save button clicked");
            let id = salaryid;
            let employeeid = $("#editsalaryemp").val();
            let monthly = $("#editmsemp").val().replace(/[^\d.-]/g, '');
            let allowances = $("#editallowances").val().replace(/[^\d.-]/g, '');

            var message = "";

            if (employeeid === "") {
                message += "employeeid is required. ";
            }

            if (monthly === "") {
                message += "monthly is required. ";
            }

            if (allowances === "") {
                message += "allowances is required. ";
            }

            if (message !== "") {
                swal("Validation Error", message, "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/salary/update",
                    data: {
                        salaryid: id,
                        employeeid: employeeid,
                        monthly: parseFloat(monthly), 
                        allowances: parseFloat(allowances),
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                            swal({
                                title: "Update Successfully",
                                text: "You clicked the button!",
                                icon: "success",
                                button: "OK!",
                            }).then(result => {
                                window.location.reload();
                            });
                            LoadTable();
                        } else if (result.msg == "exist") {
                            swal({
                                title: "Exist",
                                text: "Data already exists!",
                                icon: "warning",
                                button: "OK!",
                            });
                        } else {
                            swal("Data already exists!", "You clicked the button!", "warning");
                        }
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                    },
                });
            }
        });



    });

//#region FUNCTIONS 


    $("#msemp").on({
        input: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), true);
        }
    });

    function formatNumber(n) {
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function formatCurrency(input, blur) {
        var input_val = input.val();

        var numeric_val = input_val.replace(/\D/g, "");

        if (numeric_val === "" || numeric_val === "00") {
            return;
        }
        var formatted_val = formatNumber(numeric_val);
        formatted_val = "₱" + formatted_val;
        if (blur) {
            formatted_val += ".00";
        }

        input.val(formatted_val);
    }


    $("#editmsemp").on({
        input: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), true);
        }
    });

    function formatNumber(n) {
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function formatCurrency(input, blur) {
        var input_val = input.val();
        var numeric_val = input_val.replace(/\D/g, "");
        if (numeric_val === "" || numeric_val === "00") {
            return;
        }
        var formatted_val = formatNumber(numeric_val);
        formatted_val = "₱" + formatted_val;
        if (blur) {
            formatted_val += ".00";
        }
        input.val(formatted_val);
    }


    $("#allowances").on({
        input: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), true);
        }
    });

    function formatNumber(n) {
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function formatCurrency(input, blur) {
        var input_val = input.val();

        var numeric_val = input_val.replace(/\D/g, "");

        if (numeric_val === "" || numeric_val === "00") {
            return;
        }
        var formatted_val = formatNumber(numeric_val);
        formatted_val = "₱" + formatted_val;
        if (blur) {
            formatted_val += ".00";
        }

        input.val(formatted_val);
    }


    $("#editallowances").on({
        input: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), true);
        }
    });

    function formatNumber(n) {
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function formatCurrency(input, blur) {
        var input_val = input.val();
        var numeric_val = input_val.replace(/\D/g, "");
        if (numeric_val === "" || numeric_val === "00") {
            return;
        }
        var formatted_val = formatNumber(numeric_val);
        formatted_val = "₱" + formatted_val;
        if (blur) {
            formatted_val += ".00";
        }
        input.val(formatted_val);
    }



    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTablesalary");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }

//#endregion


</script>

