<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
        <h3 class="title-card-table">Geo Tagging Settings</h3>
        <div class="row g-2">
            <div class="col">
                <input id='myInput' type='text' placeholder="  Search....">
            </div>
            <!-- <div class="col-sm-1 col-add">
                <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#geoFenceModal">
                    <b>+ Add</b> 
                 </button>
            </div> -->
        </div>   
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-striped" id="dataTableGeoTagging">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Name </th>
                        <th>Subgroup</th>
                        <th>Geo-Tagging</th>
                        <th>Accesstype</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>





