<div id="loading" class="loading"></div>
<br>

<div class="card" id="tablecard">
  <div class="card-header ch-coop">
    <h3 class="title-card-table">Holiday</h3>
    <input id='myInput2'  type='text' placeholder="  Search....">
    <div class="col-md-6 holiday-card-btn">
      <div class="input-group btn-holiday">
          <div class="input-group-prepend">
              <span class="input-group-text btn-add-holiday"><b>Add</b></span>
          </div>
          <input class="form-control text-center custom-input" placeholder="Select/Input Year" name="yearInput" id="yearInput"/>
          <span class="input-group-text btn-generate-holiday" id="generateHolidaysBtn"><b>Generate</b></span>
      </div>
      <div class="custom-dropdown employees-position" id="positionDropdown">
      </div>
  </div>
  </div>
  <div class="card-body">
    <div class="table-responsive" id="table-responsive-id">
      <table class="table table-light table-striped" id="dataTableholiday">
        <thead>
          <tr>
            <th class="col-sm-1">ID</th>
            <th>Day</th>
            <th class="col-25">Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Status</th>
            <th class="col-sm-1">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--Modal-->
<!-- <div class="modal fade" id="holidaymodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generate Holidays</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row g-3">
        <div class="modal-body">
          <form>
            <div class="col">
              <div class="col">
                <div class="form-floating">
                <input type="number" class="form-control" id="yearInput" name="yearInput">
                <label for="floatingInput">Enter Year</label>
              </div>
            </div>
            </div>
            <br>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="generateHolidaysBtn">Generate Holidays</button>
      </div>
    </div>
  </div>
</div> -->