<script>
  let requestid = "";

  $(document).ready(function () {
    searchTable();
    LoadTable();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableattendancerequest").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/attendancerequest/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                  <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editrequestmodal"><i class="fas fa-fw fa-pen"></i></button>
                 `;

              var imgElement = document.createElement("img");
              imgElement.src = "data:image/jpg;base64," + item.image;
              imgElement.alt = "Profile Image";
              imgElement.style.width = "90px";
              imgElement.style.height = "90px";

              finalData.push({
                image: imgElement.outerHTML,
                requestid: item.requestid,
                employeeid: item.employeeid,
                attendancedate: item.attendancedate,
                timein: item.timein,
                timeout: item.timeout,
                total: item.total,
                createdate: item.createdate,
                requeststatus: item.requeststatus,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "image" },
          { data: "requestid" },
          { data: "employeeid" },
          { data: "attendancedate" },
          { data: "timein" },
          { data: "timeout" },
          { data: "total" },
          { data: "createdate" },
          { data: "requeststatus" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () { },
      });
    }

    $("#dataTableattendancerequest tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      requestid = dataRow[1];
    });


    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/attendancerequest/getattendancerequest",
        data: {
          requestid: requestid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editpreview").attr(
                "src",
                "data:image/jpg;base64," + item.image
              );
              $("#empid").val(item.emp_id);
              $("#coafullname").val(item.employeeid);
              $("#editattendancedate").val(item.attendancedate);
              $("#edittimein").val(item.timein);
              $("#edittimeout").val(item.timeout);
              $("#coatotalhours").val(item.total);
              $("#coacreatedate").val(item.createdate);
              $("#coarequeststatus").val(item.requeststatus);
              $("#editcoareason").val(item.reason);
              $("#editpreviewfile").attr(
                "src",
                "data:image/jpg;base64," + item.file
              );
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });


    $(document).on("click", "#editcOAsavebtn", function () {
      console.log('hit');
      let id = requestid;
      let emp_id = $("#empid").val();
      let attendancedate = $("#editattendancedate").val();
      let timein = $("#edittimein").val();
      let timeout = $("#edittimeout").val();
      let requeststatus = $("#editcoastatus").val();
      let file = base64String;

      var message = "";

      if (attendancedate == "") {
        message += "Attendance date is required. ";
      }

      if (timein == "") {
        message += "Time in is required. ";
      }

      if (timeout == "") {
        message += "Time out is required. ";
      }

      if (requeststatus === "") {
        message += "Status is required. ";
      }

      if (file === "") {
        message += "Status is required. ";
      }

      if (message !== "") {
        swal("Oops!!!", message, "error");
      } else {
        if (requeststatus === "Approved") {
          $.ajax({
            type: "POST",
            url: "/attendancerequest/updateMasterAttendance",
            data: {
              emp_id: emp_id,
              attendancedate: attendancedate,
              timein: timein,
              timeout: timeout,
            },
            success: function (masterResult) {
              if (masterResult.msg == "success") {
                $.ajax({
                  type: "POST",
                  url: "/attendancerequest/updateAttendanceRequest",
                  data: {
                    requestid: requestid,
                  },
                  success: function (attendanceResult) {
                    if (attendanceResult.msg == "success") {
                      swal("Save Successfully", "You clicked the button!", "success")
                        .then(results => {
                          window.location.reload();
                        });
                      LoadTable();
                    }
                  },
                  error: function (attendanceErr) {
                    swal("Error", "An error occurred while updating attendance request.", "error");
                  },
                });
              }
            },
            error: function (masterErr) {
              swal("Error", "An error occurred while updating master attendance.", "error");
            },
          });
        }
      }
    });
<<<<<<< HEAD
=======

  });
>>>>>>> 2df3cf70a60398b5301b70a28bd44cdc140dcce3


    $(document).on("change", "#c", function (e) {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      editimage();
    });

    function editimage() {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;

      };
      reader.readAsDataURL(file);
    }

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableattendancerequest");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        found = false;

        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }

<<<<<<< HEAD
        if (found) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
=======
      imageBase64Stringsep = base64String;

    };
    reader.readAsDataURL(file);
  }

  $(document).on("change", "#c", function (e) {
    const input = document.getElementById("editcoafile");
    const file = input.files[0];

    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onloadend = function () {
      const preview = document.getElementById("editpreview");
      preview.src = reader.result;
    };
    editimagefile();
  });

  function editimagefile() {
    const input = document.getElementById("editcoafile");
    const file = input.files[0];

    var reader = new FileReader();

    reader.onload = function () {
      base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

      imageBase64Stringsep = base64String;

    };
    reader.readAsDataURL(file);
  }

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableattendancerequest");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      found = false;

      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
          break;
>>>>>>> 2df3cf70a60398b5301b70a28bd44cdc140dcce3
        }
      }
    }
    //#endregion
    
  });
  //#region FUNCTIONS
</script>