<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
        <h3 class="title-card-table">Attendance Request</h3>
        <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableattendancerequest">
                <thead>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Total Hours</th>
                        <th>Create Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!--MODAL-->
<div class="modal fade" id="editrequestmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to approve  this COA?</h1>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="card">
                    <div class="card-body candidate-coa">
                        <form>
                            <div class="row">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="coafullname" class="coa-label">Name</label>
                                        <input type="text" class="form-control border-form-modal" id="coafullname" placeholder="Employee Name" disabled>
                                    </div>
                                    <div class="col">
                                        <label for="editpassword" class="form-label coa-label">Status</label>
                                        <select class="form-control border-form-modal" id="editcoastatus" name="editcoastatus">
                                            <option value="Pending" selected>Pending</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Cancel">Cancel</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center">
                                            <img id="editpreview" style="  width: 150px; height: 150px;" class="rounded rounded-circle border-form-modal"
                                             alt="placeholder" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="editattendancedate" class="form-label coa-label">Date</label>
                                        <input type="date" class="form-control border-form-modal" id="editattendancedate" name="editattendancedate">
                                    </div>
                                    <div class="col">
                                        <label for="edittimein" class="form-label coa-label">Date Time In</label>
                                        <input type="datetime-local" class="form-control border-form-modal" id="edittimein" name="edittimein">
                                    </div>
                                    <div class="col">
                                        <label for="edittimeout" class="form-label coa-label">Date Time Out</label>
                                        <input type="datetime-local" class="form-control border-form-modal" id="edittimeout" name="edittimeout">
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="message-text" class="form-label coa-label">Reason:</label>
                                        <textarea class="form-control border-form-modal" id="editcoareason" name="editcoareason" disabled></textarea>
                                    </div>                                   
                                </div>

                                <div class="row g-3">
                                <div class="col"> 
                                    <label for="empid" class="form-label coa-label">Employee ID</label>
                                    <input type="text" class="form-control border-form-modal" id="empid" name="empid" disabled>
                                </div>
                                </div>
                                <div class="row g-3">
                                <div class="col">
                                    <div class="form-floating">
                                      <label class="form-label" for="customFile"></label>
                                      <div class="text-center">
                                        <img id="editpreviewfile" src="https://via.placeholder.com/250" style="width: 150px;; height: 150px;"
                                          class="rounded" alt="placeholder">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="editcOAsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>