<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
        <h3 class="title-card-table">Health Records</h3>
        <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#healthrecordmodal">
            <b>+ Add</b>
          </button>
            <input id='myInput' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-striped" id="dataTablehealthrecord">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Employee ID</th>
                        <th>Blood Type</th>
                        <th>Medical Condition</th>
                        <th>Prescribe Medication</th>
                        <th>Last Checkup</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="healthrecordmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h3 class="modal-title fs-5" id="exampleModalLabel">HEALTH RECORD</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select border-form-modal" id="healthrecordemployeeid" name="healthrecordemployeeid" aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelectGrid">Employee ID</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select border-form-modal" id="healthrecordbloodtype" name="healthrecordbloodtype" aria-label="Floating label select example">
                            <option value="GRP A">Group A</option>
                            <option value="GRP B">Group B</option>
                            <option value="GRP AB">Group AB</option>
                            <option value="GRP O">Group O</option>
                            </select>
                            <label for="floatingSelectGrid">Blood Type</label>
                          </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="healthrecordmedicalcondition" name="healthrecordmedicalcondition" placeholder="First Name">
                        <label for="floatingInput">Medical Condition</label>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="healthrecordprescribemedication" name="healthrecordprescribemedication" placeholder="First Name">
                        <label for="floatingInput">Prescribe Medication</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                        <input type="date" class="form-control border-form-modal" id="healthrecordlastcheckup" name="healthrecordlastcheckup" placeholder="First Name">
                        <label for="floatingInput">Last Check Up</label>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="healthrecordinsurance" name="healthrecordinsurance" placeholder="First Name">
                        <label for="floatingInput">Insurance</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control border-form-modal" id="healthrecordinsurancenumber" name="healthrecordinsurancenumber" placeholder="First Name">
                        <label for="floatingInput">Insurance Number</label>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                            <input type="text" class="form-control border-form-modal" id="healthrecordemergencycontactname" name="healthrecordemergencycontactname" placeholder="First Name">
                            <label for="floatingInput">Emergency Contact Name</label>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="form-floating">
                            <input type="text" class="form-control border-form-modal" id="healthrecordemergencycontactnumber" name="healthrecordemergencycontactnumber" placeholder="First Name">
                            <label for="floatingInput">Emergency Contact Number</label>
                            </div>
                        </div>
                    </div>
                        <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="healthsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="edithealthrecordmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Department</h5>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body">
            <form>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="edithealthrecordemployeeid" name="edithealthrecordemployeeid" aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelectGrid">Employee ID</label>
                          </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="edithealthrecordbloodtype" name="edithealthrecordbloodtype" aria-label="Floating label select example">
                              <option value="GRP A">Group A</option>
                              <option value="GRP B">Group B</option>
                              <option value="GRP AB">Group AB</option>
                              <option value="GRP O">Group O</option>
                            </select>
                            <label for="floatingSelectGrid">Blood Type</label>
                          </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="edithealthrecordmedicalcondition" name="edithealthrecordmedicalcondition" placeholder="First Name">
                        <label for="floatingInput">Medical Condition</label>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="edithealthrecordprescribemedication" name="edithealthrecordprescribemedication" placeholder="First Name">
                        <label for="floatingInput">Prescribe Medication</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                        <input type="date" class="form-control" id="edithealthrecordlastcheckup" name="edithealthrecordlastcheckup" placeholder="First Name">
                        <label for="floatingInput">Last Check Up</label>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="edithealthrecordinsurance" name="edithealthrecordinsurance" placeholder="First Name">
                        <label for="floatingInput">Insurance</label>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" id="edithealthrecordinsurancenumber" name="edithealthrecordinsurancenumber" placeholder="First Name">
                        <label for="floatingInput">Insurance Number</label>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating">
                            <input type="text" class="form-control" id="edithealthrecordemergencycontactname" name="edithealthrecordemergencycontactname" placeholder="First Name">
                            <label for="floatingInput">Emergency Contact Name</label>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="form-floating">
                            <input type="text" class="form-control" id="edithealthrecordemergencycontactnumber" name="edithealthrecordemergencycontactnumber" placeholder="First Name">
                            <label for="floatingInput">Emergency Contact Number</label>
                            </div>
                        </div>
                    </div>
                        <br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="edithealthrecordsavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>