<script>
  $(document).ready(function () {
    let id = "";
    let name = "";
    let status = "";
    LoadTable();

    const loader = `  
            <tr id="loading-state">
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
            </tr>`;

    const tbody = $("#dataTable tbody");
    for (let i = 0; i < 12; i++) {
      tbody.append(loader);
    }

    $("#dataTable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      // // console.log(dataRow);
      id = dataRow[0];
      name = dataRow[1];
      status = dataRow[4];
    });

    $(document).on("click", "#addBtn", function () {
      const areaname = $("#areaname").val();
      let message = "";

      const $btnIcon = $(this).find("#btnIcon");
      const $btnSpinner = $(this).find("#btnSpinner");
      $btnIcon.addClass("d-none");
      $btnSpinner.removeClass("d-none");

      if (areaname == "") {
        message += "Area Name, ";
      }
      if (message != "") {
        warning("Required", `Please fill up ${message}`);
        $btnIcon.removeClass("d-none");
        $btnSpinner.addClass("d-none");
      } else {
        $.ajax({
          type: "POST",
          url: "/suggestionarea/save",
          data: {
            areaname: areaname,
          },
          success: function (result) {
            // console.log("ID:", result.data)

            $("#areaname").val("");

            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${areaname} already exist!`);
            }
            $btnIcon.removeClass("d-none");
            $btnSpinner.addClass("d-none");
          },
          error: function (err) {
            errormsg(err);
            $btnIcon.removeClass("d-none");
            $btnSpinner.addClass("d-none");
          },
        });
      }
    });

    $(document).on("click", "#activeBtn", function () {
      // console.log(productid);
      // console.log(status);
      $.ajax({
        type: "PATCH",
        url: "/suggestionarea/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      // console.log(productid);
      // console.log(status);
      $.ajax({
        type: "PATCH",
        url: "/suggestionarea/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    //#region Update Suggestion Area
    $(document).on("click", "#closeBtn", function () {
      $("#areanamemodal").val("");
    });

    $(document).on("click", "#editBtn", function () {
      $("#areanameidmodal").val(id);
      $("#currentareaname").val(name);

      $("#areanamemodal").val("");
      $("#Modal").modal("show");
    });

    $(document).on("click", "#updateBtn", function () {
      let areaname = $("#areanamemodal").val();
      let id = $("#areanameidmodal").val();
      let message = "";

      if (areaname == "") {
        message += "New Area Name, ";
      }
      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "PATCH",
          url: "/suggestionarea/update",
          data: {
            areaname: areaname,
            id: id,
          },
          success: function (result) {
            $("#Modal").modal("hide");
            LoadTable();
            success("Saved", "Successfully");
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });
    //#endregion

    function populateProductsTable(data) {
      const tableBody = $("#dataTable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 6,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          let spinner = $(
            '<div class="spinner-border" style="width: 85px; height: 85px; role="status"><span class="visually-hidden"></span></div>'
          );

          if (item.status === "ACTIVE" || item.status === "Active") {
            action = `
                            <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                            <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === "INACTIVE" || item.status === "Inactive") {
            action = `
                            <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                            <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
          }

          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getStatusContainerBackground(item.status);
          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "ID",
              class: "custom-mobile-align text-left",
            }),
            $("<td>", {
              text: item.name,
              "data-label": "Area Name",
              class: "custom-mobile-align text-left",
            }),
            $("<td>", {
              text: item.createdby.toUpperCase(),
              "data-label": "Created By",
              class: "custom-mobile-align text-left",
            }),
            $("<td>", {
              text: ConvertDate(item.createddate),
              "data-label": "Created Date",
              class: "custom-mobile-align text-left",
            }),
            $("<td>", {
              class: "custom-mobile-align",
              "data-label": "Status",
            }).append(
              $("<div>", {
                class: getStatusContainerBackground(item.status),
              }).append(
                $("<span>", {
                  text: item.status,
                  class: getStatusBackground(item.status),
                })
              )
            ),
            $("<td>", { html: action, "data-label": "Action" })
          );

          tableBody.append(tr);
        });
      }
    }
    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: "/suggestionarea/load",
        method: "GET",
        dataType: "json",
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          },
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === "success") {
                populateProductsTable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    $('#search-input').on('input', function () {
        filterTableRows("#dataTable", 6, "#search-input");
    });
  });
</script>
