<script>
  let approvalstage = "";

  $(document).ready(function () {
    LoadTable();
    LoadList();
    searchTable();
    LoadListEdit();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableapprovalstage").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/approval_stage_settings/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                          <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editassmodal"><i class="fas fa-fw fa-pen"></i></button>
                      `;
              finalData.push({
                approvalstage: item.approvalstage,
                accessid: item.accessid,
                approvalcount: item.approvalcount,
                createby: item.createby,
                createdate: item.createdate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columns: [
          { data: "approvalstage" },
          { data: "accessid" },
          { data: "approvalcount" },
          { data: "createby" },
          { data: "createdate" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          var appnameCell = $(row).find("td:eq(2)");

          appnameCell.wrapInner("<span class='appname-text'></span>");

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    $(document).on("click", "#approvalstagesavebtn", function () {
      let accessid = $("#accessid").val();
      let approvalcount = $("#approvecount").val();

      var message = "";

      if (accessid == "") {
        message += "accessid is required ";
      }

      if (approvalcount == "") {
        message += "approvalcount is required ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/approval_stage_settings/save",
          data: {
            accessid: accessid,
            approvalcount: approvalcount,
          },
          success: function (result) {
            if (result.msg === "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then(() => {
                window.location.reload();
              });
            } else if (result.msg === "exist") {
              swal(
                "Exist",
                "Maybe The Access ID and Approval Count combination already exists.",
                "warning"
              );
            } else {
              swal("Error", "An error occurred while updating.", "error");
            }
          },
          error: function (err) {
            swal(
              "Error",
              "An error occurred while making the request.",
              "error"
            );
          },
        });
      }
    });

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/access/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.accessid, item.accessid);
            $(options).html(item.accessname);
            $("#accessid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadListEdit() {
      $.ajax({
        type: "GET",
        url: "/access/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.accessid, item.accessid);
            $(options).html(item.accessname);
            $("#editaccessidname").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTableapprovalstage tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      approvalstage = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/approval_stage_settings/getstagesettings",
        data: {
          approvalstage: approvalstage,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editaccessidname").val(item.accessid);
              $("#editapprovecount").val(item.approvalcount);
            });
          } else {
            swal("Error fetching employee data", msg, "error");
          }
        },
        error: function (err) {
          console.error("An error occurred while fetching employee data", err);
          swal("An error occurred while fetching employee data", msg, "error");
        },
      });
    });

    $(document).on("click", "#approvalstageeditbtn", function () {
      let id = approvalstage;
      let accessid = $("#editaccessidname").val();
      let approvalcount = $("#editapprovecount").val();

      let message = "";

      if (accessid === "") {
        message += "Access ID is required. ";
      }

      if (approvalcount === "") {
        message += "Approval count is required. ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/approval_stage_settings/update",
          data: {
            approvalstage: approvalstage,
            accessid: accessid,
            approvalcount: approvalcount,
          },
          success: function (result) {
            if (result.msg === "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then(() => {
                window.location.reload();
              });
            } else if (result.msg === "exist") {
              swal(
                "Exist",
                "Maybe The Access ID and Approval Count combination already exists.",
                "warning"
              );
            } else {
              swal("Error", "An error occurred while updating.", "error");
            }
          },
          error: function (err) {
            swal(
              "Error",
              "An error occurred while making the request.",
              "error"
            );
          },
        });
      }
    });

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableapprovalstage");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });
</script>
