<script>
  let disciplinaryid = "";
  let index = "";


  $(document).ready(function () {
    console.log("Initialize");
    LoadTable();
    LoadListEmp();
    LoadListviolation();
    searchTable();

    $(document).on('keyup','#myInput',function(){
      searchTable();
    });

    function LoadTable() {
      $("#dataTabledisciplianary").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/disciplinary/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editshiftmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              finalData.push({
                disciplinaryid: item.disciplinaryid,
                employeeid: item.employeeid,
                offenseid: item.offenseid,
                actionid: item.actionid,
                violation: item.violation,
                date: item.date,
                createby: item.createby,
                createdate: item.createdate,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "disciplinaryid" },
          { data: "employeeid" },
          { data: "offenseid" },
          { data: "actionid" },
          { data: "violation" },
          { data: "date" },
          { data: "createby" },
          { data: "createdate" },
          { data: "status" },
          { data: "action" },
        ],
        initComplete: function () {
          console.log("Done");
        },
      });
    }

    $(document).on("click", "#disciplinarysavebtn", function () {
      let employeeid = $("#disciplinaryemployeeid").val();
      let offenseid = $("#disciplinaryoffenseid").val();
      let actionid = $("#disciplinaryactionid").val();
      let violation = $("#disciplinaryviolationid").val();
      let date = $("#disciplinarydate").val();
      let createby = $("#disciplinarycreatedby").val();
      let status = $("#disciplinarystatus").val();
  
      var message = "";

      if (employeeid == "") {
        message += "shiftname is required ";
      }

      if (offenseid == "") {
        message += "status is required ";
      }

      if (actionid == "") {
        message += "department is required ";
      }

      if (violation == "") {
        message += "createby is required ";
      }

      if (date == "") {
        message += "shiftname is required ";
      }

      if (createby == "") {
        message += "status is required ";
      }


      if (status == "") {
        message += "createby is required ";
      }


      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/disciplinary/save",
          data: {
            employeeid: employeeid,
            offenseid: offenseid,
            actionid: actionid,
            violation: violation,
            date: date,
            createby: createby,
            status: status,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    function LoadListEmp() {
      $.ajax({
        type: "GET",
        url: "/employee/load",
        success: function (result) {
          console.log(result.data);
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.newEmployeeId, item.newEmployeeId);
            $(options).html(item.newEmployeeId);
            $("#disciplinaryemployeeid").append(options);
            console.log(item.newEmployeeId);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadDesciplinary() {
      $.ajax({
        type: "GET",
        url: "/disciplinaryaction/load",
        success: function (result) {
          console.log(result.data);
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.description, item.description);
            $(options).html(item.description);
            $("#disciplinaryactionid").append(options);
            console.log(item.description);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#disciplinaryviolationid").on("change", function () {
      var description = $(this).val();
      console.log(index);
      $.ajax({
        type: "POST",
        url: "/disciplinary/getactionoffense",
        data: {
          description: description,
        },
        success: function (result) {
          try {
            console.log(result.data);
            var data = result.data;
            let actioncode = data[0].actioncode;

            $("#disciplinaryactionid").empty();
            $("#disciplinaryoffenseid").empty();

            $.ajax({
              type: "POST",
              url: "/disciplinary/getactioncode",
              data: {
                actioncode: actioncode,
              },
              success: function (result) {
                var data = result.data;

                $.each(data, function (index, value) {
                  var actionoptions = new Option(
                    value.actioncode,
                    value.actioncode
                  );
                  $(actionoptions).html(
                    `${value.actioncode} - ${value.description}`
                  );
                  $("#disciplinaryactionid").append(actionoptions);

                  $("#disciplinaryactionid").val(value.actioncode);

                  console.log(value.actioncode);

                  var offenceoption = new Option(
                    value.offencename,
                    value.offencename
                  );
                  $(offenceoption).html(value.offencename);
                  $("#disciplinaryoffenseid").append(offenceoption);

                  $("#disciplinaryoffenseid").val(value.offencename);

                  console.log(value.offencename);
                });
              },
              error: function (error) {},
            });
          } catch (error) {
            console.error("Error parsing response data:", error);
          }
        },
        error: function (xhr, status, error) {
          console.error("AJAX request failed:", error);
        },
      });
    });

    $("#disciplinaryoffenseid").on("change", function () {
      var offensename = $(this).val();
      var description = $("#disciplinaryviolationid").val();

      console.log(offensename);
      $.ajax({
        type: "POST",
        url: "/disciplinary/getactionoffense",
        data: {
          description: description,
        },

        success: function (result) {
          try {
            // console.log(result.data);
            var data = result.data;
            let actioncode = data[0].actioncode;

            $.ajax({
              type: "POST",
              url: "/disciplinary/getoffenseaction",
              data: {
                actioncode: actioncode,
                offenceid: offensename,
              },
              success: function (result) {
                var data = result.data;

                console.log(data);
                $.each(data, function (index, value) {
                  $("#disciplinaryactionid").val(value.actioncode);

                  console.log(`${value.actioncode} - ${value.description}`);
                });
              },
            });
          } catch (error) {
            console.error("error:", error);
          }
        },
        error: function (xhr, status, error) {
          console.error("ajax request failed", error);
        },
      });
    });

    function LoadListOffensename() {
      $.ajax({
        type: "GET",
        url: "/offenses/load",
        success: function (result) {
          console.log(result.data);
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.offensename, item.offensename);
            $(options).html(item.offensename);
            $("#disciplinaryoffenseid").append(options);
            console.log(item.offensename);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadListviolation() {
      $.ajax({
        type: "GET",
        url: "/violation/load",
        success: function (result) {
          console.log(result.data);
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.description, item.description);
            $(options).html(item.description);
            $("#disciplinaryviolationid").append(options);
            console.log(item.description);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTabledisciplianary tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      disciplinaryid = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/disciplinary/getdisciplinarytbl",
        data: {
          disciplinaryid: disciplinaryid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editshiftid").val(item.disciplinaryid);
              $("#editshift").val(item.employeeid);
              $("#editshiftdepartment").val(item.offenseid);
              $("#editshiftstatus").val(item.actionid);
              $("#editshiftcreateby").val(item.violation);
              $("#editshift").val(item.date);
              $("#editshiftdepartment").val(item.createby);
              $("#editshiftstatus").val(item.status);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });
    $(document).on("click", "#editshiftsavebtn", function () {
      console.log("Save button clicked");
      let id = disciplinaryid;
      let employeeid = $("#editshift").val();
      let offenseid = $("#editshiftstatus").val();
      let actionid = $("#editshiftdepartment").val();
      let violation = $("#editshiftcreateby").val();
      let date = $("#editshiftstatus").val();
      let createby = $("#editshiftdepartment").val();
      let status = $("#editshiftcreateby").val();

      

      var message = "";

      if (employeeid === "") {
        message += "departmentname is required. ";
      }

      if (offenseid === "") {
        message += "status is required. ";
      }

      if (actionid === "") {
        message += "departmenthead is required. ";
      }

      if (violation === "") {
        message += "status is required. ";
      }

      if (date === "") {
        message += "status is required. ";
      }

      if (createby === "") {
        message += "departmenthead is required. ";
      }

      if (status === "") {
        message += "status is required. ";
      }


      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "disciplinary/update",
          data: {
            disciplinaryid: id,
            employeeid: employeeid,
            offenseid: offenseid,
            actionid: actionid,
            violation: violation,
            date: date,
            createby: createby,
            status: status,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal(
                "Data already exists!",
                "You clicked the button!",
                "warning"
              );
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });
  });
  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTabledisciplianary");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }

</script>
