<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop p-4">
        <h3 class="title-card-table">Geofence Settings</h3>
        <div class="row g-2">
            <div class="col">
                <input id='myInput' class="my-3" type='text' placeholder="  Search....">
            </div>
            <div class="col-sm-1 col-add">
                <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#geoFenceModal">
                    <b>+ Add</b> 
                 </button>
            </div>
        </div>   
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped-light" id="dataTablegeofence">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Name </th>
                        <th>Department</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Radius</th>
                        <th class="col-25">Location</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!-- Geo-fence Modal -->
<div class="modal fade" id="geoFenceModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg"> 
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Geofence</h1>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-form-modal" id="geofencename" name="geofencename"
                                        placeholder="Geo-Fence Name">
                                    <label for="floatingInput">Geofence Name</label>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="col">
                                <div class="form-floating">
                                    <select class="form-select border-form-modal" id="geofencedepartment" name="geofencedepartment"
                                        aria-label="Floating label select example">
                                    </select>
                                    <label for="geofencedepartment">Department</label>
                                </div>
                            </div>
                            <br> -->
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-form-modal" id="radius" name="radius" placeholder="Radius">
                                    <label for="floatingInput">Radius</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-form-modal" id="longitude" name="longitude"
                                        placeholder="Longitude">
                                    <label for="floatingInput">Longitude</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-form-modal" id="latitude" name="latitude"
                                        placeholder="Latitude">
                                    <label for="floatingInput">Latitude</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-form-modal" id="location" name="location"
                                        placeholder="Location">
                                    <label for="floatingInput">Location</label>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <label for="floatingInput">Preview</label>
                        <div id="map" style="height: 300px; border: 3px solid #7a1818;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-modal-save" id="geofencesavebutton" name="geofencesavebutton">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Geo-fence Modal -->
<div class="modal fade" id="editGeoFenceModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="editGeoFenceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h1 class="modal-title fs-5" id="editGeoFenceModalLabel">Edit Geofence</h1>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-form-modal" id="editGeofenceName"
                                        name="editGeofenceName" placeholder="Geo-Fence Name">
                                    <label for="editGeofenceName">Geofence Name</label>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="col">
                                <div class="form-floating">
                                    <select class="form-select border-form-modal" id="editGeofenceDepartment"
                                        name="editGeofenceDepartment" aria-label="Floating label select example">
                                        
                                    </select>
                                    <label for="editGeofenceDepartment">Department</label>
                                </div>
                            </div>
                            <br> -->
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-form-modal" id="editRadius" name="editRadius"
                                        placeholder="Radius">
                                    <label for="editRadius">Radius</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-form-modal" id="editLongitude"
                                        name="editLongitude" placeholder="Longitude">
                                    <label for="editLongitude">Longitude</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-form-modal" id="editLatitude"
                                        name="editLatitude" placeholder="Latitude">
                                    <label for="editLatitude">Latitude</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-form-modal" id="editLocation"
                                        name="editLocation" placeholder="Location">
                                    <label for="editLocation">Location</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select border-form-modal" id="editstatus" name="editstatus">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                    <label for="editstatus">Status</label>
                                </div>
                            </div>                            
                            <br>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <label for="editMap">Preview</label>
                        <div id="editMap" style="height: 300px;" class="border-form-modal"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-modal-save" id="editGeoFenceSaveButton"
                    name="editGeoFenceSaveButton">Save Changes</button>
            </div>
        </div>
    </div>
</div>





