<form>
    <h2><img src="/images/img/5L.png" width="350" height="250"></h2>
    <label>Email</label>
    <input type="text" name="email" placeholder="Email"><br>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>