<form>
    <h2><img src="/images/img/5L.png" width="350" height="250"></h2>
    <label>Username</label>
    <input type="text" name="username" id="username" placeholder="Usename"><br>
    <label>Password</label>
    <input type="password" name="password" id="password" placeholder="Password"><br>
    <button type="submit" id="loginBtn">Login</button>
</form>