<script>
  let shiftid = "";

  $(document).ready(function () {
    LoadTable();
    LoadList();
    LoadEditShift();
    searchTable();
    LoadEmplist();


    $(document).on('keyup', '#myInput', function () {
      searchTable();
    });



    function LoadTable() {
      $("#dataTableshift").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/shift/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editshiftmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              finalData.push({
                shiftid: item.shiftid,
                employeeid: item.employeeid,
                department: item.department,
                monday: item.monday,
                tuesday: item.tuesday,
                wednesday: item.wednesday,
                thursday: item.thursday,
                friday: item.friday,
                saturday: item.saturday,
                sunday: item.sunday,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "shiftid" },
          { data: "employeeid" },
          { data: "department" },
          { data: "monday" },
          { data: "tuesday" },
          { data: "wednesday" },
          { data: "thursday" },
          { data: "friday" },
          { data: "saturday" },
          { data: "sunday" },
          { data: "action" },
        ],
        initComplete: function () {
        },
      });
    }

    $(document).on("click", "#shiftsavebtn", function () {
      let employeeName = $("#employeeshift").val();
      let department = $("#shiftdepartment").val();
      let mondayTimein = $("#mondayTimeIn").val();
      let mondayTimeout = $("#mondayTimeOut").val();
      let tuesdayTimein = $("#tuesdayTimeIn").val();
      let tuesdayTimeout = $("#tuesdayTimeOut").val();
      let wednesdayTimein = $("#wednesdayTimeIn").val();
      let wednesdayTimeout = $("#wednesdayTimeOut").val();
      let thursdayTimein = $("#thursdayTimeIn").val();
      let thursdayTimeout = $("#thursdayTimeOut").val();
      let fridayTimein = $("#fridayTimeIn").val();
      let fridayTimeout = $("#fridayTimeOut").val();
      let saturdayTimein = $("#saturdayTimeIn").val();
      let saturdayTimeout = $("#saturdayTimeOut").val();
      let sundayTimein = $("#sundayTimeIn").val();
      let sundayTimeout = $("#sundayTimeOut").val();

      var message = "";

      if (employeeName == "Employee") {
        message += "Employee name is required\n";
      }
      if (department == "Department") {
        message += "Department is required\n";
      }
      if (mondayTimein == "Monday Time In" || mondayTimeout == "Monday Time Out") {
        message += "Monday shift time is required\n";
      }
      if (tuesdayTimein == "Tuesday Time In" || tuesdayTimeout == "Tuesday Time Out") {
        message += "Tuesday shift time is required\n";
      }
      if (wednesdayTimein == "Wednesday Time In" || wednesdayTimeout == "Wednesday Time Out") {
        message += "Wednesday shift time is required\n";
      }
      if (thursdayTimein == "Thursday Time In" || thursdayTimeout == "Thursday Time Out") {
        message += "Thursday shift time is required\n";
      }
      if (fridayTimein == "Friday Time In" || fridayTimeout == "Friday Time Out") {
        message += "Friday shift time is required\n";
      }
      if (saturdayTimein == "Saturday Time In" || saturdayTimeout == "Saturday Time Out") {
        message += "Saturday shift time is required\n";
      }
      if (sundayTimein == "Sunday Time In" || sundayTimeout == "Sunday Time Out") {
        message += "Sunday shift time is required\n";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        const shiftData = {
          "shifts": {
            "Monday": { "time_in": mondayTimein, "time_out": mondayTimeout },
            "Tuesday": { "time_in": tuesdayTimein, "time_out": tuesdayTimeout },
            "Wednesday": { "time_in": wednesdayTimein, "time_out": wednesdayTimeout },
            "Thursday": { "time_in": thursdayTimein, "time_out": thursdayTimeout },
            "Friday": { "time_in": fridayTimein, "time_out": fridayTimeout },
            "Saturday": { "time_in": saturdayTimein, "time_out": saturdayTimeout },
            "Sunday": { "time_in": sundayTimein, "time_out": sundayTimeout }
          }
        };

        let mondayformat = "";
        let tuesdayformat = "";
        let wednesdayformat = "";
        let thursdayformat = "";
        let fridayformat = "";
        let saturdayformat = "";
        let sundayformat = "";

        Object.keys(shiftData.shifts).forEach(day => {
          const timeIn = shiftData.shifts[day].time_in;
          const timeOut = shiftData.shifts[day].time_out;
          const dayFormat = `{"time_in": "${timeIn}", "time_out": "${timeOut}"},`;

          switch (day) {
            case 'Monday':
              mondayformat += dayFormat;
              break;
            case 'Tuesday':
              tuesdayformat += dayFormat;
              break;
            case 'Wednesday':
              wednesdayformat += dayFormat;
              break;
            case 'Thursday':
              thursdayformat += dayFormat;
              break;
            case 'Friday':
              fridayformat += dayFormat;
              break;
            case 'Saturday':
              saturdayformat += dayFormat;
              break;
            case 'Sunday':
              sundayformat += dayFormat;
              break;
            default:
              break;
          }
        });

        $.ajax({
          type: "POST",
          url: "/shift/save",
          data: {
            employeeName: employeeName,
            department: department,
            mondayformat: mondayformat.slice(0, -1),
            tuesdayformat: tuesdayformat.slice(0, -1),
            wednesdayformat: wednesdayformat.slice(0, -1),
            thursdayformat: thursdayformat.slice(0, -1),
            fridayformat: fridayformat.slice(0, -1),
            saturdayformat: saturdayformat.slice(0, -1),
            sundayformat: sundayformat.slice(0, -1),
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then(results => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data!", "error");
          }
        });
      }
    });


    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $('#shiftdepartment').append(options);
          });
        },
        error: function (result) {
          alert('error: ' + result.data);
        }
      });


    }

    function LoadEditShift() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $('#editshiftdepartment').append(options);
          });
        },
        error: function (result) {
          alert('error: ' + result.data);
        }
      });
    }

    function LoadEmplist() {
      $.ajax({
        type: "GET",
        url: "/employee/selectdistinct",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.newEmployeeId, item.newEmployeeId);
            $(options).html(item.firstname);
            $('#employeeshift').append(options);
          });
        },
        error: function (result) {
          alert('error: ' + result.data);
        }
      });
    }


    $("#dataTableshift tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      shiftid = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/shift/getshift",
        data: {
          shiftid: shiftid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editshiftid").val(item.shiftid);
              $("#editshift").val(item.shiftname);
              $("#editshiftdepartment").val(item.department);
              $("#editshiftstatus").val(item.status);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });



    $(document).on("click", "#editshiftsavebtn", function () {
      let id = shiftid
      let shiftname = $("#editshift").val();
      let status = $("#editshiftstatus").val();
      let department = $("#editshiftdepartment").val();


      var message = "";

      if (shiftname === "") {
        message += "departmentname is required. ";
      }

      if (status === "") {
        message += "status is required. ";
      }

      if (department === "") {
        message += "departmenthead is required. ";
      }



      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "shift/update",
          data: {
            shiftid: id,
            shiftname: shiftname,
            status: status,
            department: department,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              })
                .then(results => {
                  window.location.reload();
                });
              LoadTable();
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal("Data already exists!", "You clicked the button!", "warning");
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });
  });

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableshift");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }

</script>