<br>
<!-- Table -->
<div class="card" id="tablecard">
  <div class="card-header ch-coop">
    <h3 class="title-card-table">Shift</h3>
    <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#shiftmodal">
      <b>+ Add</b>
    </button>
    <input id='myInput' type='text' placeholder="  Search....">
  </div>
  <div class="card-body">
    <div class="table-responsive" id="table-responsive-id">
      <table class="table table-light table-bordered" id="dataTableshift">
        <thead>
          <tr>
            <th class="col-sm-1">ID</th>
            <th>Employee</th>
            <th>Department</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th class="col-sm-1">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="shiftmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Add Shift For Employees </h3>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
          <form>
              <div class="col">
                  <div class="form-floating">
                      <select class="form-select border-form-modal" id="employeeshift" name="employeeshift" 
                      aria-label="Floating label select example" required>
                        <option selected>Choose..</option>
                      </select>
                      <label for="floatingSelectGrid">Employee</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                    <select class="form-select border-form-modal" id="shiftdepartment" name="shiftdepartment" required>
                      <option selected>Choose..</option>
                    </select>
                    <label for="floatingSelectGrid">Department Name</label>
                </div>
              </div>
             <br>      
              <div class="col">
                <div class="form-floating">
                    <select class="form-select border-form-modal" id="shiftsettingsid" name="shiftsettingsid" required>
                      <option selected>Choose..</option>
                    </select>
                    <label for="floatingSelectGrid">Shift Name</label>
                </div>
              </div>
            <br>       
          </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="shiftsavebtn">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="shiftModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shiftModalLabel">Shift Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editshiftmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">SHIFT</h3>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Start Shift</th>
              <th scope="col">End Shift</th>
              <th scope="col">Rest Day</th>
              <th scope="col">Exempted Day</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Monday</th>
              <td><input type="time" class="form-control" id="editmondaytimein"></td>
              <td><input type="time" class="form-control" id="editmondaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="editmondayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="editmondayexempted"></td>
            </tr>
            <tr>
              <th scope="row">Tuesday</th>
              <td><input type="time" class="form-control" id="edittuesdaytimein"></td>
              <td><input type="time" class="form-control" id="edittuesdaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="edittuesdayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="edittuesdayexempted"></td>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              <td><input type="time" class="form-control" id="editwednesdaytimein"></td>
              <td><input type="time" class="form-control" id="editwednesdaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="editwednesdayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="editwednesdayexempted"></td>
            </tr>
            <tr>
              <th scope="row">Thursday</th>
              <td><input type="time" class="form-control" id="editthursdaytimein"></td>
              <td><input type="time" class="form-control" id="editthursdaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="editthursdayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="editthursdayexempted"></td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td><input type="time" class="form-control" id="editfridaytimein"></td>
              <td><input type="time" class="form-control" id="editfridaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="editfridayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="editfridayexempted"></td>
            </tr>
            <tr>
              <th scope="row">Saturday</th>
              <td><input type="time" class="form-control" id="editsaturdaytimein"></td>
              <td><input type="time" class="form-control" id="editsaturdaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="editsaturdayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="editsaturdayexempted"></td>
            </tr>
            <tr>
              <th scope="row">Sunday</th>
              <td><input type="time" class="form-control" id="editsundaytimein"></td>
              <td><input type="time" class="form-control" id="editsundaytimeout"></td>
              <td><input type="checkbox" class="form-check-input" id="editsundayrestday"></td>
              <td><input type="checkbox" class="form-check-input" id="editsundayexempted"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="editshiftsavebtn">Save</button>
      </div>
    </div>
  </div>
</div>


