<script>
  let shiftid = "";

  $(document).ready(function () {
    console.log("initialize");
    // styleTableData();
    LoadTable();
    LoadList();
    addShiftList();
    LoadEditShift();
    LoadEmplist();
    AddEmplist();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableshift").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/shift/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;
              action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editshiftmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;

              finalData.push({
                shiftid: item.shiftid,
                employeeid: item.employeeid,
                department: item.department,
                monday: item.monday,
                tuesday: item.tuesday,
                wednesday: item.wednesday,
                thursday: item.thursday,
                friday: item.friday,
                saturday: item.saturday,
                sunday: item.sunday,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "shiftid" },
          { data: "employeeid" },
          { data: "department" },
          { data: "monday" },
          { data: "tuesday" },
          { data: "wednesday" },
          { data: "thursday" },
          { data: "friday" },
          { data: "saturday" },
          { data: "sunday" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          //miyaka
          var mondayCell = $(row).find("td:eq(3)");
          var tuesdayCell = $(row).find("td:eq(4)");
          var wednesdayCell = $(row).find("td:eq(5)");
          var thursdayCell = $(row).find("td:eq(6)");
          var fridayCell = $(row).find("td:eq(7)");
          var saturdayCell = $(row).find("td:eq(8)");
          var sundayCell = $(row).find("td:eq(9)");

          var mondayText = data.monday;
          var tuesdayText = data.tuesday;
          var wednesdayText = data.wednesday;
          var thursdayText = data.thursday;
          var fridayText = data.friday;
          var saturdayText = data.saturday;
          var sundayText = data.sunday;

          var mondayClass = "";
          var tuesdayClass = "";
          var wednesdayClass = "";
          var thursdayClass = "";
          var fridayClass = "";
          var saturdayClass = "";
          var sundayClass = "";

          switch (mondayText.toLowerCase()) {
            case "00:00:00":
              mondayClass = "restday-monday";
              break;
            case "exempted":
              mondayClass = "exempted-monday";
              break;
            default:
              mondayClass = "";
          }

          switch (tuesdayText.toLowerCase()) {
            case "00:00:00":
              tuesdayClass = "restday";
              break;
            case "exempted":
              tuesdayClass = "exempted";
              break;
            default:
              tuesdayClass = "";
          }

          switch (wednesdayText.toLowerCase()) {
            case "00:00:00":
              wednesdayClass = "restday";
              break;
            case "exempted":
              wednesdayClass = "exempted";
              break;
            default:
              wednesdayClass = "";
          }

          switch (thursdayText.toLowerCase()) {
            case "00:00:00":
              thursdayClass = "restday";
              break;
            case "exempted":
              thursdayClass = "exempted";
              break;
            default:
              thursdayClass = "";
          }

          switch (fridayText.toLowerCase()) {
            case "00:00:00":
              fridayClass = "restday";
              break;
            case "exempted":
              fridayClass = "exempted";
              break;
            default:
              fridayClass = "";
          }

          switch (saturdayText.toLowerCase()) {
            case "00:00:00":
              saturdayClass = "restday";
              break;
            case "exempted":
              saturdayClass = "exempted";
              break;
            default:
              saturdayClass = "";
          }

          switch (sundayText.toLowerCase()) {
            case "restday":
              sundayClass = "restday";
              break;
            case "exempted":
              sundayClass = "exempted";
              break;
            default:
              sundayClass = "";
          }

          mondayCell.html(`<span class="${mondayClass}">${mondayText}</span>`);
          tuesdayCell.html(
            `<span class="${tuesdayClass}">${tuesdayText}</span>`
          );
          wednesdayCell.html(
            `<span class="${wednesdayClass}">${wednesdayText}</span>`
          );
          thursdayCell.html(
            `<span class="${thursdayClass}">${thursdayText}</span>`
          );
          fridayCell.html(`<span class="${fridayClass}">${fridayText}</span>`);
          saturdayCell.html(
            `<span class="${saturdayClass}">${saturdayText}</span>`
          );
          sundayCell.html(`<span class="${sundayClass}">${sundayText}</span>`);

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    // // Call the function when the document is ready
    // styleTableData();

    // // Call the function whenever the select dropdowns change
    // $("#mondayTimeIn, #mondayTimeOut").change(function () {
    //   // Remove existing classes before restyling
    //   $("#dataTable td").removeClass(
    //     "clock-in-style rest-day-style exempted-style default-style clock-out-style"
    //   );

    //   // Restyle the table data
    //   styleTableData();
    // });

    // // Call the function when the document is ready
    // styleTableData();

    // // Call the function whenever the select dropdowns change
    // $("#mondayTimeIn, #mondayTimeOut").change(function () {
    //   // Remove existing classes before restyling
    //   $("#dataTable tbody td").removeClass(
    //     "clock-in-style-1 rest-day-style exempted-style default-style clock-out-style-1"
    //   );

    //   // Restyle the table data
    //   styleTableData();
    // });

    $(document).on("click", "#shiftsavebtn", function () {
      let employeeName = $("#employeeshift").val();
      let department = $("#shiftdepartment").val();
      let shiftsettingsid = $("#shiftsettingsid").val();

      var message = "";

      if (employeeName == "Employee") {
        message += "Employee name is required\n";
      }
      if (department == "Department") {
        message += "Department is required\n";
      }
      if (shiftsettingsid == "Department") {
        message += "Department is required\n";
      }
      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/shift/save",
          data: {
            employeeName: employeeName,
            department: department,
            shiftsettingsid: shiftsettingsid,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Insert Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((result) => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              }).then((result) => {
                window.location.reload();
              });
              LoadTable();
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
            console.error("Error saving data:", err);
          },
        });
      }
    });

    function AddEmplist() {
      $.ajax({
        type: "GET",
        url: "/employee/selectdistinct",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.newEmployeeId, item.newEmployeeId);
            $(options).html(item.firstname);
            $("#employeeshift").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#shiftdepartment").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function addShiftList() {
      $.ajax({
        type: "GET",
        url: "/shiftsettings/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(
              item.shiftsettingsid,
              item.shiftsettingsid
            );
            $(options).html(item.shiftname);
            $("#shiftsettingsid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadEditShift() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#editshiftdepartment").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadEmplist() {
      $.ajax({
        type: "GET",
        url: "/employee/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.newEmployeeId, item.newEmployeeId);
            $(options).html(item.firstname);
            $("#editshiftemployee").append(options);
            console.log(item.firstname);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTableshift tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      shiftid = dataRow[0];
      console.log(shiftid);
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/shift/getshift",
        data: {
          shiftid: shiftid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            console.log("data", existingData);

            $.each(existingData, (key, item) => {
              $("#editshiftid").val(item.shiftid);
              $("#editshiftemployee").val(item.employeeid);
              $("#editshiftdepartment").val(item.department);
              // Monday
              $("#editmondaytimein").val(item.monday_time_in);
              $("#editmondaytimeout").val(item.monday_time_out);

              if (
                item.monday_time_in === "Rest Day" &&
                item.monday_time_out === "Rest Day"
              ) {
                $("#editmondaytimein").prop("disabled", true);
                $("#editmondaytimeout").prop("disabled", true);
                $("#editmondayrestday").prop("checked", true);
                $("#editmondayexempted").prop("checked", false);
                $("#editmondayrestday").prop("disabled", false);
                $("#editmondayexempted").prop("disabled", false);
              } else if (
                item.monday_time_in === "Exempted" &&
                item.monday_time_out === "Exempted"
              ) {
                $("#editmondaytimein").prop("disabled", true);
                $("#editmondaytimeout").prop("disabled", true);
                $("#editmondayrestday").prop("checked", false);
                $("#editmondayexempted").prop("checked", true);
                $("#editmondayrestday").prop("disabled", false);
                $("#editmondayexempted").prop("disabled", false);
              } else {
                $("#editmondaytimein").prop("disabled", false);
                $("#editmondaytimeout").prop("disabled", false);
                $("#editmondayrestday").prop("checked", false);
                $("#editmondayexempted").prop("checked", false);
                $("#editmondayrestday").prop("disabled", false);
                $("#editmondayexempted").prop("disabled", false);
              }

              // Tuesday
              $("#edittuesdaytimein").val(item.tuesday_time_in);
              $("#edittuesdaytimeout").val(item.tuesday_time_out);

              if (
                item.tuesday_time_in === "Rest Day" &&
                item.tuesday_time_out === "Rest Day"
              ) {
                $("#edittuesdaytimein").prop("disabled", true);
                $("#edittuesdaytimeout").prop("disabled", true);
                $("#edittuesdayrestday").prop("checked", true);
                $("#edittuesdayexempted").prop("checked", false);
                $("#edittuesdayrestday").prop("disabled", false);
                $("#edittuesdayexempted").prop("disabled", false);
              } else if (
                item.tuesday_time_in === "Exempted" &&
                item.tuesday_time_out === "Exempted"
              ) {
                $("#edittuesdaytimein").prop("disabled", true);
                $("#edittuesdaytimeout").prop("disabled", true);
                $("#edittuesdayrestday").prop("checked", false);
                $("#edittuesdayexempted").prop("checked", true);
                $("#edittuesdayrestday").prop("disabled", false);
                $("#edittuesdayexempted").prop("disabled", false);
              } else {
                $("#edittuesdaytimein").prop("disabled", false);
                $("#edittuesdaytimeout").prop("disabled", false);
                $("#edittuesdayrestday").prop("checked", false);
                $("#edittuesdayexempted").prop("checked", false);
                $("#edittuesdayrestday").prop("disabled", false);
                $("#edittuesdayexempted").prop("disabled", false);
              }

              // Wednesday
              $("#editwednesdaytimein").val(item.wednesday_time_in);
              $("#editwednesdaytimeout").val(item.wednesday_time_out);

              if (
                item.wednesday_time_in === "Rest Day" &&
                item.wednesday_time_out === "Rest Day"
              ) {
                $("#editwednesdaytimein").prop("disabled", true);
                $("#editwednesdaytimeout").prop("disabled", true);
                $("#editwednesdayrestday").prop("checked", true);
                $("#editwednesdayexempted").prop("checked", false);
                $("#editwednesdayrestday").prop("disabled", false);
                $("#editwednesdayexempted").prop("disabled", false);
              } else if (
                item.wednesday_time_in === "Exempted" &&
                item.wednesday_time_out === "Exempted"
              ) {
                $("#editwednesdaytimein").prop("disabled", true);
                $("#editwednesdaytimeout").prop("disabled", true);
                $("#editwednesdayrestday").prop("checked", false);
                $("#editwednesdayexempted").prop("checked", true);
                $("#editwednesdayrestday").prop("disabled", false);
                $("#editwednesdayexempted").prop("disabled", false);
              } else {
                $("#editwednesdaytimein").prop("disabled", false);
                $("#editwednesdaytimeout").prop("disabled", false);
                $("#editwednesdayrestday").prop("checked", false);
                $("#editwednesdayexempted").prop("checked", false);
                $("#editwednesdayrestday").prop("disabled", false);
                $("#editwednesdayexempted").prop("disabled", false);
              }

              // Thursday
              $("#editthursdaytimein").val(item.thursday_time_in);
              $("#editthursdaytimeout").val(item.thursday_time_out);

              if (
                item.thursday_time_in === "Rest Day" &&
                item.thursday_time_out === "Rest Day"
              ) {
                $("#editthursdaytimein").prop("disabled", true);
                $("#editthursdaytimeout").prop("disabled", true);
                $("#editthursdayrestday").prop("checked", true);
                $("#editthursdayexempted").prop("checked", false);
                $("#editthursdayrestday").prop("disabled", false);
                $("#editthursdayexempted").prop("disabled", false);
              } else if (
                item.thursday_time_in === "Exempted" &&
                item.thursday_time_out === "Exempted"
              ) {
                $("#editthursdaytimein").prop("disabled", true);
                $("#editthursdaytimeout").prop("disabled", true);
                $("#editthursdayrestday").prop("checked", false);
                $("#editthursdayexempted").prop("checked", true);
                $("#editthursdayrestday").prop("disabled", false);
                $("#editthursdayexempted").prop("disabled", false);
              } else {
                $("#editthursdaytimein").prop("disabled", false);
                $("#editthursdaytimeout").prop("disabled", false);
                $("#editthursdayrestday").prop("checked", false);
                $("#editthursdayexempted").prop("checked", false);
                $("#editthursdayrestday").prop("disabled", false);
                $("#editthursdayexempted").prop("disabled", false);
              }

              // Friday
              $("#editfridaytimein").val(item.friday_time_in);
              $("#editfridaytimeout").val(item.friday_time_out);

              if (
                item.friday_time_in === "Rest Day" &&
                item.friday_time_out === "Rest Day"
              ) {
                $("#editfridaytimein").prop("disabled", true);
                $("#editfridaytimeout").prop("disabled", true);
                $("#editfridayrestday").prop("checked", true);
                $("#editfridayexempted").prop("checked", false);
                $("#editfridayrestday").prop("disabled", false);
                $("#editfridayexempted").prop("disabled", false);
              } else if (
                item.friday_time_in === "Exempted" &&
                item.friday_time_out === "Exempted"
              ) {
                $("#editfridaytimein").prop("disabled", true);
                $("#editfridaytimeout").prop("disabled", true);
                $("#editfridayrestday").prop("checked", false);
                $("#editfridayexempted").prop("checked", true);
                $("#editfridayrestday").prop("disabled", false);
                $("#editfridayexempted").prop("disabled", false);
              } else {
                $("#editfridaytimein").prop("disabled", false);
                $("#editfridaytimeout").prop("disabled", false);
                $("#editfridayrestday").prop("checked", false);
                $("#editfridayexempted").prop("checked", false);
                $("#editfridayrestday").prop("disabled", false);
                $("#editfridayexempted").prop("disabled", false);
              }

              // Saturday
              $("#editsaturdaytimein").val(item.saturday_time_in);
              $("#editsaturdaytimeout").val(item.saturday_time_out);

              if (
                item.saturday_time_in === "Rest Day" &&
                item.saturday_time_out === "Rest Day"
              ) {
                $("#editsaturdaytimein").prop("disabled", true);
                $("#editsaturdaytimeout").prop("disabled", true);
                $("#editsaturdayrestday").prop("checked", true);
                $("#editsaturdayexempted").prop("checked", false);
                $("#editsaturdayrestday").prop("disabled", false);
                $("#editsaturdayexempted").prop("disabled", false);
              } else if (
                item.saturday_time_in === "Exempted" &&
                item.saturday_time_out === "Exempted"
              ) {
                $("#editsaturdaytimein").prop("disabled", true);
                $("#editsaturdaytimeout").prop("disabled", true);
                $("#editsaturdayrestday").prop("checked", false);
                $("#editsaturdayexempted").prop("checked", true);
                $("#editsaturdayrestday").prop("disabled", false);
                $("#editsaturdayexempted").prop("disabled", false);
              } else {
                $("#editsaturdaytimein").prop("disabled", false);
                $("#editsaturdaytimeout").prop("disabled", false);
                $("#editsaturdayrestday").prop("checked", false);
                $("#editsaturdayexempted").prop("checked", false);
                $("#editsaturdayrestday").prop("disabled", false);
                $("#editsaturdayexempted").prop("disabled", false);
              }

              // Sunday
              $("#editsundaytimein").val(item.sunday_time_in);
              $("#editsundaytimeout").val(item.sunday_time_out);

              if (
                item.sunday_time_in === "Rest Day" &&
                item.sunday_time_out === "Rest Day"
              ) {
                $("#editsundaytimein").prop("disabled", true);
                $("#editsundaytimeout").prop("disabled", true);
                $("#editsundayrestday").prop("checked", true);
                $("#editsundayexempted").prop("checked", false);
                $("#editsundayrestday").prop("disabled", false);
                $("#editsundayexempted").prop("disabled", false);
              } else if (
                item.sunday_time_in === "Exempted" &&
                item.sunday_time_out === "Exempted"
              ) {
                $("#editsundaytimein").prop("disabled", true);
                $("#editsundaytimeout").prop("disabled", true);
                $("#editsundayrestday").prop("checked", false);
                $("#editsundayexempted").prop("checked", true);
                $("#editsundayrestday").prop("disabled", false);
                $("#editsundayexempted").prop("disabled", false);
              } else {
                $("#editsundaytimein").prop("disabled", false);
                $("#editsundaytimeout").prop("disabled", false);
                $("#editsundayrestday").prop("checked", false);
                $("#editsundayexempted").prop("checked", false);
                $("#editsundayrestday").prop("disabled", false);
                $("#editsundayexempted").prop("disabled", false);
              }
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });

    $("#editmondayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editmondaytimein").prop("disabled", false).val("");
        $("#editmondaytimeout").prop("disabled", false).val("");
      } else {
        $("#editmondaytimein").prop("disabled", true).val("");
        $("#editmondaytimeout").prop("disabled", true).val("");
      }
    });

    $("#editmondayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editmondaytimein").prop("disabled", false).val("11:11");
        $("#editmondaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#editmondaytimein").prop("disabled", true).val("11:11");
        $("#editmondaytimeout").prop("disabled", true).val("11:11");
      }
    });

    // Tuesday
    $("#edittuesdayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#edittuesdaytimein").prop("disabled", false).val("");
        $("#edittuesdaytimeout").prop("disabled", false).val("");
      } else {
        $("#edittuesdaytimein").prop("disabled", true).val("");
        $("#edittuesdaytimeout").prop("disabled", true).val("");
      }
    });

    $("#edittuesdayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#edittuesdaytimein").prop("disabled", false).val("11:11");
        $("#edittuesdaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#edittuesdaytimein").prop("disabled", true).val("11:11");
        $("#edittuesdaytimeout").prop("disabled", true).val("11:11");
      }
    });

    // Wednesday
    $("#editwednesdayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editwednesdaytimein").prop("disabled", false).val("");
        $("#editwednesdaytimeout").prop("disabled", false).val("");
      } else {
        $("#editwednesdaytimein").prop("disabled", true).val("");
        $("#editwednesdaytimeout").prop("disabled", true).val("");
      }
    });

    $("#editwednesdayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editwednesdaytimein").prop("disabled", false).val("11:11");
        $("#editwednesdaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#editwednesdaytimein").prop("disabled", true).val("11:11");
        $("#editwednesdaytimeout").prop("disabled", true).val("11:11");
      }
    });

    // Thursday
    $("#editthursdayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editthursdaytimein").prop("disabled", false).val("");
        $("#editthursdaytimeout").prop("disabled", false).val("");
      } else {
        $("#editthursdaytimein").prop("disabled", true).val("");
        $("#editthursdaytimeout").prop("disabled", true).val("");
      }
    });

    $("#editthursdayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editthursdaytimein").prop("disabled", false).val("11:11");
        $("#editthursdaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#editthursdaytimein").prop("disabled", true).val("11:11");
        $("#editthursdaytimeout").prop("disabled", true).val("11:11");
      }
    });

    // Friday
    $("#editfridayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editfridaytimein").prop("disabled", false).val("");
        $("#editfridaytimeout").prop("disabled", false).val("");
      } else {
        $("#editfridaytimein").prop("disabled", true).val("");
        $("#editfridaytimeout").prop("disabled", true).val("");
      }
    });

    $("#editfridayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editfridaytimein").prop("disabled", false).val("11:11");
        $("#editfridaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#editfridaytimein").prop("disabled", true).val("11:11");
        $("#editfridaytimeout").prop("disabled", true).val("11:11");
      }
    });

    // Saturday
    $("#editsaturdayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editsaturdaytimein").prop("disabled", false).val("");
        $("#editsaturdaytimeout").prop("disabled", false).val("");
      } else {
        $("#editsaturdaytimein").prop("disabled", true).val("");
        $("#editsaturdaytimeout").prop("disabled", true).val("");
      }
    });

    $("#editsaturdayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editsaturdaytimein").prop("disabled", false).val("11:11");
        $("#editsaturdaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#editsaturdaytimein").prop("disabled", true).val("11:11");
        $("#editsaturdaytimeout").prop("disabled", true).val("11:11");
      }
    });

    // Sunday
    $("#editsundayrestday").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editsundaytimein").prop("disabled", false).val("");
        $("#editsundaytimeout").prop("disabled", false).val("");
      } else {
        $("#editsundaytimein").prop("disabled", true).val("");
        $("#editsundaytimeout").prop("disabled", true).val("");
      }
    });

    $("#editsundayexempted").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#editsundaytimein").prop("disabled", false).val("11:11");
        $("#editsundaytimeout").prop("disabled", false).val("11:11");
      } else {
        $("#editsundaytimein").prop("disabled", true).val("11:11");
        $("#editsundaytimeout").prop("disabled", true).val("11:11");
      }
    });

    $(document).on("click", "#editshiftsavebtn", function () {
      let id = shiftid;
      let mondayTimein = $("#editmondaytimein").val();
      let mondayTimeout = $("#editmondaytimeout").val();
      let tuesdayTimein = $("#edittuesdaytimein").val();
      let tuesdayTimeout = $("#edittuesdaytimeout").val();
      let wednesdayTimein = $("#editwednesdaytimein").val();
      let wednesdayTimeout = $("#editwednesdaytimeout").val();
      let thursdayTimein = $("#editthursdaytimein").val();
      let thursdayTimeout = $("#editthursdaytimeout").val();
      let fridayTimein = $("#editfridaytimein").val();
      let fridayTimeout = $("#editfridaytimeout").val();
      let saturdayTimein = $("#editsaturdaytimein").val();
      let saturdayTimeout = $("#editsaturdaytimeout").val();
      let sundayTimein = $("#editsundaytimein").val();
      let sundayTimeout = $("#editsundaytimeout").val();

      console.log("Shift ID:", id);
      console.log("Monday Time In:", mondayTimein);
      console.log("Monday Time Out:", mondayTimeout);
      console.log("Tuesday Time In:", tuesdayTimein);
      console.log("Tuesday Time Out:", tuesdayTimeout);
      console.log("Wednesday Time In:", wednesdayTimein);
      console.log("Wednesday Time Out:", wednesdayTimeout);
      console.log("Thursday Time In:", thursdayTimein);
      console.log("Thursday Time Out:", thursdayTimeout);
      console.log("Friday Time In:", fridayTimein);
      console.log("Friday Time Out:", fridayTimeout);
      console.log("Saturday Time In:", saturdayTimein);
      console.log("Saturday Time Out:", saturdayTimeout);
      console.log("Sunday Time In:", sundayTimein);
      console.log("Sunday Time Out:", sundayTimeout);

      var message = "";

      if (
        mondayTimein == "Monday Time In" ||
        mondayTimeout == "Monday Time Out"
      ) {
        message += "Monday shift time is required\n";
      }
      if (
        tuesdayTimein == "Tuesday Time In" ||
        tuesdayTimeout == "Tuesday Time Out"
      ) {
        message += "Tuesday shift time is required\n";
      }
      if (
        wednesdayTimein == "Wednesday Time In" ||
        wednesdayTimeout == "Wednesday Time Out"
      ) {
        message += "Wednesday shift time is required\n";
      }
      if (
        thursdayTimein == "Thursday Time In" ||
        thursdayTimeout == "Thursday Time Out"
      ) {
        message += "Thursday shift time is required\n";
      }
      if (
        fridayTimein == "Friday Time In" ||
        fridayTimeout == "Friday Time Out"
      ) {
        message += "Friday shift time is required\n";
      }
      if (
        saturdayTimein == "Saturday Time In" ||
        saturdayTimeout == "Saturday Time Out"
      ) {
        message += "Saturday shift time is required\n";
      }
      if (
        sundayTimein == "Sunday Time In" ||
        sundayTimeout == "Sunday Time Out"
      ) {
        message += "Sunday shift time is required\n";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        const convertTimeTo24Format = (timeStr) => {
          const [time, period] = timeStr.split(" ");
          let [hours, minutes] = time.split(":");
          hours = parseInt(hours, 10);

          if (period === "PM" && hours !== 12) {
            hours += 12;
          } else if (period === "AM" && hours === 12) {
            hours = 0;
          }

          return `${hours.toString().padStart(2, "0")}:${minutes}:00`;
        };

        const formatTimeForDatabase = (timeStr) => {
          switch (timeStr) {
            case "":
              return "00:00:00";
            case "11:11":
              return "Exempted";
            default:
              return convertTimeTo24Format(timeStr);
          }
        };

        const shiftData = {
          shifts: {
            Monday: {
              time_in: formatTimeForDatabase(mondayTimein),
              time_out: formatTimeForDatabase(mondayTimeout),
            },
            Tuesday: {
              time_in: formatTimeForDatabase(tuesdayTimein),
              time_out: formatTimeForDatabase(tuesdayTimeout),
            },
            Wednesday: {
              time_in: formatTimeForDatabase(wednesdayTimein),
              time_out: formatTimeForDatabase(wednesdayTimeout),
            },
            Thursday: {
              time_in: formatTimeForDatabase(thursdayTimein),
              time_out: formatTimeForDatabase(thursdayTimeout),
            },
            Friday: {
              time_in: formatTimeForDatabase(fridayTimein),
              time_out: formatTimeForDatabase(fridayTimeout),
            },
            Saturday: {
              time_in: formatTimeForDatabase(saturdayTimein),
              time_out: formatTimeForDatabase(saturdayTimeout),
            },
            Sunday: {
              time_in: formatTimeForDatabase(sundayTimein),
              time_out: formatTimeForDatabase(sundayTimeout),
            },
          },
        };

        let mondayformat = "";
        let tuesdayformat = "";
        let wednesdayformat = "";
        let thursdayformat = "";
        let fridayformat = "";
        let saturdayformat = "";
        let sundayformat = "";

        Object.keys(shiftData.shifts).forEach((day) => {
          const timeIn = shiftData.shifts[day].time_in;
          const timeOut = shiftData.shifts[day].time_out;
          const dayFormat = `{"time_in": "${timeIn}", "time_out": "${timeOut}"},`;

          switch (day) {
            case "Monday":
              mondayformat += dayFormat;
              break;
            case "Tuesday":
              tuesdayformat += dayFormat;
              break;
            case "Wednesday":
              wednesdayformat += dayFormat;
              break;
            case "Thursday":
              thursdayformat += dayFormat;
              break;
            case "Friday":
              fridayformat += dayFormat;
              break;
            case "Saturday":
              saturdayformat += dayFormat;
              break;
            case "Sunday":
              sundayformat += dayFormat;
              break;
            default:
              break;
          }
        });

        $.ajax({
          type: "POST",
          url: "/shift/update",
          data: {
            shiftid: id,
            mondayformat: mondayformat.slice(0, -1),
            tuesdayformat: tuesdayformat.slice(0, -1),
            wednesdayformat: wednesdayformat.slice(0, -1),
            thursdayformat: thursdayformat.slice(0, -1),
            fridayformat: fridayformat.slice(0, -1),
            saturdayformat: saturdayformat.slice(0, -1),
            sundayformat: sundayformat.slice(0, -1),
          },
          success: function (result) {
            if (result.msg === "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data!", "error");
          },
        });
      }
    });
  });

  //#region FUNCTIONS

  const setTimeOut = (timeInSelect, timeOutSelect) => {
    $(timeInSelect).change(function () {
      const selectedTimeIn = $(this).val();
      let selectedTimeOut = "";

      switch (selectedTimeIn) {
        case "08:00:00":
          selectedTimeOut = "17:00:00";
          break;
        case "09:00:00":
          selectedTimeOut = "18:00:00";
          break;
        case "00:00:00":
        case "Exempted":
          selectedTimeOut = selectedTimeIn;
          break;
        default:
          // Handle other cases if needed
          break;
      }

      $(timeOutSelect).val(selectedTimeOut);
    });
  };

  const editsetTimeOut = (edittimeInSelect, edittimeOutSelect) => {
    $(edittimeInSelect).change(function () {
      const editselectedTimeIn = $(this).val();
      let editselectedTimeOut = "";

      switch (editselectedTimeIn) {
        case "08:00 AM":
          editselectedTimeOut = "05:00 PM";
          break;
        case "09:00 AM":
          editselectedTimeOut = "06:00 PM";
          break;
        case "Rest Day":
        case "Exempted":
          editselectedTimeOut = editselectedTimeIn;
          break;
        default:
          break;
      }

      $(edittimeOutSelect).val(editselectedTimeOut);
    });
  };

  setTimeOut("#mondayTimeIn", "#mondayTimeOut");
  setTimeOut("#tuesdayTimeIn", "#tuesdayTimeOut");
  setTimeOut("#wednesdayTimeIn", "#wednesdayTimeOut");
  setTimeOut("#thursdayTimeIn", "#thursdayTimeOut");
  setTimeOut("#fridayTimeIn", "#fridayTimeOut");
  setTimeOut("#saturdayTimeIn", "#saturdayTimeOut");
  setTimeOut("#sundayTimeIn", "#sundayTimeOut");

  editsetTimeOut("#editmondaytimein", "#editmondaytimeout");
  editsetTimeOut("#edittuesdaytimein", "#edittuesdaytimeout");
  editsetTimeOut("#editwednesdaytimein", "#editwednesdaytimeout");
  editsetTimeOut("#editthursdaytimein", "#editthursdaytimeout");
  editsetTimeOut("#editfridaytimein", "#editfridaytimeout");
  editsetTimeOut("#editsaturdaytimein", "#editsaturdaytimeout");
  editsetTimeOut("#editsundaytimein", "#editsundaytimeout");

  function formatTime(time) {
    if (!time) return "";
    var parts = time.split(":");
    var hour = parseInt(parts[0]);
    var minute = parseInt(parts[1]);

    var period = hour >= 12 ? "PM" : "AM";
    hour = hour % 12 || 12;

    return hour + ":" + (minute < 10 ? "0" : "") + minute + " " + period;
  }

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableshift");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }
</script>
