<div class="card bank-card">
  <div class="card-header" id="modal-header">
    <h3 class="bank-card-title">Bank</h3>
  </div>
  <div class="card-body bank-body">
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-xl-6">
        <div class="input-group mt-3">
          <span class="input-group-text bank-btn" id="basic-addon1">Bank</span>
          <input
            id="bank"
            name="bank"
            type="text"
            class="form-control border-form-modal"
            placeholder="Bank Name"
            aria-label="Bank Name"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-sm-1 col-add">
          <button
            id="addBtn"
            name="addBtn"
            class="btn btn-add-color"
            type="button">
           <b>+ Add</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
  <div class="card bank-card-table">
    <div class="card-header ch-coop">
          <h3 class="bank-card-title">Bank Table</h3>
          <div class="input-group mb-3 col-md-3 mt-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-solid fa-search"> Search</i></span
            >
            <input
              id="search"
              name="search"
              type="text"
              class="form-control bank-search"
              placeholder="search"
              aria-label="search"
              aria-describedby="basic-addon1"
            />
          </div>
    </div>

    
    <div class="card-body bank-body">
      <div class="table-responsive">
        <table
          id="data-table"
          class="table align-middle table-sm table-bordered table-hover"
        >
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Created By</th>
              <th>Created Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider"></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade bd-example-modal-lg"
    id="editModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-keyboard="false"
    data-backdrop="static"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">
            Edit Bank
          </h1>
        </div>
        <div class="modal-body bank-body">
          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="input-group mb-3">
                    <span class="input-group-text bank-btn" id="basic-addon2">ID</span>
                    <input
                      id="idmodal"
                      name="idmodal"
                      type="text"
                      class="form-control border-form-modal"
                      placeholder="ID"
                      aria-label="ID"
                      aria-describedby="basic-addon2"
                      disabled="true"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="input-group mb-3">
                    <span class="input-group-text bank-btn" id="basic-addon2"
                      >Bank</span
                    >
                    <input
                      id="bankmodal"
                      name="bankmodal"
                      type="text"
                      class="form-control border-form-modal"
                      placeholder="Bank Name"
                      aria-label="Bank Name"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button
            type="button"
            class="btn btn-modal-close"
            data-bs-dismiss="modal"
          >
            <i class="fa fa-times" aria-hidden="true"></i> Close
          </button>
          <button
            type="button"
            id="saveBtn"
            class="btn btn-modal-save"
          >
            <i class="fa fa-check" aria-hidden="true"></i> Save
          </button>
        </div>
      </div>
    </div>
  </div>

