
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header ch-requestleave">
        <h3>Request Overtime</h3>
        <div class="row g-2">
            <div class="col">
              <input id='myInput' type='text' placeholder="  Search....">
            </div>
            <div class="col-sm-1 col-add">
              <button type="button" class="btn btn-add-color bg-primary" data-bs-toggle="modal" data-bs-target="#addmodal">
                <b>+ Add</b>
              </button>
            </div>
        </div>
    </div>
    <div class="card-body cbody-requestleave">
        <table class="table table-light table-bordered" id="dataTableapplyOvertime">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Attendance Date</th>
                    <th scope="col">Clock In</th>
                    <th scope="col">Clock Out</th>
                    <th scope="col">Total Hours</th>
                    <th scope="col">Night OT</th>
                    <th scope="col">Early OT</th>
                    <th scope="col">Normal OT</th>
                    <th scope="col">Payroll Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!--Add Ot-->
<div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Add Overtime</h5>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="row card-overtime">
                        <div class="col-md-3 col-sm-12 p-0 box">
                            <div class="row g-3">
                                <div class="col-12">
                                    <table class="spaced-table">
                                        <tbody>
                                            <tr>
                                                <td class="field text-left work-field">Name:</td>
                                                <td class="value" id="addotfullname"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Position:</td>
                                                <td class="value" id="addotpositionname"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Department:</td>
                                                <td class="value" id="addotdepartmentname"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Date Submitted:</td>
                                                <td class="value" id="adddatesubmittedot"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Shift Schedule:</td>
                                                <td class="value" id="addotshiftscheduled"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 p-0 box">
                            <div class="row g-3">
                                <div class="col">
                                    <label for="editattendancedate" class="form-label">Day</label>
                                    <input type="date" class="form-control border-form-modal" id="addappliedday" name="addappliedday">
                                </div>
                                <div class="col">
                                    <label for="editclockout" class="form-label">Shift from:</label>
                                    <input type="datetime-local" class="form-control border-form-modal" id="addappliedotstart" name="addappliedotstart">
                                </div>    
                                <div class="col">
                                    <label for="editclockout" class="form-label">To:</label>
                                    <input type="datetime-local" class="form-control border-form-modal" id="addappliedotend" name="addappliedotend">
                                </div>             
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="editpayrolldate" class="form-label">Payroll Date</label>
                                    <select class="form-select border-form-modal" id="addpayrolldateot" name="addpayrolldateot">
                                        <option selected disabled>Select Payroll Date</option> 
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="editstatus" class="form-label">Status</label>
                                    <select class="form-control border-form-modal" id="addappliedstatusot" name="addappliedstatusot">
                                        <option value="Applied">Applied</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="editstatus" class="form-label">Subgroup</label>
                                    <select class="form-control border-form-modal" id="addappliedsubgroup" name="addappliedsubgroup">
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="editreason" class="form-label">Reason :</label>
                                    <textarea class="form-control border-form-modal" id="addappliedotreason" name="addappliedotreason"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col">
                                    <label class="form-label" for="EditFile"></label>
                                    <input type="file" name="uploadimage" id="uploadimage" class="form-control border-form-modal"
                                    accept="image/*">
                                </div>
                                <div class="col">
                                    <div class="text-center">
                                      <img id="preview" src="https://via.placeholder.com/250" style="width: 650px;; height: 250px;"
                                        class="rounded border-form-modal" alt="placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-modal-save" id="addovertime">Save</button>
            </div>
        </div>
    </div>
</div>



<!--Edit Modal-->
<div class="modal fade" id="appliedot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Add Overtime</h5>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="row card-overtime">
                        <div class="col-md-3 col-sm-12 p-0 box">
                            <div class="row g-3">
                                <div class="col-12">
                                    <table class="spaced-table">
                                        <tbody>
                                            <tr>
                                                <td class="field text-left work-field">Name:</td>
                                                <td class="value" id="otfullname"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Position:</td>
                                                <td class="value" id="otpositionname"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Department:</td>
                                                <td class="value" id="otdepartmentname"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Date Submitted:</td>
                                                <td class="value" id="datesubmitted"></td>
                                            </tr>
                                            <tr>
                                                <td class="field text-left work-field">Shift Schedule:</td>
                                                <td class="value" id="otshiftscheduled"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 p-0 box">
                            <div class="row g-3">
                                <div class="col">
                                    <label for="editattendancedate" class="form-label">Day</label>
                                    <input type="text" class="form-control border-form-modal" id="appliedday" name="appliedday" disabled>
                                </div>
                                <div class="col">
                                    <label for="editclockout" class="form-label">Shift from:</label>
                                    <input type="datetime-local" class="form-control border-form-modal" id="appliedotstart" name="appliedotstart">
                                </div>    
                                <div class="col">
                                    <label for="editclockout" class="form-label">To:</label>
                                    <input type="datetime-local" class="form-control border-form-modal" id="appliedotend" name="appliedotend">
                                </div>             
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="message-text" class="col-form-label">Scheduled Time In</label>
                                    <input type="text" class="form-control border-form-modal" id="schedtimein" name="schedtimein" disabled>
                                </div>
                                <div class="col">
                                    <label for="message-text" class="col-form-label">Scheduled Time Out</label>
                                    <input type="text" class="form-control border-form-modal" id="schedtimeout" name="schedtimeout" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="editpayrolldate" class="form-label">Payroll Date</label>
                                    <select class="form-select border-form-modal" id="payrolldateot" name="payrolldateot">
                                        <option selected disabled>Select Payroll Date</option> 
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="editstatus" class="form-label">Status</label>
                                    <select class="form-control border-form-modal" id="appliedstatusot" name="appliedstatusot">
                                        <option value="Applied">Applied</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Cancel">Cancel</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="editstatus" class="form-label">Subgroup</label>
                                    <select class="form-control border-form-modal" id="appliedsubgroup" name="appliedsubgroup">
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="editreason" class="form-label">Reason :</label>
                                    <textarea class="form-control border-form-modal" id="appliedotreason" name="appliedotreason"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col">
                                    <label class="form-label" for="EditFile"></label>
                                    <input type="file" name="editotimage" id="editotimage" class="form-control border-form-modal"
                                    accept="image/*">
                                </div>
                                <div class="col">
                                    <div class="text-center">
                                      <img id="editpreview" src="https://via.placeholder.com/250" style="width: 650px;; height: 250px;"
                                        class="rounded border-form-modal" alt="placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-modal-save" id="applyovertimesavebtn">Save</button>
            </div>
        </div>
    </div>
</div>
