<script>
  $(document).ready(function () {
    let id = "";
    let name = "";
    let status = "";

    LoadTable();

    $("#data-table tbody").on("click", "tr", function () {
      let dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      id = dataRow[0];
      name = dataRow[1];
      status = dataRow[2];
    });

    $(document).on("click", "#addBtn", function () {
      let area = $("#area").val();
      let message = "";

      if (area == "") {
        message += "Area ";
      }

      if (message != "") {
        warning("Warning", `${message} is required!`);
      } else {
        $.ajax({
          type: "POST",
          url: "/area/save",
          data: {
            area: area,
          },
          success: function (result) {
            if (result.status == "Success") {
              success("Success", result.message);
              LoadTable();
            } else {
              warning("Warning", result.message);
            }
          },
          error: function (err) {
            warning("Warning", err);
          },
        });
      }
    });

    
    $(document).on("click", "#inactiveBtn", function () {
      console.log(id, status);

      $.ajax({
        type: "POST",
        url: "/area/status",
        data: {
          id: id,
          status: status,
        },

        success: function (res) {
          if (res.status == "Success") {
            success("Success", res.message);
            LoadTable();
          } else {
            warning("Warning", res.message);
          }
        },
        error: function (err) {
          warning("Warning", "Server Error!");
        },
      });
    });

    $(document).on("click", "#activeBtn", function () {
      console.log(id, status);

      $.ajax({
        type: "POST",
        url: "/area/status",
        data: {
          id: id,
          status: status,
        },

        success: function (res) {
          if (res.status == "Success") {
            success("Success", res.message);
            LoadTable();
          } else {
            warning("Warning", res.message);
          }
        },
        error: function (err) {
          warning("Warning", "Server Error!");
        },
      });
    });

    $("#search").on("input", function () {
      filterTableRows("#data-table", 7, "#search");
    });

    $(document).on("click", "#editBtn", function () {
      $("#namemodal").val(name);
      $("#editModal").modal("show");
    });

    $(document).on("click", "#updateBtn", function () {
      let name = $("#namemodal").val();

      $.ajax({
        type: "POST",
        url: "/area/edit",
        data: {
          id: id,
          name: name,
        },
        success: function (result) {
          if (result.status == "Success") {
            success("Success", result.message);
            LoadTable();
            $("#editDateModal").modal("hide");
          } else {
            warning("Warning", result.message);
          }
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    });

    function LoadTable() {

      $("#data-table").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/area/load",
          dataSrc: (json) => {
            let finalData = [];
            let data = json.data;

            $.each(data, (key, item) => {
              let action = "";

              if (item.status == "Active") {
                action = `<button id="inactiveBtn" class="btn text-primary" name="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></button>
                <button id="editBtn" class="btn text-primary" name="editBtn"><i class="fas fa-pen" style="color: rgb(99, 115, 129);"></i></button>`;
              } else {
                action = `<button id="activeBtn" class="btn text-primary" name="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></button>
                <button id="editBtn" class="btn text-primary" name="editBtn"><i class="fas fa-pen" style="color: rgb(99, 115, 129);"></i></button>`;
              }

              finalData.push({
                id: item.id,
                name: item.name,
                status:
                  item.status == "Active"
                    ? `<div class="status-active"><span>${item.status}</span></div>`
                    : `<div class="status-inactive"><span>${item.status}</span></div>`,
                action: action,
              });
            });

            return finalData;
          },
        },
        columns: [
          { data: "id" },
          { data: "name" },
          { data: "status" },
          { data: "action" },
        ],
        initComplete: function () {},
      });
    }
  });
</script>
