<br>
<h1 class="font-weight-bold" id="h-title">Candidate for Probationary</h1>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header">
      <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#departmentmodal">
        + Add New
      </button> -->
      <input id='myInput' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-striped" id="dataTableapprentice">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Employee ID</th>
                        <th class="col-25">Apprentice Name</th>
                        <th>Department</th>
                        <th>Hire Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="apprenticemodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Approved this Apprentice?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="apprenticefullname">Apprentice Name</label>
                                        <input type="text" class="form-control" id="apprenticefullname" placeholder="Apprentice Name" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="apprenticedepartment">Department</label>
                                        <select class="form-control" id="apprenticedepartment" disabled>
                                        </select>
                                    </div>                                    
                                    <div class="form-group">
                                        <label for="apprenticestart">Start Date</label>
                                        <input type="text" class="form-control" id="apprenticestart" placeholder="Start Date" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputState">Action</label>
                                        <select id="inputState" class="form-control">
                                            <option>Choose...</option>
                                            <option value="probitionary">Approve to Probationary</option>
                                            <option value="end_of_contract">End of Contract</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <img id="editpreview" style="width: 200px; height: 200px;" class="rounded rounded-circle" alt="placeholder" disabled>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveprobi">Save</button>
        </div>
      </div>
    </div>
  </div>

