<h1 class="font-weight-bold text-danger" id="head-title">Attendance</h1>
<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header py-3">
      <button type="button" class="btn btn-danger">
        Import Attendance
      </button>
        <input id='myInput' onkeyup='searchTable()' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableattendance">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Employee ID</th>
                        <th>Date</th>
                        <th>Clock In</th>
                        <th>Device In</th>
                        <th>Clock Out</th>
                        <th>Device Out</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
