<br>
<h1 class="font-weight-bold" id="h-title">Attendance</h1>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header">
      <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#">
        <b>Export Attendance</b>
      </button>
        <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableattendance">
                <thead>
                        <th>Image</th>
                        <th>ID</th>
                        <th class="col-25">Name</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Device In</th>
                        <th>Device Out</th>
                        <th>Total Hours</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!--MODAL-->

<div class="modal fade" id="editlogsmodal" tabindex="-1" role="dialog" aria-labelledby="totalCablingModal"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 class="modal-title fs-5 text-danger" id="exampleModalToggleLabel">
                       Logs
                    </h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="table-responsive-id">
                    <table class="table table-striped" id="dataTableattendancelogs">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Full Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Log Type</th>
                                <th>Latitude</th>
                                <th>Lonitude</th>
                                <th>Device</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: red !important;
                border: 2px solid white !important;">Close</button>
            </div>
        </div>
    </div>
</div>










<!-- <div class="modal fade" id="geoFenceModal" tabindex="-1" role="dialog" aria-labelledby="geoFenceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modal-header">
                    <i class='bx bxs-component' style='color:#1ff143; font-size: 50px; margin: 3px;'></i>
                    <h3 class="modal-title" id="geoFenceModalLabel">GEO-FENCE SETTINGS</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <label for="latitude">Latitude:</label>
                    <input type="text" id="latitude" class="form-control" placeholder="Enter latitude" style="border: 2.5px solid #174634 !important;">
    
                    <label for="longitude">Longitude:</label>
                    <input type="text" id="longitude" class="form-control" placeholder="Enter longitude" style="border: 2.5px solid #174634 !important;">
    
                    <label for="radius">Radius:</label>
                    <input type="text" id="radius" class="form-control" placeholder="Enter radius" style="border: 2.5px solid #174634 !important;">

                </div>
                <div class="modal-footer" id="modal-footer">
                    <button type="button" class="btn btn-secondary" style="background-color: red !important; border: 2px solid white !important;" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="setGeoFence()" style="background-color: green !important; border: 2px solid white !important;">Set Geo-fence</button>
                </div>
            </div>
        </div>
    </div> -->