<div id="loading" class="loading"></div>
<br>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content content-interest-modal">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="staticBackdropLabel">Add INTEREST</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <!--- Modal Body -->
        <div class="modal-body" id="modal-body">
          <select class="form-select" id="loanid" aria-label="Default select example">
            <option selected>Loan ID</option>
             <option value="1">One</option>
            <option value="2">Two</option>
             <option value="3">Three</option>
             </select>
  
           <div class="row g-2">
            <div class="col-auto">
              <label for="exampleFormControlInput1" class="form-label" id="interest">Interest</label>
              <input type="text" class="form-control border-form-modal" id="exampleFormControlInput2" placeholder="0%"> 
          </div>
          <div class="row g-3">
            <div class="col-auto">
                <label for="21" class="form-label" id="rebate">Rebate</label>
                <input type="text" class="form-control border-form-modal" id="exampleFormControlInput2" placeholder="Enter rebate here.."> 
            </div>
          </div>
           </div>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-save">Submit</button>
        </div>
      </div>   
    </div>
  </div>
  
  
 
  
  <!------ Table ------>
  <div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">Interest</h3>
      <div class="row g-2">
        <div class="col">
          <!---- Searchbar ----->
          <input id='myInput' type='text' placeholder="  Search....">
        </div>
        <div class="col-sm-1 color-add">
          <button type="button" class="btn-add-color" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <b>+ Add</b>
          </button>
        </div>
      </div>
      </div>
      <div class="card-body">
      <div class="table-responsive" id="table-responsive-id">
        <table class="table table-light table-striped" id="dataTableemployees">
          <thead>
            <tr>
              <th class="col-sm-1">ID</th>
              <th>Loan ID</th>
              <th>Interest</th>
              <th>Rebate</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    </div>


  
  
  