<script>
  $(document).ready(function () {
    let leaveid = "";
    let startdate = "";
    let enddate = "";

    LoadTable();
    searchTable();
    LoadEditEmp();
    LoadSubgroup();

    $(document).on("keyup", "#myInput2", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTablependingleave").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/teamleadpendingleave/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                      <button id="editBtn" class="btn text-primary" name="editBtn"><i class="fas fa-fw fa-pen"></i></button>
                     `;

              finalData.push({
                leaveid: item.leaveid,
                employeeid: item.employeeid,
                leavetype: item.leavetype,
                leavestartdate: item.leavestartdate,
                leaveenddate: item.leaveenddate,
                reason: item.reason,
                applieddate: item.applieddate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "leaveid" },
          { data: "employeeid" },
          { data: "leavetype" },
          { data: "leavestartdate" },
          { data: "leaveenddate" },
          { data: "reason" },
          { data: "applieddate" },
          { data: "action" },
        ],
       
        initComplete: function () {},
      });
    }

    function LoadEditEmp() {
      $.ajax({
        type: "GET",
        url: "/employee/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.id, item.id);
            $(options).html(item.fullname);
            $("#leaveemployeename").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTablependingleave tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      leaveid = dataRow[0];
      startdate = dataRow[3];
      enddate = dataRow[4];
    });

    $(document).on("click", "#editBtn", function () {
      $("#pendingmodal").modal("show");
      $.ajax({
        type: "POST",
        url: "/index/getleave",
        data: {
          leaveid: leaveid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#pendingleaveid").val(item.leaveid);
              $("#leaveemployeename").val(item.employee);
              $("#reqleavetype").val(item.leavetype);
              $("#leavestartdate").val(item.leavestartdate);
              $("#leaveenddate").val(item.leaveenddate);
              $("#leavereason").val(item.leavereason);
              $("#leaveapplieddate").val(item.leaveapplieddate);
              $("#previewleave").attr(
                "src",
                "data:image/jpg;base64," + item.leaveimage
              );
              $("#leavedays").val(item.totalleavedays);
              $("#unusedleave").val(item.unusedleave);
              $("#usedleave").val(item.usedleave);
              $("#leaveyear").val(item.leaveyear);
              $("#reqleavestatus").val(item.leavestatus);
              $("#leaveduration").val(item.leaveduration);
              $("#paiddays").val(item.leavepaiddays);
              $("#unpaiddays").val(item.leaveunpaiddays);
              $("#subgroupid").val(item.leavesubgroupid);
            });
          } else {
            swal("Error fetching employee data", "success");
          }
        },
        error: function (err) {
          swal("An error occurred while fetching employee data", err, "error");
        },
      });
    });

    function LoadSubgroup() {
      $.ajax({
        type: "GET",
        url: "/subgroup/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.subgroupid, item.subgroupid);
            $(options).html(item.subgroupname);
            $("#subgroupid").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $(document).on("click", "#leavesavebutton", function () {
      console.log("hit");
      let id = leaveid;
      let requeststatus = $("#reqleavestatus").val();
      let comment = $("#leavecomment").val();
      let subgroupid = $("#subgroupid").val();

      console.log(leaveid, "LEAVE");
      console.log(requeststatus, "LEAVE");
      console.log(comment, "LEAVE");

      var message = "";

      if (requeststatus === "") {
        message += "Status is required. ";
      }

      if (comment === "") {
        message += "comment is required. ";
      }

      if (message !== "") {
        swal("Oops!!!", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/teamleadpendingleave/leaveaction",
          data: {
            leaveid: leaveid,
            status: requeststatus,
            comment: comment,
            subgroupid: subgroupid,
            startdate: startdate,
            enddate: enddate,
          },
          success: function (result) {
            if (result.msg === "success") {
              swal({
                title: "Saved Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then(() => {
                $("#reqleavestatus").val("");
                $("#pendingmodal").modal("hide");
                LoadTable();
              });
            } else if (result.msg === "conflict") {
              const conflictingDates = result.conflictingDates.join(", ");
              swal({
                title: "Conflict Detected",
                text: `The following dates are already in use: ${conflictingDates}`,
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal({
                title: "Error",
                text: "An unexpected error occurred.",
                icon: "error",
                button: "OK!",
              });
            }
          },
          error: function (err) {
            swal("Data already exist!", "You clicked the button!", "warning");
          },
        });
      }
    });

    function Loadactionname() {
      $.ajax({
        type: "GET",
        url: "/teamleadpendingcoa/loadactionname",
        success: function (result) {
          if (result.msg === "success") {
            var data = result.data;
            $("#editcoastatus").empty();

            $.each(data, function (key, item) {
              var approveOption = new Option(
                item.approvename,
                item.approvename
              );
              var rejectOption = new Option(item.rejectname, item.rejectname);

              $(approveOption).html(item.approvename);
              $(rejectOption).html(item.rejectname);

              $("#editcoastatus").append(approveOption);
              $("#editcoastatus").append(rejectOption);
            });
          } else {
            alert("Error: " + result.data);
          }
        },
        error: function (result) {
          alert("Error: " + result.data);
        },
      });
    }

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput2");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTablependingleave");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });
</script>
