<script src="/javascripts/js/xlsx.full.min.js"></script>
<script>
  let base64String = "";
  let employeeid = "";
  $(document).ready(function () {
    LoadTable();
    LoadList();
    LoadPosition();
    // LoadModal();
    // LoadModalPosition();
    searchTable();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.departmentid, item.departmentid);
            $(options).html(item.departmentname);
            $("#employeedepartment").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadPosition() {
      $.ajax({
        type: "GET",
        url: "/position/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.positionid, item.positionid);
            $(options).html(item.positionname);
            $("#employeeposition").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadTable() {
      $("#dataTableemployees").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/teamleademployee/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              // action = `
              //   <button id="edit-btn" class="btn text-primary" name="edit-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-fw fa-eye"></i></button>
              //  `;

              // var imgElement = document.createElement("img");
              // imgElement.src = "data:image/jpg;base64," + item.image;
              // imgElement.alt = "Profile Image";
              // imgElement.style.width = "90px";
              // imgElement.style.height = "90px";

              finalData.push({
                // image: imgElement.outerHTML,
                newEmployeeId: item.newEmployeeId,
                firstname: item.firstname,
                phone: item.phone,
                email: item.email,
                jobstatus: item.jobstatus,
                me_department: item.me_department,
                me_position: item.me_position,
                // action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          // { data: "image" },
          { data: "newEmployeeId" },
          { data: "firstname" },
          { data: "phone" },
          { data: "email" },
          { data: "jobstatus" },
          { data: "me_department" },
          { data: "me_position" },
          // { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          //miyaka
          var jobstatusCell = $(row).find("td:eq(4)");

          var jobstatusText = data.jobstatus;

          var jobstatusClass = "";

          switch (jobstatusText.toLowerCase()) {
            case "regular":
              jobstatusClass = "regular-status";
              break;
            case "probitionary":
              jobstatusClass = "probationary-status";
              break;
            case "project Based":
              jobstatusClass = "project-based-status";
              break;
            case "apprentice":
              jobstatusClass = "apprentice-status";
              break;
            default:
              jobstatusClass = "";
          }

          jobstatusCell.html(
            `<span class="${jobstatusClass}">${jobstatusText}</span>`
          );

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }
  });
  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableemployees");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        tr[i].style.display = "none";
      }
    }
  }

  function reloadPage() {
    location.reload();
  }
</script>
