<div class="card">
    <div class="card-header header-bg">
      <h3 class="card-title ch-text">Staff House History</h3>
    </div>
  
    <div class="card-body header-bg">
      <div class="card-title">
          <h6 class="ch-text"><b>Staff House Occupant Table</b></h6>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <input
              id="search"
              type="text"
              class="form-control pl-2 font-weight-bold"
              placeholder="Search...."
            />
          </div>
        </div>
    
        <div class="row mt-2">
          <div class="table">
            <table id="data-table" class="table table-striped-light table-hover">
              <thead>
                <th>ID</th>
                <th>Employee</th>
                <th>Staffhouse</th>
                <th>Activity</th>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>