<br>

<!-- Table -->
        <div class="card" id="tablecard">
            <div class="card-header ch-coop">
              <h3 class="title-card-table">Leave</h3>
              <input id='myInput2' type='text' placeholder="  Search....">
            </div>
            <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableallleave">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-25">Name</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Leave Type</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Applied Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Action Leave Modal-->
