<script>
    $(document).ready(function(){
        console.log('Initialize');
        LoadTable();
    
        function LoadTable() {
            $("#dataTableallleave").DataTable({
              destroy: true,
              processing: true,
              serverSide: true,
              paging: false,
              searching: false,
              info: false,
              scrollY: 400,
              scrollCollapse: true,
              serverMethod: "GET",
              ajax: {
                url: "/allleave/load",
                dataSrc: (json) => {
                  var finalData = [];
                  var data = json.data;
      
                  console.log(data);
                  $.each(data, (key, item) => {
                    var action = "";
                    var status = item.status;
                    
                    action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#updateEventModal"><i class="fas fa-fw fa-eye"></i></button>
                   `;
      
                    finalData.push({
                        leaveid: item.leaveid,
                        employeeid: item.employeeid,
                        leavestartdate: item.leavestartdate,
                        leaveenddate: item.leaveenddate,
                        leavetype: item.leavetype,
                        reason: item.reason,
                        status: item.status,
                        applieddate: item.applieddate,
                        action: action,
                    });
                  });
      
                  return finalData;
                },
              },
              columnDefs: [
                {
                  targets: 1,
                  className: "td-indent",
                },
              ],
              columns: [
                { data: "leaveid" },
                { data: "employeeid" },
                { data: "leavestartdate"},
                { data: "leaveenddate" },
                { data: "leavetype" },
                { data: "reason" },
                { data: "status" },
                { data: "applieddate" },
                { data: "action" },
              ],
              initComplete: function () {
                console.log('Done');
              },
            });
          }
      
    });

    //search bar
    
function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTableallleave");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}

    
    
</script>