
<!-- Table -->
<div class="card shadow mb-4" style="margin-left: 50px; margin-right: 50px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Leave</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableallleave" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Leave Type</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Applied Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
