<h1 class="font-weight-bold text-danger" id="head-title">Leave</h1>

<br>
<br>
<!-- Table -->
        <div class="card shadow mb-4" id="tablecard">
            <div class="card-header py-3">
                    <input id='myInput2' onkeyup='searchTable()' type='text' placeholder="  Search....">
            </div>
            <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableallleave">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Leave Type</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Applied Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
