<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header">
      <h3 class="title-card-table">Users</h3>
      <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#usersmodal">
        <b>+ Add</b>
      </button>
        <input id='myInput' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-striped" id="dataTableusers">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th class="col-sm-1">ID</th>
                        <th>Employee ID</th>
                        <th class="col-25">Username</th>
                        <th>Access Type</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="usersmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">USERS</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
              <div class="col">
                <div class="form-floating">
                  <select class="form-select border-form-modal" id="usersname" name="usersname" aria-label="Floating label select example">
                    <option selected>Choose....</option>
                  </select>
                  <label for="floatingSelectGrid">Employee ID</label>
                </div>
              </div>
              <br>
              <div class="col">
                  <div class="form-floating">
                      <select class="form-select border-form-modal" id="usersaccesstype" name="usersaccesstype" aria-label="Floating label select example">
                        <option selected>Choose....</option>
                      </select>
                      <label for="floatingSelectGrid">Access Type</label>
                    </div>
              </div>
              <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="userssavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editusersmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Users</h1>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
              <br>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="editusername" name="editusername" placeholder="Created By">
                    <label for="floatingInput">Username</label>
                  </div>
                </div>
                <br>
                <!-- <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="editpassword" name="editpassword" placeholder="Created By">
                    <label for="floatingInput">Password</label>
                  </div>
                </div>
                <br> -->
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select border-form-modal" id="editusersaccesstype" name="editusersaccesstype" aria-label="Floating label select example">
                        </select>
                        <label for="floatingSelectGrid">Access Type</label>
                      </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select border-form-modal" id="editusersstatus" name="editusersstatus" aria-label="Floating label select example">
                          <option selected>Choose....</option>
                          <option value="Active">Active</option>
                          <option value="Inactive">Inactive</option>
                        </select>
                        <label for="floatingSelectGrid">Status</label>
                      </div>
                </div>
                <br>
        </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="edituserssavebtn">Save</button>
        </div>
      </div>
    </div>
  </div>