<script>
    let requestid = '';
    $(document).ready(function () {
        console.log('Initialize');
        let employeeid = "<%= employeeid %>";
        LoadTable();

        function LoadTable() {
            $("#dataTablereqCOA").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                paging: false,
                searching: false,
                info: false,
                scrollY: 400,
                scrollCollapse: true,
                type: "GET",
                ajax: {
                    url: "/eportalrequestattendance/load",
                    dataSrc: (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = "";
                            var status = item.status;

                            action = `
                      <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#allleavemodal"><i class="fas fa-fw fa-pen"></i></button>
                    `;

                            finalData.push({
                                requestid: item.requestid,
                                attendancedate: item.attendancedate,
                                timein: item.timein,
                                timeout: item.timeout,
                                total: item.total,
                                reason: item.reason,
                                requeststatus: item.requeststatus,
                                createdate: item.createdate,
                                action: action,
                            });
                        });

                        console.log(finalData);

                        return finalData;
                    },

                },
                columnDefs: [
                    {
                        targets: 1,
                        className: "td-indent",
                    },
                ],
                columns: [
                    { data: "requestid" },
                    { data: "attendancedate" },
                    { data: "timein" },
                    { data: "timeout" },
                    { data: "total" },
                    { data: "reason" },
                    { data: "requeststatus" },
                    { data: "createdate" },
                    { data: "action" },
                ],
                initComplete: function () {
                    console.log('Done');
                },
            });
        }

        $(document).on("click", "#coasavebtn", function () {
            let attendancedate = $("#attendancedate").val();
            let timein = $("#timein").val();
            let timeout = $("#timeout").val();
            let reason = $("#coareason").val();
            let file = base64String;

            var message = "";

            if (attendancedate == "") {
                message += "shiftname is required ";
            }

            if (timein == "") {
                message += "status is required ";
            }

            if (timeout == "") {
                message += "department is required ";
            }

            if (reason == "") {
                message += "createby is required ";
            }

            if (file == "") {
                message += "createby is required ";
            }

            if (message !== "") {
                swal("Validation Error", message, "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/eportalrequestattendance/submit",
                    data: {
                        employeeid: employeeid,
                        attendancedate: attendancedate,
                        timein: timein,
                        timeout: timeout,
                        reason: reason,
                        file: file,
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                            swal("Update Successfully", "You clicked the button!", "success")
                                .then(results => {
                                    window.location.reload();
                                });
                            LoadTable();
                        } else if (result.msg == "exist") {
                            swal("Exist", "Data already exists!", "warning");
                        } else if (result.msg == "nodate") {
                            swal("No Date Available", "The selected date is not available.", "warning");
                        }
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                    },
                });

            }

        });

        $("#dataTablereqCOA tbody").on("click", "tr", function () {
            var dataRow = [];
            $(this)
                .closest("tr")
                .find("td")
                .each(function () {
                    dataRow.push($(this).text());
                });
            console.log(dataRow);
            requestid = dataRow[0];
        });

        $(document).on("click", "#editBtn", function () {
            $.ajax({
                type: "POST",
                url: "/eportalrequestattendance/getreqCOA",
                data: {
                    requestid: requestid,
                },
                success: function (result) {
                    if (result.msg === "success") {
                        const existingData = result.data;

                        $.each(existingData, (key, item) => {
                            $("#id").val(item.requestid);
                            $("#editattendancedate").val(item.attendancedate);
                            $("#edittimein").val(item.timein);
                            $("#edittimeout").val(item.timeout);
                            $("#editcoastatus").val(item.requeststatus);
                            $("#editcoareason").val(item.reason);
                            $("#editpreview").attr("src", "data:image/jpg;base64," + item.file);
                        });
                    } else {
                        swal("Error fetching employee data", "success");
                    }
                },
                error: function (err) {
                    swal("An error occurred while fetching employee data", err, "error");
                },
            });
        });
        $(document).on("click", "#editcOAsavebtn", function () {
            let attendancedate = $("#editattendancedate").val();
            let timein = $("#edittimein").val();
            let timeout = $("#edittimeout").val();
            let reason = $("#editcoareason").val();
            let requeststatus = $("#editcoastatus").val();
            let file = base64String;

            var message = "";

            if (attendancedate == "") {
                message += "Attendance date is required. ";
            }

            if (timein == "") {
                message += "Time in is required. ";
            }

            if (timeout == "") {
                message += "Time out is required. ";
            }

            if (reason == "") {
                message += "Reason is required. ";
            }

            if (requeststatus === "Approved") {
                message += "You Are Not Allowed to Approved Your Request";
            }

            if (requeststatus === "") {
                message += "Status is required. ";
            }

            if (file === "") {
                message += "Status is required. ";
            }
            if (message !== "") {
                swal("Ooops !!!", message, "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/eportalrequestattendance/update",
                    data: {
                        requestid: requestid,
                        attendancedate: attendancedate,
                        timein: timein,
                        timeout: timeout,
                        reason: reason,
                        requeststatus: requeststatus,
                        file: file,
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                            swal("Save Successfully", "You clicked the button!", "success",)
                                .then(results => {
                                    window.location.reload();
                                });
                            LoadTable();
                        }
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                    },
                });
            }
        });

    });

    function submitRequest() {
        var selectedDate = document.getElementById("datepicker").value;
        console.log("Attendance requested for date:", selectedDate);
        $('#attendanceModal').modal('hide');
    }

    $(document).on("change", "#coafile", function (e) {
      const input = document.getElementById("coafile");
      const file = input.files[0];


      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("preview");
        preview.src = reader.result;
      };
      imageUploaded();
    });


    function imageUploaded() {
      const input = document.getElementById("coafile");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;


      };
      reader.readAsDataURL(file);
    }

    $(document).on("change", "#editcoafile", function (e) {
      const input = document.getElementById("editcoafile");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      editimage();
    });




    function editimage() {
      const input = document.getElementById("editcoafile");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;


      };
      reader.readAsDataURL(file);
    }

    let isSidebarOpen = localStorage.getItem('isSidebarOpen') === 'true';

        function updateSidebarState() {
            $("body").toggleClass("sidebar-toggled", isSidebarOpen);
            $(".sidebar").toggleClass("toggled", isSidebarOpen);

            if (isSidebarOpen) {
                $('.sidebar .collapse').collapse('hide');
                $('#content').toggleClass('content-toggled');
                $('#topbar').toggleClass('topbar-toggled ');
                $('.sticky-footer').toggleClass('footer-toggled');
            } else {
                $('#content').removeClass('content-toggled');
                $('#topbar').removeClass('topbar-toggled ');
                $('.sticky-footer').removeClass('footer-toggled');
            }
        }

        updateSidebarState();

        $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
            isSidebarOpen = !isSidebarOpen;

            localStorage.setItem('isSidebarOpen', isSidebarOpen);

            updateSidebarState();
        });


</script>


<!--- Eportal Topbar & Navbar-->
<!-- <script>
    $(document).ready(function () {
        let isSidebarOpen = localStorage.getItem('isSidebarOpen') === 'true';

        function updateSidebarState() {
            $("body").toggleClass("sidebar-toggled", isSidebarOpen);
            $(".sidebar").toggleClass("toggled", isSidebarOpen);

            if (isSidebarOpen) {
                $('.sidebar .collapse').collapse('hide');
                $('#content').toggleClass('content-toggled');
                $('#topbar').toggleClass('topbar-toggled ');
                $('.sticky-footer').toggleClass('footer-toggled');
            } else {
                $('#content').removeClass('content-toggled');
                $('#topbar').removeClass('topbar-toggled ');
                $('.sticky-footer').removeClass('footer-toggled');
            }
        }

        updateSidebarState();

        $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
            isSidebarOpen = !isSidebarOpen;

            localStorage.setItem('isSidebarOpen', isSidebarOpen);

            updateSidebarState();
        });
    });

</script> -->