<script>
  let holiday_id = "";
  let base64String = "";

  $(document).ready(function () {
    LoadTable();
    searchTable();
    LoadList();
    LoadSubgroup();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      $("#dataTableAppliedHoliday").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 600,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/teamleadholiday/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `<button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#holidayapprovalmodal"><i class="fas fa-fw fa-pen"></i></button>`;

              // var imgElement = document.createElement("img");
              // imgElement.src = "data:image/jpg;base64," + item.image;
              // imgElement.alt = "Profile Image";
              // imgElement.style.width = "90px";
              // imgElement.style.height = "90px";

              finalData.push({
                //   image: imgElement.outerHTML,
                holidayid: item.holidayid,
                fullname: item.fullname,
                attendancedate: item.attendancedate,
                timein: item.timein,
                timeout: item.timeout,
                total_hours: item.total_hours,
                payrolldate: item.payrolldate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          // { data: "image" },
          { data: "holidayid" },
          { data: "fullname" },
          { data: "attendancedate" },
          { data: "timein" },
          { data: "timeout" },
          { data: "total_hours" },
          { data: "payrolldate" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          // //miyaka
          // var overtimestatusCell = $(row).find("td:eq(8)");

          // var overtimestatusText = data.overtimestatus;

          // var overtimestatusClass = "";

          // switch (overtimestatusText.toLowerCase()) {
          //   case "approved":
          //     overtimestatusClass = "approved-status";
          //     break;
          //   case "cancel":
          //     overtimestatusClass = "cancel-status";
          //     break;
          //   case "pending":
          //     overtimestatusClass = "pending-status";
          //     break;
          //   default:
          //     overtimestatusClass = "";
          // }

          // overtimestatusCell.html(
          //   `<span class="${overtimestatusClass}">${overtimestatusText}</span>`
          // );
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {},
      });
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/setpayrolldate/loadreq",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.payrolldate, item.payrolldate);
            $(options).html(item.payrolldate);
            $("#holidaypayrolldate").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    function LoadSubgroup() {
      $.ajax({
        type: "GET",
        url: "/subgroup/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.subgroupid, item.subgroupid);
            $(options).html(item.subgroupname);
            $("#holidaysubgroup").append(options);
          });
        },
        error: function (result) {
          alert("error: " + result.data);
        },
      });
    }

    $("#dataTableAppliedHoliday tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      holiday_id = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/teamleadholiday/getholidayapproval",
        data: {
          holiday_id: holiday_id,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#preview").attr("src", "data:image/jpg;base64," + item.file);
              base64String = item.file;
              $("#holidayfullname").val(item.fullname);
              $("#holidayattendancedate").val(item.attendancedate);
              $("#holidayclockin").val(item.timein);
              $("#holidayclockout").val(item.timeout);
              $("#holodaytotalhours").val(item.total_hours);
              $("#holidaypayrolldate").val(item.payrolldate);
              $("#holidaytype").val(item.holidaytype);
              $("#holidaydate").val(item.holidaydate);
              $("#holidayname").val(item.holidayname);
              $("#holidaycreatedate").val(item.createdate);
              $("#holidaystatus").val(item.status);
              $("#holidaysubgroup").val(item.subgroupid);
            });
          } else {
            swal("Error fetching employee data", message, "error");
          }
        },
        error: function (err) {
          swal(
            "An error occurred while fetching employee data",
            message,
            "error"
          );
        },
      });
    });

    $(document).on("click", "#holidaysavebtn", function () {
      let id = holiday_id;
      let status = $("#holidaystatus").val();
      let comment = $("#holidaycomment").val(); // Fix the typo "holidaycommemt" to "holidaycomment"
      let payrolldate = $("#holidaypayrolldate").val();
      let subgroupid = $("#holidaysubgroup").val();

      console.log(status);
      console.log(comment);
      console.log(payrolldate);
      console.log(id);

      var message = "";

      if (status === "") {
        message += "Status is required. ";
      }

      if (payrolldate === "") {
        message += "Payroll Date is required. ";
      }

      if (comment === "") {
        message += "Comment is required. ";
      }

      if (status === "Applied" || status === "Pending") {
        message += "You Need to Approve or Disregard. ";
      }
      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "/teamleadholiday/holidayaction",
          data: {
            holiday_id: id,
            status: status,
            comment: comment,
            subgroupid: subgroupid,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal(
                "Update Successfully",
                "You clicked the button!",
                "success"
              ).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "exist") {
              swal("Exist", "Data already exists!", "warning");
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });

    $(document).on("change", "#otimage", function (e) {
      const input = document.getElementById("otimage");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("preview");
        preview.src = reader.result;
      };
      editimage();
    });

    function editimage() {
      const input = document.getElementById("otimage");
      const file = input.files[0];

      var reader = new FileReader();
      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;

        img.onload = function () {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");

          const targetWidth = 250;
          const targetHeight = 250;
          canvas.width = targetWidth;
          canvas.height = targetHeight;

          ctx.drawImage(img, 0, 0, targetWidth, targetHeight);

          base64String = canvas
            .toDataURL()
            .replace("data:image/png;base64,", "");

          imageBase64Stringsep = base64String;
        };
      };
      reader.readAsDataURL(file);
    }

    // function populateEventDropdown() {
    //     var dropdown = document.getElementById("otpayrolldate");
    //     dropdown.innerHTML = "";

    //     var currentDate = new Date();
    //     var currentYear = currentDate.getFullYear();
    //     var currentMonth = currentDate.getMonth() + 1;
    //     var currentDay = currentDate.getDate();

    //     var nextMonth = currentMonth + 1;
    //     var nextYear = currentYear;
    //     if (nextMonth > 12) {
    //         nextMonth = 1;
    //         nextYear++;
    //     }

    //     if (currentDay <= 15) {
    //         dropdown.add(new Option(currentYear + "-" + addZero(currentMonth) + "-15", currentYear + "-" + addZero(currentMonth) + "-15"));
    //     }

    //     var lastDayCurrentMonth = new Date(currentYear, currentMonth, 0).getDate();
    //     dropdown.add(new Option(currentYear + "-" + addZero(currentMonth) + "-" + lastDayCurrentMonth, currentYear + "-" + addZero(currentMonth) + "-" + lastDayCurrentMonth));

    //     dropdown.add(new Option(nextYear + "-" + addZero(nextMonth) + "-15", nextYear + "-" + addZero(nextMonth) + "-15"));

    //     var lastDayNextMonth = new Date(nextYear, nextMonth, 0).getDate();
    //     dropdown.add(new Option(nextYear + "-" + addZero(nextMonth) + "-" + lastDayNextMonth, nextYear + "-" + addZero(nextMonth) + "-" + lastDayNextMonth));
    // }

    // function addZero(number) {
    //     return number < 10 ? "0" + number : number;
    // }

    // populateEventDropdown();

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTableAppliedHoliday");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });
</script>
