<script>
    let leaveid = '';
    $(document).ready(function () {
        console.log('Initialize');
        let employeeid = "<%= employeeid %>";
        LoadTable();

        function LoadTable() {
            $("#dataTableapplyleave").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                paging: false,
                searching: false,
                info: false,
                scrollY: 400,
                scrollCollapse: true,
                type: "GET", 
                ajax: {
                    url: "/eportalrequestleave/load",
                    dataSrc: (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = "";
                            var status = item.status;

                            action = `
                      <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#allleavemodal"><i class="fas fa-fw fa-pen"></i></button>
                    `;

                            finalData.push({
                                leaveid: item.leaveid,
                                leavestartdate: item.leavestartdate,
                                leaveenddate: item.leaveenddate,
                                leavetype: item.leavetype,
                                reason: item.reason,
                                status: item.status,
                                applieddate: item.applieddate,
                                action: action,
                            });
                        });

                        console.log(finalData);

                        return finalData;
                    },

                },
                columnDefs: [
                    {
                        targets: 1,
                        className: "td-indent",
                    },
                ],
                columns: [
                    { data: "leaveid" },
                    { data: "leavestartdate" },
                    { data: "leaveenddate" },
                    { data: "leavetype" },
                    { data: "reason" },
                    { data: "status" },
                    { data: "applieddate" },
                    { data: "action" },
                ],
                initComplete: function () {
                    console.log('Done');
                },
            });
        }

        $(document).on("click", "#pendingleavesavebtn", function () {
            let startdate = $("#startldate").val();
            let enddate = $("#endldate").val();
            let leavetype = $("#leavetype").val();
            let reason = $("#leavereason").val();

            var message = "";

            if (startdate == "") {
                message += "shiftname is required ";
            }

            if (enddate == "") {
                message += "status is required ";
            }

            if (leavetype == "") {
                message += "department is required ";
            }

            if (reason == "") {
                message += "createby is required ";
            }

            if (message !== "") {
                swal("Validation Error", message, "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/eportalrequestleave/submit",
                    data: {
                        employeeid: employeeid,
                        startdate: startdate,
                        enddate: enddate,
                        leavetype: leavetype,
                        reason: reason,
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                          swal("Update Successfully","You clicked the button!","success",)
                            .then(results => {
                              window.location.reload();
                            });
                          LoadTable();
                        } else if (result.msg == "exist") {
                          swal("Exist","Data already exists!","warning",);
                        }
                    },
                    error: function (err) {
                      swal("Error", "An error occurred while saving data.", "error");
                    },
                });
                
            }

        });

        $("#dataTableapplyleave tbody").on("click", "tr", function () {
            var dataRow = [];
            $(this)
            .closest("tr")
            .find("td")
            .each(function () {
              dataRow.push($(this).text());
            });
          console.log(dataRow);
          leaveid = dataRow[0];
          });
        $(document).on("click", "#editBtn", function () {
            $.ajax({
              type: "POST",
              url: "/allleave/getleavedashboard",
              data: {
                leaveid: leaveid,
              },
              success: function (result) {
                if (result.msg === "success") {
                  const existingData = result.data;
          
                  $.each(existingData, (key, item) => {
                    $("#id").val(item.leaveid); 
                    $("#pendingleavename").val(item.employeeid); 
                    $("#pendingleaveemail").val(item.email);
                    $("#pendingleavegender").val(item.gender);
                    $("#pendingleavephone").val(item.phone);
                    $("#pendingleavetype").val(item.leavetype);
                    $("#pendingleaveapplydate").val(item.applieddate);
                    $("#pendingleavestart").val(item.leavestartdate);
                    $("#pendingleaveend").val(item.leaveenddate);
                    $("#pendingleavereason").val(item.reason);
                    $("#pendingleaveaction").val(item.status);
                  });
                } else {
                  swal("Error fetching employee data", "success");
                }
              },
              error: function (err) {
                swal("An error occurred while fetching employee data", err, "error");
              },
            });
          });
          $(document).on("click", "#pendingleavesavebtn", function () {
            console.log("Save button clicked");
            let id = leaveid
            let status = $("#pendingleaveaction").val();
        
            var message = "";
                
          
            if (status === "") {
              message += "status is required. ";
            }

         
          
          
            if (message !== "") {
              swal("Validation Error", message, "error");
          } else {
            $.ajax({
              type: "POST",
              url: "/allleave/update",
              data: { 
                leaveid: id,
                status: status,
              },
              success: function (result) {
                if (result.msg == "success") {
                  swal("Save Successfully","You clicked the button!","success",)
                    .then(results => {
                      window.location.reload();
                    });
                  LoadTable();
                } 
            },
            error: function (err) {
              swal("Error", "An error occurred while saving data.", "error");
            },
              error: function (err) {
                swal("Error", "An error occurred while saving data.", "error");
              },
            });
          }
          });
          
    });


</script>


   <!--- Eportal Topbar & Navbar-->
   <script>
    $(document).ready(function () {
      let isSidebarOpen = localStorage.getItem('isSidebarOpen') === 'true';
  
      function updateSidebarState() {
        $("body").toggleClass("sidebar-toggled", isSidebarOpen);
        $(".sidebar").toggleClass("toggled", isSidebarOpen);
  
        if (isSidebarOpen) {
          $('.sidebar .collapse').collapse('hide');
          $('#content').toggleClass('content-toggled');
          $('#topbar').toggleClass('topbar-toggled ');
          $('.sticky-footer').toggleClass('footer-toggled');
        } else {
          $('#content').removeClass('content-toggled');
          $('#topbar').removeClass('topbar-toggled ');
          $('.sticky-footer').removeClass('footer-toggled');
        }
      }
  
      updateSidebarState();
  
      $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
        isSidebarOpen = !isSidebarOpen;
  
        localStorage.setItem('isSidebarOpen', isSidebarOpen);
  
        updateSidebarState();
      });
    });
  
  </script>