<h1 class="font-weight-bold text-danger" id="head-title">Approved Leave</h1>

<br>
<br>
<!-- Table -->
<div class="card shadow mb-4" id="tablecard">
    <div class="card-header py-3">
      <input id='myInput2' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableapprovedleave">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Leave Type</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Reason</th>
                        <th>Applied Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
              
            </table>
        </div>
    </div>
</div>
</div>
</div>


<div class="modal fade" id="approvedmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Approved Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
          <div class="col">
            <label for="editfname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="pendingleavename" name="pendingleavename" value="Wendell Blanco" disabled>
          </div>
          <div class="col">
            <label for="editlname" class="form-label">Email</label>
            <input type="text" class="form-control" id="pendingleaveemail" name="pendingleaveemail" value="Blanco@gmail.com" disabled>
          </div>
          <div class="col">
            <label for="editbday" class="form-label">Gender</label>
            <input type="text" class="form-control" id="pendingleavegender" name="pendingleavegender" value="Male" disabled>
          </div>
          </div>
          <br>
          <div class="row g-3">
            <div class="col">
              <label for="editfname" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="pendingleavephone" name="pendingleavephone" value="09205844276" disabled>
            </div>
            <div class="col">
              <label for="editlname" class="form-label">Leave Type</label>
              <input type="text" class="form-control" id="pendingleavetype" name="pendingleavetype" value="Casual" disabled>
            </div>
            <div class="col">
              <label for="editbday" class="form-label">Apply Date</label>
              <input type="text" class="form-control" id="pendingleaveapplydate" name="pendingleaveapplydate" value="2000-10-10" disabled>
            </div>
            </div>
            <br>
            <div class="row g-3">
              <div class="col">
                <label for="editphone" class="form-label">Applied No. of Days</label>
                <input type="text" class="form-control" id="pendingleaveapplynodays" name="pendingleaveapplynodays" value="5" disabled>
              </div>
              <div class="col">
                <label for="editemail" class="form-label">Available No. of Days</label>
                <input type="text" class="form-control" id="pendingleaveavailabledays" name="pendingleaveavailabledays" value="6" disabled>
              </div>
              <div class="col">
                <label for="editpassword" class="form-label">Leave Period</label>
                <input type="text" class="form-control" id="pendingleaveaperiod" name="pendingleaveaperiod" value="2000-10-10 to 2000-11-11" disabled>
              </div>
              </div>
              <div class="row g-3">
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Reason:</label>
                  <textarea class="form-control" id="pendingleavereason" name="pendingleavereason" disabled>Masakit ulo ko</textarea>
                </div>
                <!-- <div class="col-md-8">
                  <label for="editemail" class="form-label">Remarks</label>
                  <input type="email" class="form-control" id="pendingleaveremarks" name="pendingleaveremarks">
                </div> -->
                <div class="col">
                  <label for="editbday" class="form-label">Action</label>
                  <select class="form-select" id="pendingleaveaction" name="pendingleaveaction" disabled>
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                  </select>
                </div>
                </div>
                <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" id="pendingleavesavebtn">Save</button> -->
      </div>
    </div>
  </div>
</div>

