<script>
  let employeeid = "";

  $(document).ready(function () {
    LoadTable();
    searchTable();

    $(document).on('keyup','#myInput',function(){
      searchTable();
    });

    function LoadTable() {
      $("#dataTablecandidate").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/candidate/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
                        <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#candidatemodal"><i class="fas fa-fw fa-pen"></i></button>
                    `;

              var imgElement = document.createElement("img");
              imgElement.src = "data:image/jpg;base64," + item.image;
              imgElement.alt = "Profile Image";
              imgElement.style.width = "100px";
              imgElement.style.height = "100px";

              finalData.push({
                image: imgElement.outerHTML,
                id: item.id,
                name: item.name,
                department: item.me_department,
                hiredate: item.hiredate,
                tenure: item.tenure,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columns: [
          { data: "image" },
          { data: "id" },
          { data: "name" },
          { data: "department" },
          { data: "hiredate" },
          { data: "tenure" },
          { data: "status" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },
        initComplete: function () {
        },
      });
    }

    $("#dataTablecandidate tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .find("td:not(:first-child)")
        .each(function () {
          dataRow.push($(this).text());
        });
      employeeid = dataRow[0];
    });

    $(document).on("click", "#editBtn", function () {
      $.ajax({
        type: "POST",
        url: "/candidate/getcandidate",
        data: {
          employeeid: employeeid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editpreview").attr(
                "src",
                "data:image/jpg;base64," + item.profilePicturePath
              );
              $("#candidatefullname").val(item.fullname);
              $("#candidatehiredate").val(item.hiredate);
              $("#candidatetenure").val(item.tenure);
            });
          } else {
            swal("Error fetching employee data", message, "error");
          }
        },
        error: function (err) {
          console.error("An error occurred while fetching employee data", err);
          swal(
            "An error occurred while fetching employee data",
            message,
            "error"
          );
        },
      });
    });

    $(document).on("click", "#saveregular", function () {
      let id = employeeid;
      let action = $("#inputState").val();

      var message = "";

      if (action === "") {
        message += "Please Provide Action !!! ";
      }

      if (action === "Choose...") {
        message += "Please Provide Action !!! ";
      }

      if (message !== "") {
        swal("Validation Error", message, "error");
      } else {
        $.ajax({
          type: "POST",
          url: "candidate/update",
          data: {
            employeeid: id,
            action: action,
          },
          success: function (result) {
            if (result.msg == "success") {
              swal({
                title: "Update Successfully",
                text: "You clicked the button!",
                icon: "success",
                button: "OK!",
              }).then((results) => {
                window.location.reload();
              });
              LoadTable();
            } else if (result.msg == "exist") {
              swal({
                title: "Exist",
                text: "Data already exists!",
                icon: "warning",
                button: "OK!",
              });
            } else {
              swal(
                "Data already exists!",
                "You clicked the button!",
                "warning"
              );
            }
          },
          error: function (err) {
            swal("Error", "An error occurred while saving data.", "error");
          },
        });
      }
    });

    $(document).on("change", "#c", function (e) {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        const preview = document.getElementById("editpreview");
        preview.src = reader.result;
      };
      editimage();
    });

    function editimage() {
      const input = document.getElementById("editemployeeprofile");
      const file = input.files[0];

      var reader = new FileReader();

      reader.onload = function () {
        base64String = reader.result.replace("data:", "").replace(/^.+,/, "");

        imageBase64Stringsep = base64String;

      };
      reader.readAsDataURL(file);
    }

    function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTablecandidate");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
          if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
          }
        }
        if (found) {
          tr[i].style.display = "";
          found = false;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });

</script>
