<script>
  $(document).ready(function () {
    let currentYear = new Date().getFullYear();
    let currentMonth = new Date().getMonth() + 1;
    const table = $("#datatable tbody");

    function LoadTable() {
      FetchTableData(
        `/payslipsummary/getallpayslip/${currentYear}/${currentMonth
          .toString()
          .padStart(2, "0")}`,
        (result) => {
          PopulateTable(table, result);

          console.log(result);
        }
      );
    }

    $("#month").change(function () {
      currentYear = $("#year").val();
      currentMonth = $("#month").val();
      LoadTable();
    });

    $("#year").change(function () {
      currentYear = $("#year").val();
      currentMonth = $("#month").val();
      LoadTable();
    });

    function PopulateTable(table, data) {
      table.empty();

      console.log(data.length);

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 6,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        table.append(tr);
      } else {
        data.forEach((item) => {
          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getStatusContainerBackground(item.status);

          action = /*html*/ `<button id="editBtn" class="btn text-secodary" name="editBtn" data-bs-toggle="modal" data-bs-target="#payrollmodal"><i class="fas fa-fw fa-download"></i></button>`;


          const tr = $("<tr>").append(
            $("<td>", {
              text: item.employeeid,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.fullname,
              "data-label": "Date",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.payrolltype,
              "data-label": "Employee",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.overall_netpay,
              "data-label": "Employee",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.total_deductions,
              "data-label": "Reason",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.total_netpay,
              "data-label": "Reason",
              class: "custom-mobile-align",
            }),

            $("<td>", {
              html: action,
              "data-label": "Reason",
              class: "custom-mobile-align",
            })
          );
          table.append(tr);
        });
      }
    }

    //#region Date Picker
    let selectedYear = new Date().getFullYear();

    function updateYearOptions() {
      const currentMonth = new Date().getMonth() + 1;
      const selectedMonth = parseInt(document.getElementById("month").value);
      const yearSelect = document.getElementById("year");
      const currentYear = new Date().getFullYear() - 1;
      const maxYear = currentYear + 20;

      yearSelect.innerHTML = "";

      let yearToSelect = selectedYear; // Store the year to select (might change below)

      for (let year = currentYear; year <= maxYear; year++) {
        const option = document.createElement("option");
        option.value = year;
        option.textContent = year;

        if (year === currentYear && selectedMonth < currentMonth) {
          option.disabled = true;

          if (year === selectedYear && option.disabled) {
            yearToSelect = year + 1; // If selected year is disabled, set the yearToSelect to the next available year
          }
        }

        yearSelect.appendChild(option);
      }

      yearSelect.value = yearToSelect;
      selectedYear = yearToSelect;
      document.getElementById("selectedYear").value = yearToSelect;
    }

    function updateMonthOptions() {
      const monthSelect = document.getElementById("month");
      const currentMonth = new Date().getMonth() + 1;
      monthSelect.value = currentMonth;
    }

    function updateSelectedYear() {
      selectedYear = parseInt(document.getElementById("year").value);
      document.getElementById("selectedYear").value = selectedYear;
    }


    $(document).on("click", "#exportBtn", function () {
      currentYear = $("#year").val();
      currentMonth = $("#month").val();

      // Fetch(`/payslipsummary/exportfile/${currentYear}/${currentMonth.toString().padStart(2, "0")}`, (result) => {
      //   if (result.msg === "success") {
      //     const blob = result.data;
      //     const url = URL.createObjectURL(blob);
      //     const link = document.createElement("a");
      //     link.href = url;
      //     link.download = `payroll_data_${currentYear}_${currentMonth}.xlsx`;
      //     document.body.appendChild(link);
      //     link.click();
      //     document.body.removeChild(link);
      //     window.URL.revokeObjectURL(url);
      //   } else {
      //     console.error("Error:", result.msg);
      //   }
      // });


      $.ajax({
        url: `/payslipsummary/exportfile/${currentYear}/${currentMonth.toString().padStart(2, "0")}`,
        type: "GET",
        xhrFields: {
          responseType: "blob",
        },
        success: function (response) {
          if (response) {
            swal({
              title: "Download Payroll Data",
              text: "Are you sure you want to download the payroll data?",
              confirm: "#28a745",
              cancel: "#dc3545",
              buttons: {
                confirm: "Yes, download it!",
                cancel: "No, cancel",
              },
              dangerMode: true,
            }).then((result) => {
              if (result) {
                var blob = response;

                var url = URL.createObjectURL(blob);

                var link = document.createElement("a");
                link.href = url;
                link.download = `payroll_data_${currentYear}_${currentMonth.toString().padStart(2, "0")}.xlsx`;
                document.body.appendChild(link);
                link.click();
                URL.revokeObjectURL(url);
              } else {
                swal(
                  "Cancelled",
                  "Payroll data download cancelled :)",
                  "error"
                );
              }
            });
          } else {
            console.error("Error: Empty response");
            swal(
              "Error",
              "Failed to export payroll data. Please try again later.",
              "error"
            );
          }
        },
        error: function (xhr, status, error) {
          console.error("Error:", error);
          swal(
            "Error",
            "Failed to export payroll data. Please try again later.",
            "error"
          );
        },
      });
    });

    // Initialize
    updateMonthOptions();
    updateYearOptions();
    LoadTable();
    //#endregion
  });
</script>
