<script>

    $(document).ready(function () {
        console.log('Initialize');
        LoadTable();
        populateYearsDropdown();
        $(document).on('keyup', '#myInput', function () {
            searchTable();
        });


        function LoadTable() {
            $("#dataTablepayrolldate").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                paging: false,
                searching: false,
                info: false,
                scrollY: 400,
                scrollCollapse: true,
                serverMethod: "GET",
                ajax: {
                    url: "/setpayrolldate/load",
                    dataSrc: (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = "";
                            var status = item.status;

                            action = `
                        <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editsalarymodal"><i class="fas fa-fw fa-pen"></i></button>
                    `;

                            finalData.push({
                                payrolldate_id: item.payrolldate_id,
                                payroll_name: item.payroll_name,
                                payroll_cutoff: item.payroll_cutoff,
                                payroll_startdate: item.payroll_startdate,
                                payroll_enddate: item.payroll_enddate,
                                payrolldate: item.payrolldate,
                                action: action,
                            });
                        });

                        return finalData;
                    },
                },
                columnDefs: [
                    {
                        targets: 1,
                        className: "td-indent",
                    },
                ],
                columns: [
                    { data: "payrolldate_id" },
                    { data: "payroll_name" },
                    { data: "payroll_cutoff" },
                    { data: "payroll_startdate" },
                    { data: "payroll_enddate" },
                    { data: "payrolldate" },
                    { data: "action" },
                ],
                initComplete: function () {
                    console.log('Done');
                },
            });
        }

        $(document).on("click", "#payrollsavebtn", function () {
            let year = $("#payrollyear").val();

            var message = "";

            if (year == "") {
                message += "Select A Year Please!!! ";
            }

            if (message !== "") {
                swal("Validation Error", message, "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/setpayrolldate/generate",
                    data: {
                        year: year,
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                            swal({
                                title: "Generate Successfully",
                                text: "You clicked the button!",
                                icon: "success",
                                button: "OK!",
                            }).then(result => {
                                window.location.reload();
                            });
                            LoadTable();
                        } else {
                            swal({
                                title: "Exist",
                                text: "Data already exists!",
                                icon: "warning",
                                button: "OK!",
                            }).then(result => {
                                window.location.reload();
                            });
                            LoadTable();
                        }
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                        console.error("Error saving data:", err);
                    },
                });
            }
        });

        function LoadListEmp() {
            $.ajax({
                type: "GET",
                url: "/employee/load",
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.newEmployeeId, item.newEmployeeId);
                        $(options).html(item.firstname);
                        $("#salaryemp").append(options);
                        console.log(item.firstname);
                    });
                },
                error: function (result) {
                    alert("error: " + result.data);
                },
            });
        }

        function LoadeditListEmp() {
            $.ajax({
                type: "GET",
                url: "/employee/loadedit",
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.newEmployeeId, item.newEmployeeId);
                        $(options).html(item.firstname);
                        $("#editsalaryemp").append(options);
                        console.log(item.firstname);
                    });
                },
                error: function (result) {
                    alert("error: " + result.data);
                },
            });
        }


        $("#dataTablesalary tbody").on("click", "tr", function () {
            var dataRow = [];
            $(this)
                .closest("tr")
                .find("td")
                .each(function () {
                    dataRow.push($(this).text());
                });
            console.log(dataRow);
            salaryid = dataRow[1];
        });

        $(document).on("click", "#editBtn", function () {
            console.log('hit');
            $.ajax({
                type: "POST",
                url: "/salary/getsalary",
                data: {
                    salaryid: salaryid,
                },
                success: function (result) {
                    if (result.msg === "success") {
                        const existingData = result.data;

                        $.each(existingData, (key, item) => {
                            $("#editdepartmentid").val(item.salaryid);
                            $("#editsalaryemp").val(item.employeeid);
                            $("#editmsemp").val(formatCurrencyValue(item.monthly));
                            $("#editallowances").val(formatCurrencyValue(item.allowances));
                        });
                    } else {
                        swal("Error fetching employee data", message, "error");
                    }
                },
                error: function (err) {
                    swal("An error occurred while fetching employee data", message, "error");
                },
            });
        });

        $(document).on("click", "#editsalarysavebtsn", function () {
            console.log("Save button clicked");
            let id = salaryid;
            let employeeid = $("#editsalaryemp").val();
            let monthly = $("#editmsemp").val().replace(/[^\d.-]/g, '');
            let allowances = $("#editallowances").val().replace(/[^\d.-]/g, '');

            var message = "";

            if (employeeid === "") {
                message += "employeeid is required. ";
            }

            if (monthly === "") {
                message += "monthly is required. ";
            }

            if (allowances === "") {
                message += "allowances is required. ";
            }

            if (message !== "") {
                swal("Validation Error", message, "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/salary/update",
                    data: {
                        salaryid: id,
                        employeeid: employeeid,
                        monthly: parseFloat(monthly),
                        allowances: parseFloat(allowances),
                    },
                    success: function (result) {
                        if (result.msg == "success") {
                            swal({
                                title: "Update Successfully",
                                text: "You clicked the button!",
                                icon: "success",
                                button: "OK!",
                            }).then(result => {
                                window.location.reload();
                            });
                            LoadTable();
                        } else if (result.msg == "exist") {
                            swal({
                                title: "Exist",
                                text: "Data already exists!",
                                icon: "warning",
                                button: "OK!",
                            });
                        } else {
                            swal("Data already exists!", "You clicked the button!", "warning");
                        }
                    },
                    error: function (err) {
                        swal("Error", "An error occurred while saving data.", "error");
                    },
                });
            }
        });



    });

    //#region FUNCTIONS 


    function populateYearsDropdown() {
        var select = document.getElementById("payrollyear");
        var currentYear = new Date().getFullYear();

        for (var i = 0; i < 6; i++) {
            var option = document.createElement("option");
            option.text = currentYear + i;
            option.value = currentYear + i;
            select.add(option);
        }
    }


    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTablepayrolldate");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }

    //#endregion

</script>