<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table m-4">Holiday Rate</h3>
      <div class="row gap-4 m-2 mb-4">
        <div class="col">
          <input id='myInput' class="pl-2 font-weight-bold"  type='text' placeholder="  Search....">
        </div>
        <div class="col-sm-1 col-add">
          <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#holidayratemodal">
            <b>+ Add</b>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTableholidayrate">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Date</th>
                        <th>Rate</th>
                        <th>Created By</th>
                        <th>Create Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="holidayratemodal" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
        <h1 class="modal-title" id="exampleModalLabel">Holiday Rate</h1>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <select type="date" class="form-control border-form-modal" id="holidayratedate" name="holidayratedate">
                <option selected>Choose ..........................................</option>
              </select>
              <label for="floatingInput">Date</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select type="text" class="form-control border-form-modal" id="holidayraterate" name="holidayraterate" placeholder="Rate">
                <option selected>Choose ..........................................</option>
                <option>100%</option>
                <option>75%</option>
                <option>50%</option>
              </select>
              <label for="floatingInput">Rate</label>
            </div>
          </div>
          <br>

        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="holidayratesavebtn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editholidayratemodal" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Holiday Rate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <select type="text" class="form-control" id="editholidayratedate" name="editholidayratedate">
                <option selected></option>
              </select>
              <label for="floatingInput">Date</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="editholidayraterate" name="editholidayraterate"
                placeholder="Rate">
              <label for="floatingInput">Rate</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editholidaytratestatus" name="editholidaytratestatus"
                aria-label="Floating label select example">
                <option selected>Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <label for="floatingSelectGrid">Holiday Rate</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="editholidayratesavebtn">Save</button>
      </div>
    </div>
  </div>
</div>