<body>
    <!-- Table -->
    <div class="card" id="tablecard">
        <div class="card-header">
            <h3 class="title-card-table">Generate Payroll</h3>
            <input id="datepicker" type="text" name="daterange"/>
            <button id="generateButton" class="btn btn-add-color"><b>Generate</b></button>
            <input id="myInput" type="text" placeholder="Search....">
        </div>
        <div class="card-body">
            <div class="table-responsive" id="table-responsive-id">
                <table class="table table-striped" id="dataTablePayroll">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th class="col-sm-1">EmployeeID</th>
                            <th>Salary</th>
                            <th>Per Day</th>
                            <th>Work Days</th>
                            <th>Rest Days</th>
                            <th>Total Status</th>
                            <th>Absent</th>
                            <th>Absent Deductions</th>
                            <th>Total Net Pay</th>
                            <th class="col-sm-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>