<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">Pending Leave</h3>
      <input id='myInput2' type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-light table-bordered" id="dataTablependingleave">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-25">Name</th>
                        <th>Leave Type</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th class="col-26">Reason</th>
                        <th>Applied Date</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--- Action Leave Modal -->
<div class="modal fade" id="pendingmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pending Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
            <input type="hidden" class="form-control" id="pendingleaveid" name="pendingleaveid" disabled>
          <div class="col">
            <label for="pendingleavename" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="pendingleavename" name="pendingleavename" disabled>
          </div>
          <div class="col">
            <label for="pendingleaveemail" class="form-label">Email</label>
            <input type="text" class="form-control" id="pendingleaveemail" name="pendingleaveemail" disabled>
          </div>
          <div class="col">
            <label for="pendingleavegender" class="form-label">Gender</label>
            <input type="text" class="form-control" id="pendingleavegender" name="pendingleavegender" disabled>
          </div>
          </div>
          <br>
          <div class="row g-3">
            <div class="col">
              <label for="pendingleavephone" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="pendingleavephone" name="pendingleavephone" disabled>
            </div>
            <div class="col">
              <label for="pendingleavetype" class="form-label">Leave Type</label>
              <input type="text" class="form-control" id="pendingleavetype" name="pendingleavetype" disabled>
            </div>
            <div class="col">
              <label for="pendingleaveapplydate" class="form-label">Apply Date</label>
              <input type="text" class="form-control" id="pendingleaveapplydate" name="pendingleaveapplydate" disabled>
            </div>
            </div>
            <br>
            <div class="row g-3">
              <div class="col">
                <label for="pendingleaveapplynodays" class="form-label">Applied No. of Days</label>
                <input type="text" class="form-control" id="pendingleaveapplynodays" name="pendingleaveapplynodays" disabled>
              </div>
              <div class="col">
                <label for="pendingleaveavailabledays" class="form-label">Available No. of Days</label>
                <input type="text" class="form-control" id="pendingleaveavailabledays" name="pendingleaveavailabledays" value="6" disabled>
              </div>
              <div class="col">
                <label for="pendingleavestart" class="form-label">Leave Start</label>
                <input type="text" class="form-control" id="pendingleavestart" name="pendingleavestart"  disabled>
              </div>
              <div class="col">
                <label for="pendingleaveend" class="form-label">Leave End</label>
                <input type="text" class="form-control" id="pendingleaveend" name="pendingleaveend" disabled>
              </div>
              </div>
              <div class="row g-3">
                <div class="mb-3">
                  <label for="pendingleavereason" class="col-form-label">Reason:</label>
                  <textarea class="form-control" id="pendingleavereason" name="pendingleavereason" disabled></textarea>
                </div>
                <!-- <div class="col-md-8">
                  <label for="pendingleaveremarks" class="form-label">Remarks</label>
                  <input type="email" class="form-control" id="pendingleaveremarks" name="pendingleaveremarks">
                </div> -->
                <div class="col">
                  <label for="pendingleaveaction" class="form-label">Action</label>
                  <select class="form-select" id="pendingleaveaction" name="pendingleaveaction" disabled>
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                  </select>
                </div>
                </div>
                <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" id="pendingleavesavebtn">Save</button> -->
      </div>
    </div>
  </div>
</div>
