
<!-- Table -->
<div class="card shadow mb-4" style="margin-left: 50px; margin-right: 50px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Pending Leave</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Leave Type</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Wendell</td>
                    <td>Sick Leave</td>
                    <td>2023-01-01</td>
                    <td>2030-01-01</td>
                    <td><span style="color: yellow">Pending</span></td>
                    <td>View</td>
                  </tr>
                  <tr>
                    <td>Wendell</td>
                    <td>Sick Leave</td>
                    <td>2023-01-01</td>
                    <td>2030-01-01</td>
                    <td><span style="color: yellow">Pending</span></td>
                    <td>View</td>
                  </tr>
                  <tr>
                    <td>Wendell</td>
                    <td>Sick Leave</td>
                    <td>2023-01-01</td>
                    <td>2030-01-01</td>
                    <td><span style="color: yellow">Pending</span></td>
                    <td>View</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
