<div id="loading" class="loading"></div>
<br>
<h1 class="font-weight-bold" id="h-title">Loan</h1>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <i class='bx bxs-wallet' style='color:#e7f755; font-size: 50px; margin: 3px;'></i>
        <h3 class="modal-title" id="staticBackdropLabel">LOAN</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--- Modal Body -->
      <div class="modal-body" id="modal-body">
        <select class="form-select" id="employeeid" aria-label="Default select example">
          <option selected>Employee ID</option>
           <option value="1">One</option>
          <option value="2">Two</option>
           <option value="3">Three</option>
           </select>

           <div class="row g-2">
            <div class="col-md">
              <div class="form-floating" id="requestdate">
                <input type="date" class="form-control" id="floatingInputGrid" placeholder="" value="">
                <label for="floatingInputGrid">Request Date</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating" id="datedue">
                <input type="date" class="form-control" id="floatingInputGrid" placeholder="" value="">
                <label for="floatingInputGrid">Date Due</label>
              </div>
            </div>
         </div>

         <div class="row g-2">
          <div class="col-md">
            <label for="exampleFormControlInput1" class="form-label" id="amount">Amount</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="PHP 0.00"> 
        </div>
          <div class="col-md">
              <label for="21" class="form-label" id="interest">Interest</label>
              <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="0%"> 
          </div>
              <div class="col-md">
                      <label for="exampleFormControlInput1" class="form-label" id="amountdue">Amount Due</label>
                      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="PHP 0.00"> 
              </div>
              <div class="col-md">
                  <label for="quantity" class="form-label" id="period">Period</label>
                  <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="100" placeholder="0"> 
              </div>
         </div>
         <div>
          <label for="exampleFormControlInput" id="purpose">Purpose</label>
          <textarea class="form-control" placeholder="Leave a comment here" id="exampleFormControlInput2"></textarea> 
        </div>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn-submit">Submit</button>
      </div>
    </div>   
  </div>
</div>




<!------ Table ------>
<div class="card" id="tablecard">
  <div class="card-header">
    <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <b>+ Add</b>
    </button>
<!---- Searchbar ----->
<input id='myInput' type='text' placeholder="  Search....">
</div>

<div class="card-body">
  <div class="table-responsive" id="table-responsive-id">
    <table class="table table-striped" id="dataTableemployees">
        <thead>
          <tr>
            <th class="col-sm-1">ID</th>
            <th class="col-sm-1">Employee ID</th>
            <th>Request Date</th>
            <th>Amount</th>
            <th>Interest</th>
            <th>Amount Due</th>
            <th>Date Due</th>
            <th>Period</th>
            <th>Status</th>
            <th class="col-sm-1">Approved By</th>
            <th class="col-sm-1">Approved Date</th>
            <th class="col-25">Purpose</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
  </div>
</div>





