<div class="card">
    <div class="progress progress-sm-mb-2">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 0%"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
  <div class="card-header py-3 header-bg">
    <h3 class="m-0 font-weight-bold-mt-2">Undertime Request</h3>
  </div>

  <div class="card-body">
   <div class="scroll-cardbody-size-710">
    <div class="table-responsive-sm">
       
        <table class="table table-bordered custom-mobile-table table-hover" id="datatable" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Employee ID</th>
              <th>Employee Name</th>
              <th>Date</th>
              <th>Clock In</th>
              <th>Clock Out</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
    </div>
   </div>

  </div>
</div>


<%- include("./viewmodal.ejs")%>