<!-- <section class="h-100 gradient-form" style="background-color: rgb(199, 155, 160);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/images/img/5L.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">OJT Login</h4>
                </div>

                <form>
                  <p>Please login to your account</p>
                  
                  <div class="form-outline mb-4">
                    <input type="email" id="username" class="form-control"
                      placeholder="Phone number or email address" />
                    <label class="form-label" for="username">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <div class="input-group">
                        <input type="password" class="form-control" id="password">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary toggle-password" type="button">
                            <i class="fas fa-eye"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button id="loginBtn" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="button">Log
                      in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <form>
    <h2><img src="/images/img/5L.png" width="350" height="250"></h2>
    <label>Username</label>
    <input type="text" name="username" id="username" placeholder="Username"><br>
    <label>Password</label>
    <input type="password" name="password" id="password" placeholder="Password"><br>
    <button type="submit" id="loginBtn">Login</button>
</form> -->


<!--- OJT LOGIN LAYOUT -->
<!-- <div class="bg-img"></div>
<div class="login-box">
  <div class="text-center img-ojt-login">
    <img src="/images/img/whitelogo.png" alt="logo">
    <h6>OJT Login</h6>
  </div>
    <form>
      <p class="p-ojt-login">Please login to your account</p>
      
      <div class="form-outline">
        <label class="form-label label-username" for="username">Username</label>
        <input type="email" id="username" class="form-control fmc-ojt-login"
          placeholder="Phone number or email address"/> 
        
      </div>

      <div class="form-outline">
        <div class="form-group">
          <label for="password" class="label-password">Password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password">
            <div class="input-group-append">
              <button class="btn btn-outline-light toggle-password" type="button">
                <i class="fas fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button id="loginBtn" class="btn btn-login-ojt btn-block fa-lg gradient-custom-2 mb-3"
          type="button"><h6>Log In</h6></button>
        <a class="text-light" href="#!"><h6>Forgot password?</h6></a>
      </div>
    </form>


</div> -->


<div class="login-form">

  <div class="container login-container">
      <div class="main login-main">
          <div class="content login-content">
            <div class="text-center">
            <img src="/images/img/whitelogo.png" alt="Logo" class="img-fluid login-logo">
          </div>

              <h2>OJT | Log In</h2>
              <form action="" method="post">
                <div class="form-outline">
                  <label class="form-label label-username" for="username">Username</label>
                  <input type="email" id="username" class="form-control fmc-ojt-login"
                    placeholder="Phone number or email address"> 
                </div>
                <div class="form-outline">
                  <div class="form-group">
                    <label for="password" class="label-password">Password</label>
                    <div class="input-group">
                      <input type="password" class="form-control" id="password">
                    </div>
                  </div>
                </div>
                  
                  <button class="btn login-btn-ojt" id="loginBtn" type="submit">
                      Log In
                  </button>
              </form>
              <p class="account">Forgot your password?</p>
          </div>
          <div class="form-img login-form-img">
              <img src="/images/img/login-icon.png" alt="">
          </div>
      </div>
  </div>
</div>