<body>
    <!-- Table -->
    <div class="card" id="tablecard">
        <div class="card-header ch-coop">
            <h3 class="title-card-table m-4">Generate Payroll</h3>
            <div class="d-flex gap-4 m-2 mb-4 attendance-field">
                <div class="col">
                    <input id="myInput" class="pl-2 font-weight-bold" type="text" placeholder="Search....">
                </div>
                <div class="d-flex gap-4 justify-content-end attendance-field">
                    <div class="flex">
                        <input id="datepicker" class="text-center" type="text" name="daterange">
                    </div>
                    <div class="flex">
                        <button data-bs-toggle="modal" data-bs-target="#openModalBank" class="btn btn-empPer-color"><i
                                class="bi bi-bank2 mr-2"></i><b>Bank Statement</b></button>
                    </div>
                    <div class="flex">
                        <button id="loadbutton" class="btn btn-load-color"><i class="bi bi-arrow-clockwise mr-2"></i><b>Load</b></button>
                    </div>
                    <div class="flex">
                        <button id="generateButton" class="btn btn-add-color"><i class="bi bi-gear-wide mr-2"></i><b>Generate</b></button>
                    </div>
                    <div class="flex">
                        <button id="exportBtn" class="btn btn-export-color"><i class="bi bi-database-fill-gear mr-2"></i><b>Export</b></button>
                    </div>
                </div>
            </div>
        </div>

        <!--modal for uploading bank statement-->
        <div class="modal fade" id="openModalBank" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="modal-header">
                        <lord-icon src="https://cdn.lordicon.com/hwpjjkev.json" class="db-hrmis"></lord-icon>
                        <h1 class="modal-title" id="exampleModalLabel">Export Bank Statement</h1>
                        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
                    </div>
                    <div class="modal-body modal-batch-body" id="modal-body">
                        <form>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select border-form-modal" id="bnkstmntpayroll" name="bnkstmntpayroll"
                                        aria-label="Floating label select example">
                                        <option selected disabled>Choose</option>
                                    </select>
                                    <label for="floatingSelectGrid">Select Payroll Date</label>
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select border-form-modal" id="bnkstmntbank" name="bnkstmntbank"
                                        aria-label="Floating label select example">
                                        <option selected disabled>Choose</option>
                                    </select>
                                    <label for="floatingSelectGrid">Select Bank</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <div class="modal-footer" id="modal-footer">
                        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-modal-save" id="exportbnkstmnt">Export</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-body">

            <div class="progress" id="loadingBar" style="display: none;">
                <div class="indeterminate"></div>
            </div>



            <div class="table-responsive" id="table-responsive-id">
                <table class="table table-striped-light" id="dataTablePayroll">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th class="col-sm-1">EmployeeID</th>
                            <th>Salary</th>
                            <th>Payroll Date</th>
                            <th>Cut Off</th>
                            <th>Total Deductions</th>
                            <th>Total Net Pay</th>
                            <th class="col-sm-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>

<div class="modal fade" id="payslipmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="head-title" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h3 class="modal-title" id="head-title">PAYSLIP</h3>
                <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
            </div>
            <div class="modal-body" id="modal-body">
                <br>
                <div class="container p-0">
                    <div class="col-md-12 col-xl-12">

                        <div class="tab-pane fade show active" id="account" role="tabpanel">

                            <nav>
                                <div class="nav nav-tabs gap-1" id="nav-tab" role="tablist">
                                    <button class="nav-link active generate-profile" id="nav-profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                        aria-selected="true">Profile</button>
                                    <button class="nav-link generate-payslip" id="nav-payslip-tab" data-bs-toggle="tab" data-bs-target="#nav-payslip"
                                        type="button" role="tab" aria-controls="nav-payslip" aria-selected="false">Payslip</button>
                                    <button class="nav-link generate-date" id="nav-date-tab" data-bs-toggle="tab" data-bs-target="#nav-date"
                                        type="button" role="tab" aria-controls="nav-date" aria-selected="false">Date</button>
                                    <button class="nav-link generate-deduction" id="nav-deductions-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-deductions" type="button" role="tab" aria-controls="nav-deductions"
                                        aria-selected="false">Deductions</button>
                                    <button class="nav-link generate-holiday" id="nav-holidays-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-holidays" type="button" role="tab" aria-controls="nav-holidays"
                                        aria-selected="false">Holidays</button>
                                </div>
                            </nav>


                            <div class="card card-border rounded-bottom-3">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show tab-content-admin active" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab" tabindex="0">
                                        <form class="p-4">
                                            <div class="row pt-4">
                                                <div class="d-flex flex-wrap gap-4 align-items-center">

                                                    <img id="editpreview" alt="avatar" class="rounded-circle img-fluid img-prof">
                                                    <span class="pt-4 ml-4">
                                                        <h5 class="employee-label" id="employeename">
                                                        </h5>
                                                        <p class="mb-1 position-label" id="position"></p>
                                                        <p class="mb-4 department-label" id="department">
                                                        </p>
                                                    </span>
                                                </div>

                                                <!-- <div class="d-flex justify-content-center mb-2">
                                                                        <img class="img-generate-pdf"
                                                                            src="images/img/pdf.png" alt="">
                                                                        <a href="#" class="a-pdf">PDF</a>

                                                                        
                                                                        <img class="img-generate-excel"
                                                                            src="images/img/file.png" alt="">
                                                                        <a href="#" class="a-excel">EXCEL</a>
                                                                    </div> -->
                                                <!-- <button type="button"
                                                                            class="btn btn-primary">PDF</button> -->
                                                <!-- <button type="button"
                                                                            class="btn btn-outline-primary ms-1">Excel</button> -->


                                                <!--                                                                 
                                                                    <ul class="list-group list-group-flush rounded-3">
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-work"> <lord-icon
                                                                                        src="https://cdn.lordicon.com/txbgsuya.json"
                                                                                        colors="primary:#000000,secondary:#c67d53,tertiary:#e8e230,quaternary:#000000"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Work Days</p>
                                                                            </div>
                                                                            <p class="mb-0 p-number" id="workdays"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-rest">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-rest"><lord-icon
                                                                                        src="https://cdn.lordicon.com/vhuoyano.json"
                                                                                        colors="primary:#000000,secondary:#30e849,tertiary:#c67d53"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Rest Day</p>
                                                                            </div>
                                                                            <p class="mb-0 number-rest" id="restday">
                                                                            </p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-work"><lord-icon
                                                                                        src="https://cdn.lordicon.com/dangivhk.json"
                                                                                        colors="primary:#000000,secondary:#16c72e"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Present Days</p>
                                                                            </div>
                                                                            <p class="mb-0 p-number" id="present"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-rest">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-rest"><lord-icon
                                                                                        src="https://cdn.lordicon.com/xjvrxoon.json"
                                                                                        colors="primary:#000000,secondary:#ffffff,tertiary:#f24c00"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Absents</p>
                                                                            </div>
                                                                            <p class="mb-0 number-rest" id="absent"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-work"><lord-icon
                                                                                        src="https://cdn.lordicon.com/vnnimcas.json"
                                                                                        colors="primary:#000000,secondary:#16c72e"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Holiday</p>
                                                                            </div>
                                                                            <p class="mb-0 p-number" id="holidayday"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-rest">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-rest"><lord-icon
                                                                                        src="https://cdn.lordicon.com/eoacwhtz.json"
                                                                                        colors="primary:#000000,secondary:#ffffff,tertiary:#f24c00"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Leave</p>
                                                                            </div>
                                                                            <p class="mb-0 number-rest" id="leavepaydadys"></p>
                                                                        </li>
                                                                        <li
                                                                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                                                                            <div class="col-sm-6">
                                                                                <p class="mb-0 p-work"><lord-icon
                                                                                    src="https://cdn.lordicon.com/dvqeipeg.json"
                                                                                        colors="primary:#000000,secondary:#30e849,tertiary:#c67d53"
                                                                                        class="db-icon-payslip">
                                                                                    </lord-icon> Rest Day OT</p>
                                                                            </div>
                                                                            <p class="mb-0 p-number" id="restdayot">
                                                                            </p>
                                                                        </li>
                                                                    </ul> -->


                                                <!-- employee card-->
                                                <div class="row row-cols-7 col-card mb-4">
                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Work Days</h6>
                                                        <div class="col-emp  position-relative">
                                                            <i class="bi bi-pc-display"></i>
                                                            <h1 class="p-4 text-center fw-bolder" id="workdays"></h1>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Rest Day</h6>
                                                        <div class="col-emp">
                                                            <i class='bx bxs-bed'></i>
                                                            <h1 class="p-4 text-center fw-bolder" id="restday"></h1>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Present Days</h6>
                                                        <div class="col-emp">
                                                            <i class='bx bxs-calendar-check'></i>
                                                            <h1 class="p-4 text-center fw-bolder" id="present"></h1>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Absent Days</h6>
                                                        <div class="col-emp">
                                                            <i class='bx bxs-calendar-x'></i>
                                                            <h1 class="text-center fw-bolder p-4" id="absent"></h1>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Holiday</h6>
                                                        <div class="col-emp">
                                                            <i class='bx bxs-tree'></i>
                                                            <h1 class="text-center fw-bolder p-4" id="holidayday"></h1>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Leave</h6>
                                                        <div class="col-emp">
                                                            <i class="bi bi-suitcase-fill"></i>
                                                            <h1 class="text-center fw-bolder p-4" id="leavepaydadys"></h1>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <h6 class="col-start p-2 m-0">Rest Day OT</h6>
                                                        <div class="col-emp">
                                                            <i class='bx bxs-time'></i>
                                                            <h1 class="text-center fw-bolder p-4" id="restdayot"></h1>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- payslip-card -->
                                                <div class="payslipcard">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Payroll Period
                                                            </p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="payrollrange"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Payroll Date
                                                            </p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="payrolldate"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Semi-Monthly
                                                                Salary</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="salary"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Daily Rate</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="dailyrate"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Monthly
                                                                Allowances</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="allowances"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Basic
                                                                Adjustments</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="basicadjustments"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Payroll
                                                                Adjustments</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="payrolladjustments"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Overtime
                                                                Meal</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="overtimemeal"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Leave
                                                                Pay</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="leavepayprofile"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Cash Advanced
                                                                Deductions</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="cadeductions"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Compensation
                                                            </p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="compensation"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label" id="dinamicloanname"></p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="dinamicloandeductions"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Total
                                                                Deductions</p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="deductions"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Total Net Pay
                                                            </p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="totalnetpay"></p>
                                                        </div>
                                                    </div>
                                                    <hr class="hr-color">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="mb-0 payroll-label">Assumed Accrued 13th
                                                                Month Pay
                                                            </p>
                                                        </div>
                                                        <div class="col">
                                                            <p class="payroll-number" id="13thmonthpay"></p>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                    <div class="tab-pane fade" id="nav-date" role="tabpanel" aria-labelledby="nav-date-tab" tabindex="0">
                                        <h3 class="date-range p-4">Date Range</h3>
                                        <form>
                                            <div class="col-md-12 p-4">
                                                <div class="row">
                                                    <table class="table table-bordered" id="dataTablePayslip">
                                                        <thead>
                                                            <tr>
                                                                <th class="date-range-table col-2">Date</th>
                                                                <th class="date-range-table col-2">Status</th>
                                                                <th class="date-range-table">Clock In</th>
                                                                <th class="date-range-table">Clock Out</th>
                                                                <th class="date-range-table">Late In Minutes
                                                                </th>
                                                                <th class="date-range-table">Late In Hours</th>
                                                                <th class="date-range-table">Early OT</th>
                                                                <th class="date-range-table">Total Night Diff
                                                                </th>
                                                                <th class="date-range-table">Total Normal OT
                                                                </th>
                                                                <th class="date-range-table">Total Hours</th>
                                                                <th class="date-range-table">Total in Minutes
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <div class="d-flex flex-column payslipname"> <span class="empnamepayslip text-center" id="datename"></span>
                                                        <span class="text-center">Authorised Signatory</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                    <div class="tab-pane fade" id="nav-payslip" role="tabpanel" aria-labelledby="nav-payslip-tab" tabindex="0">
                                        <form class="p-4">
                                            <div class="d-flex flex-wrap gap-2 align-items-center">
                                                <img class="company-img mt-4" src="/images/img/5l.png" alt="">
                                                <span class="companyname align-items-center">Solutions Supply & Allied
                                                    Services Corp.</span>
                                            </div>


                                                 <div class="text-center payslip">
                                                    Payslip
                                                </div>

                                                <div id="paysliprange" class="payslipemp">
                                                </div>


                                                    <div class="payslip-date">
                                                        <div for="payslipdate" class="datepayroll">Payroll Date:
                                                            <span class="date-span" id="payslipdate"></span>
                                                        </div>
                                                    
                                                        <div class="payslip-type">
                                                            Payroll Type:
                                                            <span class="paysliptype-span" id="payslippayrolltype"></span>
                                                        </div>
                                                    </div>


                                                <!-- <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">EMP
                                                                        Code:</span> <small class="ms-3 payslipemp" id="payslipid"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">EMP
                                                                        Name:</span> <small class="ms-3 payslipemp" id="payslipname"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">SSS
                                                                        ID:</span> <small class="ms-3 payslipemp" id="payslipSSSid"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">Position:</span>
                                                                    <small class="ms-3 payslipemp" id="payslipposition"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">TIN
                                                                        ID:</span> <small class="ms-3 payslipemp" id="payslipTINid"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">Department:</span>
                                                                    <small class="ms-3 payslipemp" id="payslipdepartment"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">PHILHEALTH
                                                                        ID:</span> <small class="ms-3 payslipemp" id="payslipphilhealthid"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">Remaining
                                                                        Paid Leaves:</span> <small class="ms-3 payslipemp"
                                                                        id="payslipremainingleave"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold">PAG
                                                                        IBIG ID:</span> <small class="ms-3 payslipemp"
                                                                        id="payslipdeppagibigid"></small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div> <span class="fw-bold"> Assumed Accrued 13th
                                                                        Month Pay:</span> <small class="ms-3 payslipemp"
                                                                        id="payslipheader13thmonthpay"></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>


                                                    <table class="table mt-5">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" class="payslip-color">Earnings
                                                                </th>
                                                                <th scope="col" class="payslip-color">Amount
                                                                </th>
                                                                <th scope="col" class="payslip-color">Details
                                                                </th>
                                                                <th scope="col" class="payslip-color">Deductions
                                                                </th>
                                                                <th scope="col" class="payslip-color">Amount
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Basic</th>
                                                                <td id="payslipbasic" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>SSS</td>
                                                                <td id="payslipsss"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Daily Rate
                                                                </th>
                                                                <td id="payslipperday"></td>
                                                                <td colspan="1"></td>
                                                                <td>Philhealth</td>
                                                                <td id="paysliphdmf"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Allowances
                                                                </th>
                                                                <td id="payslipallowances"></td>
                                                                <td colspan="1"></td>
                                                                <td>HDMF</td>
                                                                <td id="payslippagibig"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Basic
                                                                    Adjustments</th>
                                                                <td id="payslipbasicadustments" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Tax</td>
                                                                <td id="paysliptin"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Payroll
                                                                    Adjustments</th>
                                                                <td id="payslippayrolladjustments" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Cash Advanced</td>
                                                                <td id="payslipcashadvanced"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Total
                                                                    Approve Overtime
                                                                </th>
                                                                <td id="payslipovertime" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Absent<span id="payslipnumabsent"></span></td>
                                                                <td id="payslipabsent"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Night
                                                                    Differrentials</th>
                                                                <td id="payslipndpay"></td>
                                                                <td id="payslipndhoursmin"></td>
                                                                <td>Health Card</td>
                                                                <td id="paysliphealthcard"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Normal
                                                                    Overtime
                                                                </th>
                                                                <td id="payslipotpay"></td>
                                                                <td id="payslipothoursmin"></td>
                                                                <td>Late<span id="payslipnumlate"></span></td>
                                                                <td id="paysliplate"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Early
                                                                    Overtime
                                                                </th>
                                                                <td id="payslipearlypay"></td>
                                                                <td id="payslipearlyhoursmin"></td>
                                                                <td>WISP</td>
                                                                <td id="payslipwisp"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Rest Day
                                                                    OT
                                                                </th>
                                                                <td id="paysliprestdayot" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Calamity Loan</td>
                                                                <td id="payslipcalamity"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Overtime
                                                                    Meal
                                                                </th>
                                                                <td id="payslipotmeal" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Short Term Loan</td>
                                                                <td id="payslipshortterm"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Leave
                                                                    With Pay
                                                                </th>
                                                                <td id="payslipleavepay"></td>
                                                                <td colspan="1"></td>
                                                                <td>Housing Loan</td>
                                                                <td id="paysliphousing"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Special
                                                                    Holiday Overtime
                                                                </th>
                                                                <td id="payslipspecialovertime" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Education Loan</td>
                                                                <td id="payslipeducationloan"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Regular
                                                                    Holiday Overtime
                                                                </th>
                                                                <td id="payslipregularovertime" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Sterling Loan</td>
                                                                <td id="payslipsterlingloan"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Special
                                                                    Holiday
                                                                </th>
                                                                <td id="payslipspecial" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td>Salary Loan</td>
                                                                <td id="payslipsalaryloan"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Regular
                                                                    Holiday
                                                                </th>
                                                                <td id="payslipregular" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td id="suddenDeductionsContainerName"></td>
                                                                <td id="suddenDeductionsContainerAmount"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="earning-table">Lift Pay
                                                                </th>
                                                                <td id="payslipsuspensionpay" style="color: green; font-weight: bold;"></td>
                                                                <td colspan="1"></td>
                                                                <td colspan="1"></td>
                                                                <td colspan="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" class="total-table">Total
                                                                    Compensation</th>
                                                                <td id="paysliptotal" class="total-table-td">
                                                                <td class="total-table-td"></td>
                                                                </td>
                                                                <td class="total-table-td">Total Deductions</td>
                                                                <td id="paysliptotaldeductions" class="total-table-td">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div> -->
                                                
                                                <div class="payslip-profile">
                                                    <div class="payslip-info">
                                                        <div class="payslip-empid">
                                                            Emp ID:
                                                            <span class="empid-span" id="payslipid"></span>
                                                        </div>

                                                        <div class="payslip-empname">
                                                            Emp Name:
                                                            <span class="empname-span" id="payslipname"></span>
                                                        </div>

                                                        <div class="payslip-position">
                                                            Position:
                                                            <span class="position-span" id="payslipposition"></span>
                                                        </div>

                                                        <div class="payslip-dept">
                                                            Department:
                                                            <span class="dept-span" id="payslipdepartment"></span>
                                                        </div>

                                                        <div class="payslip-remaining">
                                                            Remaining PL:
                                                            <span class="remain-span" id="payslipremainingleave"></span>
                                                        </div>

                                                        <div class="payslip-accrued">
                                                            Assumed Accrued 13th Month Pay:
                                                            <span class="accrued-span" id="payslipheader13thmonthpay"></span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="payslip-info ml-auto">
                                                        <div class="payslip-sss">
                                                            SSS:
                                                            <span class="sss-span" id="payslipSSSid"></span>
                                                        </div>

                                                        <div class="payslip-tin">
                                                            TIN:
                                                            <span class="tin-span" id="payslipTINid"></span>
                                                        </div>

                                                        <div class="payslip-philhealth">
                                                            Philhealth ID:
                                                            <span class="philhealth-span" id="payslipphilhealthid"></span>
                                                        </div>

                                                        <div class="payslip-pagibig">
                                                            Pag-ibig ID:
                                                            <span class="pagibig-span" id="payslipdeppagibigid"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                  <table class="table mt-5">
                                                    <thead class="payslip-table">
                                                        <tr>
                                                            <th>Earnings
                                                            </th>
                                                            <th>Amount
                                                            </th>
                                                            <th>Details
                                                            </th>
                                                            <th>Deductions
                                                            </th>
                                                            <th>Amount
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Basic</th>
                                                            <td id="payslipbasic"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">SSS</td>
                                                            <td id="payslipsss"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Daily Rate
                                                            </th>
                                                            <td id="payslipperday"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Philhealth</td>
                                                            <td id="paysliphdmf"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Allowances
                                                            </th>
                                                            <td id="payslipallowances"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">HDMF</td>
                                                            <td id="payslippagibig"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Basic
                                                                Adjustments</th>
                                                            <td id="payslipbasicadustments" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Tax</td>
                                                            <td id="paysliptin"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Payroll
                                                                Adjustments</th>
                                                            <td id="payslippayrolladjustments" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Cash Advanced</td>
                                                            <td id="payslipcashadvanced"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Total
                                                                Approve Overtime
                                                            </th>
                                                            <td id="payslipovertime" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Absent<span id="payslipnumabsent"></span></td>
                                                            <td id="payslipabsent"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Night
                                                                Differrentials</th>
                                                            <td id="payslipndpay"></td>
                                                            <td id="payslipndhoursmin"></td>
                                                            <td class="payslip-color">Health Card</td>
                                                            <td id="paysliphealthcard"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Normal
                                                                Overtime
                                                            </th>
                                                            <td id="payslipotpay"></td>
                                                            <td id="payslipothoursmin"></td>
                                                            <td class="payslip-color">Late<span id="payslipnumlate"></span></td>
                                                            <td id="paysliplate"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Early
                                                                Overtime
                                                            </th>
                                                            <td id="payslipearlypay"></td>
                                                            <td id="payslipearlyhoursmin"></td>
                                                            <td class="payslip-color">WISP</td>
                                                            <td id="payslipwisp"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Rest Day
                                                                OT
                                                            </th>
                                                            <td id="paysliprestdayot" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Calamity Loan</td>
                                                            <td id="payslipcalamity"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Overtime
                                                                Meal
                                                            </th>
                                                            <td id="payslipotmeal" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Short Term Loan</td>
                                                            <td id="payslipshortterm"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Leave
                                                                With Pay
                                                            </th>
                                                            <td id="payslipleavepay"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Housing Loan</td>
                                                            <td id="paysliphousing"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Special
                                                                Holiday Overtime
                                                            </th>
                                                            <td id="payslipspecialovertime" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Education Loan</td>
                                                            <td id="payslipeducationloan"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Regular
                                                                Holiday Overtime
                                                            </th>
                                                            <td id="payslipregularovertime" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Sterling Loan</td>
                                                            <td id="payslipsterlingloan"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Special
                                                                Holiday
                                                            </th>
                                                            <td id="payslipspecial" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color">Salary Loan</td>
                                                            <td id="payslipsalaryloan"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="payslip-color">Regular
                                                                Holiday
                                                            </th>
                                                            <td id="payslipregular" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td class="payslip-color" id="suddenDeductionsContainerName"></td>
                                                            <td id="suddenDeductionsContainerAmount"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="earning-table">Lift Pay
                                                            </th>
                                                            <td id="payslipsuspensionpay" style="color: green; font-weight: bold;"></td>
                                                            <td colspan="1"></td>
                                                            <td>Leave W/O Pay<span id="payslipnopay"></span></td>
                                                            <td id="payslipnopaydeductions"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="total-table">Total
                                                                Compensation</th>
                                                            <td id="paysliptotal" class="total-table-td">
                                                            <td class="total-table-td"></td>
                                                            </td>
                                                            <td class="total-table">Total Deductions</td>
                                                            <td id="paysliptotaldeductions" class="total-table-td">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <br>
                                                        <label for="paysliptotalnetpay">Total
                                                            Net Pay :</label>
                                                        <span class="fw-bold netpay-total" id="paysliptotalnetpay"></span>
                                                    </div>
                                                    <div class="col-md-8 netpay-words">
                                                        <div class="d-flex flex-column" id="totalNetPayWords">
                                                            <span>In Words</span> <span></span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="d-flex justify-content-end">
                                                    <div class="d-flex flex-column payslipname">
                                                        <span class="empnamepayslip text-center" id="payslipempname"></span>
                                                        <span class="text-center authorised-sign">Authorised Signatory</span>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>

                                                <div class="printed-slip">
                                                    <div class="print-name">
                                                        <h6 class="fw-bold">Print:</h6>
                                                        <img class="img-generate-pdf" src="images/img/pdf.png" alt="">
                                                        <h6 class="a-pdf">Pdf</h6>
                                                    </div>

                                                    <div class="print-name">
                                                        <img class="img-generate-excel" src="images/img/file.png" alt="">
                                                        <h6 class="a-excel">Excel</h6>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="nav-deductions" role="tabpanel" aria-labelledby="nav-deductions-tab" tabindex="0">

                                        <div class="row">

                                            <form class="p-4">
                                                <div class="row g-2">
                                                    <div class="col">
                                                        <h6><b>EMP CODE: </b><span id="payslipid"></span></h6>
                                                    </div>
                                                    <div class="col">
                                                        <h6><b>EMP Name: </b><span id="payslipname"></span></h6>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="col">
                                                        <h6><b>Department: </b><span id="payslipid"></span></h6>
                                                    </div>
                                                    <div class="col">
                                                        <h6><b>Position: </b><span id="payslipid"></span></h6>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <h6><b>Payroll Date: </b><span id=""></span></h6>
                                                    </div>
                                                </div>

                                                <br>
                                                <br>


                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-4">
                                                        <div class="card deduction-card">
                                                            <div class="card-body">
                                                                <h6 class="total-deduct">TOTAL DEDUCTIONS</h6>
                                                                <h6 id="payslipSSSid" class="deduct-fee">$ 23,000.00</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-8 col-lg-7 sub-cards">
                                                        <div class="row g-4">
                                                            <!-- start of row-->
                                                            <div class="col">
                                                                <div class="card sss-card">
                                                                    <div class="card-body">
                                                                        <h6 class="sss-total">SSS</h6>
                                                                        <h5 id="payslipSSSid" class="sss-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card phil-card">
                                                                    <div class="card-body">
                                                                        <h6 class="phil-total">PHILHEALTH</h6>
                                                                        <h5 id="payslipSSSid" class="phil-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card pag-ibig-card">
                                                                    <div class="card-body">
                                                                        <h6 class="pag-ibig-total">PAG-IBIG</h6>
                                                                        <h5 id="payslipSSSid" class="pag-ibig-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card tin-card">
                                                                    <div class="card-body">
                                                                        <h6 class="tin-total">TIN</h6>
                                                                        <h5 id="payslipSSSid" class="tin-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end or row-->
                                                        </div>
                                                        <br>

                                                        <div class="row g-4">
                                                            <!--- start of row -->
                                                            <div class="col">
                                                                <div class="card health-card-card">
                                                                    <div class="card-body">
                                                                        <h6 class="health-total">HEALTH CARD</h6>
                                                                        <h5 id="payslipSSSid" class="health-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card tax-card">
                                                                    <div class="card-body">
                                                                        <h6 class="tax-total">TAX</h6>
                                                                        <h5 id="payslipSSSid" class="tax-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card absent-card">
                                                                    <div class="card-body">
                                                                        <h6 class="absent-total">ABSENT</h6>
                                                                        <h5 id="payslipSSSid" class="absent-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col">
                                                                <div class="card late-card">
                                                                    <div class="card-body">
                                                                        <h6 class="late-total">LATE</h6>
                                                                        <h5 id="payslipSSSid" class="late-subtotal">$ 1000.00</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end or row-->
                                                        </div>
                                                    </div>
                                                    <!-- end or row-->
                                                </div>

                                                <!--- table -->
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="card" style="margin: 30px;">
                                                            <div class="card-header late-deduction-header">
                                                                <h6>Total of Late Deduction</h6>
                                                            </div>

                                                            <div class="card-body late-deduction-body">
                                                                <div class="row">
                                                                    <div>
                                                                        <span>Date Covered : </span>
                                                                        <small class="ms-3"> April 15 to April
                                                                            30, 2074</small>
                                                                    </div>
                                                                    <div>
                                                                        <span>Min/Hr : </span>
                                                                        <small class="ms-3"> 4mins</small>
                                                                    </div>
                                                                    <div>
                                                                        <span>Deduction : </span>
                                                                        <small class="ms-3"> $
                                                                            500,000.00</small>
                                                                    </div>
                                                                    <div>
                                                                        <span>Total : </span>
                                                                        <small class="ms-3"> $
                                                                            500,000.00</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade p-2" id="nav-holidays" role="tabpanel" aria-labelledby="nav-holidays-tab" tabindex="0">
                                        <div class="row g-2">
                                            <div class="col">
                                                <h6><b>EMP CODE: </b><span></span></h6>
                                            </div>
                                            <div class="col">
                                                <h6><b>Payroll Date: </b><span></span></h6>
                                            </div>
                                        </div>

                                        <div class="row g-2">
                                            <div class="col">
                                                <h6><b>EMP Name: </b><span></span></h6>
                                            </div>
                                            <div class="col">
                                                <h6><b>Date Covered: </b><span></span></h6>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div>
                                                <h6><b>Department: </b><span></span></h6>
                                            </div>
                                            <div>
                                                <h6><b>Position: </b><span></span></h6>
                                            </div>
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <h3 class="text-center holiday-fee">Holiday <span class="earn-fee">Earnings</span></h3>
                                        <br>

                                        <div class="card">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Regular Holiday</th>
                                                        <th>Special Holiday</th>
                                                        <th>Regular Holiday OT</th>
                                                        <th>Special Holiday OT</th>
                                                        <th>Total Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>