<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header">
      <h3 class="title-card-table">Violation</h3>
      <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#violationmodal">
        <b>+ Add</b>
      </button>
        <input id='myInput'  type='text' placeholder="  Search....">
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-id">
            <table class="table table-striped" id="dataTableviolation">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-25">Description</th>
                        <th class="col-sm-1">Action ID</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="violationmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">VIOLATION</h1>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control border-form-modal" id="violationdescription" name="violationdescription"
                placeholder="Department Name">
              <label for="floatingInput">Description</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select border-form-modal" id="violationactionid" name="violationactionid"
                aria-label="Floating label select example">
                <option selected>Action ID</option>
              </select>
              <label for="floatingSelectGrid">Action ID</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="violationsavebtn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editviolationmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Violation</h1>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control border-form-modal" id="editviolationdescription" name="editviolationdescription"
                placeholder="Department Name">
              <label for="floatingInput">Description</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select border-form-modal" id="editviolationactionid" name="editviolationactionid"
                aria-label="Floating label select example">
                <option selected>Action ID</option>
              </select>
              <label for="floatingSelectGrid">Action ID</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control border-form-modal" id="editviolationcreatedby" name="editviolationcreatedby"
                placeholder="Created By">
              <label for="floatingInput">Created By</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-select border-form-modal" id="editvatiolationstatus" name="editvatiolationstatus"
                aria-label="Floating label select example">
                <option selected>Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <label for="floatingSelectGrid">Violation</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="violationeditbtn">Save</button>
      </div>
    </div>
  </div>
</div>