<br>
<br>

<div class="card">
  <div class="card-header header-bg">
    <h3 class="card-title ch-text">Occupant Duration Settings</h3>
    <div class="card">
      <div class="card-body ch-body">
        <div class="form">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <input
                autocomplete="off"
                type="text"
                class="form-control border-form-modal"
                id="name"
                placeholder="Alias or Name e.g. Two weeks"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <input
                autocomplete="off"
                type="number"
                class="form-control strong border-form-modal"
                id="duration"
                placeholder="Duration in days e.g. 3"
              />
            </div>
          </div>
          <div class="d-flex mt-4 justify-content-end">
            <div class="flex">
              <button id="addBtn" class="btn btn-add-color"><i class="bi bi-plus mr-2"></i><b>Add</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body header-bg">
    <div class="card-title">
      <h6 class="ch-text"><b>Occupant Duration Settings Table</b></h6>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3 m-2">
        <input
          id="search"
          type="text"
          class="form-control pl-2 font-weight-bold"
          placeholder="Search...."
        />
      </div>
    </div>

    <div class="row mt-2 m-2">
      <div class="table">
        <table id="data-table" class="table table-bordered table-hover">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Action</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Staff House</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="row">
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="namemodal"
                placeholder="Alias or Name e.g. Two weeks"
              />
            </div>
            <input type="hidden" class="form-control" id="id" />
          </div>
          <div class="row mt-2">
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control strong"
                id="durationmodal"
                placeholder="Duration in days e.g. 3"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-end">
          <button id="updateBtn" class="btn btn-add-color w-100">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
