<script>
    let requsetid = "";
  
    $(document).ready(function () {
      LoadTable();
      searchTable();
  
      $(document).on("keyup", "#myInput", function () {
        searchTable();
      });
  
      function LoadTable() {
        $("#dataTableattendanceActivity").DataTable({
          destroy: true,
          processing: true,
          serverSide: true,
          paging: false,
          searching: false,
          info: false,
          scrollY: 400,
          scrollCollapse: true,
          serverMethod: "GET",
          ajax: {
            url: "/attendance_request_activity/load",
            dataSrc: (json) => {
              var finalData = [];
              var data = json.data;
  
              $.each(data, (key, item) => {
                var action = "";
                var status = item.status;
  
                action = `
                            <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#attendanceactivitymodal"><i class="fas fa-fw fa-pen"></i></button>
                        `;
                finalData.push({
                  requsetid: item.requsetid,
                  employeeid: item.employeeid,
                  attendancedate: item.attendancedate,
                  timein: item.timein,
                  timeout: item.timeout,
                  totalhours: item.totalhours,
                  approver: item.approver,
                  actiondate: item.actiondate,
                  status: item.status,
                  action: action,
                });
              });
  
              return finalData;
            },
          },
          columns: [
            { data: "requsetid" },
            { data: "employeeid" },
            { data: "attendancedate" },
            { data: "timein" },
            { data: "timeout" },
            { data: "totalhours" },
            { data: "approver" },
            { data: "actiondate" },
            { data: "status" },
            { data: "action" },
          ],
          createdRow: function (row, data, dataIndex) {
            var appnameCell = $(row).find("td:eq(2)");
  
            appnameCell.wrapInner("<span class='appname-text'></span>");
  
            $("td", row).each(function (index) {
              this.style.textAlign = "center";
              this.style.verticalAlign = "middle";
            });
          },
          initComplete: function () {},
        });
      }
  
      $("#dataTableattendanceActivity tbody").on("click", "tr", function () {
        var dataRow = [];
        $(this)
          .closest("tr")
          .find("td")
          .each(function () {
            dataRow.push($(this).text());
          });
          requsetid = dataRow[0];
      });
  
      $(document).on("click", "#editBtn", function () {
        $.ajax({
          type: "POST",
          url: "/attendance_request_activity/getattendanceactivity",
          data: {
            requsetid: requsetid,
          },
          success: function (result) {
            if (result.msg === "success") {
              const existingData = result.data;
  
              $.each(existingData, (key, item) => {
                $("#employeename").val(item.employeeid);
                $("#attendancedate").val(item.attendancedate);
                $("#timein").val(item.timein);
                $("#timeout").val(item.timeout);
                $("#totalhours").val(item.totalhours);
                $("#coareason").val(item.reason);
                $("#applieddate").val(item.applieddate);
                $("#approver").val(item.approver);
                $("#actiondate").val(item.actiondate);
                $("#coastatus").val(item.status);
                $("#previewleave").attr(
                "src",
                "data:image/jpg;base64," + item.file
              );
                $("#totalapproved").val(item.approvalcount);
                $("#subgroupname").val(item.subgroupname);
              });
            } else {
              swal("Error fetching employee data", msg, "error");
            }
          },
          error: function (err) {
            console.error("An error occurred while fetching employee data", err);
            swal("An error occurred while fetching employee data", msg, "error");
          },
        });
      });
  
      function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTableattendanceActivity");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td");
          for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
              found = true;
            }
          }
          if (found) {
            tr[i].style.display = "";
            found = false;
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });
  </script>
  